@import "../../styles.scss";

.card {
  border: none;
  border-radius: 0;
  text-align: left;
}


.card-header {
  padding: 0;
  background-color: $primary;
  color: $white;
  font-weight: 500;
  border-radius: 0;
}

.card-body {
  padding: 20px 20px 20px 40px;
  color: $fontColor;
  background-color: $white;
  font-size: 0.9rem;
  margin: auto;

  li {
    padding: 0 !important;
  }

  li:not(:last-child) {
    margin-bottom: 8px;
  }
}

ul {
  padding-inline-start: 36px;
}

.card-header-before-collapse {
  cursor: pointer;
}

.card-header-before-collapse::after {
  font-family: (FontAwesome);
  content: "\f106";
  float: right;
}

.collapsed::after {
  content: "\f107";
}
