@import '../../styles.scss';

#rent-holder {
    padding-top: 100px;
    min-height: 89vh;
    .rent-heading {
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.5rem;
        }
    }
 }