@import "../../styles.scss";

.footer {
  color: $shadow;
  text-align: center;
  font-size: 1em;
  bottom: 0;
  left: 0;
  right: 0;
  position: static;

  .copyright-text {
    text-align: left;
  }

  .copyright-image {
    text-align: right;
  }

  p {
    margin-bottom: 0;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.3;
  }
}
.bg-light{
  background: #dedede !important;
}

.tssa-logo {
  align-items: center;

  img {
    width: 110px;
    align-items: center;
  }
}
.row{
  display: flex;
  align-items: center;
}

.pittusburgh-image {
  img {
    height: 48px;
  }
}

@media only screen and (max-width: 456px) {
  .pittusburgh-image {
    img {
      height: 38px;
    }
  }
  .syrasoft {
    img {
      height: 30px
    }
  }
}
