@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../styles.scss";

a {
  cursor: pointer;
}

b {
  color: #fff;
}

img {
  width: 200px;
}

.iconColor {
  color: #2780ac;
}

.contact-header {
  display: inline;

  .contact-details {
    color: $black;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }
}

.social {
  a {
    color: #2780ac;
    text-decoration: none;
  }

  i {
    font-size: 1.2rem;
  }
}

.social :hover {
  color: #2780ac;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  .nav-link {
    color: #fff;
    font-weight: 600;
    // padding: 21px;
    align-items: center;
    margin-top: 20px;
  }

  .nav-link:hover {
    color: #11425a;
  }

  .nav-link-active {
    color: #0e425c;
    border-bottom: 7px solid #0b3549;
    
  }

  button {
    border-color: $black;

    .iconColor {
      color: #0e425c;
    }
  }

  button:focus {
    outline: 5px auto $secondary;
  }
}

.display {
  display: block;
}

.contact-links {
  a {
    color: black;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .navbar {

    a {
      font-size: 12px;
    }
  
    // .nav-link {
    //   // padding: 10px;
    //   // font-size: 1rem;
    // }
  }
}

@media screen and (max-width: 991px) {
  .display {
    display: none;
  }

  .nav-link {
    text-align: center;
  }

  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
}

@media only screen and (max-width: 991px) and (max-height: 480px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}
