<div class="fixed-top">
  <app-header [currentActive]="currentActive"></app-header>
  <app-breadcrumb [breadcrumbActive]="breadcrumbActive"></app-breadcrumb>
</div>

<div class="contentHolder">
  <div class="container" style="padding-top: 190px;">
    <h3 style="line-height:2">Proper Packing Tips</h3>
    <h5>Let Victor Self Storage assist you with tips on how to safety pack your belongings!</h5>
    <div class="row accordion-background bg-light p-4">
      <div class="col-md-6">
        <!-- <iframe id="advanced_iframe" name="advanced_iframe" src="https://catskillselfstorage.sim.syrasoft.com/Payment" width="100%"
          height="800" scrolling="no" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;" onload=";aiResizeIframe(this, &quot;true&quot;,&quot;1&quot;);"></iframe> -->
        <ol style="text-align: left"><li class="storage-left" *ngFor="let store of storageTip" >{{store.data}}</li></ol>
      </div>
      <div class="col-md-6" id="accordion">
         <div class="card" style="text-align: left"  *ngFor="let storage of storageTipAccordion">
            <div class="card-header noselect">
              <div class="card-header-before-collapse collapsed p-3" style="cursor: pointer" data-toggle="collapse" [attr.data-target]="'#collapseOne'+storage?.id" aria-expanded="true">
                {{storage.label}}                 
              </div>
            </div>
          
            <div [id]="'collapseOne'+storage?.id"  aria-labelledby="collapseOne" data-parent="#accordion" class="collapse" [ngClass]="storage?.id == 0 && 'show'">
              <ul class="card-body">
                <li *ngFor="let data of storage.data">
                {{data.p}}
              </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
