@import '../../styles.scss';
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

.contentHolder {
    text-align: center;
    h3 {
        color: $fontColor;
        font-weight: 600;
    };
    h5 {
        color: $fontColor;
        font-weight: 600;
        font-size: 1.2em;
    };
    .storage-left {
        color: $fontColor;
        font-weight: 600;
        line-height: 2;
    };
    h1 {
        margin-block-end: 16px!important;
    }
}

.card {
    border: none!important;
    border-radius: 0px !important;
}

.panel-heading {
    padding: 15px;
    background-color: $dark!important;
    a {
        color: $primary!important;
    }
    a:hover {
        color: $primary!important;
        text-decoration: none;
    }
    
}

.panel-default:not(:last-child) {
    border-bottom: 1px solid $secondary!important;
}

.panel-heading:first-child {
    border-radius: 0px !important;
}

.panel-collapse {
    padding: 20px 20px 20px 45px;
    font-size: 0.9em;
    font-weight: 600;
    color: $fontColor;
    background-color: #f1ede3;
    margin: auto;
    transition: height 200ms;
}

.card-header {
    padding: 0px;
    background-color: $dark!important;
    //color: $primary!important;
    color:$white!important;
    border-radius:0px!important;
}
.card-body {
    padding: 20px 20px 20px 45px;
    font-size: 0.9em;
    font-weight: 600;
    color: $fontColor;
    background-color: $white;
    margin: auto;
}

// .card-header-before-collapse:after {
//     font-family: 'FontAwesome';  
//     content: "\f106";
//     float: right;
// }

// .collapsed:after {
//     content: "\f107";
// }

.card-header-before-collapse:after {
    font-family: 'FontAwesome';  
    content: "\f106";
    float: right;
    // font-size: 25px;
}

.collapsed:after {
    content: "\f107";
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.accordion-background {
    height: 600px;
    margin-bottom: 15px;
    li:last-child:after {
        text-align: justify;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 900px) {
    .accordion-background {
        height: auto!important;
    }
    h1 {
        display: none;
    }
    .bg-light {
        background: white!important;
    }
    .card-body {
        background: #efefef!important;
    }
}

@media only screen and (max-width: 480px) {
    .accordion-background {
        padding: 0px!important;
        ol {
            padding-inline-start: 20px;
        }
    }
}