@import "../../styles.scss";

.jumbotron {
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Lockwood_Images/lockwood-self-storage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 80vh;
  color: $dark;
  overflow: hidden;
  border-radius: 0;

  .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.jumbotorn-button {
  .btn {
    width: 100%;
  }
}

.feature-block {
  // height: 20vh;

  // .pgRow {
  //   display: flex;
  //   align-items: center;
  //   height: 100%;
  // }

  .f-img {
    height: 60px;
  }

  h6 {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 2.25rem;
}

.home-map {
  iframe {
    border: 2px solid white;
  }
}

.feature-icon-style {
  padding: 24px;
  text-align: center;

  img {
    height: 80px;
    padding: 10px;
  }
}

.contact-links {
  a {
    color: black;
  }
}

.content-align {
  text-align: right;
}

.about-section {
  h2 {
    font-size: 1.5rem;
  }
}

.getStarted {
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Lockwood_Images/lockwood-storage.jpg") center top no-repeat fixed;
  background-size: cover;

  .get-started {
    left: 0;
    right: 0;
    top: 10;
    background: rgba(238, 238, 238, 0.82);
    z-index: 9;
  }

  h2 {
    font-size: 2.25rem;
  }

  .btn {
    min-width: 250px;
    font-size: 1.2rem;
  }
}

.disp {
  text-align: left;
  color: $dark;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.jumbotron-top {
  height: 80vh;
}

.jumbotron-bottom {
  height: 20vh;
  display: flex;
  align-items: center;
}

.jumbotorn-skew-style {
  width: 75%;
  float: right;
  right: -25%;
  position: relative;
  transform: skew(-15deg);
  height: 100%;

  a {
    margin-top: 20px;
  }
}

.jumbotorn-skew-text {
  transform: skew(0deg);
  width: 24%;
  position: absolute;
  top: 30%;

  .btn-outline-primary {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotorn-skew-text {
    width: 425px;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 750px) and (min-height: 641px) {
  .jumbotorn-skew-text {
    top: 28%;
  }

  .feature-block {
    h6 {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 640px) and (min-height: 481px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 160px;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 480px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: 0;
    right: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    right: auto;
    bottom: 10px;
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .jumbotorn-skew-text {
    width: 35%;

    a {
      min-width: 160px;
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 750px) and (min-height: 641px) {
  .jumbotron-container {
    .jumbotron-bottom {
      h6 {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 640px) and (min-height: 451px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 160px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 450px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: 0;
    right: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    right: auto;
    bottom: 10px;
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .jumbotorn-skew-style {
    width: 85%;
  }

  .jumbotorn-skew-text {
    width: 40%;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 2.3rem;
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 830px) and (min-height: 701px) {
  .feature-block {
    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 700px) and (min-height: 481px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 160px;
  }

  .jumbotorn-skew-text {
    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 2.3rem;
      }
    }
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 480px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }


  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: 0;
    right: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 200px;
  }

  .jumbotorn-skew-style {
    width: 90%;
  }

  .jumbotorn-skew-text {
    top: 40%;
    width: 49%;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 2.3rem;
      }
    }
  }

  .feature-block {
    h6 {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 500px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 0;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: 0;
    right: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 420px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: 0;
    right: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    right: auto;
    bottom: 10px;
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 429px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: 0;
    height: 90px;
    bottom: 0;
    right: auto;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 2px;

    .btn-outline-primary {
      margin-right: 0;
      margin-bottom: 8px;
    }

    .jumbotorn-button {
      padding: 15px;

      .pr-0 {
        padding-right: 15px;
      }
    }
  }
}
