<div class="rent-holder">
  <div class="container">
    <div class="rent-heading">
      <h1 class="text-center pt-5">Pay Rent Online</h1>
      <h2 class="text-center">Select your location to access your account</h2>
      <h3 class="text-center awareness p-2">Please be aware that online payments on past due accounts will not be reinstated, or unlocked, until our next business day. Also, please be aware that accounts in auction status will not be able to make online payments. Please contact the property manager.</h3>
    </div>
    <div  class="container pt-5">
      <div class="rent-sub-holder">
          <div class="container px-0">
            <table class="col-md-12">
              <thead>
                <tr>
                  <th>Facility</th>
                  <th>Address</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table-data">
                    
                  </td>
                  <td class="table-data">
                    
                  </td>
                  <td class="text-right px-3">
                    <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-rcs-west']" role="button">Pay Here</a>           
                  </td>
                </tr>
                <!-- <tr>
                    <td class="table-data">
                      Chester - Brookside Ave
                    </td>
                    <td class="table-data">
                      53 Brookside Ave, Chester, NY 10918
                    </td>
                    <td class="text-right px-3">
                      <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-brookside']"  role="button">Pay Here</a>            
                    </td>
                </tr> -->
                <tr>
                    <td class="table-data">
                      
                    </td>
                    <td class="table-data">
                      
                    </td>
                    <td class="text-right px-3">
                      <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-location-3']"  role="button">Pay Here</a>           
                    </td>
                </tr>
                <tr>
                  <td class="table-data">
                    
                  </td>
                  <td class="table-data">
                    
                  </td>
                  <td class="text-right px-3">
                    <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-belforest']"  role="button">Pay Here</a>           
                  </td>
              </tr>
              </tbody>
             </table>
          </div>
        </div>
    </div>
  </div>
</div>
