@import '../../styles.scss';

.payment-top {
    height: 60vh;
    background: url(../../assets/images/pay-rent.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    .bg-translucent {
        height: 60vh;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 4rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}

.contentHolder {
    text-align: center;
    color: $fontColor;
    h1 {
        //margin-block-end: 16px!important;
        color: $white;
        border-bottom: 1px solid $primary;
        margin: auto;
        font-size: 2.25rem !important;
        width:200px;
    }
}