@import '../../styles.scss';


.aboutUs-holder {
    padding: 64px;
    background-color: $light;
    margin-bottom: 50px;
    p {
        text-align:justify;
    }

    img {
        border: 2px solid $white;
    }
}

@media only screen and (max-width: 600px) {
    .aboutUs-holder {
        margin-left: 15px !important;
        margin-right: 15px !important;
        padding: 16px !important;
        // width: 100%;
    }
}