
@import "../../../styles.scss";

.vertical-line {
  border-left: 1px solid black;
  padding-left: 50px;
  h2 {
    font-size: 40px;
  }
}


.display-none {
  display: none;
  visibility: hidden;
}

.contact-links {
  a {
    color: black;
  }
  display: block;
  margin-bottom: 8px;
}

.modal-open {
  .modal-backdrop {
    background: none;
  }
}

.forgot-link {
  a {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
  }
  margin-bottom: 8px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid $primary;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 15%;
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button-display {
  display: flex;
  align-items: end;
}

@media only screen and (max-width: 767px) {
  .vertical-line {
    border-left: 0 solid black;
    padding-left: 20px;
    padding-top: 20px;
  }
}
