<div class="containHolder">
  <div class="container">
    <h1 class="text-center py-5">Pay Rent</h1>
    <div class="pay-rent-holder p-5">
      <div class="row">
          <div class="col-md-8 mx-0">
              <iframe id="advanced_iframe" name="advanced_iframe" src="https://aasecurestorage.sim.syrasoft.com/PayNow" width="100%"
              height="500px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width: 100%; "></iframe>
           
          </div>
          <div class="col-md-4 rent-example" >
            <h2> How to Login </h2>
            <p> <b>Username:</b> First Initial + Last Name<br>
            <p> <b>Password:</b>  Your Phone Number
              <br> 
            <p> <b>Example</b> <br>
            <p>John Smith's phone number is 555-555-5555
              <br>
            <p> <b>John's Username:</b> jsmith<br>
            <p> <b>John's Password:</b> 5555555555 <br>
            <p> <b>Do you have a questions about your account?</b> </p>
            <p> <a href="tel:6065843434">(606) 584-3434</a> </p>
            <p> <a href="mailto:aasecurestorage751@gmail.com">aasecurestorage751@gmail.com</a> </p>
        </div> 
      </div>
    </div>
  </div>
</div>

