<app-script-hack type="application/ld+json">
  {{script | json}}
 </app-script-hack>
<div>

  <div class="jumbotron-home">
  <!-- <div class="for-desktop-view">
    <div class="jumbotron-desktop">
      <img src="" width="100%" height="100%" alt="">
    </div>
  </div> -->
  <!-- <div class="jumbotron-top">
    <video class="video text-center"  preload="auto" playsinline autoplay muted loop>
      <source src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Inez_Storage/Inez-Jumbotron-720p.m4v" type="video/mp4">
    </video>
  </div> -->
  <div class="jumbotron">
    <video class="video-background " oncanplay="this.play()" onloadedmetadata="this.muted = true" autoplay loop>
      <source src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Inez_Storage/showing+all+enclosed+RV+units.mp4" type="video/mp4">
    </video>
    <div class="jumbotron-top"></div>
  </div>


</div>
    <!--Feature Box-->
  <div class="feature-home jumbotron-bottom">
      <div class="container feature-block disp">
        <div class="row h-100">
          <div class="col-3 my-auto" *ngFor= "let feature of features">
            <p class="text-center f-block-img">
              <img src="{{feature.data}}" class="f-img">
            </p>
            <h6 class="text-center f-text">
              {{feature.label}}
            </h6>
          </div>
        </div>
      </div>
    </div>
    <!--Feature Box Ends Here-->


<div class="pb-5 pt-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13971.760848095062!2d-96.7997898!3d28.9001247!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe1f0080c610f9464!2sInez%20Storage!5e0!3m2!1sen!2sus!4v1574204000669!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-8  pl-4 pt-3 mt-lg-0 mt-md-3">
        <h2>Inez Storage</h2>
        <!-- <p class="mb-1"><strong>50% off first three months 10x10 and 10x15 (non climate)</strong></p> -->
        <p>
          <span *ngFor="let contact of contactsLocation1">
            <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
            <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
          </span>
        </p>
        <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/inez-storage/storageUnits']"
        role="button">View Rates</a>
         <a class="btn btn-primary-light p-2 ml-0" [routerLink]="['/location/inez-storage/moveIn']" 
         role="button">Move In</a>
        <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/inez-storage/reserveUnit']" 
         role="button">Reserve Unit</a>
      </div>
      <div class="col-xl-3 col-lg-2 col-md-4 mt-lg-0 mt-md-3 contact-hours pt-3">
          <h2>Hours:</h2>
          <p>
            <span class="hourdata" *ngFor="let hour of hoursLocation1">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>
</div>
<div class="pb-5 pt-5 ">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3494.0546439054638!2d-96.8647964845672!3d28.86699268018053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8642699707e821d3%3A0x1970a5c29f984eaa!2sBeck%20Road%20Storage!5e0!3m2!1sen!2sus!4v1574379888813!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-8  pl-4 pt-3 mt-lg-0 mt-md-3">
        <h2>Beck Road Storage</h2>
        <p>
          <span *ngFor="let contact of contactsLocation3">
            <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
            <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
          </span>
        </p>
        <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/beck-road-storage/storageUnits']"
         role="button">View Rates</a>
         <a class="btn btn-primary-light p-2 ml-0" [routerLink]="['/location/beck-road-storage/moveIn']" 
         role="button">Move In</a>
        <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/beck-road-storage/reserveUnit']" 
         role="button">Reserve Unit</a>
      </div>
      <div class="col-xl-3 col-lg-2 col-md-4 mt-lg-0 mt-md-3 contact-hours pt-3">
        <h2>Hours:</h2>
          <p>
            <span class="hourdata" *ngFor="let hour of hoursLocation3">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>
</div>
<!--Contact Details Ends Here-->


<!--Service-->
  <div class="service bg-light">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-6 pt-2">
            <h1  class="pb-4">Affordable Self Storage, Boat & Vehicle Parking in Inez, Texas</h1>
            <div *ngFor="let para of serviceOffered">
              <p>{{ para.p }}</p>
            </div>
            <div>
              <p class="text-center"><strong>Don't forget to ask about our Smart Units! Click below to learn more!</strong></p>
              <a target="_blank" href="http://www.storage-defender.com/inez/">
                <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Inez_Storage/smart-units-banner.png" 
                alt=" Storage Defender Logo Artwork " ></a>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <!-- <img src="" alt=""> -->
            <app-aboutus-photos></app-aboutus-photos>
          </div>
        </div>
      </div>
    </div>
<!--Service Ends Here-->
<!--Get Started Secion-->
<div class="getStarted text-center">
    <div class="get-started">
     <div class="container py-5">
       <div class="py-5 m-0">
         <div class="row">
           <div class="col-md-12">
             <p class="pb-2 started">{{gettingStarted}}</p>
             <p class="started">- John 3:16</p>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
<!--Get Started Secion Ends Here-->
</div>
