@import '../../styles.scss';

#tab {
    margin-bottom: 0px;
    width: 100%;

    span{
        border-left: 1px solid $light;
        border-right: 1px solid $light;
        border-top: 1px solid $light;
        background-color: #e2e0d8;
    }
    a {
        text-decoration: none;
        color: $dark;
        background-color: transparent;
    }
    .active-tab {
        background-color: $light;
    }
}
.grid {
    display: grid;
    // grid-template-columns: repeat(5, 20vw);
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  }

// @media only screen and (max-width: 600px) {} 

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {} 

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//     span {
//         min-width: calc(18% - 25.9px);
//     }
// } 

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//     span {
//         min-width: calc(17% - 25.5px);
//     }
// } 

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//     span {
//         min-width: calc(16% - 19.1px);
//     }
// }
