@import '../../styles.scss';

#tab {
    margin-bottom: 0px;
    width: 100%;

    .grid-item{
        border-left: 1px solid $light;
        border-right: 1px solid $light;
        border-top: 1px solid $light;
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: $dark;
        // background-color: transparent;
    }
}
.active-tab {
    background-color: $light !important;
}



@media only screen and (min-width: 770px) {
    .grid {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(90px, 1fr) );
        span {
            position: relative;
            background-color: #e2e0d8;
            a {
                padding-top: 15px !important;
                padding-bottom: 15px !important;
                line-height: 3rem !important;
            }
        }
      }
    .disp {
        display: none;
    }
    }


@media only screen and (max-width: 770px) {
    // #tabs .grid{
    // overflow: auto;
    // overflow-x: auto;
    // overflow-y: hidden;
    // -ms-overflow-style: -ms-autohiding-scrollbar;
    // -webkit-overflow-scrolling: touch;
    // white-space: nowrap;
    // &::-webkit-scrollbar {
    //     display: none;
    // }
    // }

    .disp {
        display: block;
    }

    .horizontal-scroll-wrapper {
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;
        width: 100%;
        span {
            min-width: 100px;
        }
      }
    //   .horizontal-scroll-wrapper::-webkit-scrollbar {
    //     display: none;
    //   }
} 
