@import '../../styles.scss';

#tab {
    margin-bottom: 0px;
    width: 100%;

    .grid-item{
        border-left: 1px solid $light;
        border-right: 1px solid $light;
        border-top: 1px solid $light;
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: $dark;
        background-color: transparent;
        width: 100%;
    }
}


.active-tab {
    background-color: $light !important;
}



@media only screen and (min-width: 770px) {
    .grid {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(90px, 1fr) );
        span {
            position: relative;
            background-color: #e2e0d8;
            a {
                padding-top: 15px !important;
                padding-bottom: 15px !important;
                line-height: 3rem !important;
            }
        }
      }
    .disp {
        display: none;
    }
    }


@media only screen and (max-width: 770px) {
    .disp {
        display: block;
    }

    .horizontal-scroll-wrapper {
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;        
            span {
                position: relative;
                background-color: #e2e0d8;
                min-width: 110px;
                a { 
                    padding: 15px 5px 15px 15px !important;
                    line-height: 3rem !important;
                }
        }
    } 
}

@media only screen and (max-width: 600px) {
    #tab {
        margin-left: 15px !important;
        margin-right: 15px !important;
        padding-right: auto;
        padding-left: auto;
        // width: 98%;
    }
}