    <!-- <div class="grid text-center mx-0 horizontal-scroll-wrapper" id="tab">
      
      <span *ngFor="let tab of tabData" class="py-3 grid-item" #tabContent (click)=onTabClick(tab)>      
          
        <span *ngIf="currentActiveTab?.name === tab?.name" [class.active-tab]="'active-tab'">
          <a [routerLink]="tab?.path" [queryParams]="{ name:placeName, id:tab?.id }" class="px-1"><b>{{tab.name}}</b></a>
        </span>
        <a [routerLink]="tab?.path" [queryParams]="{ name:placeName, id:tab?.id }" class="px-1">{{tab.name}}</a>
      </span>
      {{currentActiveTab}}
    </div> -->
<div class="container px-0">
  <div class="grid text-center mx-0 horizontal-scroll-wrapper" id="tab">
    <span *ngFor="let tab of tabData" class="grid-item" [ngClass]="{'active-tab': selectedTab == tab?.name}" >
      <a [routerLink]="tab?.path" [queryParams]="{ name:placeName, id:tab?.id, currentTab: tab?.name }"  (click)="listClick($event, tab?.name)" [id]="tab?.id" class="px-4">{{tab.name}}</a>
    </span>
  </div>
</div>

  
  <router-outlet></router-outlet>