<div class="payment-top">
    <div class="bg-translucent">
      <div class="container jumbotorn-top text-center" *ngFor="let payRent of payRent">
          <h1 class="pb-4">{{payRent.heading}}</h1>
          <p>{{payRent.blurb}}</p>
      </div>
    </div>
  </div>
  
  <div class="content-Holder bg-dark-background payment-bottom">
    <div class="container py-5">
      <h2 class="pb-3 text-center">Pay Your Rent</h2>
      <div class="row content-margin-top">
        <div class="col-lg-8  py-3 payment-map scroll-wrapper">
          <router-outlet></router-outlet>
        </div>
        
        <div class=" col-lg-4  py-4 text-justify payment-link">
          <div class="row ">
              <div class="col-md-12">
                <h5>How to Login</h5>
                <p>Please note that</p>
                <p><b>Username:</b>&nbsp;First Initial + Last Name<br>
                <b>Password:</b>&nbsp;Your Unit Number</p>
                <p>Unit numbers begin with a letter and are followed by four digits, using 0s as placeholders. All letters in Unit Numbers must be capitalized.</p>
                <p><b>Example 1:</b></p>
                <p>John Smith's unit is X0015</p>
                <p>John's Username: jsmith<br>
                  John's Password: X0015</p>
                <p><b>Example 2:</b></p>
                <p>John Smith's unit is X0001</p>
                <p>John's Username: jsmith<br>
                  John's Password: X0001</p>
                <p>Have questions about your account?<br>
                <span *ngFor="let contact of contact" [class.display-none]="contact?.id == 0">
                  <a *ngIf="contact?.id == 1 || contact?.id == 2" href="contact?.redirect">{{contact.data}}</a><br>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>