<div class="storage-tips-top">
  <div class="bg-translucent">
      <div class="container jumbotorn-top text-center" *ngFor="let storageTips of storageTips">
        <h1 class="pb-4">{{storageTips.heading}}</h1>
        <p>{{storageTips.blurb}}</p>
      </div>
  </div>
</div>

<div class="content-Holder bg-dark-background storage-tips-bottom">
  <div class="container py-5 ">
    <!-- <h2 class="pb-3">Storage Tips</h2> -->
    <div class="row accordion-background">
      <div class="col-md-6 py-3 ul-padding">
        <ul class="text-left"><li class="storage-left text-dark" *ngFor="let store of storageTip" >{{store.data}}</li ></ul>
      </div>
      <div class="col-md-6 py-3" id="accordion">
      <app-accordion></app-accordion>
    </div>
  </div>
</div>