<div class="">
  <div class="jumbotron p-0 m-0">
    <div class="bg-translucent  text-align">
      <div class="container display">
        <div class="row justify-content-center width margin-bottom">
          <div class="col-md-12">
            <div class="disp">
              <h2>Affordable & Convenient Self Storage</h2><br>
              <p>Space Place Macedonia is conveniently located between Cleveland and Akron Ohio, and we proudly serve Macedonia, Bedford,
                Twinsburg and Sagamore Hills with high quality self storage and stellar customer service!</p>
            </div>
            <div class="button-top-margin">
              <a class="btn btn-lg btn-outline-primary" (click)="navigate('/contact-us')" role="button">Contact Us</a>
              <a class="btn btn-lg btn-primary" (click)="navigate('/view-rates')" role="button">View Rates</a>
            </div>
          </div>
        </div>
      </div>
      <div class="arrow" >
        <img (click)="scroll(target)" src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Space_Place_Macedonia/down.svg" alt="arrow" />
      </div>
    </div>
  </div>

  <div class="about-us bg-dark-background"  #target>
    <div class="container py-5">
      <div class="section py-5 m-0">
        <h1 class="heading pb-3 text-center">Affordable Storage Units in Macedonia</h1>
        <div class="row content-margin-top">
          <div class="col-md-6 py-3">
            <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
          </div>
          <div class="col-md-6 py-3" >
            <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Space_Place_Macedonia/space-place-macedonia-office.jpg" alt="Photograph of the Space Place Macedonia main office" class="sectionImage">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="we-provide">
    <div class="we-provide-background py-5">
      <div class="container py-5">
        <div class="section  m-0">
          <div class="row">
            <div class="col-md-12">
              <h2 class="heading pb-3 text-center">We Provide</h2>
              <div class="row primary-margin">
                <div class="col-md-3 col-6 p-4 text-center" *ngFor="let feature of feature">
                  <div class="p-4">
                    <img [src]="feature?.path" height="75px" [alt]="feature?.alt" />
                  </div>
                  <h6 class="feature-text">{{feature.label}}</h6>
                </div>
              </div>
              <div class="feature-list">
                <ul class="row" > 
                  <li class="col-md-6 col-lg-4 py-2 text-left" *ngFor="let featuresList of featuresList">{{featuresList.li}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="locate-us bg-dark-background">
    <div class="container py-5">
      <div class="section py-5 m-0">
          <h2 class="heading pb-3 text-center">Find Space Place Macedonia</h2>
        <div class="row content-margin-top">
            <div class="col-md-6 py-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2996.149195137736!2d-81.5163976!3d41.327369!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88311fd539ad2dc3%3A0x7785c4d2739c5e8f!2sSpace+Place+Storage%2C+LLC!5e0!3m2!1sen!2sus!4v1562095740515!5m2!1sen!2sus" width="100%" height="250" frameborder="0" allowfullscreen></iframe>
              </div>
          <div class="col-md-6 py-3 locate-us-style">
            <table>
              <tr valign="top" *ngFor="let contact of contactDetails">
                <td ><strong>{{contact.label}}</strong></td><td class="contact-data" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect"> {{contact.data}}</a></td>
                <ng-template #other_content><td >{{contact.data}}</td></ng-template>
              </tr>
              <tr valign="top" *ngFor="let hour of hours">
                <td ><strong>{{hour.label}}</strong></td><td> {{hour.data}}</td>
              </tr>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <div class="testimonials-background">
      <div class="container py-5">
        <div class="section py-5 m-0">
            <h2 class="heading pb-3">Testimonials</h2>
          <div class="row content-margin-top">
              <div id="demo" class="carousel slide text-center" data-ride="carousel">

                 
                
                  <!-- The slideshow -->
                  <div class="carousel-inner text-center" >
                    <div class="carousel-item  active">
                      <p class="pb-4 px-3">I was looking for some extra space to store things while we were putting our house on the market. The location was close, and the space we needed was perfect, so we decided to use their services.  Clean, dry, convenient!!</p>
                    </div>
                    <div class="carousel-item ">
                        <p class="pb-4 px-3">That’s what we needed.  Kathy was such a pleasure to work with, too! ❤️</p>                    
                    </div>
                  </div>

                   <!-- Indicators -->
                   <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                    </ul>
                
                </div>
           
          </div>
        </div>
      </div>
    </div>
    </div>

</div>