.display {
  display: none;
}

.form-control {
  font-size: 0.8rem;
}

.reserve-unit-form {
  h2 {
    font-size: 1.8rem;
  }
}

.justify-content {
  justify-content: space-between;
}

.readonly-form-control {
  .form-control {
    background-color: white;
  }
}
