<div class="reserve-unit-form">
        <!-- *ngIf="successMessage; else other_content"  -->
    <div class="pb-4" *ngIf="successMessage; else other_content">
       Your reservation was successful. 
       <div class="py-4">
           <table>
               <tbody>
                   <tr>
                       <td class="td-1">Confirmation Number </td>
                       <td> <div class="loader" *ngIf="!strConfirmation"></div>{{strConfirmation}}</td>
                    </tr>
                    <tr>
                        <td class="td-1">Unit Type</td>
                        <td>{{this.reserveUnitForm.value.lstUnitTypes[0].Description}}</td>
                    </tr>
                    <tr>
                        <td class="td-1">Rate</td>
                        <td> {{this.reserveUnitForm.value.lstUnitTypes[0].MonthlyRate}}</td>
                    </tr>
                    <tr>
                        <td class="td-1">Move-In date</td>
                        <td>{{this.reserveUnitForm.value.dteMoveIn}}</td>
                    </tr>
                </tbody>
           </table>
       </div>
       <div>
            <button *ngIf="tokenExit" (click)="signOut()" class="btn btn-primary">LogOff</button>
            <div class="py-3 home-link"><a (click)="navigate('/')">Go to Home</a></div>
        </div>
    </div>
    <ng-template #other_content>
        
        <form [formGroup]="reserveUnitForm" (ngSubmit)="onSubmit()" >
         <div *ngIf="count == 0" class="row justify-content">
             <div formGroupName="objTenant" class="col-lg-7 ">
                 <h2 class="pb-3">Tenant Data</h2>
         
                 <div class="row">
                   <div class="col-lg-6 form-group">
                           <label>First Name*</label>
                           <input type="text" formControlName="FirstName" class="form-control" placeholder="Enter First Name"
                           [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.FirstName.errors }"
                           />
                           <div *ngIf="submitted && f.objTenant.controls.FirstName.errors" class="invalid-feedback">
                               <small class="form-text text-muted" *ngIf="f.objTenant.controls.FirstName.errors.required">Please fill out this field</small>
                           </div>
                   </div>
                  <div class="col-lg-6 form-group">
                           <label>Last Name*</label>
                           <input type="text" formControlName="LastName" class="form-control" placeholder="Enter Last Name"
                           [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.LastName.errors }"/>
                           <div *ngIf="submitted && f.objTenant.controls.LastName.errors" class="invalid-feedback">
                               <small class="form-text text-muted" *ngIf="f.objTenant.controls.LastName.errors.required">Please fill out this field</small>
                           </div>
                   </div>
                </div>
                <div class="row">

                    <div class=" col-md-6 form-group">
                           <label>Phone Number*</label>
                           <input type="tel" formControlName="Phone" placeholder="Enter Phone Number" class="form-control" 
                           [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.Phone.errors }" />
                           <div *ngIf="submitted && f.objTenant.controls.Phone.errors" class="invalid-feedback">
                               <small class="form-text text-muted" *ngIf="f.objTenant.controls.Phone.errors.required">Please fill out this field</small>
                           </div>
                           <div *ngIf="f.objTenant.controls.Phone.errors" >
                               <small class="form-text text-muted" *ngIf="f.objTenant.controls.Phone.errors.pattern">Please enter valid number</small>
                           </div>
                   </div>
                
                     <div class="col-md-6 form-group">
                             <label>Email Address*</label>
                             <input type="text" formControlName="EmailAddress" placeholder="Enter Email" class="form-control" 
                             [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.EmailAddress.errors }" />
                             <div *ngIf="submitted && f.objTenant.controls.EmailAddress.errors" class="invalid-feedback">
                                 <small class="form-text text-muted" *ngIf="f.objTenant.controls.EmailAddress.errors.required">Please fill out this field</small>                                  
                             </div>
                             <div *ngIf="f.objTenant.controls.EmailAddress.errors" >
                                 <small class="form-text text-muted" *ngIf="f.objTenant.controls.EmailAddress.errors.email">Please enter a valid email address</small>
                             </div>
                     </div>
                    </div>
                    <div class="row">
                     <div class="col-lg-12  form-group">
                               <label>Address Line 1*</label>
                               <input type="text" formControlName="AddressLine1" class="form-control" placeholder="Enter Address Line 1"
                               [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.AddressLine1.errors }"/>
                               <div *ngIf="submitted && f.objTenant.controls.AddressLine1.errors" class="invalid-feedback">
                                   <small class="form-text text-muted" *ngIf="f.objTenant.controls.AddressLine1.errors.required">Please fill out this field</small>
                               </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label>Address Line 2</label>
                            <input type="text" formControlName="AddressLine2" class="form-control" 
                            placeholder="Enter Address Line 2"
                            />
                    </div>
                    </div>
                   <div class="row">
                        <div class="col-lg-4 col-md-6 form-group">
                           <label>City*</label>
                           <input type="text" formControlName="City" class="form-control" placeholder="Enter City"
                           [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.City.errors }"/>
                           <div *ngIf="submitted && f.objTenant.controls.City.errors" class="invalid-feedback">
                               <small class="form-text text-muted" *ngIf="f.objTenant.controls.City.errors.required">Please fill out this field</small>
                           </div>
                       </div>
                <div class="col-lg-4 col-md-6 form-group ngx-select-dropdown">
                    <label>State*</label>
                    <ngx-select-dropdown (change)="selectionChanged($event)" formControlName="State"
                    [config]="config"  [options]="option"
                    [style]="style"
                    [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.State.errors }"
                    class="form-control  custom"
                    ></ngx-select-dropdown>

                    <!-- <input type="text" formControlName="State" class="form-control" placeholder="Enter State"
                    [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.State.errors }"/> -->
                    <div *ngIf="submitted && f.objTenant.controls.State.errors" class="invalid-feedback">
                        <small class="form-text text-muted" *ngIf="f.objTenant.controls.State.errors.required">Please fill out this field</small>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <label>Zip Code*</label>
                    <input type="text" formControlName="ZIP" class="form-control" placeholder="Enter Zip Code"
                    [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.ZIP.errors }"/>
                    <div *ngIf="submitted && f.objTenant.controls.ZIP.errors" class="invalid-feedback">
                        <small class="form-text text-muted" *ngIf="f.objTenant.controls.ZIP.errors.required">Please fill out this field</small>
                    </div>
                </div> 
                   </div>
                 </div>
                 
                 <div class="col-lg-4">
                     <div formArrayName="lstUnitTypes">
                         <h2 class="pb-3">Unit</h2>
                     <div *ngFor="let item of reserveUnitForm.controls.lstUnitTypes.controls; let i = index">
                         <div  [formGroupName]="i">
                             <div class="form-group">
                                 <label for="lstUnitTypes">Unit Type*</label>&nbsp;
                                 <select class="form-control" formControlName="Description" [id]="lstUnitTypes?.Description" 
                                 (change)="selectChangeHandler($event)" 
                                 
                                >
                                     <option *ngFor="let lstUnitTypes of lstUnitTypes"
                                     [value]="lstUnitTypes?.Description"
                                    
                                     >
                                     {{lstUnitTypes.Description}}
                                     </option>
                                    </select>
                                </div>
                                <div class="form-group" >
                                    <label>Rate*</label>&nbsp;
                                    <input type="text" formControlName="MonthlyRate" class="form-control" [value]="MonthlyRateValue || defaultValue || ''"
                                    >
                                 <!-- ${{MonthlyRateValue}} -->
                                </div>
                                <div class="form-group readonly-form-control">
                                    <label>Reservation Charges</label>&nbsp;
                                    <input type="text" class="form-control" formControlName="ReservationFee" [value]="0.00" readonly>
                                </div> 
                            </div>
                        </div>
                 </div>
                 
                 <div class=" pb-5">
                     <div class=" form-group">
                         <label>Move In Date*</label>&nbsp;
                         <input type="date" [min]="MinDate" [max]="MaxDate"
                         class="form-control" [value]="currentDate" formControlName="dteMoveIn" [ngClass]="{ 'is-invalid': submitted && f.dteMoveIn.errors }" />
                         <div *ngIf="submitted && f.dteMoveIn.errors" class="invalid-feedback">
                            <small class="form-text text-muted" *ngIf="f.dteMoveIn.errors.required">Please fill out this field</small>
                        </div>
                        </div>
                        <div formArrayName="lstRentalPeriods">
                            <div *ngFor="let itemRental of reserveUnitForm.controls.lstUnitTypes.controls; let i = index">
                                <div  [formGroupName]="i">
                                    <label for="PeriodDescription">Period*</label>&nbsp;
                                    <select class="form-control" formControlName="PeriodDescription" [id]="LstRentalPeriods?.PeriodDescription">
                                        <option *ngFor="let LstRentalPeriods of LstRentalPeriods" [value]="LstRentalPeriods?.PeriodDescription" >
                                            {{LstRentalPeriods.PeriodDescription}}
                                        </option>
                                 </select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
         </div>

       
            <app-confirmation-data *ngIf="count == 1" [reserveUnitForm]="reserveUnitForm" [showConfirmation]=showConfirmation></app-confirmation-data>

            <div class="form-group text-right">
                <button type="button" class="btn btn-primary col-lg-3 col-md-4 col-sm-12" *ngIf="count === 0" (click)="handleClick()">Next</button>
                <button type="button" class="btn btn-primary col-lg-3 col-md-4 col-sm-12 my-2" *ngIf="count === 1" (click)="handlePrevious()">Previous</button>
                <button type="submit" class="btn btn-primary ml-lg-4 ml-md-2 ml-sm-auto col-lg-3 col-md-4 col-sm-12 " *ngIf="count === 1">Reserve</button>
            </div>
        </form>
    </ng-template>



</div>
