<!--Testimonial-->
<div class="storageUnitHolder">
  <div class="bg-light">
    <div class="container px-0">
      <h2 class="text-center">Customer Reviews</h2>
      <!-- <div class="container"> -->
      <div class="row">
       <div class="col-md-12 text-center">
         <span *ngIf="id === 1">
          <!-- <h2 class="heading pb-4">Testimonials</h2> -->
          <div id="demo" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>
            
              <!-- The slideshow -->
              <div class="carousel-inner ">
                <div class="carousel-item py-5 active">
                  <p>
                      I've had a unit here for years.  Never had a problem. Prices are responsible as well.
                  </p>
                  <p>
                      - Jeff Sygney
                  </p>
                </div>
                <div class="carousel-item py-5">
                  <p>
                      Units are clean and well kept. Rentals are within my budget you can drop off payment, mail or pay online.
                    </p>
                    <p>
                        - Carie Sherman
                    </p>

                </div>
                <div class="carousel-item py-5">
                  <p>
                      Really nice people, and good value. Had stuff there for 8 months.
                  </p>
                  <p>
                      - Daniel Zajic
                  </p>
                </div>
              </div>
            </div>
          </span>
            <span *ngIf="id === 3">
                <!-- <h2 class="heading pb-4">Testimonials</h2> -->
                <div id="demo" class="carousel slide" data-ride="carousel">
      
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                      <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                  
                    <!-- The slideshow -->
                    <div class="carousel-inner ">
                      <div class="carousel-item py-5 active">
                        <p>
                            Wonderful staff . Management couldn't get much better than this !!! I've had storage unit for three years at this location and NEVER had anyissues .
                        </p>
                        <p>
                            - Stephanie Gonzales
                        </p>
                      </div>
                      <div class="carousel-item py-5">
                        <p>
                            One family owns and runs both Godsey Storage and Dallas Storage.  Both facilities are clean dry and well-maintained, and the staff has alwaysbeen super friendly and helpful to work with. I have rented a lot of storage units over the years, and this is one of the best.
                          </p>
                          <p>
                              - Michael Mohram
                          </p>
      
                      </div>
                      <div class="carousel-item py-5">
                        <p>
                            Ability to pay your bill online is a godsend. Super clean facility and great rental rates.
                        </p>
                        <p>
                            - J Anderson
                        </p>
                      </div>
                    </div>
                  </div>
                </span>

        </div>
      </div>
    </div>
  </div>
  <!--Testimonial section-->
