@import "../../styles.scss";

.align-item-center {
  align-items: center;
}

.contact-button-data {
  background-color: $white;
  width: 348px;
  padding: 20px;
  margin-right: 10px;
  z-index: 1000;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.16);
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;

  a {
    color: $fontColor;
  }

  .heading {
    h2 {
      color: $primary;
    }
  }

  .iconColor {
    color: $primary;
  }

  form {
    margin-bottom: 50px;

    button {
      width: 100%;
    }
  }
}

.close {
  text-align: right;
}

.socialLinks {
  float: right;

  a {
    color: $primary;
    font-size: 1.5rem;
  }
}

@media screen  and (min-width: 1200px) {
  .contact-button-data {
    overflow: auto;
    overflow-y: scroll;
    height: 70vh;
    width: 300px;
  }
}

@media screen and(max-width: 1200px)  and (min-width: 992px) {
  .contact-button-data {
    overflow: auto;
    overflow-y: scroll;
    height: 80vh;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .contact-button-data {
    overflow: auto;
    overflow-y: scroll;
    height: 70vh;
    width: 300px;

    .contact-data {
      font-size: 0.8rem;
    }
  }

  .contact-links {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) and (max-height: 480px) {
  .contact-button-data {
    overflow: auto;
    overflow-y: scroll;
    height: 60vh;
    width: 280px;
    //margin-right: 20px;
  }

  h2 {
    font-size: 1.3rem;
  }
}

@media screen and (max-height: 950px) and (min-height: 751px) {
  .contact-button-data {
    overflow: auto;
    overflow-y: scroll;
    height: 70vh;
    width: 300px;
  }
}

@media screen and (min-height: 481px) and (max-height: 750px) {
  .contact-button-data {
    overflow: auto;
    overflow-y: scroll;
    height: 70vh;
    width: 300px;
  }
}

@media only screen and (max-height: 480px) {
  .contact-button-data {
    height: 55vh;
  }
}
