@import "../../styles.scss";

a {
  cursor: pointer;
}

.iconColor {
  color: $primary;
}

.contact-header {
  display: inline;

  .contact-details {
    color: $white;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }
}


.navbar {
  .nav-link {
    color: $white;
    font-weight: 600;
  }

  .nav-link:hover {
    color: $white;
  }

  .nav-link-active {
    color: $white;
    border-bottom: 2px solid $primary;
    width: fit-content;
  }

  button {
    color: $white;
    border-color: $white;
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.navbar-brand {
  padding-top: 20px;
}

.bg-gradient {
  /* stylelint-disable-next-line max-line-length */
  background: linear-gradient(to bottom, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 20%, rgba(33, 33, 33, 0.9) 40%, rgba(33, 33, 33, 0.82) 50%, rgba(33, 33, 33, 0.75) 64%, rgba(33, 33, 33, 0) 100%);
}

.display {
  display: block;
}


@media screen and (max-width: 1200px) {
  a {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 991px) {
  .display {
    display: none;
  }

  .nav-link {
    text-align: center;
  }

  .bg-gradient {
    background: rgba(0, 0, 0, 0.85);
  }

  .navbar-brand {
    padding: 0;
  }

  img {
    height: 70px;
  }

  .navbar {
    ul {
      align-items: center;
    }
  }
}


@media only screen and (max-height: 500px) and (max-width: 991px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}