<app-script-hack type="application/ld+json">
  {{script | json}}
 </app-script-hack>
<div class="">
  <div class="jumbotron-container">
    <div class="jumbotron-top">
    <div class="jumbotron px-0 m-0" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
      <div class=" jumbotorn-skew-style" [ngClass]="template === 'darkTheme' ? 'bg-translucent-dark' : 'bg-translucent-light'">
      </div>
      <div class="container">
        <div class="jumbotorn-skew-text">
          <div class="disp" *ngFor="let jumbotron of jumbotron">
            <h2  class="my-4">
              {{jumbotron.h1}}
            </h2>
          <p class="text-justify">{{jumbotron.blurb}}</p>
          </div>
          <div class="jumbotorn-button">
            <a class="btn btn-lg btn-outline-primary" (click)="navigate('/contact-us')" role="button">Contact Us</a>
            <a class="btn btn-lg btn-primary" (click)="navigate('/view-rates')" role="button">View Our Rates</a></div>
          </div>
        </div>
      </div>
      </div>
    <div class="jumbotron-bottom">
      <div class="container">
        <div class="feature row">
          <div class="col-md-3 col-3 feature-icon-style" *ngFor="let feature of feature">
            <img [src]="feature?.path" [alt]="feature?.alt" height="100px"/>
              <h3 class="feature-text">{{feature.label}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-light">
    <div class="container py-4">
      <div class="section py-4 m-0">
        <div class="row">
          <div class="col-lg-6 py-3 home-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12198.376858812288!2d-75.9157251!3d40.1513218!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe331877bbba7c8ad!2sRed%20School%20Self-Storage!5e0!3m2!1sen!2sus!4v1596823256195!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen title="homepage map"></iframe> 
          </div>

          <div class="col-lg-6 py-3">
            <div class="mb-4">
              
              <p>
                <span *ngFor="let contact of contactDetails">
                  <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.label === 'Address:'||contact?.label === 'Email:' || contact?.label === 'Phone:' else other_content">
                    <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                  <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
                </span>
              </p>
              <b>Hours:</b>
              <p>
                <span *ngFor="let hour of hours">
                  <b>{{hour.label}}</b>&nbsp;{{hour.data}}<br>
                </span>
              </p>
            </div>
            <div>
              <app-tables [tBody]="featuresList"></app-tables>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-lg-6 py-3">
          <!-- <img src="{{imageBaseUrl}}/outdoor-self-storage-units.{{imagetype}}" width="100%" alt="{{aboutUsAlt}}" class="sectionImage"> -->
          <app-photos></app-photos>
        </div>
        <div class="col-lg-6 py-3">
          <h1 class="heading pb-4">{{aboutUsHeading}}</h1>
          <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>
  <!--Testimonial-->
  <div class="bg-light">
    <div class="container">
      <div class="row py-5">
       <div class="col-md-12 text-center">
          <h2 class="heading pb-4">Testimonials</h2>
          <div id="demo" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <!-- <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul> -->
            
              <!-- The slideshow -->
              <div class="carousel-inner ">
                <div class="carousel-item py-5 active">
                  <p>
                    I had a storage unit with this facility for over a year. They were very helpful with the process and making sure I understood the access code. This facility is accessible at any time and with my second shift work schedule this was very helpful. The management team is very nice and answer all your questions. although I am not using them now I will be sure to do something in the future!  
                  </p>
                  <p>
                    -Brittany Neff
                  </p>
                </div>
                <!-- <div class="carousel-item py-5">
                  <p>
                    We needed a space to park our RV on short notice. Lori was awesome!  She was eager to help and very sweet!  I highly recommend Storage King and Lori! Great customer service!
                    </p>
                    <p>
                      -Glenda Tankersley
                    </p>

                </div> -->
                <!-- <div class="carousel-item py-5">
                  <p>
                    We needed a storage unit last minute & they were super helpful with getting us one in a timely manner!! I HIGHLY recommend coming here for your storage needs!!!
                  </p>
                  <p>
                    -Jessica Swanson
                  </p>
                </div> -->
              </div>
            
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--Testimonial section-->

  <div class="getStarted">
      <div class="get-started">
      <div class="container">
        <div class="section py-5 m-0">
          <div class="row">
            <div class="col-md-12 py-3">
              <h2 class="heading pb-4">Getting Started with Red School Self Storage</h2>
              <p class="pb-4">{{gettingStarted}}</p>
              <a class="btn btn-lg btn-primary" (click)="navigate('/view-rates')" role="button">View Our Rates!</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>  
