<div class="specials-holder">
  <div class="container">
    <div class="heading">
      <h1 class="text-center">Specials</h1>
    </div>
    <div class="specials-content mt-5">
      <h1 class="text-center">Please contact us to take advantage of the discounts!</h1><br>
      <!-- <h2 class="text-center">Paying in Advance Pays Off!</h2> -->

      <div class="content-holder">
        <!-- <h2>Our trailer is available at no cost to new tenants during the move in process!</h2> -->
        <div class="content">
          
          <div class="col-md-6">
            <h2>New Tenants</h2>
          <li class = "ml-2">1 month free with 6 months paid in advance</li>
          <li class = "ml-2">2 month free with 12 months paid in advance</li><br>
          <h2>Existing Tenants</h2>
          <li class = "ml-2">$50 discount with 6 months paid in advance</li>
          <li class = "ml-2">$100 discount with 12 months paid in advance</li><br>
          <h2>Free Move-In Trailer</h2>
          <p>our trailer is available at no cost to new tenants or existing tenants when they rent an additional unit</p>
         
          
          </div>
        <div class="col-md-6">
          <h2>Military Discount</h2>
          <li class = "ml-2">$10 off Monthly Rate!</li><br>
          <p>The military discount is IN ADDITION to the standard standard discount available to all tenants for advance payment.</p>
          
          <img src="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/IN_N_OUT/jpg/in-n-out-military.jpg" width="100%" alt="" class="sectionImage">
        </div>
        </div>
        
        <!-- <h2>Military Discounts are available to military personnel - active duty, former/retired, and/or reserves</h2>
        
        <div class="content">
          <div class="col-md-6">
        <p>Must show Military or Veterans ID card for verification. To qualify for the military discount, payment must be made in advance. </p>
        <h2> $10 off Monthly Rate!</h2>
        <p> The military discount is IN ADDITION TO the standard discount available to all tenants for advance payment:</p>
         <ul>
              <li  class="p-1 text-justify"> 6 month rental - $50.00 off advanced payment </li>
              <li  class="p-1 text-justify"> 12 month rental - $100.00 off advanced payment </li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/IN_N_OUT/jpg/in-n-out-military.jpg" width="100%" alt="" class="sectionImage">
        </div>
      </div> -->
      </div>
      </div>
    </div>
  </div>


