<div class="specials-holder">
  <div class="container">
    <div class="heading">
      <h1 class="text-center">Specials</h1>
    </div>
    <div class="specials-content mt-5">
      <h2 class="text-center">Please contact us to take advantage of the discounts!</h2>
      <h2 class="text-center">Paying in Advance Pays Off!</h2>

      <div class="content-holder">
        <h2>Our trailer is available at no cost to new tenants during the move in process!</h2>
        <div class="content">
          <div class="col-md-6">
            <span>New customers can take advantage of this when they reserve for 6 or 12 months in advance and get up to<b> 2 months FREE!</b></span>

            <!-- <ul>
              <li *ngFor="let point of storagePoints" class="p-1 text-justify"> {{point.data}} </li>
            </ul>
            <h6>Please call (920) 332-5899 to make arrangements to reserve the trailer.</h6> -->
          </div>
        <div class="col-md-6">
          <span>Exsisting customers can take advantage of this when they reserve for 6 or 12 month in advance and get up to a<b> $50.00 or $100.00 DISCOUNT! </b></span>
           <!-- <app-accordion></app-accordion>
          <img src="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/IN_N_OUT/jpg/in-n-out-trailers.jpg" width="100%" alt="" class="sectionImage"> -->
        </div>
        </div>
        
        <h2>Military Discounts are available to military personnel - active duty, former/retired, and/or reserves</h2>
        
        <div class="content">
          <div class="col-md-6">
        <p>Must show Military or Veterans ID card for verification. To qualify for the military discount, payment must be made in advance. </p>
        <h2> $10 off Monthly Rate!</h2>
        <p> The military discount is IN ADDITION TO the standard discount available to all tenants for advance payment:</p>
         <ul>
              <li  class="p-1 text-justify"> 6 month rental - $50.00 off advanced payment </li>
              <li  class="p-1 text-justify"> 12 month rental - $100.00 off advanced payment </li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/IN_N_OUT/jpg/in-n-out-military.jpg" width="100%" alt="" class="sectionImage">
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>


