@import "../../styles.scss";

.currentActive {
  border-bottom: 3px solid $light;
}

.text-justify {
  text-align: justify;
}

.storage-tip-holder {
  padding-top: 100px;
  min-height: 88vh;
  margin-bottom: 50px;

  .heading {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .storage-content {
    padding: 50px;
    background-color: $light;
    min-height: 600px;

    ul {
      padding-left: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .storage-tip-holder {
    padding-top: 70px;

    .storage-content {
      padding: 16px;
    }
  }
}
