<div class="">
  <div class="jumbotron-container">
    <div class="jumbotron-top">
    <div class="jumbotron px-0 m-0" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
      <div class=" jumbotorn-skew-style" [ngClass]="template === 'darkTheme' ? 'bg-translucent-dark' : 'bg-translucent-light'">
      </div>
      <div class="container">
        <div class="jumbotorn-skew-text">
          <div class="disp" *ngFor="let jumbotron of jumbotron">
            <h2  class="my-4">
              {{jumbotron.h2}}
            </h2>
          <p class="text-justify">{{jumbotron.blurb}}</p>
          </div>
          <div class="jumbotorn-button">
            <a class="btn btn-lg btn-outline-primary" (click)="navigate('/view-rates')" role="button">View Rates</a>
            <a class="btn btn-lg btn-primary" (click)="navigate('/reserve-unit')" role="button">Reserve Unit</a>
          </div>
          </div>
        </div>
      </div>
      </div>
    <div class="jumbotron-bottom">
      <div class="container">
        <div class="feature row">
          <div class="col-md-3 col-3 feature-icon-style" *ngFor="let feature of feature">
            <img [src]="feature?.path" [alt]="feature?.alt" />
              <h2 class="feature-text">{{feature.label}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-light">
    <div class="container py-4">
      <div class="section py-4 m-0">
        <div class="row">
          <div class="col-lg-6 py-3 home-map">
              <iframe title="Facility Google Map"
               src="https://www.google.com/maps/d/u/0/embed?mid=12-n_-Xh7RCSRO7k8OyUiN7iX9vlwITA7"
                width="100%" height="100%" frameborder="0" allowfullscreen rel="noopener" ></iframe> 
          </div>

          <div class="col-lg-6 py-3">
            <div class="mb-4 contact-details">
              <div
                *ngFor="let contact of contactDetails"
                class="display-contact"
              >
                <div >
                  <h4>
                    <strong>{{ contact.label }}&nbsp;</strong>
                  </h4>
                </div>
                <div
                  class="contact-links"
                  [class.mb-2]="contact?.label === 'Phone:'"
                  *ngIf="
                    contact?.label === 'Address:' ||
                    contact?.label === 'Email:' ||
                    contact?.label === 'Phone:'
                  "
                >
                  <h4>
                    <a
                      [href]="contact?.redirect" rel="noopener"
                      target="{{
                        contact?.label === 'Address:'
                          ? '_blank'
                          : '_self'
                      }}"
                      rel="noopener"
                      >{{ contact.data }}</a
                    >
                  </h4>
                </div>
                <!-- <ng-template #other_content>&nbsp;<h4>{{contact.data}}</h4></ng-template><br> -->
              </div>
              <!-- <h4><b>Facility Hours:</b></h4> -->
              <div class="display-contact" *ngFor="let hour of hours">
                <h4 *ngIf="hour.label">
                  <b>{{ hour.label }}</b
                  >&nbsp;
                </h4>
                <h4>{{ hour.data }}</h4>
                
              </div>
            </div>
            <div>
              <app-tables [tBody]="featuresList"></app-tables>
              <a class="btn btn-lg btn-primary" (click)="navigate('/contact-us')" role="button">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-lg-6 py-3">
          <!-- <img src="{{imageBaseUrl}}/inside-self-storage-unit.{{imagetype}}" width="100%" alt="{{aboutUsAlt}}" class="sectionImage"> -->
          <app-photos></app-photos>
        </div>
        <div class="col-lg-6 py-3 text-center">
          <!-- <h1 class="heading pb-4">{{aboutUsHeading}}</h1> -->
          <h3>CLIMATE CONTROLLED INTERIOR UNITS</h3>
          <h3>+</h3>
          <h3>AIR VENTILATED DRIVE-UP UNITS</h3>
          <h3>+</h3>
          <h3>OUTSIDE OPEN UNITS</h3>

          <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="getStarted" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
    <div class="bg-translucent-dark">
      <div class="container">
        <div class="section py-5 m-0">
          <div class="row">
            <div class="col-md-12 py-3">
              <h2 class="heading pb-4">Getting Started</h2>
              <p class="pb-4">{{gettingStarted}}</p>
              <a class="btn btn-lg btn-primary" (click)="navigate('/reserve-unit')" role="button">Reserve Unit Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!--Testimonial-->      
  <div class="bg-light testimonial">    
    <div class="container">     
      <div class="row py-5">    
        <div class="col-md-12 text-center">     
          <h2 class="heading pb-2">Testimonials</h2>      
          <div class="container mt-3">  
            <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">        
              <!-- Slide Indicators -->   
              <ul class="carousel-indicators">  
                <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>   
                <li data-target="#bootstrapCarousel" data-slide-to="1"></li>    
                <li data-target="#bootstrapCarousel" data-slide-to="2"></li>  
                <li data-target="#bootstrapCarousel" data-slide-to="3"></li>    
              </ul>       
              <!-- The slides to show --> 
              <div class="carousel-inner">      
                <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let testimonial of carouselData; index as i">    
                  <p>{{testimonial.p}}</p>  
                  <p>{{testimonial.author}}</p>     
                </div>    
              </div>      
              <!--  Controls (Left and right) --> 
              <a href="…" rel="noopener" class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev"> 
                <span class="carousel-control-prev-icon"></span>  
              </a>        
              <a href="…" rel="noopener" class="carousel-control-next" href="#bootstrapCarousel" data-slide="next"> 
                <span class="carousel-control-next-icon"></span>  
              </a>        
            </div>        
          </div>  
        </div>    
      </div>      
    </div>        
    <!--Testimonial section-->

  </div> 
  <!-- <div class="getStarted"> -->
      <div class="container">
        <div class="py-5 m-0">
          <div class="row">
            <div class="col-md-12 py-3 text-center">
              <h2 class="heading pb-4">Check out Goodlette Self Storages’ unique Collage by Artist,<a href="https://businessconsultinghelp.com/robahs-collage/" target="_blank" rel="noopener"> Robah Valez</a></h2>
              <!-- <p class="pb-4">{{gettingStarted}}</p>
              <a class="btn btn-lg btn-primary" (click)="navigate('/reserve-unit')" role="button">Reserve Unit Now!</a> -->
              <img src="{{imageBaseUrl}}/robahs-collage.{{imagetype}}" width="100%" alt="{{aboutUsAlt}}" class="sectionImage">
              <h2 class="heading pt-4">Midwesterners of the 80’s</h2>
            </div>
          </div>
        </div>
      </div>
  <!-- </div> -->
