
<header>
  <div class="header">
    
    <div class="container">
      <div class="header-upper ">
        <div class="navigation-upper">              
          <div class="navigation-upper-right">
            <a class="logo" >Template Image</a>
            <a class="nav-buttons">Forums</a>
            <a class="nav-buttons">Start Selling </a>
            <a class="nav-buttons">Our Products</a>
            <a class="nav-buttons login">Sign In</a>
          </div> 
          <div class="nav-bottom">
            <a class="nav-but-bottom">Web Themes & Template</a>
            <a class="nav-but-bottom">Code</a>
            <a class="nav-but-bottom">Video</a>
            <a class="nav-but-bottom">Audio</a>
            <a class="nav-but-bottom">Graphics</a>
            <a class="nav-but-bottom">Photos</a>
            <a class="nav-but-bottom">3D Files</a>  
          </div> 
        </div>
      </div>
    </div>
  </div>  
</header>
