<div class="col-md-12 bg-secondary display py-2">
  <div class="container">
    <div class="contact-header">
      <div class="row">
        <div class="col-md-10">
          <span class="contact-details pr-2" *ngFor="let contact of contactDetails">
            <i [class]="contact?.class"></i>{{contact.data}}
          </span>
        </div>
        <div class="col-md-2 ml-auto socialLinks" style="text-align: right">
          <span class="social pl-3" *ngFor="let social of socialLinks">
            <a [href]="social?.path" target="_blank">
              <i id="socialLinks" [class]="social?.class"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <img src="../../assets/images/logo_vss.png" class="logo" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation" style="border-color: #efefef">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fas fa-bars" style="color: #efefef"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>


      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let nav of navLinks">
          <!-- <span *ngIf="nav.type === link"> -->
            <span *ngIf="currentActive === nav?.label">
              <a class="nav-link nav-link-active p-4" (click)="navigate(nav?.path)">{{nav.label}}</a>
            </span>
            <span *ngIf="currentActive !== nav?.label">
              <a class="nav-link p-4" (click)="navigate(nav?.path)">{{nav.label}}</a>
            </span>
          <!-- </span> -->

          <!-- <ng-template #otherContent> -->
              <!-- <span *ngIf="nav.type === dropdown">
              <span class="dropdown" >
                <a class="dropdown-item p-4">{{nav.label}}</a>
                  <li class="dropdown-menu" aria-labelledby="dropdownMenuLink" *ngFor="let sub for nav.socialLinks">
                    <span *ngIf="currentActive === sub?.sub_label">
                      <a class="nav-link nav-link-active" (click)="navigate(sub?.path)">{{sub.sub_label}}</a>
                    </span>
                    <span *ngIf="currentActive !== sub?.sub_label">
                      <a class="nav-link" (click)="navigate(sub?.path)">{{sub.sub_label}}</a>
                    </span>
                  </li>
              </span>
            </span> -->

          <!-- </ng-template> -->




          <!-- <span *ngIf="nav?.type === link"; else otherContent>
            <span *ngIf="currentActive !== nav?.label">
              <a class="nav-link p-4" (click)="navigate(nav?.path)">{{nav.label}}</a>
            </span>
          </span>
          <ng-template #otherContent>
              <span class="dropdown" *ngIf="currentActive !== nav?.label">
                <a class="dropdown-item p-4">{{nav.label}}</a>
                  <li class="dropdown-menu" *ngFor="let sub for nav.socialLinks">
                    <span *ngIf="currentActive !== sub?.sub_label">
                      <a class="nav-link" (click)="navigate(sub?.path)">{{sub.sub_label}}</a>
                    </span>
                  </li>
              </span>
          </ng-template> -->
        </li>
      </ul>



    </div>
  </div>
</nav>
