<div class="rent-holder">
  <div class="container">
    <div class="rent-heading">
      <h1 class="text-center pt-5">Pay your Rent</h1>
      <h5 class="text-center">Pay your rent online 24/7 with our easy tenant portal! Simply follow the instructions on the payment page or call your location for help!</h5>
    </div>
    <div  class="container pt-5">
      <div class="rent-sub-holder">
          <div class="container px-0">
            <table class="col-md-12">
              <thead>
                <tr>
                  <th>Facility</th>
                  <th>Address</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table-data">
                    Fohl Street Storage
                  </td>
                  <td class="table-data">
                    3700 Fohl St, SW Canton, OH 44706
                  </td>
                  <td class="text-right px-3">
                     
                    <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-fohl-street-storage']" role="button">Pay Here</a>           
                  </td>
                </tr>
                <tr>
                    <td class="table-data">
                      Louisville Self Storage
                    </td>
                    <td class="table-data">
                      7100 Columbus Rd NE, Louisville, OH 44641
                    </td>
                    <td class="text-right px-3">
                      <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-louisville-self-storage']"  role="button">Pay Here</a>            
                    </td>
                </tr>
                <tr>
                    <td class="table-data">
                      Lincoln Street Storage
                    </td>
                    <td class="table-data">
                      5136 Lincoln St E, East Canton, OH 44730
                    </td>
                    <td class="text-right px-3">
                      <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-lincoln-street-storage']"  role="button">Pay Here</a>           
                    </td>
                </tr>
              </tbody>
             </table>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- <div class="rent-holder">
  <div class="container">
    <div class="rent-heading">
      <h1 class="text-center pt-5">Pay Rent Online</h1>
      <h2 class="text-center">Select your location to access your account</h2>
    </div>
    <div  class="container pt-5">
      <div class="rent-sub-holder">
          <div class="container px-0">
            <div class="location-selection">
              <app-select-location (click)="receiveMessage()"></app-select-location>
            </div>
            <div class="row">
              <div class="col-md-8 mx-0">
                <span *ngIf="locationId == 1" >
                  <iframe id="advanced_iframe" name="advanced_iframe" src="https://lindenstorage.sim.syrasoft.com/PayNow" width="100%"
                  height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true" ></iframe>
                </span>
                <span *ngIf="locationId == 2">
                  <iframe id="advanced_iframe" name="advanced_iframe" src="https://macedonstorage.sim.syrasoft.com/paynow" width="100%"
                  height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true" ></iframe>  
                </span>
                <span *ngIf="locationId == 3">
                  <iframe id="advanced_iframe" name="advanced_iframe" src="https://br-fohl-st.sim.syrasoft.com/PayRent" width="100%"
                  height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true" ></iframe>  
                </span>
              </div>
        
              <div class="col-md-4 rent-example" >
                 <h2> How to Login </h2>
                 <p class="pt-3"> <b>Username:</b>First Initial + Last Name </p>
                 <p> <b>Password:</b>  Unit Number </p>
            
                 <p class="py-3"> <b>Example</b> </p>
                 <p class="pb-3">John Smith's unit number is 1234 </p>
            
                 <p> <b>John's Username:</b> jsmith </p>
                 <p class="pb-3"> <b>John's Password:</b> 1234 </p>
            
                 <p> <b>Have question about your account?</b> </p>
                <span *ngFor="let contact of contact"><span class="contact-data" *ngIf="contact?.id == 2|| contact?.id == 3"><a [href]="contact?.redirect">{{contact.data}}</a></span><br></span>

              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div> -->
