@import "../../../styles.scss";

.display-none {
  display: none;
}

.vertical-line {
  border-left: 1px solid darkgray;
  position: right;
  padding: 0 0 0 48px;
}

.contentHolder {
  // margin-top: 100px;
  h1 {
    margin-block-end: 0;
  }
}


.background-padding {
  padding: 64px;
}

.contact-links {
  a {
    color: #212529;
  }
}

@media only screen and (max-width: 1199px) {
  .vertical-line {
    padding: 24px;
    border: none;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .vertical-line {
    padding: 24px;
    border: none;
  }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
  .vertical-line {
    padding: 24px;
  }

  .small-screen-padding {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .background-padding {
    padding: 24px 0;
  }

  .vertical-line {
    border: none;
    padding: 24px;
  }
}
