<div class="footer-padding">
    <div class="row" style="color:#707070">
        <div class="footer bg-secondary sticky col-md-2 "> © 2018 Fairground Storage, Inc, partners and affiliates</div>|
        <div class="footer bg-secondary sticky col-md-2 "> Terms of Services and Privacy Policy</div>|
        <div class="footer bg-secondary sticky col-md-2 "> All sizes are approximate</div>|
        <div class="footer bg-secondary sticky col-md-2 "> *Some restriction may apply</div>
    
          <img 
          src="../../assets/images/Syrasoft-Connect-Logo.png" alt=""/>
   
</div>   
</div>