<div class="footer bg-secondary py-4">
  <div class="container"> 
    <div class="row">
       <div class="col-6 my-auto footer-text-align">
          &copy; 2019 Sto and Go
        </div>
        <div class="col-6"> 
            <a class="syrasoft-logo-align" target="_blank" href="https://www.syrasoft.com/"  rel="nofollow"> <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredDark.svg" alt="" height="50px" width="124px"> </a> 
        </div>
    </div>
   </div> 
 </div>