@import "../../styles.scss";

.card {
  border: none;
  border-radius: 0;
}

.card-header {
  cursor: pointer;
  padding: 0;
  background-color: $border;
  color: #f1f0ed;
  border-radius: 0;
}

.card-body {
  padding: 20px 20px 20px 45px;
  font-size: 0.9em;
  font-weight: 600;
  color: $white;
  background-color: #858585;
  margin: auto;
}

.card-header-before-collapse::after {
  font-family: (FontAwesome);
  content: "\f106";
  float: right;
}

.collapsed::after {
  content: "\f107";
}

