@import '../../styles.scss';

.containHolder {
  min-height: 93vh;
  // padding-top: 120px;

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .btn {
    width: inherit;
  }

  a {
    color: black;
  }
}
