
<div class="containHolder mb-5 ">
  <div class="container text-center bg-dark p-5">
    <h3 class="pb-3">We've Made Some Changes!</h3>
    <p>Pittsburgh Area Storage Centers now offers 2 websites to cater to the specific needs of our 2 locations.</p>
    <p>Please update your bookmarks accordingly.</p>
    <div class="">
      <div class="row">
        <div class="col-md-6 p-4">
          <h2>Movin'On Storage</h2>
          <img class="p-1 m-1" src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Movein_On_Storage/jpg/movin-on-storage-center-exterior.jpg"
          alt="exterior of a multi-story brick building with the words Storage Center printed on a sign at the top of the building" width="100%" />
          <a class="btn btn-primary" href="https://www.movinonstorage.com/" width="100%" target="_blank">
            Movin'On Storage
          </a>
          <div>
            <div><strong>Address: </strong>  200 Piedmont Road, Charleston, WV 25301</div>
            <div><strong>Phone: </strong><a href="tel:(304) 344-1104">(304) 344-1104</a></div>
            <div><strong>Email: </strong><a href="mailto:movinonstoragecenter@gmail.com">movinonstoragecenter@gmail.com</a></div>
          </div>
        </div>
        <div class="col-md-6 p-4 border-left border-dark">
          <h2>Natrona Heights Self Storage</h2>
          <img  class="p-1 m-1" src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Pittsburgh_Images/natrona-heights/natrona-heights-front-office.jpg" 
          alt="single story block building that is the front office for Natrona Heights Self Storage" width="100%"  />
          <a class="btn btn-primary" href="https://www.natronaheightsselfstorage.com" width="100%" target="_blank">
            Natrona Heights Self Storage
          </a>
          <div>
            <div><strong>Address: </strong> 896 Veterans Lane, Natrona Heights, PA 15065</div>
            <div><strong>Phone: </strong><a href="tel:7242950411">(724) 295-0411</a></div>
            <div><strong>Email: </strong><a href="mailto:natronaheightsselfstorage@gmail.com">natronaheightsselfstorage@gmail.com</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>