@import '../../styles.scss';

.containHolder {
  min-height: 93vh;
  // padding-top: 120px;

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .btn {
    width: inherit;
  }

  a {
    color: black;
  }
}

.natrona-border {
  border-left: 1px solid #343a40;
}

@media only screen and (max-width: 767px) {
  .natrona-border {
    border: none;
  }
}