@import "../../styles.scss";

a {
  cursor: pointer;
}

.iconColor {
  color: $primary;
}

.link-padding {
  padding-left: 16px;
  padding-right: 16px;
}

.contact-header {
  display: inline;

  .contact-details {
    color: $white;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }
}
b{
  color:white;

}

.navbar {
  .nav-link {
    color: $white;
    font-weight: 600;
  }

  .nav-link:hover {
    color: $primary;
  }

  .nav-link-active {
    color: $primary;
    border-bottom: 2px solid $primary;
    // font: bold;
  }

  button {
    color: $white;
    border-color: $white;
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.navbar-brand {
  padding-top: 20px;
  font-size: 2.35rem;
}

.bg-gradient {
  /* stylelint-disable-next-line max-line-length */
  background: linear-gradient(to bottom, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 20%, rgba(33, 33, 33, 0.9) 40%, rgba(33, 33, 33, 0.82) 50%, rgba(33, 33, 33, 0.75) 64%, rgba(33, 33, 33, 0) 100%);
}

.display {
  display: block;
}


@media screen and (max-width: 1200px) {
  a {
    font-size: 0.9em;
  }
  // .navbar-brand{
  //   font-size: 1.35rem;
  // }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {

.link-padding {
  padding-left: 6px;
  padding-right: 6px;
}
}

@media screen and (max-width: 991px) {
  .display {
    display: none;
  }

  .nav-link {
    text-align: center;
  }

  .bg-gradient {
    background: rgba(0, 0, 0, 0.85);
  }

  .navbar-brand {
    padding: 0;
  }

  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
}


@media only screen and (max-height: 500px) and (max-width: 991px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}
