<div class="container">
  <h1 class="text-center py-2">Winnebago Outlook 22C</h1>
  <div class="row">
      <div class="col-md-6 py-2 prime" >
        <div  *ngFor="let leftColumn of winnebagoLeftColumn"> 
        <b>{{leftColumn.p}}</b>
        </div>
      </div>
      <div class="col-md-6 py-2 prime" >
        <div  *ngFor="let rightColumn of winnebagoRightColumn"> 
            {{rightColumn.p}}
        </div>
      </div>
  </div>
  <div class="pay-rent-holder mb-5">
    <div class="row ">
        <div class="col-lg-4 col-md-6 my-2" *ngFor= "let image of winnebagoImages">
            <img src="{{image.url}}" width="100%"  alt={{image.alt}}  class="f-img">
        </div> 
    </div>
  </div>
</div>