<!-- <app-script-hack type="application/ld+json">
  {{ script | json }}
</app-script-hack> -->
<div class="contentHolder">
  <div class="container">
      <div class="heading pb-5">
        <h1 class="text-center pt-5">Contact Us</h1>
      </div>
      <div class="contact-data p-5">
        <!-- <div class="location-selection">
          <app-select-location (click)="receiveMessage()"></app-select-location>
        </div> -->
        <div class="row">
          <div class="col-md-8">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div [hidden]="" *ngIf="submitted && !this.contactForm.valid" class="alert alert-danger alert-dismissible fade show">
                    Please fill out all the required fields!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div [hidden]="" *ngIf="mailSent" class="alert alert-success alert-dismissible fade show">
                   Thank You for contacting us, we will get back to you soon.
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                 </div>
                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name*</label>
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter Name"/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                               <small class="form-text text-muted" *ngIf="f.name.errors.required">Please fill out this field</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Number*</label>
                            <input type="tel" formControlName="phone" placeholder="Enter Phone Number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.phone.errors.required">Please fill out this field</small>
                            </div>
                            <div *ngIf="f.phone.errors" >
                              <small class="form-text text-muted" *ngIf="f.phone.errors.pattern">Please enter valid number</small>
                            </div>
                        </div>
                    </div>
                 </div>

                 <div class="row py-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email Address*</label>
                            <input type="text" formControlName="email" placeholder="Enter Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.email.errors.required">Please fill out this field</small>                                  
                            </div>
                            <div *ngIf="f.email.errors" >
                                <small class="form-text text-muted" *ngIf="f.email.errors.email">Please enter a valid email</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label>Subject</label>
                          <input type="text" formControlName="subject" placeholder="Enter Subject" class="form-control" />
                      </div>
                  </div>
                   </div>

                   <div class="form-group">
                      <label>Message*</label>
                      <textarea type="text" formControlName="message" placeholder="Enter Message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" ></textarea>
                      <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                          <small class="form-text text-muted" *ngIf="f.message.errors.required">Please fill out this field</small>
                      </div>
                  </div>

                   <button type="submit" class="btn btn-primary px-4">Submit</button>
                   <button type="button" class="btn btn-outline-primary px-4" (click)="contactForm.reset()">Clear</button>

            </form>
          </div>
          
          <div class="col-md-4"> 
              <div class="for-mall">
                <div class="map-responsive">
                  <span *ngIf="locationId == 1">
                    <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2865.336849082259!2d-103.258437!3d44.097041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x877d5c991e931dab%3A0xa8fd8ff6d10ecdca!2s1314%20Fountain%20Plaza%20Dr%2C%20Rapid%20City%2C%20SD%2057702%2C%20USA!5e0!3m2!1sen!2sin!4v1654752268463!5m2!1sen!2sin" width="100%" height="220" frameborder="0" allowfullscreen></iframe>
                  </span>
                  <span *ngIf="locationId == 2">
                  <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2868.257071089325!2d-103.18602868517263!3d44.0367448355634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x877d42703db50985%3A0x7eb7d4a2398d6e34!2s1824%20Marlin%20Dr%2C%20Rapid%20City%2C%20SD%2057701%2C%20USA!5e0!3m2!1sen!2sin!4v1654151408323!5m2!1sen!2sin" width="100%" height="230" frameborder="0" allowfullscreen></iframe>
                  </span>
                  <span *ngIf="locationId == 3">
                    <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11642.278493425898!2d-76.334158!3d43.155566!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa6050b46d0319b1d!2sSyrasoft%20Self%20Storage%20Software!5e0!3m2!1sen!2sus!4v1632153735978!5m2!1sen!2sus" width="100%" height="220" frameborder="0" allowfullscreen></iframe>
                  </span>
                  <span *ngIf="locationId == 4">
                    <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11642.278493425898!2d-76.334158!3d43.155566!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa6050b46d0319b1d!2sSyrasoft%20Self%20Storage%20Software!5e0!3m2!1sen!2sus!4v1632153735978!5m2!1sen!2sus" width="100%" height="220" frameborder="0" allowfullscreen></iframe>
                  </span> 
                  <span *ngIf="locationId == 5">
                    <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11642.278493425898!2d-76.334158!3d43.155566!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa6050b46d0319b1d!2sSyrasoft%20Self%20Storage%20Software!5e0!3m2!1sen!2sus!4v1632153735978!5m2!1sen!2sus" width="100%" height="220" frameborder="0" allowfullscreen></iframe>
                  </span> 
                  <span *ngIf="locationId == 6">
                    <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11642.278493425898!2d-76.334158!3d43.155566!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa6050b46d0319b1d!2sSyrasoft%20Self%20Storage%20Software!5e0!3m2!1sen!2sus!4v1632153735978!5m2!1sen!2sus" width="100%" height="220" frameborder="0" allowfullscreen></iframe>
                  </span> 
                </div>
                <h5 class="pt-3"> {{heading}} </h5>
                <div class="py-2">
                  <span class="contact-links" *ngFor="let contact of contactDetails">
                    <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.label=== 'Email: ' || contact?.label === 'Phone: ' else other_content">
                      <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                    <ng-template #other_content >&nbsp;<a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;{{contact.data}}</a></ng-template><br>
                  </span>
                </div>
                <div class="py-2">
                  <span *ngFor="let hour of hoursDetails">
                    <b>{{hour.label}}</b><span *ngIf="hour?.id === 1 else other_content ">&nbsp;{{hour.data}}</span>
                    <ng-template #other_content>&nbsp;{{hour.data}}</ng-template><br>
                  </span>             
                </div>
              </div>
          </div>
      </div>
  </div>



  </div>
</div>

