@import "../../styles.scss";

.unit-sizer-holder {
  padding-top: 100px;
  min-height: 89vh;
  margin-bottom: 50px;
  text-align: justify;

  .unit-sizer-container {
    padding: 64px;
    background-color: $light;
    margin-bottom: 50px;

    .single-block {
      background-color: $white;
      border: 1px solid $border;
    }
  }
}

.single-block-inner {
  padding-top: 20px;
}

.unit-sizer-content {
  ul {
    display: inline-table;
    padding-left: 10px;
  }
}

.contact-button {
  position: fixed;
  right: 0;
  top: 12%;
  z-index: 16;
}


@media only screen and (max-width: 600px) {
  .unit-sizer-holder {
    padding-top: 60px;

    .unit-sizer-container {
      padding: 16px;
    }

    .single-block-inner {
      padding-top: 20px;
    }

    .padding-left {
      padding-left: 30px;
    }
  }
  // Sticky Buttons
  .contact-button {
    position: fixed;
    right: 0;
    top: 15%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 16;
  }
}
