@import '../../styles.scss';
@import '../../general.scss';

.contact-top {
    background: url(../../assets/images/contact-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    height: 60vh;
}

label {
    font-size: .824rem;
}

.locate-us-style {
    table{
      tr {
        td {
          padding: 2px 15px 2px 0px;
          a {
              color: $white;
          }
        }
      }
    }
  }

input {
    background-color: $dark-background ;
    border: 1px solid $primary !important;
    color: $white !important;
}
input:focus {
    background-color: $dark-background ;
    border: 1px solid $primary !important;
}
textarea:focus {
    background-color: $dark-background ;
    border: 1px solid $primary !important;
}

textarea {
    background-color: $dark-background ;
    border: 1px solid $primary !important;
    color: $white !important;
    height: 200px;
}

input::placeholder {
    color: #c7c7c7;
    font-size: 0.875rem;
}

textarea::placeholder {
    color: #c7c7c7;
    font-size: 0.875rem;
}

.form-control:focus {
    box-shadow: none !important;
}

.content-Holder {
    color: $fontColor;
    h2 {
        //margin-block-end: 16px!important;
        color: $white;
        border-bottom: 1px solid $primary;
        margin: auto;
        font-size: 2.25rem !important;
        width:370px;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .button-contact-us {
        .btn-primary {
            min-width: auto;
        }
        .btn-outline-primary {
            min-width: auto;
        }
    }
}

@media only screen and (max-width: 437px) {
    .button-contact-us {
        .btn-primary {
            min-width: auto;
        }
        .btn-outline-primary {
            min-width: auto;
        }
    }
}

@media only screen and (max-width: 600px) {
    .contact-top {
        height: 40vh;
    }
}