@import "../../styles.scss";

.contact-top {
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Fortress_Images/backImg/contact-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 60vh;

  .jumbotorn-top {
    padding: 0% 8%;
  }
}

.contact-bottom {
  padding: 48px 0;
}

.bg-translucent {
  height: 60vh;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

label {
  font-size: 0.824rem;
}

.locate-us-style {
  td {
    padding: 2px 15px 2px 0;

    a {
      color: $white;
    }
  }
}

input {
  background-color: $dark-background;
  border: 1px solid $primary;
  color: $white;
}

input:focus {
  background-color: $dark-background;
  border: 1px solid $primary;
  color: $white;
}

textarea {
  background-color: $dark-background;
  border: 1px solid $primary;
  color: $white;
  height: 200px;
}

textarea:focus {
  background-color: $dark-background;
  border: 1px solid $primary;
  color: $white;
}

input::placeholder {
  color: #c7c7c7;
  font-size: 0.875rem;
}

textarea::placeholder {
  color: #c7c7c7;
  font-size: 0.875rem;
}

.form-control:focus {
  box-shadow: none;
}

.form-group {
  button {
    float: right;
  }
}

.content-Holder {
  color: $fontColor;

  h2 {
    color: $white;
    border-bottom: 1px solid $primary;
    margin: auto;
    font-size: 1.7rem;
    text-align: center;
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (max-height: 767px) {
  .jumbotorn-top {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .content-Holder {
    h2 {
      display: block;
    }
  }

  .jumbotorn-top {
    display: none;
  }

  .p-sec-block {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .contact-top {
    height: 40vh;
  }

  .contact-bottom {
    padding: 16px 0;
  }
}

@media only screen and (max-width: 345px) {
  .btn-outline-primary {
    margin-top: 10px;
  }
}
