@import '../../styles.scss';
 
.jumbotron{
  // text-align: right !important;
  background: url(../../assets/images/catskill-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  //background-attachment: fixed;
  background-position: center;
  padding: 0px;
  height: 80vh;
  color: $white;
   //padding-top: 70vh;
   overflow: hidden;
   border-radius: 0px;
   a{
     margin-top: 20px;
   }
   position: relative;
 }
 
 .content-align{
   text-align: right;
 }
 
 .getStarted{
   //background: url(../../assets/images/self-storage-photo.png);
   //background-repeat: no-repeat;
   //background-size: cover;
   //background-attachment: fixed;
   //background-position: center top !important;
   //background: $dark;
   color: $secondary;
   text-align: center;
 }
 
 .disp {
   //display: block;
   //text-align: right;
   text-align: left;
   color: $white;
   a{
     color: $white;
   }
 }
 
 .jumbotron-top {
   height: 80vh;
 }
 
 .jumbotron-bottom {
   height: 20vh;
 }
 
 // .skew-style{
 //   width: 35%;
 //   float: right;
 //   right: -120px;
 //   position: relative;
 //   transform: skew(-15deg);
 //   height: 68vh;
 //   margin-top: 53px;
 // }
 
 // .skew-text {
 //   transform: skew(15deg);
 //   width: 68%;
 //   position: absolute;
 //   top: 175px;
 //   right: 155px;
 // }
 
 .jumbotorn-skew-style{
   width: 60%;
   float: left;
   left: -25%;
   position: relative;
   transform: skew(15deg);
   height: 100%;
 }
 
 .jumbotorn-skew-text {
   transform: skew(-15deg);
   width: 45%;
   position: relative;
   top: 25%;
   float: right;
   right: 8%;
   p {
     text-align: justify;
   }
   .btn-primary {
    margin-right: 10px;
  }
 }
 
@media only screen and (max-width: 2599px) and (min-width: 2300px) {
  .display {
    display: flex;
    padding-left: 0px;
  }
  .jumbotorn-skew-style {
    width: 45%;
  }
  .jumbotorn-skew-text {
    width: 35%;
    top:35%;
  }
} 
@media only screen and (max-width: 2299px) and (min-width: 1900px) {
  .jumbotorn-skew-style {
    width: 50%
  }
  .jumbotorn-skew-text {
    width: 35%;
    top: 35%;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1899px) and (min-width: 1600px) {
  .jumbotorn-skew-style {
    width: 55%;
  }
  .jumbotorn-skew-text {
    width: 40%;
    top: 35%;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1599px) and (min-width: 1400px) {
  .jumbotorn-skew-style {
    width: 55%;
  }
  .jumbotorn-skew-text {
    width: 45%;
    top: 35%;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 1599px) and (min-width: 1400px) and (max-height: 767px) and (min-height: 540px) {
  .jumbotron {
    height: 100vh;
  }
  .jumbotron-top {
    height: 100vh;
  }
  .jumbotron-bottom {
    height: 170px;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
  .jumbotorn-skew-text {
    right: 8%;
    top: 30%
  }
}
 

@media only screen and (max-width: 1599px) and (min-width: 1400px) and (max-height: 540px){
  .jumbotron {
    height: 100vh;
  }
  .jumbotron-top {
    height: 100vh;
  }
  .jumbotron-bottom {
    height: 170px;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
  .jumbotorn-skew-style {
    width: 70%;
  }
  .jumbotorn-skew-text {
    right: 8%;
    top: 45%;
    h1 {
      font-size: 2rem!important;
    } 
    p{
      display: none;
    }
    .btn-primary {
      min-width: 150px;
      font-size: 1em;
    }
    .btn-outline-primary {
      min-width: 150px;
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 1399px) and (min-width: 1280px) {                             //desktop 
  .jumbotorn-skew-style {
    width: 60%;
  }
  .jumbotorn-skew-text {
    width: 50%;
    top: 40%;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
}


@media only screen and (max-width: 1399px) and (min-width: 1280px) and (max-height: 767px) and (min-height: 540px){
  .jumbotron {
    height: 100vh;
  }
  .jumbotron-top {
    height: 100vh;
  }
  .jumbotron-bottom {
    height: 170px;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
  .jumbotorn-skew-style {
    width: 70%;
  }
  .jumbotorn-skew-text {
    right: 8%;
    top: 30%
  }
}
@media only screen and (max-width: 1399px) and (min-width: 1280px) and (max-height: 540px){
  .jumbotron {
    height: 100vh;
  }
  .jumbotron-top {
    height: 100vh;
  }
  .jumbotron-bottom {
    height: 170px;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
  .jumbotorn-skew-style {
    width: 70%;
  }
  .jumbotorn-skew-text {
    right: 8%;
    top: 45%;
    h1 {
      font-size: 2rem!important;
    } 
    p{
      display: none;
    }
    .btn-primary {
      min-width: 150px;
      font-size: 1em;
    }
    .btn-outline-primary {
      min-width: 150px;
      font-size: 1em;
    }
  }
}
 

@media only screen and (max-width: 1279px) and (min-width: 1025px) {    //laptop
  .display {
    display: flex;
    padding-left: 0px;
  }

  .jumbotorn-skew-style {
    width: 70%
  }

  .jumbotorn-skew-text {
    right: 10%
  }
}

@media only screen and (max-width: 1279px) and (min-width: 1025px) and (max-height: 768px) and (min-height: 540px){
  .jumbotron {
    height: 100vh;
  }
  .jumbotron-top {
    height: 100vh;
  }
  .jumbotron-bottom {
    height: 170px;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
  .jumbotorn-skew-style {
    width: 70%;
  }
  .jumbotorn-skew-text {
    right: 8%;
    top: 30%
  }
}
@media only screen and (max-width: 1279px) and (min-width: 1025px) and (max-height: 540px){
  .jumbotron {
    height: 100vh;
  }
  .jumbotron-top {
    height: 100vh;
  }
  .jumbotron-bottom {
    height: 170px;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
  .jumbotorn-skew-style {
    width: 70%;
  }
  .jumbotorn-skew-text {
    right: 8%;
    top: 45%;
    h1 {
      font-size: 2rem!important;
    } 
    p{
      display: none;
    }
    .btn-primary {
      min-width: 150px;
      font-size: 1em;
    }
    .btn-outline-primary {
      min-width: 150px;
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 992px) {
  .jumbotorn-skew-style {
    width: 70%;
  }
  .jumbotorn-skew-text {
    width: 50%;
    right: 8%;
    top: 30%
  }
  .display {  
    display: flex;
    padding-left: 0px;
  }
}
 
@media only screen and (max-width: 1024px) and (min-width: 992px) and (max-height: 768px) and (min-height: 540px){
  .jumbotron {
    height: 100vh;
  }
  .jumbotron-top {
    height: 100vh;
  }
  .jumbotron-bottom {
    height: 170px;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
  .jumbotorn-skew-style {
    width: 70%;
  }
  .jumbotorn-skew-text {
    width: 50%;
    right: 8%;
    top: 30%
  }
}
@media only screen and (max-width: 1024px) and (min-width: 992px) and (max-height: 540px){
  .jumbotron {
    height: 100vh;
  }
  .jumbotron-top {
    height: 100vh;
  }
  .jumbotron-bottom {
    height: 170px;
  }
  .display {
    display: flex;
    padding-left: 0px;
  }
  .jumbotorn-skew-style {
    width: 70%;
  }
  .jumbotorn-skew-text {
    width: 50%;
    right: 8%;
    top: 45%;
    h1 {
      font-size: 2rem!important;
    } 
    p{
      display: none;
    }
    .btn-primary {
      min-width: 150px;
      font-size: 1em;
    }
    .btn-outline-primary {
      min-width: 150px;
      font-size: 1em;
    }
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) and (min-height: 701px) {               //tablet
  .display {
    display: flex;
    padding-left: 0px;
  }
  .jumbotron {
    height: 100vh;
  }
  .jumbotron-top {
    height: 100vh;
  }
  .jumbotron-bottom {
    height: 180px;
  }

  .jumbotorn-skew-style {
    width: 80%;
  }
  .jumbotorn-skew-text {
    width: 55%;
    right: 10%;
    top: 40%; 
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 700px) {
  .jumbotron{
    text-align: center !important;
    background-attachment: unset !important;
    background-position: center left !important;
    height: 100vh!important;
  }

  .jumbotron-bottom {
    height: 170;
  }
  .feature {
    display:none;
  }
 
   .disp {
     display: none;
   }
 
   .button-width{
     width: 200px;
     margin: auto;
   }
  .row {
    flex-wrap: wrap;
   }
   .jumbotorn-skew-style{
    width:100%;
    float: none!important;  
    left: 0px;
    position: absolute;
    bottom: 0px;
    transform: skew(0deg);
    height: 90px;
  }
  
  .jumbotorn-skew-text {
    transform: skew(0deg);
    width: 100%;  
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto;
    .col-md-6 {
      max-width: 100%;
    }
  }
}
 
 @media only screen and (max-width: 767px) and (min-width: 481px) {                             //fablet
  .jumbotron{
    text-align: center !important;
    background-attachment: unset !important;
    background-position: center left !important;
    height: 100vh!important;
  }
   .feature {
     display: none;
   }
 
   .disp {
     display: none;
   }
 
   .button-width{
     width: 200px;
     margin: auto;
   }
  .row {
    flex-wrap: wrap;
   }
   .jumbotorn-skew-style{
    width:100%;
    float: none!important;  
    left: 0px;
    position: absolute;
    bottom: 0px;
    transform: skew(0deg);
    height: 90px;
  }
  
  .jumbotorn-skew-text {
    transform: skew(0deg);
    width: 100%;  
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto;
  }
 }
  

 @media only screen and (max-width: 480px) {                             //mobile
  .jumbotron{
    text-align: center !important;
    background-attachment: unset !important;
    background-position: center left !important;
    height: 100vh!important;
    h1 {
      font-size: 2em !important;
    }
  }


  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width{
    max-width: 200px;
    margin: auto;
  }


  .jumbotorn-skew-style{
    width:100%;
    float: none!important;  
    left: 0px;
    position: absolute;
    bottom: 0px;
    transform: skew(0deg);
    height: 160px;
  }
  
  .jumbotorn-skew-text {
    transform: skew(0deg);
    width: 100%;  
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto;
    .btn-primary {
     margin-right: 0px;
   }
  }
  .display {
    padding-left: 50px;
    padding-right: 50px;
  }
}