@import '../../styles.scss';

.jumbotron{
  // text-align: right !important;
  background: url(../../assets/images/catskill-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  //background-attachment: fixed;
  background-position: center;

  height: 80vh;
  color: $white;
  //padding-top: 70vh;
  overflow: hidden;
  border-radius: 0px;
  a{
    margin-top: 20px;
  }
  position: relative;
}

.content-align{
  text-align: right;
}

.getStarted{
  //background: url(../../assets/images/self-storage-photo.png);
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-attachment: fixed;
  //background-position: center top !important;
  //background: $dark;
  color: $secondary;
  text-align: center;
}

.disp {
  //display: block;
  //text-align: right;
  text-align: left;
  color: $white;
  a{
    color: $white;
  }
}

.jumbotron-top {
  height: 80vh;
}

.jumbotron-bottom {
  height: 20vh;
}

// .skew-style{
//   width: 35%;
//   float: right;
//   right: -120px;
//   position: relative;
//   transform: skew(-15deg);
//   height: 68vh;
//   margin-top: 53px;
// }

// .skew-text {
//   transform: skew(15deg);
//   width: 68%;
//   position: absolute;
//   top: 175px;
//   right: 155px;
// }

.jumbotorn-skew-style{
  width: 50%;
  float: left;
  left: -25%;
  position: relative;
  transform: skew(15deg);
  height: 80vh;
}

.jumbotorn-skew-text {
  transform: skew(-15deg);
  width: 45%;
  position: relative;
  top: 25%;
  //left: 25%;
  float: right;
  right: 2%;
}

.display {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
}

@media only screen and (min-width: 1280px) {                             //desktop 
  .jumbotron{
    //padding-top: 64vh;
    background-attachment: unset !important;
    background-position: center top !important;
    h1 {
      font-size: 2.5em !important;
    }
  }

  .content-align{
    text-align: right;
  }

  .getStarted{
    background-attachment: unset !important;
    background-position: center top !important;
  }
  
  .jumbotorn-skew-style {
    left: -20%;
    width: 55%
  }

  .jumbotorn-skew-text {
    width: 60%;
  }
}

@media only screen and (max-width: 1275px) and (min-width: 1023px) {    //laptop
  .jumbotron{
    //padding-top: 64vh;
    background-attachment: unset !important;
    background-position: center top !important;
    h1 {
      font-size: 2.5em !important;
    }
  }

  .content-align{
    text-align: right;
  }

  .getStarted{
    background-attachment: unset !important;
    background-position: center top !important;
  }
  
  .jumbotorn-skew-text{
    right: 10%;
    width: 50%;
  }

  .jumbotorn-skew-style {
    left: -15%
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {               //tablet
  .jumbotron{
    //padding-top: 50vh;
    // text-align: center !important;
    background-attachment: unset !important;
    background-position: center top !important;
    //height: 100vh!important;
    h1 {
      font-size: 3em !important;
    }
  }

  .content-align{
    text-align: right;
  }

  .getStarted{
    background-attachment: unset !important;
    background-position: center top !important;
  }
  .jumbotorn-skew-style {
    left: -15% !important;
    h1 {
      font-size: 2em !important;
    }
  }
  .jumbotorn-skew-text {
    right: 5%;
    width: 60%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 481px) {                             //fablet
  .jumbotron{
    padding-top: 100%;
    text-align: center !important;
    background-attachment: unset !important;
    background-position: center left !important;
    height: 100vh!important;
    h1 {
      font-size: 2em !important;
    }
  }

  .content-align{
    text-align: center;
  }

  .getStarted{
    background-attachment: unset !important;
    background-position: center top !important;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width{
    width: 200px;
    margin: auto;
  }
}


@media only screen and (max-width: 480px) {                             //mobile
  .jumbotron{
    padding-top: 100%;
    text-align: center !important;
    background-attachment: unset !important;
    background-position: center left !important;
    height: 100vh!important;
    h1 {
      font-size: 2em !important;
    }
  }

  .content-align{
    text-align: center;
  }

  .getStarted{
    background-attachment: unset !important;
    background-position: center top !important;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width{
    max-width: 200px;
    margin: auto;
  }


  .jumbotorn-skew-style{
    width:100%;
    float: none!important;  
    left: 0px;
    position: absolute;
    bottom: 0px;
    transform: skew(0deg);
    height: 160px;
  }
  
  .jumbotorn-skew-text {
    transform: skew(0deg);
    width: auto;  
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto;
  }
}
