<div class="jumbotron-home">
  <!-- <div class="for-desktop-view">
    <div class="jumbotron-desktop">
      <img src="" width="100%" height="100%" alt="">
    </div>
  </div> -->
  <div>
  <video class="video text-center"  preload="auto" playsinline autoplay muted loop>
      <source src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Inez_Storage/inez-jumbotron.mp4" type="video/mp4">
    </video>
    </div>
    </div>
    
  
    

    
  <!-- <div class="for-mobile-view"> -->
    <!-- <div id="carouselJumbo" class="carousel slide  jumbotron-top-style" data-ride="carousel"> -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
        <li data-target="#carouselJumbo" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="jumbotron-top jumbotron-top-style">
            <div class="carousel-caption">
              <img src="" alt="">
            </div>
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="jumbotron-top2 jumbotron-top-style">
            <div class="carousel-caption">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div> -->
     
    <!-- </div> -->
  <!-- </div> -->
    
  <!--Feature Box-->
  <div class="feature-home">
    <div class="container feature-block disp">
      <div class="row h-100">
        <div class="col-3 my-auto" *ngFor= "let feature of features">
          <p class="text-center f-block-img"> 
            <img src="{{feature.data}}" class="f-img">
          </p>
          <p class="text-center f-text">
            {{feature.label}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Feature Box Ends Here-->

<!-- </div> -->

<!--Contact Details-->
<!-- <div class="bg-light for-location"> 
  <div class="locaion-selection">
    <app-select-location (click)="receiveMessage()"></app-select-location>
  </div> 
    <div class="container">
    <div class="row">
      <div class="col-md-5">
        <span *ngIf="locationId == 1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3128.672405502645!2d-81.63062818449204!3d38.35656368624566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8848d334571013f1%3A0xa6e7d1e74704d6f!2sMovin&#39;on+Storage+Center!5e0!3m2!1sen!2sus!4v1547507975675" width="100%" height="100%" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
          </span>
          <span *ngIf="locationId == 3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.9616822568664!2d-79.71200568443953!3d40.65277504917323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834bd311bf9caf3%3A0xb3ba833bf0e8b8f0!2sNatrona+Heights+Self+Storage!5e0!3m2!1sen!2sus!4v1547510624473" width="100%" height="100%" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
          </span>
      </div>
      <div class="col-md-4  pl-4 pt-3">
        <h2>{{heading}}</h2>
        <p> 
          <span *ngFor="let contact of contactDetails">
            <b>{{contact.label}}</b> {{contact.data}}<br>
          </span>
        </p>
        <span *ngIf="locationId == 1" >
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/movin-on-storage/storageUnits']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/movin-on-storage/reserveUnit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>                        
        </span>
        
        <span *ngIf="locationId == 3" >
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/natrona-heights-self/storageUnits']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/natrona-heights-self/reserveUnit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>
        </span>
      </div>
      <div class="col-md-3 contact-hours pt-3">
          <h2>Hours:</h2>
          <p>
            <span class="hourdata" *ngFor="let hour of hoursDetails">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>  
</div> -->
<div class="pb-5 pt-5 bg-light">  
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13971.760848095062!2d-96.7997898!3d28.9001247!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe1f0080c610f9464!2sInez%20Storage!5e0!3m2!1sen!2sus!4v1574204000669!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-4  pl-4 pt-3">
        <h2>Inez Storage</h2>
        <p> 
          <span *ngFor="let contact of contactsLocation1">
            <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
            <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
          </span>
        </p>
        <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/inez-storage/storageUnits']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
        <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/inez-storage/reserveUnit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>                        
      </div>
      <div class="col-md-3 contact-hours pt-3">
          <h2>Hours:</h2>
          <p>
            <span class="hourdata" *ngFor="let hour of hoursLocation1">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>  
</div>
<div class="pb-5 pt-5 ">  
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3494.0546439054638!2d-96.8647964845672!3d28.86699268018053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8642699707e821d3%3A0x1970a5c29f984eaa!2sBeck%20Road%20Storage!5e0!3m2!1sen!2sus!4v1574379888813!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-4  pl-4 pt-3">
        <h2>Beck Road Self Storage</h2>
        <p> 
          <span *ngFor="let contact of contactsLocation3">
            <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
            <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
          </span>
        </p>
        <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/inezstorage-2/storageUnits']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
        <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/inezstorage-2/reserveUnit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>
      </div>
      <div class="col-md-3 contact-hours pt-3">
          <h2>Hours:</h2>
          <p>
            <span class="hourdata" *ngFor="let hour of hoursLocation3">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>  
</div>
<!--Contact Details Ends Here-->


<!--Service-->
  <div class="service bg-light">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-6 pt-2">
            <h1  class="pb-4">Affordable Self Storage, Boat & Vehicle Parking in Inez, Texas</h1>
            <div *ngFor="let para of serviceOffered">
              <p>{{ para.p }}</p>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <!-- <img src="" alt=""> -->
            <app-aboutus-photos></app-aboutus-photos>
          </div>
        </div>
      </div>
    </div>
<!--Service Ends Here-->
<!--Get Started Secion-->
<div class="getStarted text-center">
    <div class="get-started">
     <div class="container py-5">
       <div class="py-5 m-0">
         <div class="row">
           <div class="col-md-12">
             <p class="pb-2 started">{{gettingStarted}}</p>
             <p class="started">- John 3:16</p>
           </div>
         </div>
       </div>
     </div>      
    </div>
  </div>
<!--Get Started Secion Ends Here-->