<div class="contentHolder">
  <div class="container">
    <h1 class="py-5 text-center">View Our Rates</h1>
    <div class="row bg-light padding">
      <div class="col-md-7 coming p-3 scroll-wrapper" >
        <iframe id="advanced_iframe" name="advanced_iframe" src="https://allspacecocoa.sim.syrasoft.com/home/UnitAvailability" width="100%" 
        height="400" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>
      </div>
      <div class="col-md-5 p-3">
        <img src="../../assets/images/all-space-storage-office.jpg" alt="Photograph of indoor self storage units at All Space Self Storage" class="sectionImage" width="auto"/>
        <div class="mt-4 justify" *ngFor="let data of dataViewRates">
          <p [innerHtml]="data.p"></p>
        </div>
      </div>
    </div>
  </div>
</div>