@import "../../../styles.scss";


.pay-rent-holder {
  background-color: #f1f0ed;
}

a {
  color: black;
}


.coming {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}


@media only screen and (max-width: 600px) {
  .coming {
    font-size: 2rem;
  }
}
