
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand py-2" (click)="navigate('/')">
      <img src="../../assets/Default Logo.svg" width="80px" alt="Affordable Self Storage Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars" style="color: #efefef;"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto nav-scroll">
        <li class="nav-item mx-2" *ngFor="let nav of navLinks">
          <!-- <span *ngIf="nav?.name == 'village' || nav?.name == 'mall'">
              <a class="nav-link text-center" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" (click)="onClick(menu)">{{nav.label}}</a>  
          </span> -->
          <!-- <span *ngIf="nav?.id !== '1' && nav?.id !== '2'">             -->
            <a class="nav-link text-center" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" (click)="onClick(menu)">{{nav.label}}</a>
          <!-- </span> -->
        </li>
      </ul>
    </div>
  </div>
</nav>
