/* You can add global styles to this file, and also import other style files */

//Basic color and font styles
$primary: #3C8FB4;
$primaryDark: #1c566e;

// $primary: #FF9800;
// $primaryDark: #EF6C00;
$secondary: #212121;

$dark: #333333;
$light: #efefef;
$white: #ffffff;

$border: #707070;
$shadow: #000000;

$fontColor: #000000;
// $primaryFont: 'Roboto';
$primaryFont: 'Lato', sans-serif;

* {
    font-family: $primaryFont;
    font-size: 1rem;
}

.justify {
    text-align: justify;
}

// Different Background colors
.bg-secondary {
    background: $secondary !important;
}

.bg-dark {
    background: $dark !important;
}

.bg-light {
    background: $light !important;
}

.bg-white {
    background: $white !important;
}

.bg-translucent{
    background: rgba(255, 255, 255, 0.9);
}


// Content Holder Styles
// .contentHolder {
//     min-height: 94vh;
// }

.btn {
    min-width: 160px;
}

.btn-primary{
    background-color: $primary;
    border-color: $primary; 
    color: $white !important;
    border: 1px solid $primary;
    // min-width: 170px;
}

.btn-primary:hover {
    background-color: $primaryDark;
    border-color: $primaryDark;
}

.btn-outline-primary {
    background-color: transparent;
    border-color: $primary;
    border: 1px solid $primary;
    // min-width: 170px;
    color: $primary !important;
}

.btn-outline-primary:hover {
    background-color: $primaryDark;
    border-color: $primaryDark;
    color: $white !important;
}

.section-headings{
  font-weight: 200;
}

.contact-map{
  width: 100%;
}

.heading {
    font-weight: 400;
}

.sectionImage{
    width: 100%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: 0px;
}


body {
    .sticky-template {
        overflow-y: hidden !important;
    }
}