<div class="footer bg-secondary col-md-12 py-4">   
    <div class="container">
        <div class="row"> 
            <div class="col-6 my-auto text-left privacy-policy"> 
                <a  href="/privacy-policy" > 
                    Privacy Policy
                </a>
                <div class="pt-2">&copy; 2019 RIFLE SELF STORAGE</div>
            </div>
            <div class="col-6 my-auto text-right">
                <a href="https://www.syrasoft.com/" target="_blank" > 
                    <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredLight.svg" alt="" rel="nofollow" width="auto" height="48px" >
                </a>
            </div>            
        </div>    
    </div>
</div>