@import "../../styles.scss";

.storageUnitHolder {
  margin-bottom: 50px;
  padding: 64px;
  // min-height: 90vh;
  background-color: #f1f0ed;
}

.custom-padding {
  padding-left: 16px;
  padding-right: 16px;
}

@media only screen and (max-width: 600px) {
  .storageUnitHolder {
    padding: 16px;
  }
}
