@import "../../styles.scss";

.contentHolder {
  display: flex;
}

.padding-top {
  padding-top: 110px;
}

iframe {
  max-width: 100%;
}

h1 {
  color: $white;
}


.background-padding {
  padding: 64px;
}

@media only screen and (max-width: 600px) {
  .background-padding {
    padding: 24px 0;
  }
}

@media only screen and (max-width: 991px) {
  .padding-top {
    padding-top: 56px;
  }
}