<div class="">
  <div class="jumbotron-container">
    <div class="jumbotron-top">
      <div
        class="jumbotron px-0 m-0"
        [ngClass]="
          imagetype === 'jpg'
            ? 'jumbotron-background-jpg'
            : 'jumbotron-background-webp'
        "
      >
        <div
          class="jumbotorn-skew-style"
          [ngClass]="
            template === 'darkTheme'
              ? 'bg-translucent-dark'
              : 'bg-translucent-light'
          "
        ></div>
        <div class="container">
          <div class="jumbotorn-skew-text">
            <div class="disp" *ngFor="let jumbotron of jumbotron">
              <h2 class="my-4">
                {{ jumbotron.h2 }}
              </h2>
              <p class="text-justify">{{ jumbotron.blurb }}</p>
            </div>
            <div class="jumbotorn-button">
              <a
                class="btn btn-lg btn-outline-primary"
                (click)="navigate('/view-rates')"
                role="button"
                >Rent Now</a
              >
              <a
                class="btn btn-lg btn-primary"
                (click)="navigate('/contact-us')"
                role="button"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron-bottom">
      <div class="container">
        <div class="feature row">
          <div
            class="col-md-3 col-3 feature-icon-style"
            *ngFor="let feature of feature"
          >
            <img [src]="feature?.path" [alt]="feature?.alt" />
            <h2 class="feature-text">{{ feature.label }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light">
    <div class="container py-4">
      <div class="section py-4 m-0">
        <div class="row">
          <div class="col-lg-6 py-3 home-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1528.4350103620961!2d-84.55426524176127!3d39.98900994987719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883f8dbad118fd47%3A0x5cf593155c251ee9!2s108%20S%20Main%20St%2C%20Arcanum%2C%20OH%2045304!5e0!3m2!1sen!2sus!4v1643127133751!5m2!1sen!2sus"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              title='map'
            ></iframe>
          </div>

          <div class="col-lg-6 py-3">
            <div class="mb-4 contact-details">
              <p>
                <span
                  *ngFor="let contact of contactDetails"
                  class="display-contact"
                >
                  <span
                    ><h3>
                      <b>{{ contact.label }}</b>
                    </h3></span
                  ><span
                    class="contact-links"
                    *ngIf="
                      contact?.label === 'Address:' ||
                        contact?.label === 'Email:' ||
                        contact?.label === 'Phone:';
                      else other_content
                    "
                  >
                    <h4>
                      <a
                        [href]="contact?.redirect"
                        target="{{
                          contact?.label === 'Address:' ? '_blank' : '_self'
                        }}"
                        >&nbsp;{{ contact.data }}</a
                      >
                    </h4>
                  </span>
                  <ng-template #other_content
                    >&nbsp;
                    <h4>{{ contact.data }}</h4></ng-template
                  ><br />
                </span>
              </p>
              <h4><b>Facility Hours:</b></h4>
              <p>
                <span class="display-contact" *ngFor="let hour of hours">
                  <h4>
                    <b>{{ hour.label }}</b>
                  </h4>
                  &nbsp;
                  <h4>{{ hour.data }}</h4>
                  <br />
                </span>
              </p>
            </div>
            <div>
              <app-tables [tBody]="featuresList"></app-tables>
              <a
                class="btn btn-lg btn-primary"
                (click)="navigate('/contact-us')"
                role="button"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-lg-6 py-3">
          <!-- <img
            src="{{ imageBaseUrl }}/hokes-store-n-lock.{{ imagetype }}"
            width="100%"
            height="100%"
            alt="{{ aboutUsAlt }}"
            class="sectionImage"
          /> -->
          <app-photos></app-photos>
        </div>
        <div class="col-lg-6 py-3">
          <h1 class="heading pb-4">{{ aboutUsHeading }}</h1>
          <b class="addOnText">{{addOnTextForAboutUs}}</b>
          <p class="justify" *ngFor="let data of aboutUs"> {{ data.p1 }} </p> <h2 *ngFor="let data of aboutUs"> {{data.sh1}} </h2>
          <p class="justify" *ngFor="let data of aboutUs"> {{ data.p2 }} </p> <h2 *ngFor="let data of aboutUs"> {{data.sh2}} </h2>
          <p class="justify" *ngFor="let data of aboutUs"> {{ data.p3 }} </p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="getStarted"
    [ngClass]="
      imagetype === 'jpg'
        ? 'jumbotron-background-jpg'
        : 'jumbotron-background-webp'
    "
  >
    <div class="bg-translucent-dark">
      <div class="container">
        <div class="section py-5 m-0">
          <div class="row">
            <div class="col-md-12 py-3">
              <h2 class="heading pb-4">Getting Started</h2>
              <p class="pb-4">{{ gettingStarted }}</p>
              <a
                class="btn btn-lg btn-primary"
                (click)="navigate('/view-rates')"
                role="button"
                >View Unit Now!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
