@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "../../styles.scss";

a {
  cursor: pointer;
  // color: $white !important;
}

img {
  width: 140px;
}

.contact-header {
  display: inline;

  .contact-details {
    // color: $white;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }
}

.contact-links {
  a {
    color: black;
  }
}

.social {
  a {
    color: $black;
    text-decoration: none;
  }

  i {
    font-size: 1.2rem;
  }
}

.social :hover {
  color: $black;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  .nav-link {
    color: $white;
    font-weight: 600;
    padding: 21px;
  }

  .nav-link:hover {
    color: $white;
  }

  .nav-link-active {
    border-bottom: 5px solid #ffde03;
  }

  button {
    border-color: $white;

    .iconColor {
      color: $white;
    }
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.display {
  display: block;
}



@media screen and (max-width: 1199px) and (min-width: 992px) {
  .navbar {
    .nav-item {
      padding-left: 0.4rem!important;
      padding-right: 0.4rem!important;
    }
    .nav-link {
      padding: 4px;
    }
  }
}

@media screen and (max-width: 991px) {
  .display {
    display: none;
  }

  .nav-link {
    text-align: center;
  }

  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
}

@media only screen and (max-width: 991px) and (max-height: 480px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}
