<div class="col-md-12 display bg-primary   py-2">
  <div class="container">
    <div class="contact-header">
      <div class="row">
        <div class="col-md-12">
          <span class="contact-details pr-4" *ngFor="let contact of contactDetails">
            <i [class]="contact?.class"></i>
            <span class="contact-links" *ngIf="contact?.label === 'Address:' || contact?.label === 'Email:' || contact?.label === 'Phone:' else other_content">
              <a [href]="contact?.redirect" target="{{(contact?.label === 'Address:') ? '_blank' : '_self'}}">&nbsp;{{contact.data}}</a></span>
            <ng-template #other_content>&nbsp;{{contact.data}}</ng-template>
          </span>
        </div>
        <div class=" ml-auto text-right">
          <span class="social pl-2 text-right" *ngFor="let social of socialLinks">
            <a [href]="social?.path" target="_blank" rel="noreferrer">
              <i [class]="social?.class"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-gradient">
  <div class="container navbar-button">
    <a class="navbar-brand" (click)="navigate('/')">
      <!-- <img src="{{imageBaseUrl}}/scotia-self-storage-logo.{{imagetype}}" height="80" width="auto" alt="Logo"> -->
      <b class="logotext">Aallen Self Storage</b>
      <!-- <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Scotia_Images/webp/scotia-self-storage-logo.webp" height="80" width="auto" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto navbar-nav-scroll">
        <li class="nav-item " *ngFor="let nav of navLinks">
          <a class="nav-link py-4" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" 
          [routerLinkActiveOptions]="{exact: true}" (click)="onClick(menu)" *ngIf="nav?.path != '/pay-rent'">{{nav.label}}</a>
          <a class="nav-link py-4" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" 
          [routerLinkActiveOptions]="{exact: false}" (click)="onClick(menu)" *ngIf="nav?.path === '/pay-rent'">{{nav.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>