<div class="footer col-md-12 py-3">
  <div class="container">
    <div class="row">
      <div class="col-4 my-auto copyright-text">&copy; 2019 Storage King</div>
      <div class="col-8 copyright-image">
        <a href="https://www.syrasoft.com/" rel="unfollow" target="_blank" class="px-3 py-2"><img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredDark.svg" height="40px" width="auto" alt=""></a>
        <a> <img src="../../assets/cc-amex.png" class="px-3 py-2" alt="Image accepted credit card logos which include American Express, Mastercard, Visa and Discover"  width="auto" /></a>
        <a href="http://www.exeterarea.org/" rel="unfollow" target="_blank" class="px-3 py-2"><img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Storage_King_Images/exeter-chamber-of-commerce.png" height="40px" width="auto" alt=""></a>
        <a href="https://www.nhssa.net/" rel="unfollow" target="_blank" class="px-3 py-2"><img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Storage_King_Images/logo-nhssa.png" height="40px" width="auto" alt=""></a>

      </div>
    </div>
  </div>
</div>
