<div class="direction-holder">
  <div class="container px-0">
    <div class="row">
      <div class="col-md-6">
        <h2>{{directionHeading}}</h2>
        <div *ngFor="let dir of directionPoints" class="py-0">
          <p class="py-0 mb-0 mt-4"> {{dir.label}} </p> 
          <ul class="py-0 pl-3">
            <li *ngFor="let data of dir?.datas" class="py-0">   {{data.content}}   </li>
          </ul>  
        </div>
      </div>
      
      <div class="col-md-6">
        <span *ngIf="id === 1">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3128.672405502645!2d-81.63062818449204!3d38.35656368624566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8848d334571013f1%3A0xa6e7d1e74704d6f!2sMovin&#39;on+Storage+Center!5e0!3m2!1sen!2sus!4v1547507975675" width="100%" height="400px" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
          <a class="btn btn-primary py-2 w-100 mt-3 ml-0" target="_blank" href="https://www.google.com/maps/dir//Movin'on+Storage+Center,+200+Piedmont+Rd,+Charleston,+WV+25301/@38.3559281,-81.6286597,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x8848d334571013f1:0xa6e7d1e74704d6f!2m2!1d-81.6284395!2d38.3565595!3e0" role="button">CLICK HERE FOR CUSTOM DRIVING DIRECTION</a>                                       
        </span>
        <span *ngIf="id === 3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.9616822568664!2d-79.71200568443953!3d40.65277504917323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834bd311bf9caf3%3A0xb3ba833bf0e8b8f0!2sNatrona+Heights+Self+Storage!5e0!3m2!1sen!2sus!4v1547510624473" width="100%" height="400px" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
          <a class="btn btn-primary py-2 w-100 mt-3 ml-0" target="_blank" href="https://www.google.com/maps/dir//Natrona+Heights+Self+Storage,+896+Veterans+Drive,+Natrona+Heights,+PA+15065/@40.6530279,-79.7099338,16.79z/data=!4m9!4m8!1m0!1m5!1m1!1s0x8834bd311bf9caf3:0xb3ba833bf0e8b8f0!2m2!1d-79.709817!2d40.652771!3e0" role="button">CLICK HERE FOR CUSTOM DRIVING DIRECTION</a>                                       
        </span>
       </div>
    </div>
  </div>
</div>
