<div class="storage-tip-holder">
  <div class='banner'>
  <h1 class=" col-md-12 text-center ">
    Auctions
  </h1>
  </div>
  <div class="container">
    <h2 class="heading-color ">
      AUCTION SCHEDULE
    </h2>
    <h4 class="coming-soon">Nothing for now, please check back soon!</h4>
    <h4 class="heading-color ">
      CONTACT US
    </h4>
    <p>Call us at  
      <a href="tel:9203325899" target="_blank" rel="noopener">920-332-5899</a> 
      or email us at 
      <a href="mailto:info@in-n-out-storage.com" target="_blank" rel="noopener">info@in-n-out-storage.com</a>
    </p>
    
    
    <div class="contact-info">
    <div class="contact">
      <p ><strong>Clifford North</strong></p>
      <p >424 E Clifford St</p>
      <p>Plymouth, WI 53073</p>
    </div>
    <div class="contact">
      <p ><strong>Clifford North</strong></p>
      <p >424 E Clifford St</p>
      <p>Plymouth, WI 53073</p>
    </div>
    <div class="contact">
      <p ><strong>Clifford North</strong></p>
      <p >424 E Clifford St</p>
      <p>Plymouth, WI 53073</p>
    </div>
    <div class="contact">
      <p ><strong>Clifford North</strong></p>
      <p >424 E Clifford St</p>
      <p>Plymouth, WI 53073</p>
    </div>
    </div>
  </div>

</div>
    

   
    