<div class="contentHolder">
  <div class="container pb-5 my-3">
    <div class="py-5 text-center">
      <h1 class="pb-2 text-center">{{unitSizerHeading}}</h1>
      <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Store_QC/jpg/store-qc-logo.png" width="140" alt=" badge artwork with an illustrated crossroads, a line art city skyline, and the words 61-280 Storage 563-381-8017 at the bottom" />
    </div>
    <div class="row bg-light background-padding">
      <div class=" col-lg-12 col-md-12 p-3" >
        <app-unit-sizes></app-unit-sizes>
      </div>
    </div>
  </div>
</div>