<div class="footer bg-light col-md-12 py-3">
    <div class="container">
      <div class="row">
        <div class="col-4 my-auto copyright-text">&copy; 2020 Sun Prairie Self Storage</div>
        <div class="col-4 my-auto text-center privacy-policy"> 
          <a  href="/privacy-policy" > 
              Privacy Policy
          </a>
        </div>
        <div class="col-4 copyright-image"><a href="https://www.syrasoft.com/" rel="nofollow" target="_blank">
          <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredDark.svg" height="40px" width="auto" alt="Syrasoft Powered by image">
        </a>
      </div>
      </div>
    </div>
  </div>