<div id="accordion">
    <div class="card" *ngFor="let storage of storageTipAccordion">
        <div class="card-header">
            <div class="card-header-before-collapse p-3"  [ngClass]="storage?.id != 0 && 'collapsed'" data-toggle="collapse" [attr.data-target]="'#collapseOne'+storage?.id" [attr.aria-controls]="'collapseOne'+storage?.id">
                {{storage.label}}                 
            </div>  
        </div>

        <div [id]="'collapseOne'+storage?.id"  aria-labelledby="collapseOne" data-parent="#accordion" class="collapse" [ngClass]="storage?.id == 0 && 'show'">
            <ul class="card-body">
                <li class="py-1 text-justify" *ngFor="let data of storage.data">
                    <strong>{{data.p}}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
