
<div class="contentHolder bg-custom">
    <div class="container my-3 pb-5 padding-top">
      <h1 class="py-5 text-center">Pay Rent</h1>
      <div class="row background-padding">
        <div class="col-lg-8 col-md-7 scroll-wrapper small-screen-padding">
            <div class="iframe-container">
            <iframe id="advanced_iframe" name="advanced_iframe" src="https://zekesSelfStorage.sim.syrasoft.com/paynow" width="100%"
              height="500" scrolling="yes" frameborder="0" border="0" allowtransparency="true" onload=";aiResizeIframe(this, 'true','1');"></iframe>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 vertical-line login">
          <h3>How to Login</h3>
          <p><b>Username:</b>&nbsp;First Initial + Last Name<br>
          <b>Password:</b>Your gate access code</p>
          <p><b>Example:</b></p>
          <p>John Smith's code is 1234</p>
          <p>John's Username: jsmith<br>
            John's Password: 1234</p>
          <p>Have questions about your account?<br>
          <span *ngFor="let contact of contactDetails"><span *ngIf="contact?.id == 1 || contact?.id == 2"><a [href]="contact?.redirect">{{contact.data}}</a></span><br>
        </span>
        </p>
        </div>
      </div>
    </div>
  </div>
  