@import "../../styles.scss";

p {
  padding: 0;
  margin: 0;
//   color: $fontColor;
}

table {
  border: 1px solid $primary;
  margin-bottom: 0;

  td {
    width: 50%;
    border-bottom: 1px solid $primary;
    border-top: 1px solid $primary;
  }
}

.table-head {
  background: $primary;
  color: $white;
}


.table-striped tbody tr:first-child {
  background-color: $primary;
//   border: 1px solid $primary;
  font-weight: 600;
  color: #fff;
}

// .table-striped tbody tr {
//   background-color: #404040;
// }

// .table-striped tbody tr:nth-of-type(odd) {
//     background-color: $primary;
//     border: 1px solid $primary;
//     font-weight: 600;
//   }
  
//   .table-striped tbody tr:nth-of-type(even) {
//     background-color: #404040;
//   }