
<div class="home-container">
  <!--Jumbotron Container Starts Here-->
  <div class="jumbotron-container">
        <!-- <div id="carouselJumbo" class="carousel slide  jumbotron-top-style" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
                <li data-target="#carouselJumbo" data-slide-to="1"></li>
                <li data-target="#carouselJumbo" data-slide-to="2"></li>
              </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="jumbotron-top jumbotron-top-style"></div>
              </div>
              <div class="carousel-item">
                  <div class="jumbotron-top1 jumbotron-top-style"></div>
              </div>
              <div class="carousel-item">
                  <div class="jumbotron-top2 jumbotron-top-style"></div>
              </div>
            </div>
          </div> -->
          <div class="jumbotron-container">
            <div class="jumbotron-top jumbotron-top-style"></div>
          </div> 
       
    <!-- </div> -->
    <div class="jumbotron-bottom disp">
      <div class="container">
        <!-- <p> {{blurbText}} </p> -->
        <div class="row">
            <div class="col-md-3 col-3 p-4 text-center override-padding-x-axis" *ngFor="let feature of feature">
              <img [src]="feature?.path" [alt]="feature?.alt" height="80px" width="auto">
                <h6 class="feature-text">{{feature.label}}</h6>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!--Jumbotron Ends Here-->

  <!--Map and Contact Section-->
  <div class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11623.652597299486!2d-89.38453!3d43.253242!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfd738b8baa5ef3d7!2sDeforest%20Self%20Storage!5e0!3m2!1sen!2sus!4v1576035767459!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:2px solid #fff;"  allowfullscreen></iframe>
          </div>
        
        <div class="col-lg-6 py-2">
          <div class="mb-4">
            <p>
              <span class="font-xs-device" *ngFor="let contact of contactDetails">
                <b>{{contact.label}}</b><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
              </span>
            </p>
            <div class="mt-2">
              <p>
                <span *ngFor="let hour of hours">
                  <strong>{{hour.label}} </strong> {{hour.data}}<br>
                </span>
              </p>
            </div>
          </div>
          
          <div class="pt-2">
              <app-tables [tBody]="featuresList"></app-tables>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Map and Contact Section Ends Here-->


  <!--About Us Section-->
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 py-2">
        <!-- <img src="" width="100%" alt="storage unit picture" class="sectionImage"> -->
        <app-photos></app-photos>
      </div>
      <div class="col-lg-6 py-2">
        <h1 class="heading pb-4">Affordable Self Storage Units in Deforest</h1>
        <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
      </div>
    </div>
  </div>
  <!--About Us Section Ends Here-->

<!--Get Started Secion-->
<div class="getStarted text-center">
  <div class="get-started">
   <div class="container py-5">
     <div class="py-5 m-0">
       <div class="row">
         <div class="col-md-12">
           <h2 class="heading pb-4">Get Started</h2>
           <p class="pb-4">{{gettingStarted}}</p>
           <a class="btn btn-lg btn-primary" (click)="navigate('/reserve-unit')" role="button">Reserve Your Unit!</a>
         </div>
       </div>
     </div>
   </div>      
  </div>
</div>
<!--Get Started Secion Ends Here-->

</div> 
<!--Home Cotainer Ends here-->