<nav class="navbar navbar-expand-lg bg-white py-0">
  <div class="container">
    <a class="navbar-brand py-0" (click)="navigate('/')">
      <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/All_Portable_Easy_Storage/apes-portable-storage-logo.png" width="auto" alt="All Purpose Easy Storage Portable Units Logo" class="py-lg-2 py-0">
    </a>
    <div class="p-2">
    <button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto navbar-nav-scroll">
        <li class="nav-item px-2 text-center" *ngFor="let nav of navLinks">
          <span *ngIf="nav?.type === 'link'">
            <a class="nav-link py-4" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" [routerLinkActiveOptions]="{exact: true}" (click)="onClick(menu)">{{nav.label}}</a>
          </span>
          <span *ngIf="nav?.type === 'dropdown'">
              <div class="dropdown show">  
                <a class="dropdown-toggle nav-link py-4" role="button" id="dropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{nav.label}}</a>
                <ul class="dropdown-menu location-list" aria-labelledby="dropdownMenuLink">
                  <li *ngFor="let sub of nav.sublinks text-center"><a class="dropdown-item" [routerLinkActive]="'location-active'" href="{{sub.path}}" target="_blank"  (click)="onClick(menu)" >{{sub.label}}</a></li>
                </ul>
              </div>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
