  
<div class="">
  <div class="jumbotron-container">
    <div class="jumbotron-top">
    <!-- <div class="jumbotron px-0 m-0" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp' "> -->
    <div class="jumbotron px-0 m-0">
      </div>
      </div>
    <div class="jumbotron-bottom">
      <div class="container">
        <div class="feature row">
          <div class="col-md-3 col-3 feature-icon-style" *ngFor="let feature of feature">
            <img [src]="feature?.path" [alt]="feature.alt" height="80px" width="auto"/>
              <h6 class="feature-text">{{feature.label}}</h6>
          </div>
        </div>
      </div>
    </div>
    </div>


<div class="bg-light">
  <div class="container py-4">
    <div class="section py-4 m-0">
      <div class="row">
        <div class="col-lg-6 py-3 home-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3339.263354275848!2d-107.24518448449562!3d33.180961070585376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86df8330e70c3143%3A0x2967ff9af15a2be!2s181%20Storage!5e0!3m2!1sen!2sus!4v1586373014168!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe> 
        </div>

        <div class="col-lg-6 py-3">
          <div class="mb-4">
            
            <p>
              <span *ngFor="let contact of contactDetails">
                <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 2 || contact?.id === 3 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
              </span>
            </p>
            <!-- <b>Office Hours:</b> -->
            <p>
              <span *ngFor="let hour of hours">
                <b>{{hour.label}}</b>&nbsp;{{hour.data}}<br>
              </span>
            </p>
          </div>
          <div>
            <app-tables [tBody]="featuresList"></app-tables>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section py-5 m-0">
    <div class="row">
      <div class="col-lg-6 py-3">
        <!-- <img src="{{imageBaseUrl}}/Image.{{imagetype}}" width="100%"
        alt="{{altText}}" class="sectionImage"> -->
        <img src="{{imageBaseUrl}}/181-storage-unit.{{imagetype}}" width="100%" />
        <!-- <app-photos></app-photos> -->
      </div>
      <div class="col-lg-6 py-3">
        <h1 class="heading pb-4">{{aboutUsHeading}}</h1>
        <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
      </div>
    </div>
  </div>
</div>


<div class="getStarted bg-light ">
  <div class="container">
    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-md-12 py-3">
          <h2 class="heading pb-4">Getting Started</h2>
          <p class="pb-4">{{gettingStarted}}</p>
          <a class="btn btn-lg btn-primary" (click)="navigate('/view-rates')" role="button">View Rates</a>
        </div>
      </div>
    </div>
  </div>
</div>

</div> 
