@import "../../styles.scss";

.contact-links {
    a {
        display: inline-block;
        margin-bottom: 8px;
        color: black;
    }
}

.partition-border {
    border-left: 2px solid $border;
    padding-left: 5%;
}