  <!--Contact 1  Ends Here-->
  <div class="pb-5 pt-5 bg-light">    
    <div class="container">
      <div class="row">          
        <div class="col-md-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d412493.9753583541!2d-88.508637!3d36.127378!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x887becfccaf57539%3A0xdec11df11ccb7b7c!2sCarroll%20County%20Storage-McKenzie!5e0!3m2!1sen!2sus!4v1594390103905!5m2!1sen!2sus" width="100%" height="100%" title="Google map service" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 pl-4 pt-3">
          <h2>Carroll County Storage - McKenzie</h2>
          <p> 
            <!-- <span *ngFor="let contact of contactsBarton">
              <b>{{contact.label}}</b> {{contact.data}}<br>
            </span> -->
            <span *ngFor="let contact of contactsLocation1">
              <span><b>{{contact.label}}</b></span>
              <span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content">
                <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
              <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
            </span>
          </p>
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/mcKenzie/storage-units']" role="button">View Rates</a>                
          <!-- <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/mcKenzie/reserve-unit']" role="button"> Reserve Unit</a>                                   -->
        </div>
        <div class="col-md-3 partition-border contact-hours pt-3">
            <h2>Hours:</h2>
            <p>
              <span *ngFor="let hour of hoursLocation1">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
      </div>
    </div>      
  </div>
  
  <!--Contact 1  -  Ends Here-->

    <!--Contact 2  Ends Here-->
    <div class="pb-5 pt-5 ">    
      <div class="container">
        <div class="row">          
          <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9129.016769101594!2d-88.394171493778!3d36.00576530052514!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x887b8ea4ff7b3641%3A0xecc0b4c7070d46ec!2s579%20Buena%20Vista%20Rd%2C%20Huntingdon%2C%20TN%2038344!5e0!3m2!1sen!2sus!4v1594399132715!5m2!1sen!2sus" width="100%" height="100%" title="Google mao services" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 pl-4 pt-3">
            <h2>Carroll County Storage - Huntingdon</h2>
            <p> 
              <!-- <span *ngFor="let contact of contactsBarton">
                <b>{{contact.label}}</b> {{contact.data}}<br>
              </span> -->
              <span *ngFor="let contact of contactsLocation2">
                <span><b>{{contact.label}}</b></span>
                <span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content">
                  <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
              </span>
            </p>
            <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/huntingdon/storage-units']" role="button">View Rates</a>                
            <!-- <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/huntingdon/reserve-unit']" role="button"> Reserve Unit</a>                                   -->
          </div>
          <div class="col-md-3 partition-border contact-hours pt-3">
              <h2>Hours:</h2>
              <p>
                <span *ngFor="let hour of hoursLocation2">
                  <b>{{hour.label}}</b>{{hour.data}}<br>
                </span>
              </p>
          </div>
        </div>
      </div>      
    </div>
    <!--Contact 2  -  Ends Here-->

      <!--Contact 3 Start Here-->
  <div class="pb-5 pt-5 bg-light">    
    <div class="container">
      <div class="row">          
        <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12898.075924586778!2d-88.472861!3d36.080835!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9270b2b00f62a4f8!2sCarroll%20County%20Storage%20%40%20Airport!5e0!3m2!1sen!2sus!4v1594404612715!5m2!1sen!2sus" width="100%" height="100%" title="Google map services" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 pl-4 pt-3">
          <h2>Carroll County Storage at the Airport</h2>
          <p> 
            <!-- <span *ngFor="let contact of contactsBarton">
              <b>{{contact.label}}</b> {{contact.data}}<br>
            </span> -->
            <span *ngFor="let contact of contactsLocation3">
              <span><b>{{contact.label}}</b></span>
              <span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content">
                <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
              <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
            </span>
          </p>
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/airport/storage-units']" role="button">View Rates</a>                
          <!-- <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/airport/reserve-unit']" role="button"> Reserve Unit</a>                                   -->
        </div>
        <div class="col-md-3 partition-border contact-hours pt-3">
            <h2>Hours:</h2>
            <p>
              <span *ngFor="let hour of hoursLocation3">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
      </div>
    </div>      
  </div>
  <!--Contact 3 -  Ends Here-->

  