@import "../../styles.scss";

p {
  padding: 0;
  margin: 0;
}

h5{
  font-size: 1rem;
}

table {
  margin: 0;

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #dee2e6;
  }
}

@media only screen and (min-width: 992px) {
  td {
    // width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
  }
}
