<div class="table-responsive">
  <table class="table table-striped">
    <tHead *ngIf="(th !== undefined)">
      <tr>
        <th colspan="3" class="table-head">{{th}}</th>
      </tr>
    </tHead>
    <tbody>
      <tr *ngFor="let td of tds">
        <td *ngFor="let key of objectKeys;">
          <span *ngIf="(key === 'label')" class="p-0">
            <b>{{td[key]}}</b>
          </span>
          <span *ngIf="(key === 'data')" class="p-0">{{td[key]}}</span>
          <span style="text-align: right;" *ngIf="(key === 'rate')">{{td[key]}}</span>
          <h5><span *ngIf="(key === 'td1' || key === 'td2')" [innerHTML]="td[key]" ></span></h5>
        </td>
      </tr>
    </tbody>
  </table>
</div>