<div class="rent-holder">
  <div class="container">
    <div class="rent-heading">
      <h1 class="text-center pt-5">Pay Rent Online</h1>
      <h2 class="text-center">Select your location to access your account</h2>
      <h3 class="text-center awareness p-2">Please be aware that online payments on past due accounts will not be reinstated, or unlocked, until our next business day. Also, please be aware that accounts in auction status will not be able to make online payments. Please contact the property manager.</h3>
    </div>
    <div  class="container pt-5">
      <div class="rent-sub-holder">
          <div class="container px-0">
            <table class="col-md-12">
              <thead >
                <tr>
                  <th  *ngFor="let tableHeader of tableHeader">{{tableHeader.data}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tableData of tableData">
                  <td class="table-data py-1">
                    {{tableData.facility}}
                  </td>
                  <td class="table-data py-1">
                    {{tableData.address}}
                  </td>
                  <td class="table-data py-1">
                    <!-- <div [innerHtml]="{{tableData.url}}"></div> -->
                    <a class="btn btn-primary p-2 ml-0" [routerLink]="'/pay-rent/'+tableData.url" role="button">Pay Here</a>
                  </td>
                </tr>
              </tbody>
             </table>
          </div>
        </div>
    </div>
  </div>
</div>