@import "../../../styles.scss";

iframe {
  max-width: 100%;
}

.background-padding {
  padding: 64px;
}

h1 {
  margin-bottom: 0;
}


@media only screen and (max-width: 600px) {
  .background-padding {
    padding: 24px 9px;
  }
}
