<!-- <app-tabs [currentActiveTab] = 'currentActiveTab'></app-tabs> -->

  <div id="review-holder">
    <div class="container">
        <h2 class="text-center mb-4">Directions to Victor Self Storage - {{name}}</h2>
        <div *ngFor="let data of reviews" class="review-data my-3 mx-5 px-3 py-2">
          
          <p> {{data.p}} </p>
          <p> {{data.by}} 
            <span style="padding-left: 20px;">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>    
            </span>
          </p>
  
        </div>
    </div>
  </div>