@import '../../styles.scss';

#review-holder {
    padding: 64px;
    background-color: $light; 
    margin-bottom: 50px;
    h2 {
        text-transform: capitalize;
    }
    .review-data {
        border: 1px solid $border;
        background-color: $white;
    }
    .checked {
        color: #ffd034;
    }
}

@media only screen and (max-width: 600px) {
    #review-holder {
        padding: 16px;
        // width: 100%;
    }
}