@import '../../styles.scss';

.jumbotron {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#myCarousel {
  .carousel-indicators {
    li {
      width: .8rem;
          height: .8rem;
          background-color: transparent;                
          border: 1.5px $white solid;
          position: relative;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          margin-right: 3px;
          margin-left: 3px;
          text-indent: -999px;
          cursor: pointer;
    }
    .active {
      background-color: $white;
    }
  }
}

.feature-block {
  img {
    height: 60px;
  }
}

.f-text {
  color: $primary !important;
  font-weight: 600;
  font-size: 1.3rem;
}


.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height: 90%;
  width:100%;
  position:absolute;
}

.content-align{
  text-align: right;
}

.contact-hours {
  border-left: 2px solid $border;
  padding-left: 5%;
}

.service{
  color: $dark;
  text-align: left;

  h1 {
    line-height: 2.5rem;
    font-size: 2rem;
  }

  img {
    width: 100%;
    height: 330px;
  }
  p {
    text-align: justify;
  }
}

.content-left {
  text-align: left; 
}


.disp {
  display: block;
  color: $white;
  a{
    color: $white;
  }
}

#testimonial {
  background: $light;
  height: auto;
  h1 {
    font-size: 2rem;
  } 
  #carousel-test {
    .carousel-indicators  {
      li {
          width: .8rem;
          height: .8rem;
          background-color: rgba(255, 255, 255, 0.5);                
          border: 1px $primary solid;
          position: relative;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          margin-right: 3px;
          margin-left: 3px;
          text-indent: -999px;
          cursor: pointer;
      }
      .active {
          background-color: $primary !important;
        }
    }
        .carousel-item {
          max-width: 100%;
          .active  {
            background-position: center center;

          }
          p {
            text-align: center; 
            font-size: 1rem;
          }  
        }
  }
} 

@media screen and (max-width: 1024px) {

  .content-align{
    text-align: right;
  }


}

@media screen and (max-width: 800px) {

  .content-align{
    text-align: right;
  }
  #myCarousel{
    .carousel-item {
      min-height: 50vh;
      background-size: cover;
      background-position: center center; 
      background-position-x: center;
      background-position-y: center;
      image-rendering: inherit; 
      img {
      min-height: 50vh;
      width: auto;
      block-size: 100%;
      position: relative;
      }
    }
  }
}

@media screen and (max-width: 600px) {

  .content-align{
    text-align: center;
  }

  .disp {
    display: none;
  }

  .f-block-img {
    padding-top : 10px !important;
    .f-img {
      height: 40%;
      width: 40%;
    }
  }
    .f-text {
      padding-bottom: 10px !important;
      font-size: 1.2rem;
    }
    #myCarousel{
      .carousel-item {
        min-height: 40vh;
        width: 200%;
        background-size: cover;
        background-position: center center; 
        background-position-x: center;
        background-position-y: center;
        image-rendering: inherit; 
        img {
        min-height: 40vh;
        width: auto;
        block-size: 100%;
        position: relative;
        }
      }
    }
    .contact-hours {
      border-left: none;
      padding-left: 5%;
    }
}
