<body>  
  <div class="container">
    <div class=search>
      <input type="text" placeholder="Search.." class=searchbox>
      <button class=search_button >SEARCH</button>
    </div>
    <div class="row justify-content-around">
      <div class="col-4">
        <div class="card" >
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <div class="image1">
                <img class="card-img" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png" alt="Card image cap"/>
              <a href="https://www.victorselfstorage.com/" target="_blank">
                <div class="overlay"></div>
              </a>
                <div class="button">
                  <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png" target="_blank"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a></div>
                <div class="button button1"><a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></div>
            </div>
            <div class="card-title"> 
              <a class="title-card" href="">Catskill | Creative and stylish Template...</a>
              <div class="sub-title">
                <a>by codeparva technologies</a>
              </div>
            </div>  
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <div class="card-button">
              <div class="row">
                <div class="col-6">
                  <!-- <div class="col-6"> -->
                  <span class="price "><h3><b>$29</b></h3></span>
                </div>
                <div class="col-6">  
                    <!-- <button ><i class="fa fa-bus" aria-hidden="true"></i></button> -->
                  <span class="preview" style="float: right;">
                    <button class="preview_button " >PREVIEW</button>
                  </span> 
                <!-- <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png"target="_blank">more..</a> -->
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>  
            </div>  
          </div>  
        </div>
      </div>
      <div class="col-4">
        <div class="card" >
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <div class="image1"> 
              <img class="card-img" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Catskill_Images/logo.png" alt="Card image cap"/>
              <a href="https://www.catskillselfstorage.com/home" target="_blank">
                <div class="overlay"></div>
              </a>
                <div class="button"><a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Catskill_Images/logo.png" target="_blank"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a></div>
                <div class="button button1"><a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Catskill_Images/logo.png"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></div>
            </div>
            <div class="card-title"> 
              <a class="title-card" href="">Catskill | Creative and stylish Template...</a>
              <div class="sub-title">
                <a>by codeparva technologies</a>
              </div>
            </div>  
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <div class="card-button">
              <div class="row">
                <div class="col-6">
                  <!-- <div class="col-6"> -->
                  <span class="price "><h3><b>$29</b></h3></span>
                </div>
                <div class="col-6">  
                    <!-- <button ><i class="fa fa-bus" aria-hidden="true"></i></button> -->
                  <span class="preview" style="float: right;">
                    <button class="preview_button " >PREVIEW</button>
                  </span> 
                <!-- <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png"target="_blank">more..</a> -->
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>  
            </div>  
          </div>  
        </div>
      </div>
      <div class="col-4">
        <div class="card" >
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <div class="image1">
              <img class="card-img" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Scotia_Images/scotia-self-storage-logo.png" alt="Card image cap"/>
                <a href="https://www.scotiastorage.com/home" target="_blank">
                <div class="overlay"></div>
                </a>
                <div class="button"><a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Scotia_Images/scotia-self-storage-logo.png" target="_blank"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a></div>
                <div class="button button1"><a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Scotia_Images/scotia-self-storage-logo.png"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></div>
            </div>
            <div class="card-title"> 
              <a class="title-card" href="">Catskill | Creative and stylish Template...</a>
              <div class="sub-title">
                <a>by codeparva technologies</a>
              </div>
            </div>  
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <div class="card-button">
              <div class="row justify-content-around">
                <div class="col-6">
                  <!-- <div class="col-6"> -->
                  <span class="price "><h3><b>$29</b></h3></span>
                </div>
                <div class="col-6">  
                    <!-- <button ><i class="fa fa-bus" aria-hidden="true"></i></button> -->
                  <span class="preview" style="float: right;">
                    <button class="preview_button " >PREVIEW</button>
                  </span> 
                <!-- <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png"target="_blank">more..</a> -->
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>  
            </div>  
          </div>  
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
          <div class="card" >
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <div class="image5">
                <img class="card-img" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Pittsburgh_Images/pittsburgh-area-storage-centers-logo.jpg" alt="Card image cap"/>
                <a href="http://pittsburgh-staging.syrasoft.com/home" target="_blank">
                <div class="overlay"></div>
                </a>
                  <div class="button5"><a href="http://pittsburgh-staging.syrasoft.com/assets/images/pittsburgh-area-storage-centers-logo.jpg" target="_blank"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a></div>
                  <div class="button5 button1"><a href="http://pittsburgh-staging.syrasoft.com/assets/images/pittsburgh-area-storage-centers-logo.jpg"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></div>
              </div>
              <div class="card-title"> 
                <a class="title-card" href="">Catskill | Creative and stylish Template...</a>
                <div class="sub-title">
                  <a>by codeparva technologies</a>
                </div>
              </div>  
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <div class="card-button">
                <div class="row">
                  <div class="col-6">
                    <!-- <div class="col-6"> -->
                    <span class="price "><h3><b>$29</b></h3></span>
                  </div>
                  <div class="col-6">  
                      <!-- <button ><i class="fa fa-bus" aria-hidden="true"></i></button> -->
                    <span class="preview" style="float: right;">
                      <button class="preview_button " >PREVIEW</button>
                    </span> 
                  <!-- <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png"target="_blank">more..</a> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div>  
              </div>  
            </div>  
          </div>
        </div>
        <div class="col-4">
          <div class="card" >
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <div class="image1">
                <img class="card-img" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Catskill_Images/logo.png" alt="Card image cap"/>
                <a href="https://www.victorselfstorage.com/" target="_blank">
                <div class="overlay"></div>
                </a>
                  <div class="button"><a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png" target="_blank"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a></div>
                  <div class="button button1"><a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></div>
              </div>
              <div class="card-title"> 
                <a class="title-card" href="">Catskill | Creative and stylish Template...</a>
                <div class="sub-title">
                  <a>by codeparva technologies</a>
                </div>
              </div>  
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <div class="card-button">
                <div class="row">
                  <div class="col-6">
                    <!-- <div class="col-6"> -->
                    <span class="price "><h3><b>$29</b></h3></span>
                  </div>
                  <div class="col-6">  
                      <!-- <button ><i class="fa fa-bus" aria-hidden="true"></i></button> -->
                    <span class="preview" style="float: right;">
                      <button class="preview_button " >PREVIEW</button>
                    </span> 
                  <!-- <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png"target="_blank">more..</a> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div>  
              </div>  
            </div>  
          </div>
        </div>    
    </div>
  </div>  
</body> 