<body>  
  <div class="container">
    <!-- <div class=search>
      <input type="text" placeholder="Search.." class=searchbox>
      <button class=search_button >SEARCH</button>
    </div> -->
    <div class="cards">
      <div class="row justify-content-around">
        <div class="col-4">
          <div class="card" >
            <div class="card-body">
              <div class="card-image">
                <div class="image1">
                  <img class="card-img" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png" alt="Card image cap"/>
                  <a href="https://www.victorselfstorage.com/" target="_blank">
                  <div class="overlay"></div>
                  </a>
                  <div class="button">
                    <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png" target="_blank" class="p-1"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a>
                    <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png" target="_blank" class="p-1"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="card-bottom p-3">
                <div class="card-title"> 
                  <a class="title-card" href="">Catskill | Creative and stylish Template...</a>
                  <div class="sub-title">
                    <a>by codeparva technologies</a>
                  </div>
                </div>  
                <div class="card-button">
                  <div class="row button-row">
                    <div class="col-6 button-col">
                      <span class="price "><b>$29</b></span>
                    </div>
                    <div class="col-6 button-col">     
                      <span class="preview" style="float: right;">
                        <a href="https://www.victorselfstorage.com">  <button class="preview_button " >PREVIEW</button></a>
                      </span> 
                    </div>
                  </div>  
                </div> 
              </div> 
            </div>  
          </div>
        </div>
        <div class="col-4">
          <div class="card" >
            <div class="card-body">
              <div class="card-image">
                <div class="image1">
                    <img class="card-img" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Scotia_Images/scotia-self-storage-logo.png" alt="Card image cap"/>
                  <a href="https://www.scotiastorage.com/home" target="_blank">
                    <div class="overlay"></div>
                  </a>
                    <div class="button">
                      <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Scotia_Images/scotia-self-storage-logo.png" target="_blank"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a></div>
                    <div class="button button1"><a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Scotia_Images/scotia-self-storage-logo.png"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="card-bottom p-3">
                <div class="card-title"> 
                  <a class="title-card" href="">Catskill | Creative and stylish Template...</a>
                  <div class="sub-title">
                    <a>by codeparva technologies</a>
                  </div>
                </div>  
                <div class="card-button">
                  <div class="row button-row">
                    <div class="col-6 button-col">
                      <span class="price "><b>$29</b></span>
                    </div>
                    <div class="col-6 button-col">  
                      <span class="preview" style="float: right;">
                        <a href="https://www.scotiastorage.com/home">  <button class="preview_button " >PREVIEW</button></a>
                      </span> 
                    </div>
                  </div>  
                </div> 
              </div> 
            </div>  
          </div>
        </div>
        <div class="col-4">
          <div class="card" >
            <div class="card-body">
              <div class="card-image">
                <div class="image1">
                    <img class="card-img" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Pittsburgh_Images/pittsburgh-area-storage-centers-logo.jpg" alt="Card image cap"/>
                  <a href="http://pittsburgh-staging.syrasoft.com/home" target="_blank">
                    <div class="overlay"></div>
                  </a>
                    <div class="button5">
                      <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Pittsburgh_Images/pittsburgh-area-storage-centers-logo.jpg" target="_blank"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a>
                    <div class="button button1"><a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Pittsburgh_Images/pittsburgh-area-storage-centers-logo.jpg"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></div>
                </div>
              </div>
              </div>
              <div class="card-bottom p-3">
                <div class="card-title"> 
                  <a class="title-card" href="">Catskill | Creative and stylish Template...</a>
                  <div class="sub-title">
                    <a>by codeparva technologies</a>
                  </div>
                </div>  
                <div class="card-button">
                  <div class="row button-row">
                    <div class="col-6 button-col">
                      <span class="price "><b>$29</b></span>
                    </div>
                    <div class="col-6 button-col">  
                      <span class="preview" style="float: right;">
                        <a href="http://pittsburgh-staging.syrasoft.com/home">  <button class="preview_button " >PREVIEW</button></a>
                      </span> 
                    </div>
                  </div>  
                </div> 
              </div> 
            </div>  
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-4">
          <div class="card" >
            <div class="card-body">
              <div class="card-image">
                <div class="image1">
                    <img class="card-img" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png" alt="Card image cap"/>
                  <a href="https://www.victorselfstorage.com/" target="_blank">
                    <div class="overlay"></div>
                  </a>
                    <div class="button">
                      <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png" target="_blank"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a></div>
                    <div class="button button1"><a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/logo.png"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="card-bottom p-3">
                <div class="card-title"> 
                  <a class="title-card" href="">Catskill | Creative and stylish Template...</a>
                  <div class="sub-title">
                    <a>by codeparva technologies</a>
                  </div>
                </div>  
                <div class="card-button">
                  <div class="row button-row">
                    <div class="col-6 button-col">
                      <span class="price "><b>$29</b></span>
                    </div>
                    <div class="col-6 button-col">  
                      <span class="preview" style="float: right;">
                        <a href="https://www.victorselfstorage.com">  <button class="preview_button " >PREVIEW</button></a>
                      </span> 
                    </div>
                  </div>  
                </div> 
              </div> 
            </div>  
          </div>
        </div>
        <div class="col-4">
          <div class="card" >
            <div class="card-body">
              <div class="card-image">
                <div class="image1">
                    <img class="card-img" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Catskill_Images/logo.png" alt="Card image cap"/>
                  <a href="https://www.catskillselfstorage.com/home" target="_blank">
                    <div class="overlay"></div>
                  </a>
                    <div class="button">
                      <a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Catskill_Images/logo.png" target="_blank"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a></div>
                    <div class="button button1"><a href="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Catskill_Images/logo.png"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></div>
                </div>
              </div>
              <div class="card-bottom p-3">
                <div class="card-title"> 
                  <a class="title-card" href="">Catskill | Creative and stylish Template...</a>
                  <div class="sub-title">
                    <a>by codeparva technologies</a>
                  </div>
                </div>  
                <div class="card-button">
                  <div class="row button-row">
                    <div class="col-6 button-col">
                      <span class="price "><b>$29</b></span>
                    </div>
                    <div class="col-6 button-col">  
                      <span class="preview" style="float: right;">
                        <a href="https://www.catskillselfstorage.com/home">  <button class="preview_button " >PREVIEW</button></a>
                      </span> 
                    </div>
                  </div>  
                </div> 
              </div> 
            </div>  
          </div>
        </div>  
      </div>  
    </div>    
  </div> 
</body> 