<div class="direction-holder">
  <div class="container px-0">
    <div class="row">
      <!-- <div class="col-md-6">
        <h2>{{directionHeading}}</h2>
        <div *ngFor="let dir of directionPoints" class="py-0">
          <p class="py-0 mb-0 mt-4"> {{dir.label}} </p> 
          <ul class="py-0 pl-3">
            <li *ngFor="let data of dir?.datas" class="py-0">   {{data.content}}   </li>
          </ul>  
        </div>
      </div> -->
      <div class="col-md-12">
        <h2>{{directionHeading}}</h2>
      </div>
      <div class="col-md-12 map-responsive">
        <span *ngIf="id === 1">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8471.12809906556!2d-74.30388798029414!3d41.35243932966004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c329270ac4efb9%3A0x33eb3f04f7cb48e0!2sStoragetown!5e0!3m2!1sen!2sus!4v1553632552654" width="100%" height="400px" frameborder="0" allowfullscreen></iframe>
          <a class="btn btn-primary py-2 w-100 mt-3 ml-0" target="_blank" href="https://www.google.com/maps/dir//Storagetown,+1+Andrews+Ln,+Chester,+NY+10918/@41.3503397,-74.3012101,15.13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89c329270ac4efb9:0x33eb3f04f7cb48e0!2m2!1d-74.297025!2d41.351242!3e0" role="button">CLICK HERE FOR CUSTOM DRIVING DIRECTION</a>                                       
        </span>
        <span *ngIf="id === 2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11980.134768296723!2d-74.2779668!3d41.3516214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x870033f00cd1403d!2sStoragetown!5e0!3m2!1sen!2sus!4v1553043103588" width="100%" height="400px" frameborder="0"  allowfullscreen></iframe>
          <a class="btn btn-primary py-2 w-100 mt-3 ml-0" target="_blank" href="https://www.google.com/maps/dir//Storagetown,+Brookside+Avenue,+Chester,+NY/@41.351729,-74.3480073,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x89c3291b13a7b49b:0x870033f00cd1403d!2m2!1d-74.2779668!2d41.3516214" role="button">CLICK HERE FOR CUSTOM DRIVING DIRECTION</a>                                       
        </span>
        <span *ngIf="id === 3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d34934.789722081085!2d-74.22076834806867!3d41.50820404113331!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x99616e089b6324eb!2sStoragetown!5e0!3m2!1sen!2sus!4v1553601504739" width="100%" height="400px" frameborder="0" allowfullscreen></iframe>
          <a class="btn btn-primary py-2 w-100 mt-3 ml-0" target="_blank" href="https://www.google.com/maps/dir//Storagetown,+130+Neelytown+Rd,+Montgomery,+NY+12549/@41.5047025,-74.2209466,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89dcd587eaee4717:0x99616e089b6324eb!2m2!1d-74.2187579!2d41.5046985" role="button">CLICK HERE FOR CUSTOM DRIVING DIRECTION</a>                                       
        </span>
       </div>

       <div class="col-md-12 map-responsive">
         <span *ngIf="id === 4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11959.050406855393!2d-74.345391!3d41.466064!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3d6cc8085d6e3188!2sStorageTown!5e0!3m2!1sen!2sus!4v1552837481481" width="100%" height="400px" frameborder="0" allowfullscreen></iframe>
            <a class="btn btn-primary py-2 w-100 mt-3 ml-0" target="_blank" href="https://www.google.com/maps/dir//StorageTown,+2070+Goshen+Turnpike,+Middletown,+NY+10941/@42.1888323,-76.3818551,8z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89dccd8a57710fdd:0x3d6cc8085d6e3188!2m2!1d-74.345391!2d41.466064!3e0" role="button">CLICK HERE FOR CUSTOM DRIVING DIRECTION</a>                                       
          </span>
        </div>
    </div>
  </div>
</div>
