<div class="footer bg-light sticky col-md-12 p-4">   
    <div class="container">
        <div class="row"> 
            <div class="col-6 my-auto text-left privacy-policy"> 

            <a  href="/privacy-policy" rel="nofollow" rel="noopener"  target="_blank"> 
                Privacy Policy
            </a>
             <div class="col-7 pl-0 copyright-text">&copy; {{currentYear}} {{facilityName}}</div>
        </div>
            <div class="col-6 my-auto text-right" >
                <a href="https://www.syrasoft.com/" target="_blank" rel="noreferrer" >
                    <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredDark.svg" 
                    alt="Self Storage Management software - syrasoft logo" width="124px" height="48px" > 
                </a>
            </div>            
        </div>    
    </div>
</div>
                          