@import '../../styles.scss';

a {
    cursor: pointer;
}

.navbar {
    // min-height: 80px !important;
    padding-bottom: 0px;
    // padding-top: 35px;
}


.nav-link {
    color: $white !important;
    font-weight: 600;
    transition-duration: 500ms;
    font-size: 1.2rem;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.nav-link:hover {
    color: $light !important;
    transition-duration: 500ms;
}

.nav-link-active {
    border-bottom: 5px $border solid;  
    // border-bottom: 5px #e2cfa9 solid;
}

.display {
    display: block;
}

.navbar-toggler {
    margin-top: 10px;
    margin-bottom: 10px;
    // padding: 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav {
        li { 
            a {
            padding-top: 5px;
            padding-bottom: 5px;
            line-height: 1.5rem;;
            text-align: center !important; 
        }
            
        }
    } 
  }

@media screen and (max-width: 900px) {
    .display {
        display: none;
    }
    .navbar {
        .navbar-nav {
        overflow-y: auto;
        overflow-x: hidden;
        display: flex; 
        }
        // min-height: 50px;
        .navbar-brand {
            img {
                width: 80px;
                height: auto;
                top: 8px !important;
            }
        }
    }
}