@import '../../styles.scss';

a {
    cursor: pointer;
}

.navbar {
    // min-height: 80px !important;
    padding-bottom: 0px;
}


.nav-link {
    color: $white !important;
    font-weight: 600;
    transition-duration: 500ms;
    font-size: 1.2rem;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.nav-link:hover {
    color: $light !important;
    transition-duration: 500ms;
}

.nav-link-active {
    border-bottom: 5px #e2cfa9 solid;
}

.display {
    display: block;
}

.navbar-toggle {
    margin-top: 30px;
    // padding: 10px !important;
  }
  
  @media (min-width: 768px) {
      .navbar {
          min-height: 80px;
      }
    .navbar-nav {
        li { 
            a {
            padding-top: 5px;
            padding-bottom: 5px;
            line-height: 1.5rem;;
            text-align: center !important;
            }
            
        }
    } 
    .nav-link-active {
        border-bottom: 5px $border solid;
    }
  }

@media screen and (max-width: 900px) {
    .display {
        display: none;
    }
    .nav-link-active {
        border-bottom: 0px;
    }
    .navbar {
        min-height: 80px;
    }
}