
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <img src="../../assets/images/logo.png" width="120" height="100" alt="" style="position: absolute; top: 11px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation" style="border: 1px #efefef solid !important; margin-right: 20px;">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fas fa-bars" style="color: #efefef"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto nav-scroll">
        <li class="nav-item mx-2" *ngFor="let nav of navLinks">
            <span *ngIf="nav?.id == '1' || nav?.id == '2'">
                <a class="nav-link text-center" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" (click)="onClick(menu)" [queryParams]='{ name: nav?.name }'>{{nav.label}}</a>  
            </span>
            <span *ngIf="nav?.id !== '1' && nav?.id !== '2'">            
              <a class="nav-link text-center" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" (click)="onClick(menu)">{{nav.label}}</a>
            </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
