
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <img src="../../assets/images/logo.png" width="120" height="100" alt="" style="position: absolute; top: 8px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation" style="border-color: #efefef !important">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fas fa-bars" style="color: #efefef"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2" *ngFor="let nav of navLinks">
          <span *ngIf="currentActive === nav?.label">
            <a class="nav-link nav-link-active text-center" (click)="navigate(nav?.path)">{{nav.label}}</a>
          </span>
          <span *ngIf="currentActive !== nav?.label">
            <span *ngIf="nav?.id == '1' || nav?.id == '2'">
                <a class="nav-link text-center" [routerLink]="nav?.path" [queryParams]='{ name: nav?.name }'>{{nav.label}}</a>  
            </span>
            <span *ngIf="nav?.id !== '1' && nav?.id !== '2'">            
              <a class="nav-link text-center" (click)="navigate(nav?.path)">{{nav.label}}</a>
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
