@import "../../styles.scss";

.containHolder {
  min-height: 100vh;
  margin-bottom: 50px;
}

.error {
  margin-top: auto;
  margin-bottom: auto;
  height: 100vh;
  padding-top: 200px;

  .error-message {
    padding-left: 5%;

    div {
      font-size: 4.375rem;
      font-weight: 300;
    }

    h2 {
      font-size: 2.25rem;
    }

    h5 {
      font-size: 1.5rem;
    }
  }
}


@media only screen and (max-width: 767px) {
  .error {
    padding-top: 200px;
  }
}
