@import '../../styles.scss';


#unit-sizer-container {
    padding: 64px;
    background-color: $light;
    margin-bottom: 50px;

    .single-block {
        background-color: $white;
        border: 1px solid $border;
    }
}

@media only screen and (max-width: 600px) {
    #unit-sizer-container {
        margin-left: 15px !important;
        margin-right: 15px !important;
        padding: 16px !important;
    }
}