<div class="contentHolder">
  <div class="container pb-5 my-3 ">
    <h1 class="py-5 text-center">{{viewRatesHeading}}</h1>
    <div class="row bg-light background-padding">
      <div class="col-md-7 px-4 iframe scroll-wrapper">
        <div class="iframe-container">    
          <iframe id="advanced_iframe" name="advanced_iframe" src="" width="100%"
            height="700" scrolling="yes" frameborder="0" border="0" allowtransparency="true" onload=";aiResizeIframe(this, 'true','1');"></iframe>
        </div>
      </div>
      <div class="col-md-5 px-4">
        <h3 class="view-rate-heading">Amenities</h3>
        <img src="{{imageBaseUrl}}/self-storage-view-rates.{{imagetype}}"
        alt="{{viewRatesAltText}}" class="sectionImage" />
        <p class="view-rate-text text-justify" *ngFor="let viewRates of viewRates">
          {{viewRates.p}}
        </p>
      </div>
    </div>
  </div>
</div>