<div class="fixed-top">
  <app-header [currentActive]="currentActive"></app-header>
  <app-breadcrumb [breadcrumbActive]="breadcrumbActive"></app-breadcrumb>
</div>

<div class="contentHolder">
  <div class="container pb-5" style="padding-top: 190px;">
    <div class="row">
      <div class="col-md-6 col-12 my-4">
        <img src="../../assets/images/entrance.jpg" alt="Entrance of storage unit" class="sectionImage">
      </div>
      <div class="col-md-6 col-12 my-4">
        <h1 class="heading pb-4">Who We Are</h1>
        <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
