@import '../../styles.scss';

#unit-sizer-holder {
    padding-top: 100px;
    min-height: 87vh;
    margin-bottom: 50px;
    text-align: justify;
    #unit-sizer-container {
        padding: 64px;
        background-color: $light;
        margin-bottom: 50px;
    
        .single-block {
            background-color: $white;
            border: 1px solid $border;
            .col-sm-5 {
                padding-top: 20px;
            }
        }
    }
}

.contact-button {
    position:fixed; 
    right:0px; 
    top:12%; 
    z-index: 16;
  }

 

@media only screen and (max-width: 600px) {
    #unit-sizer-holder {
        padding-top: 60px;
        .heading {
            padding-bottom: 30px !important;
        }
        #unit-sizer-container {
            padding: 16px !important;
            .single-block {
                .col-sm-5 {
                    padding-top: 20px !important;
                }
        }
    }


    .col-sm-7 {
        padding-left: 30px !important;
    }
}
     // Sticky Buttons 
  .contact-button {
    position:fixed; 
    right:0px; 
    top:15%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden; 
    z-index: 16;
  }
}