<div class="contentHolder">
  <div class="container">
    <h1 class="py-5 text-center">View Rates</h1>
    <div class="row bg-light padding">
      <div class="col-md-12 col-lg-7 coming p-3 " >
        <iframe id="advanced_iframe" name="advanced_iframe" src="https://mckeesportstorage.sim.syrasoft.com/UnitAvailability" width="100%"
          height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>
      </div>
      <div class="col-md-12 col-lg-5 p-3">
        <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/McKeesport+Storage/mckeesport-storage-road.jpg" alt="photograph of a row of self storage units behind a security fence" class="sectionImage" width="auto"/>
      
        <!-- <div class="mt-4 justify">
          <p  *ngFor="let data of dataViewRates">{{data.p}}</p>
        </div> -->
        <div class="easycode-viewrates my-2 py-2 text-center px-2">
            <div class="py-2"><b>Easy Entry With EasyCode</b></div>
            <div class="py-2">CONTROL IN THE PALM OF YOUR HAND</div>
            <div class="easycode p-3">
               Download the FREE app "EasyCode"
            <div class="row ">
              
              <div class="app-link col-md-12">
                <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/McKeesport+Storage/easy-code.png" alt=" icon artwork that reads 'easy code' "  />
              </div>
              <div class="app-link col-md-12">
                <a href=" https://play.google.com/store/apps/details?id=com.easy_code2&hl=en "target="_blank">
                 <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/McKeesport+Storage/get-it-on-google-play.png" alt="icon indicating a link to Google's Play Store to download the Easy Code application " width="auto" target="_blank"/></a>
               </div> 
               <div class="app-link col-md-12">
                 <a href="https://itunes.apple.com/us/app/easycode-2-0/id1304572599?mt=8" target="_blank">
                   <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/McKeesport+Storage/download-it-on-the-app-store.png" alt="icon indicating a link to Apple's App Store to download the Easy Code application" width="auto" target="_blank"/></a>
                 </div>
            </div>
            </div>
            <div class="key py-2">
               <h2>Enter Site Key : qjB6XHGQQ3</h2>
           </div>
          </div>
      </div>
    </div>
  </div>
</div>