/* You can add global styles to this file, and also import other style files */

//Basic color and font styles
$primary: #ffde03;
$primaryDark: #fbc02d;
$secondary: #212121;
$dark: rgba(0, 0, 0, 0.2);
$light: #efefef;
$white: #fff;
$black: 000;
$border: #707070;
$shadow: #000;
$dark-background: #404040;
$fontColor: $white;
$primaryFont: "Lato", sans-serif;

html,
body {
  font-family: $primaryFont;
}

// Different Background colors
.bg-secondary {
  background: $secondary !important;
}

.bg-dark {
  background: $dark !important;
}

.bg-light {
  background: $light !important;
}

.bg-translucent {
  background: rgba(0, 0, 0, 0.72);
  width: auto !important;
  height: 100vh;
}

.bg-dark-background {
  background: $dark-background;
}

// Content Holder Styles
.contentHolder {
  min-height: 94vh;
}

.btn {
  width: 200px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $shadow !important;
  border-radius: 25px;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
  box-shadow: none !important;
  background-color: $primaryDark !important;
  border-color: $primary !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none !important;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: $primary;
  border: 1px solid $primary;
  color: $white !important;
  border-radius: 25px;
}

.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover {
  border-color: $primary !important;
  background-color: $primaryDark !important;
  box-shadow: none !important;
  color: #000 !important;
}

.section-headings {
  font-weight: 200;
}

.contact-map {
  width: 100%;
}

.heading {
  font-weight: 400;
}

.sectionImage {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .btn {
    width: 150px;
  }
}
