<div class="storage-tip-holder">
  <div class="container">
    <div class="heading">
      <h1 class="text-center pt-5">Storage Tips</h1>
    </div>
    
    <div class="storage-content mt-5">
      <div class="row">    
        <div class="col-md-6">
          <h2 class="pb-3">Tips For Your Storage Unit</h2>
          <!-- <ul>
            <li *ngFor="let point of storagePoints" class="p-1 text-justify"> {{point.data}} </li>
          </ul> -->
          <div *ngFor="let point of storagePoints">
            <h3 class="pb-2" style="font-weight: 600;">{{point.heading}}</h3>
            <p class="text-justify"> {{point.data}} </p>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="pb-3">Tips For Moving</h2>
          <app-accordion [accordianData]='storageTips' ></app-accordion>
        </div>
      </div>
    </div>
  </div>
</div>




