<div id="rent-sub-holder">
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div *ngIf="" >
            
          </div>
        </div>
      
        <div class="col-md-6 rent-example" >
          <h2> How to Login </h2>
          <p class="pt-3"> <b>Username:</b> First initial + Last Name </p>
          <p> <b>Password:</b> Your gate access code</p>
      
          <p class="py-3"> <b>Example</b> </p>
          <p class="pb-3">John Smith's gate code is 1234</p>
      
          <p> <b>John's Username:</b> jsmith </p>
          <p class="pb-3"> <b>John's Password:</b> 1234 </p>
      
          <p> <b>Have question about your account?</b> </p>
          <p> (585) 924-9290 </p>
        </div>
  </div>
</div>
</div>
