@import '../../styles.scss';

#rent-sub-holder {
    
    padding: 50px;
    background-color: $light;
    margin-bottom: 50px;
    .rent-example {
        border-left: 1px $border solid;
        padding-left: 10%;
        p {
            padding: 0px;
            margin: 0px;
         }
    }
 }

@media only screen and (max-width: 600px) {
    #rent-sub-holder {
        padding: 16px;
    }
    iframe {
       min-height: 400px;
   }
    .rent-example {
        border-left: none !important;
    }
}