@import "../../styles.scss";

.contact-details {
  h4 {
    font-size: 1rem;
  }
}

.contact-links {
  a {
    display: inline-block;
    margin-bottom: 5px;
    color: black;
  }
}

.display-contact {
  display: flex;
}

.btn-outline-primary {
  color: $primary !important;
}

.btn-primary {
  margin-left: 10px;
}

.contact-butoon {
  .btn-primary {
    min-width: 140px;
  }

  .btn-outline-primary {
    min-width: 140px;
  }

  button {
    float: right;
  }
}

.form-control {
  font-size: 0.8rem;
}


@media only screen and (max-width: 991px) {
  .contact-butoon {
    .btn-primary {
      min-width: 100%;
      margin-bottom: 5px;
    }

    .btn-outline-primary {
      min-width: 100%;
      margin-top: 5px;
    }
  }
}


@media only screen and (max-width: 600px) {
  .contact-butoon {
    .btn-primary {
      min-width: 100%;
      margin-bottom: 5px;
    }

    .btn-outline-primary {
      min-width: 100%;
      margin-top: 5px;
    }
  }
}

