@import "../../styles.scss";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


.currentActive {
  border-bottom: 3px solid $light;
}

.text-justify {
  text-align: justify;
}

.storage-tip-holder {
  padding-top: 172px;
  min-height: 88vh;
  margin-bottom: 50px;

  .heading {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .storage-content {
    padding: 50px;
    background-color: $light;
    min-height: 650px;

    ul {
      padding-left: 30px;
    }
  }
}


@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .storage-tip-holder {
    padding-top: 160px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .storage-tip-holder {
    padding-top: 134px;
    .storage-content {
      min-height: 760px;
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .storage-tip-holder {
    padding-top: 174px;
    .storage-content {
      min-height: 940px;
    }
  }
}

@media screen and (max-width: 600px) {
  .storage-tip-holder {
    padding-top: 115px;
    .storage-content {
      padding: 16px;
      min-height: 800px;
    }
  }
}

// @media only screen and (max-width: 600px) and (min-width: 576px) {
//   .storage-tip-holder {
//     padding-top: 152px;
//   }
// }


// @media screen and (max-width: 575px) and (min-width: 453px) {
//   .storage-tip-holder {
//     padding-top: 172px;
//   } 
// }

// @media screen and (max-width: 452px) {
//   .storage-tip-holder {
//     padding-top: 200px;
//   } 
// }