<div class="reserveUnitHolder">
  <div class="container px-0">
    <h2 class="text-center">{{heading}}</h2>
    <!-- <P class="text-center">Reservations made online may be made up to 14 days from the date of the reservation. Need to make a reservation for more than 14 days from now? Please call (845) 473-0066, we will be happy to accommodate you!</P> -->
    <div class="row pt-2">
        <div class="col-12 px-0">
          <!-- <app-reserve-unit-form></app-reserve-unit-form> -->
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>
