@import "../../styles.scss";

.contentHolder {
  padding-top: 130px;
  min-height: 87vh;
  margin-bottom: 50px;

  .rentals-content {
    padding: 64px;
    background-color: $light;

    ul {
      padding-left: 17px;
    }
  }
}

@media screen and (max-width: 600px) {
  .contentHolder {
    padding-top: 60px;

    .rentals-content {
      padding: 16px;
    }
  }

  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;

    iframe {
      width: 100%;
      overflow: scroll;
    }
  }

  img {
    width: 100%;
  }
}

