@import "../../../styles.scss";

.btn-outline-primary {
  color: $primary !important;
}

.btn-outline-primary:hover {
  color: $white !important;
}

.btn-primary {
  margin-left: 10px;
}

.contact-butoon {
  .btn-primary {
    min-width: 140px;
  }

  .btn-outline-primary {
    min-width: 140px;
  }

  button {
    float: right;
  }
}

@media only screen and (max-width: 991px) {
  .contact-butoon {
    .btn-primary {
      min-width: 100%;
      margin-bottom: 5px;
    }

    .btn-outline-primary {
      min-width: 100%;
      margin-top: 5px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact-butoon {
    .btn-primary {
      min-width: 100%;
      margin-bottom: 5px;
    }

    .btn-outline-primary {
      min-width: 100%;
      margin-top: 5px;
    }
  }
}
