@import "../../styles.scss";

.jumbotron-background-webp {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/84_West_Self_Storage/webp/self-storage-units-row.webp");
}

.jumbotron-background-jpg {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/84_West_Self_Storage/jpg/self-storage-units-row.jpg");
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 80vh;
  color: $white;
  overflow: hidden;
  border-radius: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

h1 {
  font-size: 2.25rem;
}

.home-map {
  iframe {
    border: 2px solid white;
  }
}

.feature {
  h4 {
    font-size: 16px;
  }
}

.feature-icon-style {
  padding: 24px;
  text-align: center;

  img {
    padding: 10px;
  }
}

.contact-links {
  a {
    color: black;
  }
}

.contacts, .office-hours {
  display: block;
  margin-bottom: 8px;
  h3 {
    font-size: 16px;
    display: inline;
    font-weight: bold;
  }
}

.content-align {
  text-align: right;
}

.getStarted {
  color: $black;
  text-align: center;

  h2 {
    font-size: 2.25rem;
  }
}

.disp {
  text-align: left;
  color: $white;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.jumbotron-top {
  height: 80vh;
}

.jumbotron-bottom {
  height: 20vh;
  display: flex;
  align-items: center;
}

.jumbotorn-skew-style {
  width: 75%;
  float: left;
  left: -25%;
  position: relative;
  transform: skew(15deg);
  height: 100%;

  a {
    margin-top: 20px;
  }
}

.jumbotorn-skew-text {
  transform: skew(0deg);
  width: 24%;
  position: absolute;
  top: 25%;

  .btn-outline-primary {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotorn-skew-text {
    width: 500px;
  }
}

.arrow {
  position: relative;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: example;
  cursor: pointer;
}

@keyframes example {
  0% { bottom: 50px; }
  50% { bottom: 10px; }
  100% { bottom: 50px; }
}

@media only screen and (min-width: 1200px) and (max-height: 750px) and (min-height: 641px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
  .jumbotorn-skew-text {
    width: 520px;
    top: 22%;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 640px) and (min-height: 451px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 120px;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 520px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .jumbotorn-skew-text {
    width: 440px;

    a {
      min-width: 160px;
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 750px) and (min-height: 641px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 640px) and (min-height: 451px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 130px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 450px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .jumbotorn-skew-style {
    width: 85%;
  }

  .jumbotorn-skew-text {
    width: 400px;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 2.3rem;
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 830px) and (min-height: 701px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 700px) and (min-height: 481px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 160px;
  }

  .jumbotorn-skew-text {
    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 2.3rem;
      }
    }
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 480px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }


  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 200px;
  }

  .jumbotorn-skew-style {
    width: 90%;
  }

  .jumbotorn-skew-text {
    top: 30%;
    width: 320px;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
        line-height: 1rem
      }

      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 500px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 0;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 420px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 429px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 150px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 2px;

    .btn-outline-primary {
      margin-right: 0;
      margin-bottom: 8px;
    }

    .btn-primary {
      margin-top: 8px;
    }

    .jumbotorn-button {
      padding: 15px;
    }
  }
}
