<div class="payRent">
  <h2 class="pb-1">Sign Up For Automatic Payments</h2>
  <div *ngIf="showSuccessStatus; else other"  class="go-to-home pt-4">
    <div><strong><i>{{successMessage}}</i></strong></div>
      <div class="py-3 d-flex align-items-center">
        <a (click)="goBack()">Go Back</a>
        <button type="button" *ngIf="tenantTokenExist" (click)="signOut(logOut)" class="btn btn-primary ml-3">LogOff</button>
      </div>
</div>
  
<ng-template #other>
<form [formGroup]="autoPayForm" (ngSubmit)="onSubmit()" class="pt-3">
  <strong>
    <i  *ngIf="makeAutoPayStatus">Processing {{progressMessage}}, please wait...</i></strong>
  <!-- <strong><i *ngIf="showSuccessStatus">{{successMessage}}</i></strong> -->
  <div *ngIf="isDataSaved"><strong><em>{{messageSavedData}}</em></strong> </div>
  <div
    [class.loaderForPayment]="showloaderForPayment || showLoader"
  >
  </div>
  <div formGroupName="objTenant" class="pt-3">

    <div class="row">
      <div class="col-md-6">
        <div formGroupName="PayType" class="row">
          <div  class="form-group col-lg-12">
            <label for="lstPayTypes">Card Type*</label>&nbsp;
            <select class="form-control" formControlName="PayTypeDescription" [id]="lstPayTypes?.PayTypeDescription"
            (change)="selectChangeHandler($event)"
            [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.PayType.controls.PayTypeDescription.errors }"
            >
              <option *ngFor="let lstPayType of lstPayTypes"
              [value]="lstPayType?.PayTypeDescription"
              [class.display-none]="lstPayType?.PayTypeID === -8"
              >
              <div *ngIf="lstPayType?.PayTypeID !== -8">
                {{lstPayType.PayTypeDescription}}
              </div>
              </option>
            </select>
            <div *ngIf="submitted && f.objTenant.controls.PayType.controls.PayTypeDescription.errors" class="invalid-feedback">
                <small class="form-text text-muted" *ngIf="f.objTenant.controls.PayType.controls.PayTypeDescription.errors.required">
                  Please fill out this field
                </small>
            </div>
          </div>
          <div class="form-group">
              <input type="hidden" formControlName="PayTypeID" [value]="PayTypeIDValue" />
          </div>
        </div>
          <div class="form-group row">
            <div class="col-lg-12">
                <label>Cardholder's Name*</label>&nbsp;
                <input type="text" class="form-control" formControlName="CCBillingAccountName"
                [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.CCBillingAccountName.errors }"
              />
              <div *ngIf="submitted && f.objTenant.controls.CCBillingAccountName.errors" class="invalid-feedback">
                <small class="form-text text-muted" *ngIf="f.objTenant.controls.CCBillingAccountName.errors.required">
                  Please fill out this field
                </small>
              </div>
            </div>
          </div>       
        
          <div class="row">
            <div class="form-group col-lg-6">
              <label>Credit Card Number*</label>&nbsp;
              <input  class="form-control" type="text" formControlName="CCNumber"  (keyup)="autoCardType($event)"
              [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.CCNumber.errors }"
              />
              <div *ngIf="submitted && f.objTenant.controls.CCNumber.errors" class="invalid-feedback">
                  <small class="form-text text-muted" *ngIf="f.objTenant.controls.CCNumber.errors.required">
                    Please fill out this field
                  </small>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>Expiration Date*</label>&nbsp;
                <div  class="display-expiration-date">
                  <div class="">
                    <select  class="form-control custom-style " formControlName="CCExpirationMonth" [id]="month?.id"
                    [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.CCExpirationMonth.errors }">
  
                        <option *ngFor="let month of month"
                        [value]="month?.id"
                        >
                        {{month.label}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.objTenant.controls.CCExpirationMonth.errors" class="invalid-feedback">
                        <small class="form-text text-muted" *ngIf="f.objTenant.controls.CCExpirationMonth.errors.required">
                          Please fill out this field
                        </small>
                    </div>
                  </div>
                  &nbsp;
                  <div class="">
                    <select class="form-control custom-style" formControlName="CCExpirationYear" [id]="year"
                    [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.CCExpirationYear.errors }">
                    >
                        <option *ngFor="let year of year"
                        [value]="year.id"
                        >
                        {{year.label}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.objTenant.controls.CCExpirationYear.errors" class="invalid-feedback">
                        <small class="form-text text-muted" *ngIf="f.objTenant.controls.CCExpirationYear.errors.required">
                          Please fill out this field
                        </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="form-group col-lg-12">
                <label>Cardholder's Address*</label>&nbsp;
                <input type="text" class="form-control" formControlName="CCBillingAddress"
                [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.CCBillingAddress.errors }"
                />
                <div *ngIf="submitted && f.objTenant.controls.CCBillingAddress.errors" class="invalid-feedback">
                    <small class="form-text text-muted" *ngIf="f.objTenant.controls.CCBillingAddress.errors.required">
                      Please fill out this field
                    </small>
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="form-group col-lg-12">
                <label>Zip Code*</label>&nbsp;
                <input type="text" class="form-control" formControlName="CCBillingZIP"
                [ngClass]="{ 'is-invalid': submitted && f.objTenant.controls.CCBillingZIP.errors }"
                />
                <div *ngIf="submitted && f.objTenant.controls.CCBillingZIP.errors" class="invalid-feedback">
                    <small class="form-text text-muted" *ngIf="f.objTenant.controls.CCBillingZIP.errors.required">
                      Please fill out this field
                    </small>
                </div>
              </div>
            </div>
          </div>
            <div class="form-group checkbox-style col-lg-6">
              <input type="checkbox"  (change)="toggleEvent()" [checked]="IsAutoPaymentsEnabled" /> &nbsp;
              <label>Check box, and click Update Autopay Status to turn autopay on. Unchecked box and click Update Autopay Status to turn autopay off.</label>
            </div>
        </div>
      </div>
      <div class="text-right">
        <!-- <button type="button" *ngIf="tenantTokenExist"  (click)="saveDetail()" [disabled]="!isDataUpdated"  class="btn btn-primary col-lg-3 col-sm-12 ">Save</button> -->
        <button type="submit"  class="btn btn-primary col-lg-4 col-sm-12 margin-small-device" [disabled]="makeAutoPayStatus || !enableUpdateButton">
          Update Autopay Status or Card Detail
        </button>
        <button type="button" *ngIf="tenantTokenExist" [disabled]="showLoader"  
        (click)="signOut(logOut)" class="btn btn-primary col-lg-3 col-sm-12 ml-lg-4 ml-sm-0 mt-lg-0 mt-sm-2 mt-2">LogOff</button>
      </div>
    </form>
  </ng-template>
</div>
