@import "../../styles.scss";

.containHolder {
  min-height: 94vh;
  padding-top: 100px;
}

.pay-rent-holder {
  background-color: #f1f0ed;
}

.rent-example {
  border-left: 1px solid black;
  padding-left: 50px;
}

a {
  color: black;
}

.display-none {
  display: none;
}

.contact-links{
 
  line-height: 2.2;
}

@media only screen and (max-width: 991px) {
  .rent-example {
    border-left: 0;
    padding-left: 20px;
    margin-top: 10px;
  }
}
