<div class="aboutUs-holder">
  <div class="container px-0">
    <div class="row">
      <div class="col-lg-6 pt-2">
        <h2>{{amenitiesHeading}} </h2>
        <p class="text-justify">{{amenitiesParagraph}}</p>
        <!-- <img src="{{image}}" width="100%" alt="{{alt}}"> -->
        <app-tables [tBody]="featuresList"></app-tables>
      </div>
      <div class="col-lg-6">
        <h2 class="pb-2">{{heading}} </h2>
        <div *ngFor="let para of aboutPara">
          <p class="text-justify" [innerHtml]="para.p"></p>
        </div>
      </div>
    </div>
  </div>
</div>
