<div class="custom-padding">
  <div class="container">
    <div class="row error">
      <div class="col-md-6">
        <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/error.svg" alt="Error" width="100%" height="100%">
      </div>
      <div class="col-md-6 m-auto error-message">
        <div class="py-2">Oops!</div>
        <h2>Something Went Wrong...</h2>
        <h5 class="py-5">Go Back To <a href="/"> Home </a></h5>
      </div>
    </div>
  </div>
</div>