@import "../../styles.scss";

.rent-holder {
  padding-top: 185px;
  min-height: 87vh;
  margin-bottom: 50px;

  .rent-sub-holder {
    // padding: 64px;
    background-color: $light;
  }
}


@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .rent-holder {
    padding-top: 210px;
  }
}

@media only screen and (max-width: 991px) {
  .rent-holder {
    padding-top: 160px;
  }
}

@media only screen and (max-width: 767px) {
  .rent-holder {
    padding-top: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .rent-holder {
    padding-top: 150px;

    .rent-heading {
      padding-bottom: 30px;
    }
  }
}


@media only screen and (max-width: 356px) {
  .rent-holder {
    padding-top: 172px;
  }
}
