<div class="rent-holder">
  <div class="container">
    <div class="rent-heading pb-5">
      <h1 class="text-center pt-5">Pay Your Bill Online</h1>
    </div>
    
    <div class="rent-sub-holder">
      <div class="container px-0">
        <div class="row ">
          <div class="col-md-8 p-4">
            <iframe id="advanced_iframe" name="advanced_iframe" src="https://storagekingnh.sim.syrasoft.com/PayNow" width="100%"
            height="300" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
          </div>
            
          <!-- <div class="col-md-4 rent-example p-4" >
            <h2> How to Login </h2>
            <p class="pt-3"> <b>Username:</b> First initial + Last Name </p>
            <p> <b>Password:</b> Your Unit Number</p>
        
            <p class="py-3"> <b>Example</b> </p>
            <p class="pb-3">John Smith's unit number is 1234</p>
        
            <p> <b>John's Username:</b> Jsmith </p>
            <p class="pb-3"> <b>John's Password:</b> 1234 </p>
        
            <p> <b>Have question about your account?</b> </p>
            <p> {{contactInfo[2].data}} </p>
            <p>  {{contactInfo[1].data}} </p>
          </div> -->
          <div class="col-md-4 custom-border pl-lg-5 pl-md-4 pl-sm-2">
              <!-- <p class="pt-3"> <b>Username:</b> Email Address </p>
              <p> <b>Password:</b> Your Unit Number</p> -->
              <p class="text-justify">Having trouble logging in? Call <a href="tel:6037724500">(603) 772-4500</a> and one of our self storage management professionals will be happy to assist you!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
