@import "../../styles.scss";

.rent-holder {
  padding-top: 185px;
  min-height: 87vh;
  margin-bottom: 50px;

  .rent-sub-holder {
    padding: 64px;
    background-color: $light;
  }
}

.custom-border {
  border-left: 1px solid black;
}

.rent-example {
  border-left: 1px $border solid;
  padding-left: 5%;

  p {
    padding: 0;
    margin: 0;
  }
}

a {
  color: black;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .rent-holder {
    padding-top: 210px;
  }
}

@media only screen and (max-width: 991px) {
  .rent-holder {
    padding-top: 160px;
  }
}

@media only screen and (max-width: 767px) {
  .rent-example {
    border-left: none;
    padding-top: 16px;
  }

  .custom-border {
    border: none;
  }

  .rent-holder {
    padding-top: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .rent-holder {
    padding-top: 150px;

    .rent-sub-holder {
      padding: 16px;
    }

    .rent-heading {
      padding-bottom: 30px;
    }

    iframe {
      min-height: 400px;
    }

    .rent-example {
      border-left: none;
      padding-bottom: 20px;
    }
  }
}


@media only screen and (max-width: 356px) {
  .rent-holder {
    padding-top: 172px;
  }
}
