.containHolder {
    min-height: 94vh;
    padding-top: 140px;
  }
  
  .pay-rent-holder {
    background-color: #f1f0ed;
    .row{
        margin-left: 15px;
        margin-right: 15px;
    }
  }
  
  .rent-example {
    border-left: 1px solid black;
    padding-left: 15px;
  }
  
  a {
    color: black;
  }