/* You can add global styles to this file, and also import other style files */

//Basic color and font styles
$primary: #ffde03;
$primaryDark: #FBC02D;

// $primary: #FF9800;
// $primaryDark: #EF6C00;
$secondary: #212121;

$dark: rgba(0, 0, 0, 0.2);
$light: #efefef;
$white: #ffffff;

$border: #707070;
$shadow: #000000;

$dark-background: #404040;

$fontColor: $white;
// $primaryFont: 'Roboto';
$primaryFont: 'Lato', sans-serif;

* {
    // font: $primaryFont;
    font-family: $primaryFont;
}

.justify {
    text-align: justify;
}

// Different Background colors
.bg-secondary {
    background: $secondary !important;
}

.bg-dark {
    background: $dark !important;
}

.bg-light {
    background: $light !important;
}

.bg-translucent{
    background: rgba(0, 0, 0, 0.72);
    width: auto !important;
    height: 100vh;
}

.bg-dark-background {
    background: $dark-background
}

// Content Holder Styles
.contentHolder {
    min-height: 94vh;
}

.btn-primary{
    background-color: $primary;
    border-color: $primary; 
    color: $shadow !important;
    min-width: 200px;
    border-radius: 25px;
}

.btn-primary:hover {
    background-color: $primaryDark;
    border-color: $primaryDark;
    border-radius: 25px;
}

.btn-outline-primary {
    background-color: transparent;
    border-color: $primary;
    border: 1px solid $primary;
    min-width: 200px;
    color: $white !important;
    border-radius: 25px;
} 

.btn-outline-primary:hover {
    background-color: $primaryDark;
    border-color: $primaryDark;
    border-radius: 25px;
    color: #000000 !important;
}

.section-headings{
  font-weight: 200;
}

.contact-map{
  width: 100%;
}

.heading {
    font-weight: 400;
}

.sectionImage{
    width: 100%;
}
