<div class="">
  <div class="jumbotron p-0 m-0">
    <div class="bg-translucent display">
      <div class="container">
        <div class="col-md-8 text-align">
          <div class="disp">
            <h1>GREAT STORAGE OPTION</h1><br>
            <p>With affordable truck rentals, drive-up access, temperature - controlled storage units, and top notch customer service, Catskill Self Storage has your storage unit needs covered! Contact us today to get started!</p>
          </div>
          <div class="">
            <a class="btn btn-lg btn-outline-primary m-2" (click)="navigate('/view-rates')" role="button">View Rates</a>
            <a class="btn btn-lg btn-primary m-2" (click)="navigate('/reserve')" role="button">Reserve Unit</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark-background">
  <div class="container py-5">
    
    <!-- <div class="section py-5 m-0">
      <div class="row">
        <div class="col-md-6 py-3">
          <h1 class="heading pb-4">Services We Offer</h1>
          <p class="justify" *ngFor="let data of serviceOffered">{{data.p}}</p>
        </div>
        <div class="col-md-6 py-3">
          <app-tables [tBody]="featuresList" [tHead]="featuresHead"></app-tables>
        </div>
      </div>
    </div> -->

    <div class="section py-5 m-0">
        <h1 class="heading pb-4" style="text-align: center, border-bottom: 1px">About Us</h1>
      <div class="row">
        <div class="col-md-6 py-3">
          <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
        </div>
        <div class="col-md-6 py-3">
            <img src="../../assets/images/about-us.jpg" height=100% alt="storage unit picture" class="sectionImage">
          </div>
      </div>
    </div>
  </div>
  </div>

  <div class="getStarted">
    <div class="we-provide-background">
      <div class="container py-5">
        <div class="section py-5 m-0">
          <div class="row">
            <div class="col-md-12">
              <h1 class="heading pb-4">We Provide</h1>
              <p class="pb-4">{{gettingStarted}}</p>
              <a class="btn btn-lg btn-primary" (click)="navigate('/reserve')" role="button">Reserve Unit Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark-background">
    <div class="container py-5">
      <div class="section py-5 m-0">
          <h1 class="heading pb-4" style="text-align: center">Location Information</h1>
        <div class="row">
            <div class="col-md-6 py-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d47251.23771165393!2d-73.906239!3d42.252851!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeb3c5b1992ccc62a!2sU-Haul+Neighborhood+Dealer!5e0!3m2!1sen!2sus!4v1466783726746"
                  width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
              </div>
          <div class="col-md-6 py-3">
            <p>
              <span *ngFor="let contact of contactDetails">
                <b>{{contact.label}}</b> {{contact.data}}<br>
              </span>
            </p>
            <b>Hours:</b>
            <p>
              <span *ngFor="let hour of hours">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</div>
