
<div class="contentHolder">
  <div class="container">
      <div class="heading pb-5">
        <h1 class="text-center pt-5 disp">Contact Lois Stor-All</h1>
      </div>
      <div class="contact-data">
        <div class="row bg-light padding">
          <div class="col-lg-7 p-4">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div [hidden]="" *ngIf="submitted && !this.contactForm.valid" class="alert alert-danger alert-dismissible fade show">
                        Please fill out all the required fields!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <div [hidden]="" *ngIf="mailSent" class="alert alert-success alert-dismissible fade show">
                        Thank You for contacting us, We will get back to you soon.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name" >Name*</label>
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter Name" id="name"/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.name.errors.required">Please fill out this field</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone">Phone Number*</label>
                            <input type="tel" formControlName="phone" placeholder="Enter Phone Number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" id="phone"/>
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.phone.errors.required">Please fill out this field</small>
                            </div>
                            <div *ngIf="f.phone.errors" >
                                <small class="form-text text-muted" *ngIf="f.phone.errors.pattern">Please enter valid number</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email Address*</label>
                            <input type="text" formControlName="email" placeholder="Enter Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email"/>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.email.errors.required">Please fill out this field</small>                                  
                            </div>
                            <div *ngIf="f.email.errors" >
                                <small class="form-text text-muted" *ngIf="f.email.errors.email">Please enter a valid email</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" formControlName="subject" placeholder="Enter subject" class="form-control" id="subject"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comments">Message*</label>
                    <textarea type="text" formControlName="message" placeholder="Enter Message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" id="comments" ></textarea>
                    <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                        <small class="form-text text-muted" *ngIf="f.message.errors.required">Please fill out this field</small>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary px-4 mx-1">Submit</button>
                    <button type="button" class="btn btn-outline-primary mx-1 px-4" (click)="contactForm.reset()">Clear</button>
 
                </div>
            </form>
          </div>
          
          <div class="col-lg-5 p-4">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4044.474599712088!2d-88.26754670504626!3d42.69599643625494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880584c93b09b219%3A0xa0998c51056fe1d8!2sLois+Stor-All!5e0!3m2!1sen!2sus!4v1563911367372!5m2!1sen!2sus" width="100%" height="400px" frameborder="0"  allowfullscreen></iframe>
              </div>
              <div class="contact-details pt-lg-4 pt-md-4 pt-sm-2">
                <h2 class="py-1">Lois Stor-All</h2>
                <span class="font-xs-device" *ngFor="let contact of contactInfo">
                    <b>{{contact.label}}</b><span class="contact-links" *ngIf="contact?.id === 2 || contact?.id === 3 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                    <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
                </span>
                <h3 class="py-1"><strong>Office:</strong></h3>
                <span class="font-xs-device" *ngFor="let hour of hours">
                  <b>{{hour.label}}</b> {{hour.data}}<br>
                </span>
              </div>
          </div>
      </div>
  </div>


</div>
  
</div>
