

<div class="contentHolder">
  <div class="container pb-5 my-3 padding-top">
    <h1 class="py-5 text-center">Affordable Storage</h1>
    <div class="row bg-light background-padding">
      <div class="col-md-6 px-4 scroll-wrapper">
        <div [class.loader]="!showTable">
        </div>
        <div>
          <table>
              <tHead [class.display]="!showTable">
                  <tr >
                    <th colspan="2" class="px-4 " >Size</th>
                    <th colspan="2" class="px-4 " >Rate</th>
                  </tr>
                </tHead>
            <tbody  >
              <tr *ngFor="let LstUnitTypes of LstUnitTypes">
                <td colspan="2" class="px-4 border">
                    {{LstUnitTypes.Description}}
                </td>
                <td colspan="2" class="px-4 border">
                    ${{LstUnitTypes.MonthlyRate}}
                </td>
                </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="col-md-6 px-4">
        <h3 class="view-rate-heading">Amenities</h3>
        <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Catskill_Images/self-storage-view-rates.jpg" alt="self-storage-view-rates" class="sectionImage" />
        <p class="view-rate-text text-justify" *ngFor="let viewRates of viewRates">
          {{viewRates.p}}
        </p>
      </div>
    </div>
  </div>
</div>
