<div class="fixed-top">
  <app-header [currentActive]="currentActive"></app-header>
  <app-breadcrumb [breadcrumbActive]="breadcrumbActive"></app-breadcrumb>
</div>

<div class="contentHolder">
  <div class="container" style="padding-top: 190px;">
    <h1 class="py-4" style="text-align: center">Affordable Storage</h1>
    <div class="row">
      <div class="col-md-6">
        <iframe id="advanced_iframe" name="advanced_iframe" src="https://catskillselfstorage.sim.syrasoft.com/viewRates" width="100%"
          height="700" scrolling="no" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;" onload=";aiResizeIframe(this, 'true','1');"></iframe>
      </div>
      <div class="col-md-6 my-3">
        <h1 class="view-rate-heading">Amenities</h1>
        <img src="../../assets/images/self-storage-view-rates.jpg" alt="self-storage-view-rates" class="sectionImage" />
        <p class="my-4">
          Catskill Self Storage offers many amenities to make your storage experience a fast, easy, and hassle-free one! Located conveniently off of Route 87 at Exit 21 just west of downtown Leeds, we are situated in a perfect spot for both residential and commercial storage. Ask about out online payments and EZ Auto-Pay option!
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>