@import '../../styles.scss';

.text-align {
    text-align: center; 
}

.view-rate-heading {
    display: none;
}

.contentHolder{
    h1 {
        margin-block-end: 16px!important;
    }

    .scroll-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow: auto;

        iframe {
            width: 100%;
            overflow: auto;
        }
    }
}

@media screen and (max-width: 480px) {
    h1 {
        display: none;
    }
    .view-rate-heading {
        display: block;
        text-align: center;
        padding: 0px 0px 15px 0px;;
    }
}

@media only screen and (max-width: 600px) {
    .scroll-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;

        iframe {
            width: 100%;
            overflow: scroll;
        }
    }
}