@import "../../styles.scss";


//table style

table {
  thead {
    background: $dark;
    th {
      color: $primary;
    }
  }
  tbody {
    tr {
      td {

      }
    }
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid $primary;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.display {
  display: none;
}
// table style

.view-rate-heading {
  display: none;
}

.contentHolder {
  h1 {
    margin-block-end: 0;
  }

  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    // overflow: auto;
    display: flex;

    // iframe {
    //   width: 100%;
    //   overflow: auto;
    //   min-width: 100%;
    // }
  }
}

.view-rate-text {
  margin-top: 36px;
}

// .iframe-container {
//   background-color: white;
// }

.padding-top {
  padding-top: 110px;
}

.background-padding {
  padding: 64px;
}

@media only screen and (max-width: 600px) {
  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;

    // iframe {
    //   width: 100%;
    //   overflow: scroll;
    // }
  }

  .background-padding {
    padding: 24px 0;

    p {
      margin-block-end: 0;
    }
  }

  .view-rate-heading {
    display: inline;
  }

  .padding-top {
    padding-top: 56px;
  }
}


@media only screen and (max-width: 767px) {
  .view-rate-heading {
    display: block;
    margin-block-start: 36px;
    margin-block-end: 16px;
  }
}


@media only screen and (max-width: 991px) {
  .padding-top {
    padding-top: 56px;
  }
}
