

<div class="contentHolder">
  <div class="container pb-5 my-3 padding-top">
    <h1 class="py-5 text-center">Affordable Storage</h1>
    <div class="row bg-light background-padding">
      <div class="col-lg-6 col-md-12 px-4 scroll-wrapper pb-lg-0 pb-md-5" [class.col-lg-12]="openComponent">
        <div [class.loader]="!showTable">
        </div>
        <div>
            <app-reserve-unit-form *ngIf="openComponent; else content"></app-reserve-unit-form>
            <ng-template #content >
            <table>
              <tHead [class.display]="!showTable">
                  <tr >
                    <th colspan="2" class="px-4 py-1" >Size</th>
                    <th colspan="2" class="px-4 py-1" >Rate</th>
                    <th colspan="2" class="px-4 py-1" >Reserve a Unit</th>
                  </tr>
                </tHead>
            <tbody  >
              <tr *ngFor="let LstUnitTypes of LstUnitTypes">
                <td colspan="2" class="px-4 border">
                    {{LstUnitTypes.Description}}
                </td>
                <td colspan="2" class="px-4 border">
                    <span *ngIf="LstUnitTypes.MonthlyRate != null">$</span>{{LstUnitTypes.MonthlyRate}}
                </td>
                <td colspan="2" class="py-2 px-4 border">
                    <!-- <a class="btn btn-lg " (click)="handleClick($event)" role="button">Reserve</a> -->
                    <button (click)="handleClick($event)"> Reserve</button>
                </td>
                </tr>
            </tbody>
          </table>
        </ng-template>


        </div>
      </div>
      <div class="col-lg-6 col-md-12 px-4" [class.col-lg-12]="openComponent">
        <h3 class="view-rate-heading">Amenities</h3>
        <img src="{{imageBaseUrl}}/self-storage-view-rates.{{imagetype}}" alt="self-storage-view-rates" class="sectionImage" />
        <p class="view-rate-text text-justify" *ngFor="let viewRates of viewRates">
          {{viewRates.p}}
        </p>
      </div>
    </div>
  </div>
</div>
