<div class="">
  <div class="jumbotron-container">
    <div class="jumbotron-top">
    <div class="jumbotron px-0 m-0" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
      <div class=" jumbotorn-skew-style" [ngClass]="template === 'darkTheme' ? 'bg-translucent-dark' : 'bg-translucent-light'">
      </div>
      <div class="container">
        <div class="jumbotorn-skew-text">
          <div class="disp" *ngFor="let jumbotron of jumbotron">
            <h2  class="my-4">
              {{jumbotron.h2}}
            </h2>
          <p class="text-justify">{{jumbotron.blurb}}</p>
          </div>
          <div class="jumbotorn-button" *ngFor="let contact of contactDetails">
            <!-- <a class="btn btn-lg btn-outline-primary" (click)="navigate('/view-rates')" role="button">View Rates</a> -->
            <span *ngIf="contact?.label === 'Phone:'">
              <a class="btn btn-lg btn-primary" [href]="contact?.redirect" role="button">Call Us</a>
            </span>
          </div>
          </div>
        </div>
      </div>
      </div>
    <div class="jumbotron-bottom">
      <div class="container">
        <div class="feature row">
          <div class="col-md-3 col-3 feature-icon-style" *ngFor="let feature of feature">
            <img [src]="feature?.path" [alt]="feature?.alt" />
              <h2 class="feature-text">{{feature.label}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-light">
    <div class="container py-4">
      <div class="section py-4 m-0">
        <div class="row">
          <div class="col-lg-6 py-3 home-map">
              <iframe title="Facility Google Map"
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2856.3332063415482!2d-76.5393942844817!3d44.28253587910481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cd2ae98b6489829%3A0x46c7dea7f86ca0f6!2sABC%20Storage!5e0!3m2!1sen!2sus!4v1648780017135!5m2!1sen!2sus"
                width="100%" height="100%" frameborder="0" allowfullscreen rel="noopener" ></iframe> 
          </div>

         
          <div class="col-lg-6 py-3">
            <div class="mb-4 contact-details">
              <div
                *ngFor="let contact of contactDetails"
                class="display-contact"
              >
                <div *ngIf="contact?.label != 'Email:'">
                  <h4>
                    <strong>{{ contact.label }}&nbsp;</strong>
                  </h4>
                </div>
                <div
                  class="contact-links"
                  [class.mb-2]="contact?.label === 'Phone:'"
                  *ngIf="
                    contact?.label === 'Facility Address:' ||
                    contact?.label != 'Email:' ||
                    contact?.label === 'Phone:'
                  "
                >
                  <h4>
                    <a
                      [href]="contact?.redirect"
                      target="{{
                        contact?.label === 'Facility Address:'
                          ? '_blank'
                          : '_self'
                      }}"
                      rel="noopener"
                      >{{ contact.data }}</a
                    >
                  </h4>
                </div>
                <!-- <ng-template #other_content>&nbsp;<h4>{{contact.data}}</h4></ng-template><br> -->
              </div>
              <!-- <h4><b>Facility Hours:</b></h4> -->
              <div class="display-contact" *ngFor="let hour of hours">
                <h4 *ngIf="hour.label">
                  <b>{{ hour.label }}</b
                  >&nbsp;
                </h4>
                <h4>{{ hour.data }}</h4>
                <br />
              </div>
            </div>
            <div>
              <app-tables [tBody]="featuresList"></app-tables>
              <a
                class="btn btn-lg btn-primary"
                (click)="navigate('/contact-us')"
                role="button"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-lg-6 py-3">
          <!-- <img src="{{imageBaseUrl}}/inside-self-storage-unit.{{imagetype}}" width="100%" alt="{{aboutUsAlt}}" class="sectionImage"> -->
          <app-photos></app-photos>
        </div>
        <div class="col-lg-6 py-3">
          <h1 class="heading pb-4">{{aboutUsHeading}}</h1>
          <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>

  <!--Testimonial-->
  <div class="bg-light">
    <div class="container">
      <div class="row py-5">
       <div class="col-md-12 text-center">
          <h2 class="heading pb-4">Testimonials</h2>
          <div id="demo" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
              </ul>
            
              <!-- The slideshow -->
              <div class="carousel-inner set-height ">

                <div class="carousel-item py-5 active">
                  <p>
                    I’ve had numerous storage units over the years, however ABC Storage truly exceeded my expectations. The Sea-Can I rented for over a year was super clean and maintained like new, well vented and kept my belongings safe from the weather and any critters. The accessibility was easy, and the staff were super friendly and accommodating in every way!
                    I will definitely be using them again in the future for all my storage needs, and would highly recommend them to anyone looking for a unit in Kingston.
                  </p>
                  <p>
                      - Jess C.
                  </p>
                </div>
                <div class="carousel-item py-5">
                  <p>
                    Excellent place to rent a unit from! I had my unit just over a year and all my things were in excellent condition when I got them back out.

                    The prices were affordable and the best on the market when I was first looking. Furthermore everyone at the business was so kind and professional, I never had any issues trying to contact anyone about anything.
                    
                    Definitely recommend renting a unit from them!
                    </p>
                    <p>
                        - Sarah R. 
                    </p>

                </div>
                <div class="carousel-item py-5">
                  <p>
                    During the 3 years we rented the storage unit from ABC Storage, we encountered no problems. Great customer service, clean premises and easy accessibility to the units. Very good security and extremely reasonable price. Would definitely recommend.
                  </p>
                  <p>
                      - Nancy T.
                  </p>
                </div>

                <div class="carousel-item py-5">
                  <p>
                    I would highly recommend ABC storage. The facility is spotless; it’s easy access in and out. The property is easy to navigate and never feels crowded. I have been a client for over 10 years and have never worried about the security of my belongings. Thanks to Kim and the team!
                    </p>
                    <p>
                        - Sarah R. 
                    </p>

                </div>

              </div>
            
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--Testimonial section-->

  
</div> 
