
<div class="contentHolder">
  <div class="container pb-5   padding-top">
    <h1 class="py-5 text-center">View Our Rates</h1>
    <div class="row bg-secondary background-padding">
      <div class=" col-lg-7 col-md-7 coming p-3 scroll-wrapper" >
        <iframe id="advanced_iframe" name="advanced_iframe" src="https://stoandgollc.sim.syrasoft.com/unitavailability" width="100%" 
          height="800" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>
      </div>
      <div class="col-lg-5 col-md-5 px-4">
        <h3 class="view-rate-heading">Amenities</h3>
        <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Sto_And_Go/sto-and-go-photo.jpg"
        alt="photograph of a self storage facility building from across the street" class="sectionImage" width="auto" />
        <p class="view-rate-text text-justify" *ngFor="let viewRates of viewRates">
          {{viewRates.p}}
        </p>
      </div>
    </div>
  </div>
</div>