@import '../../styles.scss';

#contact-details {
    background-color: $light;
    padding-top: 90px;
}

.social-content {
    background-color: $primary;
    color: $white;

  .iconColor {
        color: $white;
        }
}

.social-links {
  float: right !important; 
  padding-right: 0px; 
  position: relative; 
  padding-left: 18%; 
  padding-top: 5px;
}
.disp {
  display: block;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-responsive iframe{
    left:0;
    top:0;
    height: 100%;
    width:100%;
    position:absolute;
  }

  @media only screen and (max-width: 1200px) {
  .disp {
    display: none;
  }
  }

@media only screen and (max-width: 992px) {
  .social-content {
    h1 {
      font-size: 1.4rem;
    }
  }
  .iconColor {
    font-size: 1rem !important;
    }

  font-size: 1rem;
  td {
    padding-left: 5px;
    padding-right: 5px;
  }

  .hours-data {
    h1 {
      font-size: 1.2rem;
      padding: 0px;
      margin: 0px;
    }
    a {
      margin-left: 10px !important;
    }
    .btn-outline-primary {
      margin-top: 5px !important;
    }
  }  
}

@media only screen and (max-width: 600px) {
  #contact-details {
    padding-top: 70px;
    background-color: $light;
    .row {
      margin-left: 1px;
      margin-right: 1px;
      // background-color: $light;
      // margin-top: 10px !important;
      .social-content {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 0px !important;
        h1 {
          padding-left: 15px;
        }
        span {
          padding-top: 0px !important;
          // padding-bottom: 10px !important;
        }
      }
      .hours-data {
        .col-lg-8 {
          padding-left: 0px;
          padding-right: 0px;
          padding-bottom: 20px;
        }
      .btn {
        width: 100% !important;
      }
      .col-lg-4 {
        // padding-left: 0px;
        padding-right: 0px;
        a {
        margin-left: 0px;
        margin-right: 0px;
        }
        .btn {
          margin-left: 0px !important;
          margin-right: 0px !important;
          width: 100%;
          // padding-right: 0px !important;
        }
      }
    }
    }

    .btn-area {
      padding-bottom: 15px;
    }
  }

  #sub-components {
    padding: 0px 16px !important;
  } 
}

  