<section class="contact-details">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8 py-0 px-0 header-background">
        <div class="social-content px-3 py-4">
          <h1> {{name}}</h1>
          <div class="row">
            <div class="col-lg-12 px-0 contact-data">
              <span *ngFor="let contact of contacts" class="py-2 each-contact">
                <span class="pl-3"><i class="{{contact.class}}"></i></span><span *ngIf="contact?.id === 2 || contact?.id === 3 || contact?.id === 4 else other_content"><a [href]="contact?.redirect">{{contact.data}}</a></span>
                <ng-template #other_content >&nbsp;<a [href]="contact?.redirect" target="_blank" rel="noopener">{{contact.data}}</a></ng-template>
              </span>
            </div>
          </div>
        </div>
        <div class="contact-img">
            <span *ngIf="locationId == 1" title="Aerial Photograph of self storage units surrounded by a fence."> 
              <div class="img-box-1" [ngClass]="imagetype === 'jpg' ? 'img-box-1-jpg' : 'img-box-1-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 2" title="Aerial photograph of self storage facility with recreational vehicles and boats parked next to the buildings"> 
              <div class="img-box-2" [ngClass]="imagetype === 'jpg' ? 'img-box-2-jpg' : 'img-box-2-webp'">
              </div>
              
            </span>
            <span *ngIf="locationId == 3" title="Aerial photograph of self storage units running alongside a highway"> 
              <div class="img-box-3" [ngClass]="imagetype === 'jpg' ? 'img-box-3-jpg' : 'img-box-3-webp'">
              </div>
            </span>
        </div>
      </div>
      <div class="col-lg-4 pt-3 tab-background" >
        <div class="map-responsive">
            <span *ngIf="locationId == 1"> 
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d896.8979929274482!2d-97.59429092808055!3d40.876411709381564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87974ff3ea45a807%3A0x13cef9117296f114!2s1622%20N%20Platte%20Ave%2C%20York%2C%20NE%2068467!5e0!3m2!1sen!2sus!4v1616882180006!5m2!1sen!2sus" title="Facility Google Map" width="100%" height="220" frameborder="0"  allowfullscreen></iframe>
            </span>
            <span *ngIf="locationId == 2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8530.755031510304!2d-97.59460845205045!3d40.892117780442526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87974fc18e9f72bf%3A0x43f8e97ac2503e35!2s115%20Marquis%20Ave%2C%20York%2C%20NE%2068467!5e0!3m2!1sen!2sus!4v1616947392716!5m2!1sen!2sus" title="Facility Google Map" width="100%" height="230" frameborder="0" allowfullscreen></iframe>
            </span>
            <span *ngIf="locationId == 3">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d386072.7603299949!2d-97.59290154672549!3d40.88957143952419!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87974fea7bc76fa9%3A0x1b56d35d2b393c84!2s2700%20N%20Lincoln%20Ave%2C%20York%2C%20NE%2068467!5e0!3m2!1sen!2sus!4v1616948468111!5m2!1sen!2sus" title="Facility Google Map" width="100%" height="220" frameborder="0"  allowfullscreen></iframe>
            </span>
        </div>
        <div class="hours-data w-100">
          <div class="row">
            <div class="col-lg-8">
              <h2 class="pt-3" *ngIf="locationId !== 1;then content else other_content" >Access Hours</h2>
              <ng-template #content><h4 class="pt-3">Access Hours</h4><app-tables [tBody]="access" ></app-tables></ng-template>
              <ng-template #other_content><h2 class="pt-3">Office Hours</h2><app-tables [tBody]="hours" >
              </app-tables><h4 class="pt-3">Access Hours</h4><app-tables [tBody]="access" ></app-tables>
            </ng-template> 
            </div>
            <div class="col-lg-4 btn-area text-center">
              <a class="btn btn-outline-primary p-2" [routerLink]="['/contact-us']" role="button">Contact Us</a> 
              <a class="btn btn-primary p-2" [routerLink]="['/pay-rent/rent-sub/login']" role="button">Pay Rent</a> 
              <a class="btn btn-primary p-2" (click)='navigateToReserve()' role="button">Reserve Unit</a>                                       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sub-components">
  <div class="container feature-block mt-3">
    <div class="row">
      <div class="col-md-3 col-6 p-3"  *ngFor= "let feature of features" [class.col-md-4]="locationId === 2">
        <p class="text-center f-block-img"> 
          <img src="{{feature.data}}" class="f-img" alt="{{feature.alt}}" height="100%" width="100%">
        </p>
        <h3 class="text-center f-text">
          {{feature.label}}
        </h3>
      </div>
    </div>
  </div>
  <div  class="container px-0 pt-2 mt-3">
      <app-tabs [tabs]='tabs' [name]='name' class="sub-component-background" [currentActiveTab]='currentTab' ></app-tabs>
  </div>
</section>

<!-- Data preloading Starts-->
<div hidden>
  <app-unit-sizer></app-unit-sizer>
  <app-about-us></app-about-us>
  <app-directions></app-directions>
</div>
<!-- Data preloading Ends-->