<div class="contentHolder">
  <div class="container">
    <h1 class="py-5 text-center">View Our Rates</h1>
    <div class="row bg-light padding">
      <div class="col-md-12 coming p-3 " >
          <!-- <div style="height: 600px; display: flex; align-items: center; justify-content: center;">
              <h2 style="font-size: 3rem;">Coming Soon</h2>
          </div> -->
        <iframe id="advanced_iframe" name="advanced_iframe" src="https://orchardpark.sim.syrasoft.com/Home/UnitAvailability" width="100%"
          height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>
      </div>
    </div>
    <div class="row  padding">
      <div class="col-md-6 p-3">
        <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Orchard_Park/orchard-park-self-storage-2.jpg" alt="photograph of a single story building made of blocks in front of a self storage facility" class="sectionImage" width="auto"/>
      </div>
      <div class="col-md-6 p-3">
        <div class="mt-4 justify" *ngFor="let data of dataViewRates">
          <p>{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>
</div>