<div class="rent-holder">
    <div class="container px-0">
      <div class="rent-heading pb-5">
        <h1 class="text-center pt-5">Pay Your Rent</h1>
      </div>
      
      <div class="rent-sub-holder">
        <div class="row padding bg-light">
          <div class="col-lg-12  coming scroll-wrapper padding-for-small-device">
            <iframe id="advanced_iframe" name="advanced_iframe" src="" width="100%"
             scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>  
          </div>
        </div>
      </div>
    </div>
  </div>
  