<div class="rent-sub-holder">
  <div class="container px-0">
    <div class="row">
      <div class="col-md-8 mx-0">
        <span *ngIf="tabId == '0'" >
          <iframe id="advanced_iframe" name="advanced_iframe" src="https://SouthernStorageRC.sim.syrasoft.com/PayNow" width="100%"
          height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>  
        </span>
        <span *ngIf="tabId == '1' " >
          <iframe id="advanced_iframe" name="advanced_iframe" src="https://SouthernStorage.sim.syrasoft.com/PayNow" width="100%"
          height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>  
        </span>
        <span *ngIf="tabId == '2' " >
          <iframe id="advanced_iframe" name="advanced_iframe" src="https://SouthernStorageB.sim.syrasoft.com/PayNow" width="100%"
          height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>  
        </span>
      </div>

      <div class="col-md-4 rent-example" >
         <h2> How to Login </h2>
         <p class="pt-3"> <b>Username:</b> First initial + Last Name </p>
         <p> <b>Password:</b>  Full Phone Number </p>
    
         <p class="py-3"> <b>Example</b> </p>
         <p class="pb-3">John Smith's phone number is (555) 555-5555</p>
    
         <p> <b>John's Username:</b> jsmith </p>
         <p class="pb-3"> <b>John's Password:</b> 5555555555 </p>
    
         <p> <b>Have question about your account?</b> </p>
         <p> <a href="tel:6017912999">(601) 791-2999</a> </p>
      </div>
    </div>
  </div>
</div>
