 <div class="footer bg-light p-3">
  <div class="container">
    <div class="row"> 
      <div class="col-3 my-auto copyright-text"> &copy; 2019 Saguaro Self Storage </div>
      <!-- <div class="col-6 my-auto copyright-image"> -->
        <!-- <div class="row"> -->
          <div class="col-3 text-center" >
            <span class="Saguaro-image" >
              <a href="https://www.azselfstorage.org/" target="_blank" rel="nofollow" >
                <img class="px-lg-4 px-md-4 px-0" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Saguaro/azsa_logo.png" width="auto"  alt="Logo for the Arizona Self Storage Association">
              </a>
            </span>   
          </div>
          <div class="col-3 cards"><img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Saguaro_Self_Storage/accepted-credit-cards.png" alt="graphic showing the following accepted creditcards, American Express, Mastercard, Visa, Discover" height="40px"></div>
          <div class="col-3 my-auto text-right">
              <a href="https://www.syrasoft.com/" target="_blank" rel="nofollow" >
                <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredDark.svg" alt="" height="40px" >
              </a>             
            </div>
        </div>  
    </div>  
  <!-- </div> -->
<!-- </div> -->

