@import "../../styles.scss";

.footer-text-align {
  float: left;
  text-transform: uppercase;
}

.syrasoft-logo-align {
  float: right;
}
.cards{
  display: flex;
  align-items: center;
}
.custom-bg-light {
  background-color: #d2d2d2;
}
.Saguaro-image {
  img {
    height: 48px;
  }
}

@media only screen and (max-width: 456px) {
  .Saguaro-image {
    img {
      height: 38px;
    }
  }
}