
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand py-2" (click)="navigate('/')">
      <img src="../../assets/Default Logo.svg" width="80px" alt="Affordable Self Storage Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars" style="color: #efefef;"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto nav-scroll">
        <li class="nav-item mx-2" *ngFor="let nav of navLinks">
          <span *ngIf="nav?.type === 'link'">
            <a class="nav-link text-center" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" (click)="onClick(menu)">{{nav.label}}</a>
          </span>

          <span *ngIf="nav?.type === 'dropdown'">
              <div class="dropdown show">  
                <a class="dropdown-toggle nav-link" role="button" id="dropdownMenuLink" [routerLinkActive]="'nav-link-active'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{nav.label}}</a>
                <ul class="dropdown-menu location-list" aria-labelledby="dropdownMenuLink">
                  <li *ngFor="let sub of nav.sublinks"><a class="dropdown-item" [routerLink]="sub?.path" [routerLinkActive]="'nav-link-active'">{{sub.label}}</a></li>
                </ul>
              </div>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
