<div class="containHolder">
  <div class="container">
    <h1 class="text-center py-5">Pay Rent for {{name}}</h1>
    <div class="pay-rent-holder p-5">
      <div class="row">
          <div class="col-md-8 mx-0">
            <div *ngIf="id === 0">
              <iframe id="advanced_iframe" name="advanced_iframe" src="w" width="100%"
              height="300px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width: 100%; "></iframe>
            </div>
            <div *ngIf="id === 1">
              <iframe id="advanced_iframe" name="advanced_iframe" src="w" width="100%"
              height="300px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width: 100%; "></iframe>
            </div>
            <div *ngIf="id === 2">
              <iframe id="advanced_iframe" name="advanced_iframe" src="" width="100%"
              height="300px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>  
            </div>
          </div>
         <div class="col-md-4 rent-example" >
            <h2> How to Login </h2>
            <p class="mb-0"> <b>Username:</b> First Initial + Last Name  </p>
            <p >  <b>Password:</b> Your Unit Number   </p>
            <p>If you rent multiple units, your password is the unit number for the first unit you rented.</p>
            <p class="mb-0"> <b>Example</b> </p>
            <p class="mb-0">John Smith's Unit Number is 1234 </p>
       
            <p class="mb-0"> <b>John's Username:</b> jsmith  </p>
            <p > <b>John's Password:</b> 1234</p>
            <p> <b>Have question about your account?</b><br>
              <span *ngFor="let contact of contact" [class.display-none]="contact?.id == 0">
                <span *ngIf="contact?.id == 1 || contact?.id == 2">
                  <a [href]="contact?.redirect">
                    {{contact.data}}
                  </a>
                </span><br>
              </span>
            </p>
        </div> 
      </div>
    </div>
  </div>
</div>

