<div class="">
  <div class="jumbotron p-0 m-0" [ngClass]="imagetype === 'jpg' ? 'jumbotorn-background-jpg' :  'jumbotorn-background-webp'">
    <div class="bg-translucent  text-align">
      <div class="container display">
        <div class="row justify-content-center width margin-bottom">
          <div class="col-md-12">
            <div class="disp" *ngFor="let jumbotron of jumbotron">
              <h1  class="my-4">
                {{jumbotron.h1}}<br>
                {{jumbotron.h3}}
              </h1>
            <p class="text-justify">{{jumbotron.blurb}}</p>
            </div>
            <div class="button-top-margin">
              <a class="btn btn-lg btn-outline-primary" (click)="navigate('/contact-us')" role="button">Contact Us</a>
              <a class="btn btn-lg btn-primary" (click)="navigate('/view-rates')" role="button">View Rates</a>
            </div>
          </div>
        </div>
      </div>
      <div class="arrow" >
        <img (click)="scroll(target)" src="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Aallen_Storage/down.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="about-us bg-dark-background"  #target>
    <div class="container py-5">
      <div class="section py-5 m-0">
        <h2 class="heading pb-3 text-center">{{aboutUsHeading}}</h2>
        <div class="row content-margin-top">
          <div class="col-md-6 py-3">
            <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
            <p class="justify bold" *ngFor="let databold of aboutUsBold"><b>{{databold.b}}</b></p>
          </div>
          <div class="col-md-6 py-3" >
              <!-- <app-photos> </app-photos>           -->
              <img alt="a single story metal self storage building with a facility office on the end of the building" class="sectionImage" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Aallen_Storage/jpg/aallen-self-storage-front-office.jpg" >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="we-provide" [ngClass]="imagetype === 'jpg' ? 'we-provide-jpg' :  'we-provide-webp'">
    <div class="we-provide-background py-5">
      <div class="container py-5">
        <div class="section  m-0">
          <div class="row">
            <div class="col-md-12">
              <h3 class="heading pb-3 text-center">We Provide</h3>
              <div class="row primary-margin">
                <div class="col-md-3 col-6 p-4 text-center" *ngFor="let feature of feature">
                  <div class="p-4">
                    <img [src]="feature?.path" height="75px" alt="" />
                  </div>
                  <h4 class="feature-text">{{feature.label}}</h4>
                </div>
              </div>
              <div class="feature-list">
                <ul class="row" > 
                  <li class="col-md-6 col-lg-4 py-2 text-left" *ngFor="let featuresList of featuresList"><h5 class="mb-0">{{featuresList.li}}</h5></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="locate-us bg-dark-background">
    <div class="container py-5">
      <div class="section py-5 m-0">
          <h2 class="heading pb-3 text-center">Locate Us</h2>
        <div class="row content-margin-top">
            <div class="col-md-6 py-3">
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.533752182271!2d-73.94262538438662!3d42.84046171261981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de6e7c26c4b959%3A0x88f2e4056402869c!2sScotia+Storage+Co!5e0!3m2!1sen!2sus!4v1542138509038" width="100%" height="250" frameborder="0" allowfullscreen></iframe> -->
                <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2293.378269093615!2d-96.83661274537617!3d46.87711184691211!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1264bbc812dbf7d9!2sAallen&#39;self%20Storage!5e0!3m2!1sen!2sus!4v1614963158828!5m2!1sen!2sus" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
          <div class="col-md-6 py-3 locate-us-style">
            <div class="mb-4 contact-details">
              
              <p>
                <span *ngFor="let contact of contactDetails" class="display-contact">
                  <span><h3><b>{{contact.label}}</b></h3></span><span class="contact-links" *ngIf="contact?.label === 'Address:' || contact?.label === 'Email:' || contact?.label === 'Phone:' else other_content">
                    <h4><a [href]="contact?.redirect" rel="noreferrer" target="{{(contact?.label === 'Address:') ? '_blank' : '_self'}}">&nbsp; &nbsp;{{contact.data}}</a></h4>
                  </span>
                  <ng-template #other_content>&nbsp;<h4>{{contact.data}}</h4></ng-template><br>
                </span>
              </p>
              <p>
                <span class="display-contact" *ngFor="let hour of hours">
                  <h4><b>{{hour.label}}</b></h4>&nbsp;&nbsp;<h4>{{hour.data}}</h4><br>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>