<div class="">
  <div class="jumbotron-container">
    <div class="jumbotron-top">
    <div class="px-0 m-0">
      <div id="carouselJumbo" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
        <li data-target="#carouselJumbo" data-slide-to="1"></li>
        <li data-target="#carouselJumbo" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="jumbotron jumbotron-top"  [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp' "></div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron jumbotron-top1"  [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg1' : 'jumbotron-background-webp1' "></div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron jumbotron-top2"  [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg2' : 'jumbotron-background-webp2' "></div>
        </div>  
      </div>
    </div>
    </div>
    <div class="jumbotron-overlay">
      <div class="bg-translucent  py-2" style="width: 100%;">
        <div class="container text-center">
          <h2>Move-In Special</h2>
          <p>Commit to 3 months, and get your 1st month for $1!</p>
          <p>Special is applied at the time of move-in.</p>
        </div>
      </div>
    </div>
  </div>
  
  
  <!--Feature Box-->
  <div class="jumbotron-bottom">
    <div class="container feature-block disp ">
      <div class="row">
        <div class="col-md-3 col-sm-3" *ngFor= "let feature of features">
          <p class="text-center f-block-img py-2 mb-0"> 
            <img src="{{feature.data}}" class="f-img" alt="{{feature.alt}}">
          </p>
          <h6 class="text-center f-text py-2 mb-0">
            {{feature.label}}
          </h6>
        </div>
      </div>
    </div>
  </div>
  <!--Feature Box Ends Here-->
</div>



  <div class="pb-5 pt-5 bg-light for-mall">  
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12146.054411224257!2d-74.85800231135308!3d40.4417680488134!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x720da960a6cc0fc1!2sHunterdon%20Storage%20Ringoes!5e0!3m2!1sen!2sus!4v1589159743674!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
      </div>
        <div class="col-md-4  pl-4 pt-3">
          <h2>Hunterdon Storage at Ringoes</h2>
          <p> 
            <span *ngFor="let contact of contactsLocation1">
              <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 2 || contact?.id === 3 else other_content">
                <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a>
              </span>
              <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
            </span>
          </p>
           <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/hunterdon-storage-ringoes/storageUnits']" role="button">View Rates</a>            
           <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent/hunterdon-storage-ringoes']"  role="button">Pay Rent</a>                     
        </div>
        <div class="col-md-3 contact-hours pt-3">
            <h2>Hours:</h2>
            <p>
              <span *ngFor="let hour of hoursLocation1">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
      </div>
    </div>  
  </div>
  
  <!--Contact Hunterdon Ringoes  Ends Here-->
  
  
  <!--Contact Hunterdon I -->
  <div class="pb-5 pt-5 for-village">  
      <div class="container">
        <div class="row">          
          <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6069.369863372136!2d-74.86536293899232!3d40.482234784341834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3f1288d249e65%3A0x4d81da98d04c92e6!2s191%20US-202%2C%20Flemington%2C%20NJ%2008822!5e0!3m2!1sen!2sus!4v1589161994731!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 pl-4 pt-3">
            <h2>Hunterdon Storage I</h2>
            <p> 
              <span *ngFor="let contact of contactsLocation2">
                <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 2 || contact?.id === 3 else other_content">
                  <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a>
                </span>
                <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
              </span>
            </p>
            <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/hunterdon-storage-1/storageUnits']" role="button">View Rates</a>                
            <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent/hunterdon-storage-1']" role="button"> Pay Rent</a>                                  
          </div>
          <div class="col-md-3 contact-hours pt-3">
              <h2>Hours:</h2>
              <p>
                <span *ngFor="let hour of hoursLocation2">
                  <b>{{hour.label}}</b>{{hour.data}}<br>
                </span>
              </p>
          </div>
      </div>
      </div>      
    </div>
    <!--Contact Hunterdon I Ends Here-->


     <!--Contact Hunterdon II -->
  <div class="pb-5 pt-5   bg-light for-village">  
    <div class="container">
      <div class="row">          
        <div class="col-md-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12139.34901900552!2d-74.8647311!3d40.4788653!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x260d9c9d29241436!2sHunterdon%20Storage!5e0!3m2!1sen!2sus!4v1589161254360!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 pl-4 pt-3">
          <h2>Hunterdon Storage II</h2>
          <p> 
            <span *ngFor="let contact of contactsLocation3">
              <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 2 || contact?.id === 3 else other_content">
                <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a>
              </span>
              <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
            </span>
          </p>
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/hunterdon-storage-2/storageUnits']" role="button">View Rates</a>                
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent/hunterdon-storage-2']" role="button"> Pay Rent</a>                                  
        </div>
        <div class="col-md-3 contact-hours pt-3">
            <h2>Hours:</h2>
            <p>
              <span *ngFor="let hour of hoursLocation3">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
    </div>
    </div>      
  </div>
  <!--Contact Hunterdon II Ends Here-->


  <!--location information-->
<div class="">
  <div class="container py-4">
    <div class="section py-4 m-0">
      <div class="row">
        <div class="col-lg-6 py-3 home-map">
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6247.189908329526!2d-74.8645479404397!3d40.48251441408218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3f1288d249e65%3A0x4d81da98d04c92e6!2s191%20US-202%2C%20Flemington%2C%20NJ%2008822!5e0!3m2!1sen!2sus!4v1594233728579!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe> 
        </div>

        <div class="col-lg-6 py-3">
          <div class="mb-4">
            <p>
              <span *ngFor="let contact of contactDetails">
                <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content">
                  <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
              </span>
            </p>
            <b>Hours:</b>
            <p>
              <span *ngFor="let hour of hours">
                <b>{{hour.label}}</b>&nbsp;{{hour.data}}<br>
              </span>
            </p>
          </div>
          <div>
            <app-tables [showBorder]="true" [tBody]="featuresList"></app-tables>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--location information end-->
  


<!--Service-->
  <div class="service bg-light">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-6 pt-2">
            <h1  class="pb-4">{{aboutUsHeading}}</h1>
            <div *ngFor="let para of serviceOffered">
              <p>{{ para.p }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <app-photos></app-photos>
          </div>
        </div>
      </div>
    </div>
<!--Service Ends Here-->

