@import "../../styles.scss";

.containHolder {
  min-height: 94vh;
  padding-top: 154px;
}

.display-none {
  display: none;
}

.pay-rent-holder {
  background-color: #f1f0ed;
}

.rent-example {
  border-left: 1px solid black;
  padding-left: 50px;
}

a {
  color: black;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .containHolder {
    padding-top: 98px;
  }
}

@media only screen and (max-width: 767px) {
  .containHolder {
    padding-top: 98px;
  }

  .rent-example {
    border-left: none;
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .containHolder {
    padding-top: 70px;
  }
}


@media only screen and (max-width: 500px) {
  .containHolder {
    padding-top: 100px;
  }
}
