<div class="containHolder">
  <div class="container">
    <h1 class="text-center pt-5 pb-2">Pay Rent for {{name}}</h1>
    <p class="text-center pb-5" style="color: red; font-size: 1rem;"><b>If your unit has a facility lock over your lock due to delinquency,
      it will be removed on the next business day after payment is rendered.</b></p>
    <div class="pay-rent-holder p-5 mb-3">
      <div class="row">
          <div class="col-md-12 mx-0">
              <router-outlet></router-outlet>
          </div>
      </div>
    </div>
  </div>
</div>