<div class="rent-holder">
  <div class="container">
    <div class="rent-heading">
      <h1 class="text-center pt-5">Pay Rent Online</h1>
      <h2 class="text-center">Select your location to access your account</h2>
      <h3 class="text-center">Please be aware that online payments on past due accounts will not be reinstated, or unlocked, until our next business day. Also, please be aware that accounts in auction status will not be able to make online payments. Please contact the property manager.</h3>
    </div>
    <div  class="container pt-5">
      <div class="rent-sub-holder">
          <div class="container px-0">
            <table class="col-md-12">
              <thead>
                <tr>
                  <th>Facility</th>
                  <th>Address</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table-data">
                    Both Chester Locations
                  </td>
                  <td class="table-data">
                    Andrews Lane & Brookside Ave
                  </td>
                  <td class="text-right px-3">
                    <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-florida-and-warwick']" role="button">Pay Here</a>           
                  </td>
                </tr>
                <!-- <tr>
                    <td class="table-data">
                      Chester - Brookside Ave
                    </td>
                    <td class="table-data">
                      53 Brookside Ave, Chester, NY 10918
                    </td>
                    <td class="text-right px-3">
                      <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-chester']"  role="button">Pay Here</a>            
                    </td>
                </tr> -->
                <tr>
                    <td class="table-data">
                      Montgomery/Walden
                    </td>
                    <td class="table-data">
                      130 Neelytown Rd, Montgomery, NY 12549
                    </td>
                    <td class="text-right px-3">
                      <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-montgomery-walden']"  role="button">Pay Here</a>           
                    </td>
                </tr>
                <tr>
                  <td class="table-data">
                    Middletown/WallKill
                  </td>
                  <td class="table-data">
                    2070 Goshen Turnpike, Middletown, NY 10941
                  </td>
                  <td class="text-right px-3">
                    <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-middletown-wallkill']"  role="button">Pay Here</a>           
                  </td>
              </tr>
              </tbody>
             </table>
          </div>
        </div>
    </div>
  </div>
</div>
