
<div class="contentHolder">
  <div class="container pb-5 padding-top">
    <h1 class="py-4 text-center">Pay Rent Online</h1>
    <div class="row p-5 bg-light">
      <div class="col-md-8 scroll-wrapper">
        <iframe id="advanced_iframe" name="advanced_iframe" src="https://catskillselfstorage.sim.syrasoft.com:8787/Payment" width="100%"
          height="400" scrolling="yes" frameborder="0" border="0" allowtransparency="true" onload=";aiResizeIframe(this, 'true','1');"></iframe>
      </div>
      <div class="col-md-4  vertical-line margin-bottom">
        <h5>How to Login</h5>
        <p><b>Username:</b>Last Name<br>
        <b>Password:</b>Your gate access code</p>
        <p><b>Example:</b></p>
        <p>John Smith's code is 1234</p>
        <p>John's Username: smith<br>
        John's Password: 1234</p>
        <p>Have questions about your account?<br>
        (518)943-3003<br>
        catskillselfstorage@gmail.com</p>
      </div>
    </div>
  </div>
</div>
