@import '../../styles.scss';

.vertical-line {
    border-left: 1px solid darkgray;
    position: right;
    padding: 0px 50px;
}

.contentHolder{
    h1 {
        margin-block-end: 16px!important;
    }
}

@media screen and (max-width: 900px) {
    h1 {
        display: none;
    }
    .vertical-line {
        border: none!important;
    }
    .bg-light {
        background: white!important;
       // width: 100%!important;
       padding: 0px!important;
    }
    .margin-bottom {
        margin-bottom: 0px;
    }
    iframe {
        height: 500px!important;
    }
}