@import "../../styles.scss";

.vertical-line {
  border-left: 1px solid darkgray;
  position: right;
  padding: 0 50px;
}

.contentHolder {
  h1 {
    margin-block-end: 16px;
  }

  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow: auto;

    iframe {
      width: 100%;
      overflow: auto;
      max-width: 100%;
    }
  }
}

.padding-top {
  padding-top: 125px;
}

@media only screen and (max-width: 600px) {
  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;

    iframe {
      width: 100%;
      overflow: scroll;
    }
  }
}

@media only screen and (max-width: 991px) {
  .padding-top {
    padding-top: 80px;
  }

  .vertical-line {
    border: none;
    padding: 0;
  }

  .margin-bottom {
    margin-bottom: 0;
  }
}
