@import "../../../styles.scss";

p {
  color: #ffffff;
}

table {
  tbody {
    tr:nth-child(even) {
      background-color: #dcdcdc;
    }
    tr:nth-child(odd) {
      color: #ffffff ;
    }

    tr {
      td {
        padding: 10px 20px;
        border: 1px solid #dee2e6;
      }
    }
  }
}

.home-link {
  a {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
  }
}
