<div class="contentHolder">
  <div class="container">
    <h1 class="pt-5 text-center">Penske Truck Rentals</h1>
    <div class="rentals-content mt-5">
      <div class="row">
        <div class="col-md-6">
          <div *ngFor='let content of truckRentals'>
            <h2 class="pb-3"> {{content.heading}} </h2>
            <p class="text-justify" >
              {{content.data}}
            </p>
          </div>
          <p class="text-justify">Or you can click the button below and learn more at the Penske Truck Rental website.</p>

          <div class="py-4">
            <a href="https://www.pensketruckrental.com/locations/new_hampshire/exeter/011151/" target="_blank" class="btn btn-primary w-100">Get a Quote today</a>
          </div>
        </div>
        <div class="col-md-6">
          <img src="{{baseUrl}}/storage-king-penske-trucks.jpeg" alt="Penske Trucks" width="100%" >
        </div>
      </div>
    </div>
  </div>
</div>
