@import "../../styles.scss";

.contentHolder {
  padding-top: 185px;
  min-height: 87vh;
  margin-bottom: 50px;

  .rentals-content {
    padding: 64px;
    background-color: $light;

    ul {
      padding-left: 17px;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .contentHolder {
    padding-top: 210px;
  }
}

@media only screen and (max-width: 991px) {
  .contentHolder {
    padding-top: 160px;
  }
}

@media only screen and (max-width: 767px) {
  .contentHolder {
    padding-top: 150px;
  }
}

@media screen and (max-width: 600px) {
  .contentHolder {
    padding-top: 150px;

    .rentals-content {
      padding: 16px;
    }
  }

  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;

    iframe {
      width: 100%;
      overflow: scroll;
    }
  }

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 356px) {
  .contentHolder {
    padding-top: 172px;
  }
}
