<div class="rent-holder">
  <div class="container px-0">
    <div class="rent-heading pb-5">
      <h1 class="text-center pt-5">Pay Rent Online</h1>
    </div>
    
    <div class="rent-sub-holder">
      <div class="row padding bg-light">
        <div class="col-md-6 coming scroll-wrapper padding-for-small-device">
          <iframe id="advanced_iframe" name="advanced_iframe" src="https://draytonharborministorage.sim.syrasoft.com/Home/RentNow" width="100%"
          height="500px" scrolling="no" frameborder="0" border="0" allowtransparency="true"></iframe>  
        </div>

        <div class="col-md-6 rent-example padding-for-small-device">
          <h2> How to Login </h2>
          <p class="pt-3"> <b>Username:</b> First initial + Last Name </p>
          <p> <b>Password:</b> Your gate access code</p>
      
          <p class="py-3"> <b>Example</b> </p>
          <p class="pb-3">John Smith's gate code is 1234</p>
      
          <p> <b>John's Username:</b> jsmith </p>
          <p class="pb-3"> <b>John's Password:</b> 1234 </p>
      
          <p><b>Have questions about your account?</b><br>
            <span *ngFor="let contact of contact"><span *ngIf="contact?.id == 1 || contact?.id == 2"><a [href]="contact?.redirect">{{contact.data}}</a></span><br>
          </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
