<div hidden itemscope itemtype="https://sample-self-storage-staging.netlify.app/catskill/view-rates" itemtype="https://schema.org/LocalBusiness">
  <link itemprop="image" href="https://example.com/photos/16x9/photo.jpg" />
  <span itemprop="name">Self Storage Facility </span>
   <span itemprop="areaServed" itemscope itemtype="https://schema.org/State">
     <span itemprop="name">Massachusetts</span>
   </span>
   <ul itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
     <li itemprop="itemListElement" itemscope itemtype="https://schema.org/OfferCatalog">
       <span itemprop="name">Self Storage Units</span>
       <ul itemprop="itemListElement" itemscope itemtype="https://schema.org/OfferCatalog">
         <meta itemprop="name" content="Self Storage Facility name" />
         <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
            <div itemprop="itemOffered" itemscope itemtype="https://schema.org/SelfStorage">
              <span itemprop="name">5' X 10' unit Type </span>
              <link itemprop="image" href="https://example.com/photos/16x9/photo.jpg" />
              <meta itemprop="description" content="Sleeker than ACME's Classic Anvil, the Executive Anvil is perfect for the business traveler looking for something to drop from a height." />
              <meta itemprop="priceRange" content="$119.99 - $119.99" />
              <meta itemprop="amenityFeature" content="Fully-Fenced Facility" />
              <meta itemprop="amenityFeature" content="Fully-Alarmed Facility" />
              <link itemprop="availability" href="https://schema.org/InStock" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://schema.org/SelfStorage">
              <span itemprop="name">5' X 10' unit Type </span>
              <link itemprop="image" href="https://example.com/photos/16x9/photo.jpg" />
              <meta itemprop="description" content="Sleeker than ACME's Classic Anvil, the Executive Anvil is perfect for the business traveler looking for something to drop from a height." />
              <meta itemprop="amenityFeature" content="Fully-Fenced Facility" />
              <meta itemprop="amenityFeature" content="Fully-Alarmed Facility" />
              <meta itemprop="priceRange" content="$119.99 - $119.99" />
              <link itemprop="availability" href="https://schema.org/InStock" />In stock
           </div>
            <div itemprop="itemOffered" itemscope itemtype="https://schema.org/SelfStorage">
              <span itemprop="name">5' X 10' unit Type </span>
              <link itemprop="image" href="https://example.com/photos/16x9/photo.jpg" />
              <meta itemprop="description" content="Sleeker than ACME's Classic Anvil, the Executive Anvil is perfect for the business traveler looking for something to drop from a height." />
              <meta itemprop="amenityFeature" content="Fully-Fenced Facility" />
              <meta itemprop="amenityFeature" content="Fully-Alarmed Facility" />
              <meta itemprop="priceRange" content="$119.99 - $145" />
              <link itemprop="availability" href="https://schema.org/InStock" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://schema.org/SelfStorage">
              <span itemprop="name">5' X 10' unit Type </span>
              <link itemprop="image" href="https://example.com/photos/16x9/photo.jpg" />
              <meta itemprop="description" content="Sleeker than ACME's Classic Anvil, the Executive Anvil is perfect for the business traveler looking for something to drop from a height." />
              <meta itemprop="priceRange" content="$119.99 - $450" />
              <link itemprop="availability" href="https://schema.org/InStock" />In stock
            </div>
         </li>
        </ul>
      </li>
  </ul>
</div>