/* You can add global styles to this file, and also import other style files */

//Basic color and font styles
// $primary: #1e4f2c;
// $primaryDark: #154121;

$primary: #ffff47;
$primaryDark: #ffd700;


// $secondary: #733635; 
$secondary: #f12129;

$dark: #333;
// $light: #efefef;
$light: rgba(0, 0, 0, 0.82);
$white: #fff;

$black:#000;

$border: #707070;
$shadow: #000;

$fontColor: #707070;
// $primaryFont: 'Roboto';
$primaryFont: "Lato", sans-serif;

body {
  // font: $primaryFont;
  font-family: $primaryFont;
}

.justify {
  text-align: justify;
}

// Different Background colors
.bg-primary {
  background: $primary !important;
}

.bg-black {
  background: #000;
}

.bg-dark {
  background: #181818!important;
}

.bg-light {
  background: $light !important;
  
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-translucent {
  background: rgba(0, 0, 0, 0.67);
  // position: relative;
}

// Content Holder Styles
.contentHolder {
  min-height: 92vh;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  min-width: 200px;
  color: #000 !important;
}

.btn-primary:hover:not(.disabled) {
  background-color: $primaryDark;
  border-color: $primaryDark;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: $primary;
  border: 1px solid $primary;
  min-width: 200px;
  color: $primary !important;
}

.btn-outline-primary:hover {
  background-color: $primary;
  border-color: $primary;
  color: black !important;
}

.btn-outline-primary:active:not(.disabled) {
  background-color: $primary;
  border-color: $primary;
  color: black !important;
}

.section-headings {
  font-weight: 200;
}

.contact-map {
  width: 100%;
}

.heading {
  font-weight: 400;
}

.sectionImage {
  width: 100%;
}
