@media only screen and (max-width: 600px) {
    .contentHolder {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        margin-bottom: 50px;
    }
}