@import "../../../styles.scss";

.view-rates-top {
  height: 60vh;
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Fortress_Images/backImg/about-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;

  .jumbotorn-top {
    padding: 0% 8%;
  }
}

.view-rates-bottom {
  padding: 48px 0;
}

.bg-translucent {
  height: 60vh;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.content-Holder {
  p {
    color: $fontColor;
    text-align: justify;
  }

  h2 {
    color: $white;
    border-bottom: 1px solid $primary;
    margin: auto;
    font-size: 1.7rem;
    text-align: center;
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .content-Holder {
    h2 {
      display: block;
      width: 70%;
    }
  }

  .col-md-6 {
    img {
      padding-top: 10px;
    }
  }

  .jumbotorn-top {
    display: none;
  }

  .p-sec-block {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .view-rates-top {
    height: 40vh;
  }

  .view-rates-bottom {
    padding: 16px 0;
  }

}


@media only screen and (max-width: 575) {
  .content-margin-top {
    padding-left: 10px;
    padding-right: 10px;
  }
}
