  <!--A-Quality Boat & RV Storage - Line Drive Location-->
  <div class="pb-5 pt-5 bg-light">    
    <div class="container">
      <div class="row">          
        <div class="col-lg-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13868.782939512921!2d-95.130512!3d29.656094!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x51769527a82e8ab5!2sA%20Quality%20Storage!5e0!3m2!1sen!2sus!4v1608181851182!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4  pt-3">
          <h2>A-Quality Boat & RV Storage - Line Drive Location</h2>
          <!-- <p> -->
            <div *ngFor="let contact of contactsLocation1" class="contact-label">
                <div><h3><strong>{{contact.label}}</strong></h3></div>&nbsp;&nbsp;
              <div class="contact-links" *ngIf="contact?.label === 'Email: ' || contact?.label === 'Phone: ' else other_content">
                <a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;
                  <h3>{{contact.data}}</h3>
                </a>
              </div>
              <ng-template #other_content>&nbsp;<h3>{{contact.data}}</h3></ng-template><br>
            </div>
          <!-- </p> -->
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/line-drive/storage-units']" role="button">View Rates</a>                
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/line-drive/reserve-unit']" role="button"> Reserve Unit</a>                                  
        </div>
        <div class="col-lg-3 partition-border contact-hours pt-3">
            <h3>Facility Hours:</h3>
            <p>
              <span *ngFor="let hour of hoursLocation1">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
      </div>
    </div>      
  </div>
  
  <!--A-Quality Boat & RV Storage - Line Drive Location-->

    <!--A-Quality Boat & RV Storage - Holly Avenue Location-->
    <div class="pb-5 pt-5 ">    
      <div class="container">
        <div class="row">          
          <div class="col-lg-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.372693568285!2d-95.16323593557408!3d29.668607157752408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864098be5541c3df%3A0x5e62a89ba6b18c74!2s5226%20Holly%20Ave%2C%20Pasadena%2C%20TX%2077503!5e0!3m2!1sen!2sus!4v1608182151500!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-lg-4 pt-3">
            <h2>A-Quality Boat & RV Storage - Holly Avenue Location</h2>
            <div *ngFor="let contact of contactsLocation2" class="contact-label pt-2">
              <div><h3><strong>{{contact.label}}</strong></h3></div>&nbsp;&nbsp;
            <div class="contact-links" *ngIf="contact?.label === 'Email: ' || contact?.label === 'Phone: ' else other_content">
              <a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;
                <h3>{{contact.data}}</h3>
              </a>
            </div>
            <ng-template #other_content>&nbsp;<h3>{{contact.data}}</h3></ng-template><br>
          </div>
            <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/holly-avenue/storage-units']" role="button">View Rates</a>                
            <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/holly-avenue/reserve-unit']" role="button"> Reserve Unit</a>                                  
          </div>
          <div class="col-lg-3 partition-border contact-hours pt-3">
              <h3>Facility Hours:</h3>
              <p>
                <span *ngFor="let hour of hoursLocation2">
                  <b>{{hour.label}}</b>{{hour.data}}<br>
                </span>
              </p>
          </div>
        </div>
      </div>      
    </div>
    <!--A-Quality Boat & RV Storage - Holly Avenue Location-->

    