<!-- <app-script-hack type="application/ld+json">
  {{ script | json }}
</app-script-hack> -->
<div class="contentHolder">
  <div class="container">
      <div class="heading pb-5">
        <h1 class="text-center pt-5">Contact Us</h1>
      </div>
      <div class="contact-data p-5">
        <!-- <div class="location-selection">
          <app-select-location (click)="receiveMessage()"></app-select-location>
        </div> -->
        <div class="row">
          <div class="col-md-8">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div [hidden]="" *ngIf="submitted && !this.contactForm.valid" class="alert alert-danger alert-dismissible fade show">
                    Please fill out all the required fields!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div [hidden]="" *ngIf="mailSent" class="alert alert-success alert-dismissible fade show">
                   Thank You for contacting us, we will get back to you soon.
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                 </div>
                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name*</label>
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter Name"/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                               <small class="form-text text-muted" *ngIf="f.name.errors.required">Please fill out this field</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Number*</label>
                            <input type="tel" formControlName="phone" placeholder="Enter Phone Number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.phone.errors.required">Please fill out this field</small>
                            </div>
                            <div *ngIf="f.phone.errors" >
                              <small class="form-text text-muted" *ngIf="f.phone.errors.pattern">Please enter valid number</small>
                            </div>
                        </div>
                    </div>
                 </div>

                 <div class="row py-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email Address*</label>
                            <input type="text" formControlName="email" placeholder="Enter Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.email.errors.required">Please fill out this field</small>                                  
                            </div>
                            <div *ngIf="f.email.errors" >
                                <small class="form-text text-muted" *ngIf="f.email.errors.email">Please enter a valid email</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label>Subject</label>
                          <input type="text" formControlName="subject" placeholder="Enter subject" class="form-control" />
                      </div>
                  </div>
                   </div>

                   <div class="form-group">
                      <label>Message*</label>
                      <textarea type="text" formControlName="message" placeholder="Enter Message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" ></textarea>
                      <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                          <small class="form-text text-muted" *ngIf="f.message.errors.required">Please fill out this field</small>
                      </div>
                  </div>

                   <button type="submit" class="btn btn-primary px-4">Submit</button>
                   <button type="button" class="btn btn-outline-primary px-4" (click)="contactForm.reset()">Clear</button>

            </form>
          </div>
          
          <div class="col-md-4"> 
              <div class="for-mall">
                <div class="map-responsive">
                  <span *ngIf="locationId == 1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11955.07332034584!2d-75.186852!3d41.487622!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd651019d6e5c8f1!2sWallenpaupack%20Self%20Storage%20-%20Hawley!5e0!3m2!1sen!2sin!4v1653285456508!5m2!1sen!2sin" width="100%" height="220" frameborder="0" title="Facility Google Map"  allowfullscreen></iframe>
                  </span>
                  <span *ngIf="locationId == 2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d47864.44036028962!2d-75.281754!3d41.427774!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ab43978c9491515!2sWallenpaupack%20Self%20Storage!5e0!3m2!1sen!2sin!4v1653285576306!5m2!1sen!2sin" width="100%" height="230" frameborder="0" title="Facility Google Map" allowfullscreen></iframe>
                  </span>
                  <span *ngIf="locationId == 3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d47870.80716141079!2d-75.337016!3d41.419137!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x56f80e7d20de09e2!2sWallenpaupack%20Self%20Storage!5e0!3m2!1sen!2sin!4v1653286033442!5m2!1sen!2sin" width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </span>
                  <span *ngIf="locationId == 4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d95857.0402183037!2d-75.319535!3d41.340778!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x53f6f6b8c678ad4d!2sWallenpaupack%20Self%20Storage!5e0!3m2!1sen!2sin!4v1653286149892!5m2!1sen!2sin" width="100%" height="220" frameborder="0" title="Facility Google Map"  allowfullscreen></iframe>
                  </span> 
                  <span *ngIf="locationId == 5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11982.130064085359!2d-75.3195352!3d41.3407778!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x53f6f6b8c678ad4d!2sWallenpaupack%20Self%20Storage!5e0!3m2!1sen!2sus!4v1631557731977!5m2!1sen!2sus" width="100%" height="220" frameborder="0" title="Facility Google Map" allowfullscreen></iframe>
                  </span> 
                  <span *ngIf="locationId == 6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.4832188466526!2d-87.68145868454039!3d30.563901600800055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88909fb7d0f6f2eb%3A0x482333101ce34cd3!2sStorage%20Plus%20of%20Baldwin%20County-%20Robertsdale!5e0!3m2!1sen!2sus!4v1614803580872!5m2!1sen!2sus" width="100%" height="220" frameborder="0" title="Facility Google Map" allowfullscreen></iframe>
                  </span> 
                </div>
                <h2 class="pt-3"> {{heading}} </h2>
                <div class="py-2">
                  <span class="contact-links" *ngFor="let contact of contactDetails">
                    <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.label=== 'Email: ' || contact?.label === 'Phone: ' else other_content">
                      <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                    <ng-template #other_content >&nbsp;<a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;{{contact.data}}</a></ng-template><br>
                  </span>
                </div>
                <div class="py-2">
                  <span *ngFor="let hour of hoursDetails">
                    <b>{{hour.label}}</b><span *ngIf="hour?.id === 1 else other_content ">&nbsp;{{hour.data}}</span>
                    <ng-template #other_content>&nbsp;{{hour.data}}</ng-template><br>
                  </span>             
                </div>
              </div>
          </div>
      </div>
  </div>



  </div>
</div>

