<div class="footer bg-primary p-3">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a class="navbar-brand" href="/">
            <img src="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/IN_N_OUT/jpg/in-n-out-storage-logo.jpg" width="auto" height="70px"  alt="text-based artwork that spells out In-N-Out Storage">
          </a>
        </div>
        <div class="col-sm">
          <h4> Contact Info </h4>
          <p><i class="fas fa-envelope"></i><b> Email: </b>info@in-n-out-storage.com</p>
          <p><i class="fas fa-phone"></i><b> Phone: </b>(920) 644-4423</p>
          <a href="/pay-rent" class="footer-button">Pay Now</a>
        </div>
        <div class="col-sm">
          <h4> Locations </h4>
          <ul>
          <li><a href="https://goo.gl/maps/FvYLyzooyVF6uZzNA">Commerce St</a></li>
          <li><a href="https://g.page/r/CT1A0QzwMwCHEBA">Pleasantview</a></li>
          <li><a href="https://goo.gl/maps/j7GCwA4RkQYLnSLt5">Clifford North</a></li>
          <li><a href="https://g.page/r/CYgxbl0IyGw9EBA">Clifford South</a></li>
          <li><a href="https://goo.gl/maps/FANSU6w7QY9vCpiDA">Woodland</a></li>
        </ul>
        </div>
      </div>
    </div>    
  </div>
</div>
