@import "../../../styles.scss";

.view-rate-heading {
  display: none;
}

.contentHolder {
  h1 {
    margin-block-end: 0;
  }

  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow: auto;

    iframe {
      width: 100%;
      overflow: auto;
      min-width: 100%;
    }
  }
}

.view-rate-text {
  margin-top: 36px;
}

.iframe-container {
  background-color: white;
}


.background-padding {
  padding: 64px;
}

@media only screen and (max-width: 600px) {
  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;

    iframe {
      width: 100%;
      overflow: scroll;
    }
  }

  .background-padding {
    padding: 24px 0;

    p {
      margin-block-end: 0;
    }
  }

  .view-rate-heading {
    display: inline;
  }
}


@media only screen and (max-width: 767px) {
  .view-rate-heading {
    display: block;
    margin-block-start: 36px;
    margin-block-end: 16px;
  }
}

