@import '../../styles.scss';

p{
  padding: 0px;
  margin: 0px;
  color: $fontColor; 
}

table{
  border: 1px solid rgb(222, 226, 230);
  margin-bottom: 0px;
}

.table-head{
  background: $primary !important;
  color: $white;
}


.table-striped tbody tr:nth-of-type(odd) {
  background-color: $white;
}
