@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../styles.scss";

a {
  cursor: pointer;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  button {
    color: white;
    border-color:  white;
  }

  button:focus,
  button:active {
    outline: 5px auto $primary;
    border: 1px solid $secondary;
  }
}

.contact-details {
  color: $white;
  font-size: 0.82em;
  font-weight: 500;
  width: 100%;
  a {
    color: $white;
  }
}


.nav-link {
  color: white;
  font-weight: 600;
  padding: 30px;
}

.nav-link:hover {
  color: white;
}

.router-link-active {
  color: $primary;
  border-bottom: 5px solid $secondary;
}

.nav-link-active {
  color: white;
  border-bottom: 5px solid $secondary;
}

.display {
  display: block;
}


@media screen and (max-width: 991px) {
  .display {
    display: none;
  }

  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
}

@media only screen and (max-width: 767px) and (max-height: 480px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}
