<!-- <app-script-hack type="application/ld+json">
  {{ script | json }}
</app-script-hack> -->
<div class="contentHolder">
  <div class="container">
      <div class="heading pb-5">
        <h1 class="text-center pt-5">Contact Us</h1>
      </div>
      <div class="contact-data p-5">
        <!-- <div class="location-selection">
          <app-select-location (click)="receiveMessage()"></app-select-location>
        </div> -->
        <div class="row">
          <div class="col-md-8">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div [hidden]="" *ngIf="submitted && !this.contactForm.valid" class="alert alert-danger alert-dismissible fade show">
                    Please fill out all the required fields!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div [hidden]="" *ngIf="mailSent" class="alert alert-success alert-dismissible fade show">
                   Thank You for contacting us, we will get back to you soon.
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                 </div>
                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name*</label>
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter Name"/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                               <small class="form-text text-muted" *ngIf="f.name.errors.required">Please fill out this field</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Number*</label>
                            <input type="tel" formControlName="phone" placeholder="Enter Phone Number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.phone.errors.required">Please fill out this field</small>
                            </div>
                            <div *ngIf="f.phone.errors" >
                              <small class="form-text text-muted" *ngIf="f.phone.errors.pattern">Please enter valid number</small>
                            </div>
                        </div>
                    </div>
                 </div>

                 <div class="row py-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email Address*</label>
                            <input type="text" formControlName="email" placeholder="Enter Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.email.errors.required">Please fill out this field</small>                                  
                            </div>
                            <div *ngIf="f.email.errors" >
                                <small class="form-text text-muted" *ngIf="f.email.errors.email">Please enter a valid email</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label>Subject</label>
                          <input type="text" formControlName="subject" placeholder="Enter subject" class="form-control" />
                      </div>
                  </div>
                   </div>

                   <div class="form-group">
                      <label>Message*</label>
                      <textarea type="text" formControlName="message" placeholder="Enter Message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" ></textarea>
                      <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                          <small class="form-text text-muted" *ngIf="f.message.errors.required">Please fill out this field</small>
                      </div>
                  </div>

                   <button type="submit" class="btn btn-primary px-4">Submit</button>
                   <button type="button" class="btn btn-outline-primary px-4" (click)="contactForm.reset()">Clear</button>

            </form>
          </div>
          
          <div class="col-md-4"> 
              <div class="for-mall">
                <div class="map-responsive">
                  <span *ngIf="locationId == 1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11631.245783257717!2d-86.139441!3d43.213444!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xec701dabcb5a8db9!2sBoxer%20Self%20Storage!5e0!3m2!1sen!2sus!4v1615259818051!5m2!1sen!2sus" width="100%" height="220" frameborder="0" allowfullscreen loading="lazy"></iframe>
                  </span>
                  <span *ngIf="locationId == 2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11599.745612554876!2d-85.4730562!3d43.3783538!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa75c8ec31343bb96!2sJ%20%26%20L%20Self%20Storage!5e0!3m2!1sen!2sus!4v1618342078065!5m2!1sen!2sus" width="100%" height="220" frameborder="0" allowfullscreen loading="lazy"></iframe>                  
                  </span>
                  <span *ngIf="locationId == 3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11685.519490282275!2d-85.0751504!3d42.9281179!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc610ff3a8c1fb381!2sSmarter%20Storage%20LLC!5e0!3m2!1sen!2sus!4v1618347194154!5m2!1sen!2sus" width="100%" height="220" frameborder="0" allowfullscreen loading="lazy"></iframe>
                  </span>
                  <span *ngIf="locationId == 4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11655.905163196605!2d-85.6915751!3d43.0839938!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe5f8849266706140!2sAOV%20Storage!5e0!3m2!1sen!2sus!4v1618365654405!5m2!1sen!2sus" width="100%" height="220" frameborder="0" allowfullscreen loading="lazy"></iframe>
                  </span> 
                  <span *ngIf="locationId == 5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11601.535241854954!2d-85.8011198!3d43.3689982!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x71bc20b3c52a1d5f!2sRed%20Barn%20Mini%20Storage!5e0!3m2!1sen!2sus!4v1618866579367!5m2!1sen!2sus" width="100%" height="220" frameborder="0"  allowfullscreen loading="lazy"></iframe>
                  </span>
                  <span *ngIf="locationId == 6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.07395782364!2d-85.66407698453352!3d42.68097567916664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819cc40e4236735%3A0x271a4fcddc851d0c!2s3591%2012th%20St%2C%20Wayland%2C%20MI%2049348!5e0!3m2!1sen!2sus!4v1618868066608!5m2!1sen!2sus" width="100%" height="220" frameborder="0"  allowfullscreen loading="lazy"></iframe>
                  </span>
                  <span *ngIf="locationId == 7">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11732.83497303608!2d-85.6543239!3d42.6781204!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6435299a920ef9dd!2sWayland%20Self%20Storage!5e0!3m2!1sen!2sus!4v1618869180123!5m2!1sen!2sus" width="100%" height="220" frameborder="0"  allowfullscreen loading="lazy"></iframe>
                  </span>
                  <span *ngIf="locationId == 8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11735.789871700059!2d-85.6443378!3d42.6624686!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce2aed81651c209e!2sWayland%20Self%20Storage!5e0!3m2!1sen!2sus!4v1618870473701!5m2!1sen!2sus" width="100%" height="220" frameborder="0"  allowfullscreen loading="lazy"></iframe>
                  </span>
                  <span *ngIf="locationId == 9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.4648927635003!2d-85.58293168452838!3d42.841915979157356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88184b6a13dfe8ed%3A0x6f31329466566e2f!2sDutton%20Self%20Storage!5e0!3m2!1sen!2sus!4v1620928168929!5m2!1sen!2sus" width="100%" height="220" frameborder="0"  allowfullscreen loading="lazy"></iframe>
                  </span>
                  <span *ngIf="locationId == 10">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2919.3348195515487!2d-86.04347728452426!3d42.97122017915059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88199a4299d18cb5%3A0xe9c8605504382a15!2sM-45%20Storage!5e0!3m2!1sen!2sus!4v1620931016014!5m2!1sen!2sus" width="100%" height="220" frameborder="0"  allowfullscreen loading="lazy"></iframe>
                  </span>
                  <span *ngIf="locationId == 11">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2942.890280360822!2d-85.74772268454014!3d42.47262217917943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819d7dffa70ccc5%3A0x6b58213d3a7f3d85!2s714%20Lincoln%20Rd%2C%20Otsego%2C%20MI%2049078!5e0!3m2!1sen!2sus!4v1620931910543!5m2!1sen!2sus" width="100%" height="220" frameborder="0"  allowfullscreen loading="lazy"></iframe>
                  </span>
                  <span *ngIf="locationId == 12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2919.0064543895473!2d-85.90776388452402!3d42.97813767915021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819a2f22b74395b%3A0x8892d611a9291ed9!2sM%20%26%20S%20Storage%20LLC!5e0!3m2!1sen!2sus!4v1624205587994!5m2!1sen!2sus" width="100%" height="220" frameborder="0"  allowfullscreen loading="lazy"></iframe>
                  </span>
                </div>
                <h5 class="pt-3"> {{heading}} </h5>
                <div class="py-2">
                  <span class="contact-links" *ngFor="let contact of contactDetails">
                    <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.label=== 'Email: ' || contact?.label === 'Phone: ' else other_content">
                      <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                    <ng-template #other_content >&nbsp;<a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;{{contact.data}}</a></ng-template><br>
                  </span>
                </div>
                <div *ngIf="locationId == 1 || locationId == 2 || locationId == 3 || locationId == 4" class="py-2">
                  <span ><b>Office Hours</b><br></span>
                  <span  *ngFor="let hour of hoursDetails" >
                    <b>{{hour.label}}</b><span>&nbsp;{{hour.data}}</span><br>
                  </span><br></div>
              <div>
                  <b>Access Hours</b><br>
                  <span class="pt-3" *ngFor="let access of access">
                    <span>{{access.data}}</span><br>
                  </span>             
                </div>
              </div>
          </div>
      </div>
  </div>



  </div>
</div>

