<app-script-hack type="application/ld+json">
  {{script | json}}
 </app-script-hack>
<div>

  <div class="jumbotron-home">
    <div class="jumbotron-top">
    <div class="jumbotron px-0 m-0" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
    </div>
  </div>
  </div>

    <!--Feature Box-->
  <div class="feature-home jumbotron-bottom">
      <div class="container feature-block disp">
        <div class="row h-100">
          <div class="col-3 my-auto" *ngFor= "let feature of features">
            <p class="text-center f-block-img">
              <img src="{{feature.data}}" class="f-img">
            </p>
            <h6 class="text-center f-text">
              {{feature.label}}
            </h6>
          </div>
        </div>
      </div>
    </div>
    <!--Feature Box Ends Here-->


<div class="pb-5 pt-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13988.9463395945!2d-82.2944085!3d28.7722018!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5127968742488662!2sAffordable%20Secure%20Storage!5e0!3m2!1sen!2sus!4v1594181820791!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-8  pl-4 pt-3 mt-lg-0 mt-md-3">
        <h2>Affordable Secure Storage - Floral City, LLC</h2>
        <p>
          <span *ngFor="let contact of contactsLocation1">
            <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
            <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
          </span>
        </p>
        <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/affordable-secure-storage-floral-city/storageUnits']"
        role="button">View Rates</a>
         <a class="btn btn-primary-light p-2 ml-0" [routerLink]="['/location/affordable-secure-storage-floral-city/moveIn']" 
         role="button">Move In</a>
        <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/affordable-secure-storage-floral-city/reserveUnit']" 
         role="button">Reserve Unit</a>
      </div>
      <div class="col-xl-3 col-lg-2 col-md-4 mt-lg-0 mt-md-3 contact-hours pt-3 ">
          <h2>Hours:</h2>
          <p>
            <span class="hourdata" *ngFor="let hour of hoursLocation1">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>
</div>
<!--Contact Details Ends Here-->


<!--Service-->
  <div class="service ">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-6 pt-2">
            <h1  class="pb-4">Affordable Self Storage and Vehicle Parking in Florida & Georgia</h1>
            <div *ngFor="let para of serviceOffered">
              <p>{{ para.p }}</p>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <!-- <img src="" alt=""> -->
            <app-aboutus-photos></app-aboutus-photos>
          </div>
        </div>
      </div>
    </div>
<!--Service Ends Here-->

<!--Testimonial-->
<div class="bg-light">
  <div class="container">
    <div class="row py-5">
     <div class="col-md-12 text-center">
        <h2 class="heading">Testimonials</h2>
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
            </ul>
          
            <!-- The slideshow -->
            <div class="carousel-inner ">
              <div class="carousel-item py-5 active">
                <p>
                  StageCoach Self Storage is a new facility, very neat and clean, the operator and owners are professional and very helpful. The site has security lights and 24 hr security system with coded gate system. I would recommend this to my family and friends. I would not hesitate to leave my household items or my boat at this facility. 
                </p>
                <p>
                  - Chief D
                </p>
              </div>
              <div class="carousel-item py-5">
                <p>
                  Excellent customer service and flexibility!!! Very positive experience. Highly recommended!
                  </p>
                  <p>
                    -Aleksandra Gurley
                  </p>

              </div>
              <div class="carousel-item py-5">
                <p>
                  Best place with the best rates!
                </p>
                <p>
                  -Morgan Lyon
                </p>
              </div>
              <div class="carousel-item py-5">
                <p>
                  Awesome place
                </p>
                <p>
                  -Ronald Bacelo
                </p>
              </div>
            </div>
          
          </div>
      </div>
    </div>
  </div>
</div>
<!--Testimonial section-->

<!--Get Started Secion-->
<!-- <div class="getStarted text-center">
    <div class="get-started">
     <div class="container py-5">
       <div class="py-5 m-0">
         <div class="row">
           <div class="col-md-12">
             <p class="pb-2 started">{{gettingStarted}}</p>
             <p class="started">- John 3:16</p>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div> -->
<!--Get Started Secion Ends Here-->


</div>
