@import '../../styles.scss';


#direction-holder {
    background-color: $light;
    padding-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    h2 {
        text-transform: capitalize;
    }
    p {
        padding: 0px;
        font-size: 1rem;
        font-weight: 600;
    }

    ul {
        
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
      }
      .map-responsive iframe{
        left:0;
        top:0;
        height: 100%;
        width:100%;
        position:absolute;
      }
}