<div id="direction-holder">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Directions to Victor Self Storage - Village</h2>
        <div *ngFor="let dir of directionPoints" class="py-0">
          <p class="py-0 mb-0 mt-4"> {{dir.label}} </p> 
          <ul class="py-0 pl-3">
            <li *ngFor="let data of dir?.datas" class="py-0">   {{data.content}}   </li>
          </ul>  
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11675.702373314978!2d-77.418952!3d42.979841!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfb582595e3f89c79!2sVictor+Self+Storage!5e0!3m2!1sen!2sus!4v1540326807113" width="600" height="450" frameborder="0" style="border:1px solid #fff;" allowfullscreen></iframe>
        </div>
          <a class="btn btn-primary py-2 w-100 my-3 ml-0" style="position: relative;" (click)="navigate('/')" role="button">CLICK HERE FOR CUSTOM DRIVING DIRECTION</a>                                       
       </div>
    </div>
  </div>
</div>
