<app-script-hack type="application/ld+json">
  {{script | json}}
 </app-script-hack>
<!-- <div class=""> -->
  <div class="jumbotron-container">
   
      <!-- <div class="layout1">
        <div class="climate-control">
          <div class="container">
            <div class="section py-3 m-0">
              <div class="row">
                <div class="col-md-12 py-3">
                 <h2><b>We Expanded!</b></h2> 
                 <h4 class="m-0">NOW TAKING RESERVATIONS </h4>
                 <h4>New Climate Controlled Storage Available NOW</h4>
                 <h5>Contact us for more information!</h5>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div> -->
    
      <div class="layout2">
          <div class="climate-control py-5">
            <div class="container">
              <div class="section py-5 m-0">
                <div class="row">
                  <div class="col-md-12 py-5">
                   
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>

    <div class="jumbotron-bottom">
      <div class="container">
        <div class="feature row">
          <div class="col-md-3 col-3 feature-icon-style" *ngFor="let feature of feature">
            <img [src]="feature?.path" [alt]="feature?.alt" height="100px"/>
              <h6 class="feature-text">{{feature.label}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="jumbotron-top">
    <div class="jumbotron px-0 m-0" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
      <div class=" jumbotorn-skew-style" [ngClass]="template === 'darkTheme' ? 'bg-translucent-dark' : 'bg-translucent-light'">
      </div>
      <div class="container">
        <div class="jumbotorn-skew-text">
          <div class="disp" *ngFor="let jumbotron of jumbotron">
            <h2  class="my-4">
              {{jumbotron.h1}}
            </h2>
          <p class="text-justify">{{jumbotron.blurb}}</p>
          </div>
          <div class="jumbotorn-button">
            <a href="tel:6093976397" class="btn btn-lg btn-primary viewRatesbtn"  role="button">Call Today!</a></div>
            <!-- <a class="btn btn-lg btn-primary" (click)="navigate('/reserve-unit')" role="button">Reserve Unit</a> -->
          </div>
        </div>
      </div>
      </div>

  <div class="bg-light">
    <div class="container py-4">
      <div class="section py-4 m-0">
        <div class="row">
          <div class="col-lg-6 py-3 home-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12153.787011655175!2d-74.9092015!3d40.3989528!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2238948d1295193c!2sAffordable%20Self%20Storage%2C%20INC.!5e0!3m2!1sen!2sus!4v1599699636628!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe> 
          </div>

          <div class="col-lg-6 py-3">
            <div class="mb-4">
              
              <p>
                <span *ngFor="let contact of contactDetails">
                  <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.label === 'Email:' || contact?.label === 'Phone:' else other_content">
                    <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                  <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
                </span>
              </p>
              <b>Office Hours:</b>
              <p>
                <span *ngFor="let hour of hours">
                  <b>{{hour.label}}</b>&nbsp;{{hour.data}}<br>
                </span><br>
                <span *ngFor="let hour of accessHours">
                    <b>{{hour.label}}</b>&nbsp;{{hour.data}}<br>
                  </span>
              </p>
            </div>
            <div>
              <app-tables [tBody]="featuresList"></app-tables>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section py-5 m-0">
      <h1 class="heading pb-4 text-center">{{aboutUsHeading}}</h1>
      <div class="row">
        <div class="col-lg-6 py-3">
          <!-- <img src="{{imageBaseUrl}}/outdoor-self-storage-units.{{imagetype}}" width="100%" alt="{{aboutUsAlt}}" class="sectionImage"> -->
          <app-photos></app-photos>
        </div>
        <div class="col-lg-6 py-3">
          <h2>About Us</h2>
          <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>

  <!--Testimonial-->
  <div class="bg-light">
      <div class="container">
        <div class="row py-5">
          <div class="col-md-12 text-center">
            <h2 class="heading pb-4">Testimonials</h2>
            <div class="container mt-3">
              <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
                <!-- Slide Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#bootstrapCarousel" data-slide-to="1"></li>
                  <li data-target="#bootstrapCarousel" data-slide-to="2"></li>
                  <li data-target="#bootstrapCarousel" data-slide-to="3"></li>
                  <li data-target="#bootstrapCarousel" data-slide-to="4"></li>
                  <li data-target="#bootstrapCarousel" data-slide-to="5"></li>
                  <li data-target="#bootstrapCarousel" data-slide-to="6"></li>
                  <li data-target="#bootstrapCarousel" data-slide-to="7"></li>
                  <li data-target="#bootstrapCarousel" data-slide-to="8"></li>
                  <li data-target="#bootstrapCarousel" data-slide-to="9"></li>
                </ul>
  
                <!-- The slides to show -->
                <div class="carousel-inner">
                  <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let testimonial of carouselData; index as i">
                    <p>{{testimonial.p}}</p>
                    <p>{{testimonial.author}}</p>
                  </div>
                </div>
                
  
                <!--  Controls (Left and right) -->
                <!-- <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a> -->
                <!-- <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--Testimonial section-->


  <div class="getStarted">
    <div class="get-started">
    <div class="container">
      <div class="section py-5 m-0">
        <div class="row">
          <div class="col-md-12 py-3">
            <h2 class="heading pb-4">Getting Started</h2>
            <p class="pb-4">{{gettingStarted}}</p>
            <a  class="btn btn-lg btn-primary" (click)="navigate('/contact-us')" role="button">Contact Us Today!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- </div> -->
