/* You can add global styles to this file, and also import other style files */

//Basic color and font styles
$primary: #025c7e;
$primaryDark: #025c7e;

// $primary: #FF9800;
// $primaryDark: #EF6C00;
$secondary: #8fc641;

$dark: #333;
$light: #43869b;
$white: #fff;

$border: #707070;
$shadow: #000;

$fontColor: #707070;
// $primaryFont: 'Roboto';
$primaryFont: "Lato", sans-serif;

body {
  // font: $primaryFont;
  font-family: $primaryFont;
}

.justify {
  text-align: justify;
}

// Different Background colors
.bg-primary {
  background: $primary !important;
}

.bg-secondary {
  background: $secondary !important;
}

.bg-dark {
  background: $primary !important;
}

.bg-light {
  background: $light !important;
  
}

.bg-translucent {
  background: rgba(255, 255, 255, 0.7);
  // position: relative;
}

// Content Holder Styles
.contentHolder {
  min-height: 90vh;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white !important;
  min-width: 200px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #034E69 !important;
  border-color: #034E69 !important;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: $primary;
  border: 2px solid $primary;
  min-width: 200px;
  color: $primary !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: $primaryDark !important;
  border-color: $primaryDark !important;
  color: $white !important;
}

.section-headings {
  font-weight: 200;
}

.contact-map {
  width: 100%;
}

.heading {
  font-weight: 400;
}

.sectionImage {
  width: 100%;
}
