<div class="footer bg-primary sticky col-md-12 p-4">   
    <div class="container">
        <div class="row"> 
            <div class="col-6 my-auto text-left" >&copy; STONER TRAIL SELF STORAGE</div>
            <div class="col-6 my-auto text-right" ><a href="https://www.syrasoft.com/" target="_blank" > <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredLight.svg" rel="nofollow" alt="" width="auto" height="48px" > </a></div>            
        </div>    
    </div>
</div>
