@import "../../../styles.scss";

.confirmationPageStyle {
  p {
    color: white;
  }
}

table {
  tbody {
    tr:nth-child(even) {
      background-color: #dcdcdc;
      color: black;
    }

    tr {
      color: white;
      td {
        padding: 10px 20px;
        border: 1px solid #dee2e6;
      }
    }
  }
}

.home-link {
  a {
      color: $primary;
      text-decoration: underline;
      cursor: pointer;
  }
}
