<section class="contact-details">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8 py-0 px-0 header-background">
        <div class="social-content px-3 py-4">
          <h1> {{name}}</h1>
          <div class="row">
            <div class="col-lg-12 px-0 contact-data">
              <span *ngFor="let contact of contacts" class="py-2 each-contact">
                <span class="pl-3"><i class="{{contact.class}}"></i></span><span *ngIf="contact?.id === 2 || contact?.id === 3 || contact?.id === 4 else other_content"><a [href]="contact?.redirect">{{contact.data}}</a></span>
                <ng-template #other_content >&nbsp;<a [href]="contact?.redirect" target="_blank" rel="noopener">{{contact.data}}</a></ng-template>
              </span>
            </div>
          </div>
        </div>
        <div class="contact-img">
            <span *ngIf="locationId == 1" title="Aerial Photograph of self storage units surrounded by a fence."> 
              <div class="img-box-1" [ngClass]="imagetype === 'jpg' ? 'img-box-1-jpg' : 'img-box-1-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 2" title="a row of self storage units under a blue sky with wide parking spaces around the units"> 
              <div class="img-box-2" [ngClass]="imagetype === 'jpg' ? 'img-box-2-jpg' : 'img-box-2-webp'">
              </div>              
            </span>            
        </div>
      </div>
      <div class="col-lg-4 pt-3 tab-background" >
        <div class="map-responsive">
            <span *ngIf="locationId == 1">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3252.984106436852!2d-92.22430108445698!3d35.380850180265476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d2689341ab9923%3A0xa0511eb1267514f8!2sQuitman%20Mini%20Storage!5e0!3m2!1sen!2sus!4v1630440151549!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </span>
            <span *ngIf="locationId == 2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25983.205859785743!2d-92.06034503190946!3d35.50673273504774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d246de8c1ceae5%3A0x8c2ed7868cc4524a!2sHeber%20Springs%2C%20AR%2072543!5e0!3m2!1sen!2sus!4v1630438925524!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </span>                      
        </div>
        <div class="hours-data w-100">
          <div class="row">
            <div class="col-lg-8">
              <h4 class="pt-3">Access Hours</h4><app-tables [tBody]="access" ></app-tables>
              <span><h4 class="pt-3" >Office Hours</h4><app-tables [tBody]="hours" ></app-tables></span>
            </div>
            <div class="col-lg-4 btn-area text-center">
              <a class="btn btn-outline-primary p-2"(click)="navigateToContact()" role="button">Contact Us</a> 
              <a class="btn btn-primary-light p-2" (click)="navigateToPayment()" role="button">Pay Rent</a> 
              <a class="btn btn-primary p-2" (click)='navigateToReserve(target)' role="button">Reserve Unit</a>                                       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sub-components">
  <div class="container feature-block mt-3">
    <div class="row">
      <div class="col-md-3 col-6 p-3" *ngFor= "let feature of features">
        <p class="text-center f-block-img"> 
          <img src="{{feature.data}}" class="f-img" alt="{{feature.alt}}" >
        </p>
        <h2 class="text-center f-text">
          {{feature.label}}
        </h2>
      </div>
    </div>
  </div>
  <div  class="container px-0 pt-2 mt-3"  #target>
      <app-tabs [tabs]='tabs' [name]='name' class="sub-component-background" [currentActiveTab]='currentTab' ></app-tabs>
  </div>
</section>

<!-- Data preloading Starts-->
<div hidden>
  <app-unit-sizer></app-unit-sizer>
  <app-about-us></app-about-us>
  <app-directions></app-directions>
</div>
<!-- Data preloading Ends-->