<div class="camper-rent" > 
<div class="row p-2">
    <div class="col-lg-4 text-center display">
      <h3 >2018 Wildwood 27REI with 2 Slide Outs</h3>
      <div class="my-3 ">
        <img class="camper-img" src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Inez_Storage/2018-wildwood-rv-1.jpg"  width="100%"  alt="photograph of a 2018 Wildwood 27REI with slide out extended">
      </div>
      <a class="btn btn-primary mb-3" (click)="navigate('/camper-rentals/2018-wildwood-27REI')" role="button">Click To Learn More</a>    
    </div>
    <div class="col-lg-4 pl-0 text-center display">
      <h3 class="prime-2019" >Winnabago Outlook 22C</h3>
      <div class="camper  my-3">
        <img class="camper-img" src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Inez_Storage/outlook-camper-16.jpg"  width="100%" 
        alt="Winnabago Outlook 22C parked at an angle facing the camera">
      </div> 
      <a class="btn btn-primary mb-3" (click)="navigate('/camper-rentals/winnebago-outlook-22-c')" role="button">Click To Learn More</a>
    </div>
    <div class="col-lg-4 pl-0 text-center display">
      <h3 class="prime-2019" >2019 Prime Time Tracer with 2 Slide Outs</h3>
      <div class="camper  my-3">
        <img class="camper-img" src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Inez_Storage/2019-prime-time-tracer-1.jpg"  width="100%" alt="photograph of a 2019 Prime Time Tracer">
      </div> 
      <a class="btn btn-primary mb-3" (click)="navigate('/camper-rentals/2019-prime-time-tracer')" role="button">Click To Learn More</a>
    </div>
  </div>
</div> 