<div class="jumbotron-home">
  <!-- <div class="for-desktop-view">
    <div class="jumbotron-desktop">
      <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Pittsburgh_Images/pittsburgh-area-storage-centers.jpg" width="100%" height="100%" alt="">
    </div>
  </div> -->

    
  <!-- <div class="for-mobile-view"> -->
    <div id="carouselJumbo" class="carousel slide  jumbotron-top-style" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
        <li data-target="#carouselJumbo" data-slide-to="1"></li>
        <!-- <li data-target="#carouselJumbo" data-slide-to="2"></li> -->
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="jumbotron-top jumbotron-top-style">
            <div class="carousel-caption">
              <!-- <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Pittsburgh_Images/movin-on-logo.png" alt=""> -->
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="jumbotron-top1 jumbotron-top-style">
            <div class="carousel-caption">
              <!-- <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Pittsburgh_Images/shaler-logo.png" alt=""> -->
            </div>
          </div>
        </div>
        <!-- <div class="carousel-item">
          <div class="jumbotron-top2 jumbotron-top-style">
            <div class="carousel-caption">
              <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Pittsburgh_Images/natrona-logo.png" alt="">
            </div>
          </div>
        </div> -->
      </div>
    </div>
  <!-- </div> -->
    
  <!--Feature Box-->
    <div class="container feature-block disp">
      <div class="row h-100">
        <div class="col-3 my-auto" *ngFor= "let feature of features">
          <p class="text-center f-block-img"> 
            <img src="{{feature.data}}" class="f-img" alt="{{feature.alt}}" >
          </p>
          <p class="text-center f-text">
            {{feature.label}}
          </p>
        </div>
      </div>
    </div>
  <!--Feature Box Ends Here-->
</div>

<!--Contact Details-->
<div class="bg-light for-location"> 
  <div class="locaion-selection">
    <app-select-location (click)="receiveMessage()"></app-select-location>
  </div> 
    <div class="container">
    <div class="row">
      <div class="col-md-5">
        <span *ngIf="locationId == 1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11648.846704027552!2d-77.4961197!3d43.1210793!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9ba11914c8f2cb7f!2sLinden+Self+Storage!5e0!3m2!1sen!2sus!4v1550695846753" width="100%" height="100%" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
          </span>
          <span *ngIf="locationId == 2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.7152950109976!2d-79.96360028444201!3d40.54787875557631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88348d1dbeac6833%3A0x96666d804a43a62!2sShaler+Self+Storage!5e0!3m2!1sen!2sus!4v1547509488961" width="100%" height="100%" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
          </span>
          <!-- <span *ngIf="locationId == 3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.9616822568664!2d-79.71200568443953!3d40.65277504917323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834bd311bf9caf3%3A0xb3ba833bf0e8b8f0!2sNatrona+Heights+Self+Storage!5e0!3m2!1sen!2sus!4v1547510624473" width="100%" height="100%" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
          </span> -->
      </div>
      <div class="col-md-4  pl-4 pt-3">
        <h2>{{heading}}</h2>
        <p> 
          <span *ngFor="let contact of contactDetails">
            <b>{{contact.label}}</b> {{contact.data}}<br>
          </span>
        </p>
        <span *ngIf="locationId == 1" >
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/linden-storage/storageUnits']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/linden-storage/reserveUnit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>                        
        </span>
        <span *ngIf="locationId == 2" >
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/macedon-storage/storageUnits']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/macedon-storage/reserveUnit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>                        
        </span>
        <!-- <span *ngIf="locationId == 3" >
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/natrona-heights-self/storageUnits']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/natrona-heights-self/reserveUnit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>
        </span> -->
      </div>
      <div class="col-md-3 contact-hours pt-3">
          <h2>Hours:</h2>
          <p>
            <span *ngFor="let hour of hoursDetails">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>  
</div>
<!--Contact Details Ends Here-->


<!--Service-->
  <div class="service">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-6 pt-2">
            <h1  class="pb-4">Affordable Self Storage Units in Monroe County</h1>
            <div *ngFor="let para of serviceOffered">
              <p>{{ para.p }}</p>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <img src="../../assets/linden-images/linden_self_storage-storage_units_lg.jpg" alt="Photograph of Linden Self Storage Outdoor Units">
          </div>
        </div>
      </div>
    </div>
<!--Service Ends Here-->
