
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Cuba-primary: mat-palette($mat-indigo);
$Cuba-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Cuba-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Cuba-theme: mat-light-theme($Cuba-primary, $Cuba-accent, $Cuba-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Cuba-theme);

/* You can add global styles to this file, and also import other style files */

//Basic color and font styles
$primary: #73182c;
$primaryDark: #5e0e20;

// $primary: #FF9800;
// $primaryDark: #EF6C00;
$secondary: #e8d19a;

$dark: #333;
$light: rgba(232, 209, 154, 0.26);
$white: #fff;

$border: #707070;
$shadow: #000;

$fontColor: #000;
// $primaryFont: 'Roboto';
$primaryFont: "Lato", sans-serif;

body {
  // font: $primaryFont;
  font-family: $primaryFont;
}

.justify {
  text-align: justify;
}

// Different Background colors

.bg-primary {
  background: $primary !important;
}

.bg-secondary {
  background: $secondary !important;
}

.bg-dark {
  background: $dark !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-translucent {
  background: rgba(255, 255, 255, 0.9);
  // position: relative;
}

// Content Holder Styles
.contentHolder {
  min-height: 90vh;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white !important;
  min-width: 200px;
}

.btn-primary:active {
  background-color: $primary !important;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: $primary;
  border: 1px solid $primary;
  min-width: 200px;
  color: $primary !important;
}

.btn-outline-primary:active {
  background-color: $primary !important;
}

.btn-primary:hover {
  background-color: $primaryDark;
  border-color: $primaryDark;
}

.btn-outline-primary:hover {
  background-color: $primary;
  border-color: $primary;
  color: $white !important;
}


.section-headings {
  font-weight: 200;
}

.contact-map {
  width: 100%;
}

.heading {
  font-weight: 400;
}

.sectionImage {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

