/* You can add global styles to this file, and also import other style files */

//Basic color and font styles
$primary: #73182c;
$primaryDark: #5e0e20;

// $primary: #FF9800;
// $primaryDark: #EF6C00;
$secondary: #e8d19a;

$dark: #333;
$light: rgba(232, 209, 154, 0.26);
$white: #fff;

$border: #707070;
$shadow: #000;

$fontColor: #000;
// $primaryFont: 'Roboto';
$primaryFont: "Lato", sans-serif;

body {
  // font: $primaryFont;
  font-family: $primaryFont;
}

.justify {
  text-align: justify;
}

// Different Background colors

.bg-primary {
  background: $primary !important;
}

.bg-secondary {
  background: $secondary !important;
}

.bg-dark {
  background: $dark !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-translucent {
  background: rgba(255, 255, 255, 0.9);
  // position: relative;
}

// Content Holder Styles
.contentHolder {
  min-height: 90vh;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white !important;
  min-width: 200px;
}

.btn-primary:active {
  background-color: $primary !important;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: $primary;
  border: 1px solid $primary;
  min-width: 200px;
  color: $primary !important;
}

.btn-outline-primary:active {
  background-color: $primary !important;
}

.btn-primary:hover {
  background-color: $primaryDark;
  border-color: $primaryDark;
}

.btn-outline-primary:hover {
  background-color: $primary;
  border-color: $primary;
  color: $white !important;
}


.section-headings {
  font-weight: 200;
}

.contact-map {
  width: 100%;
}

.heading {
  font-weight: 400;
}

.sectionImage {
  width: 100%;
}
