      <!--Contact Brookside  Ends Here-->
  <div class="pb-5 pt-5 bg-light">    
    <div class="container">
      <div class="row">          
        <div class="col-lg-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4329.832677158027!2d-83.02919380341218!3d39.88198648525016!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x86430770bc7f072d!2sHerlihy%20Moving%20%26%20Storage!5e0!3m2!1sen!2sus!4v1641931927290!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen
          title="location-1"
          ></iframe>
        </div>
        <div class="col-lg-4  pt-3">
          <h2>Herlihy Self Storage</h2>
          <!-- <p> -->
            <div *ngFor="let contact of contactsBrookside" class="contact-label">
                <div><h3><strong>{{contact.label}}</strong></h3></div>&nbsp;&nbsp;
              <div class="contact-links" *ngIf="contact.label === 'Address: ' || contact?.label === 'Email: ' || contact?.label === 'Phone: ' else other_content">
                <a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;
                  <h3>{{contact.data}}</h3>
                </a>
              </div>
              <ng-template #other_content>&nbsp;<h3>{{contact.data}}</h3></ng-template><br>
            </div>
          <!-- </p> -->
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/ohio/grove-city/storage-units']" role="button">View Rates</a>                
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/ohio/grove-city/reserve-unit']" role="button"> Reserve Unit</a>                                  
        </div>
        <div class="col-lg-3 partition-border contact-hours pt-3">
            <h3>Office Hours:</h3>
            <p>
              <span *ngFor="let hour of hoursBrookside">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
      </div>
    </div>      
  </div>
  
  <!--Contact Brookside  -  Ends Here-->

  
      <!--Contact chester-andrews-lane  Ends Here-->
      <div class="pb-5 pt-5 ">    
        <div class="container">
          <div class="row">          
            <div class="col-lg-5">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2594.13930722289!2d-82.96744258521433!3d39.35694039477565!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdee35b21bf3c4a3f!2sHerlihy%20Moving%20%26%20Storage!5e0!3m2!1sen!2sus!4v1641929253415!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen
              title="location-2"
              ></iframe>
            </div>
            <div class="col-lg-4 pt-3">
              <h2>Herlihy Self Storage</h2>
              <div *ngFor="let contact of contactsAndrews" class="contact-label pt-2">
                <div><h3 *ngIf="contact?.label !== 'Phone: '"><strong>{{contact.label}}</strong></h3><h3 *ngIf="contact?.label === 'Phone: '"><strong>After Hours:</strong></h3></div>&nbsp;&nbsp;
              <div class="contact-links" *ngIf="contact.label === 'Address: ' || contact?.label === 'Email: ' || contact?.label === 'Business Hours: ' || contact?.label === 'Phone: ' else other_content">
                <a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;
                  <h3>{{contact.data}}</h3>
                </a>
              </div>
              <ng-template #other_content>&nbsp;<h3>{{contact.data}}</h3></ng-template><br>
            </div>
              <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/ohio/chillicothe/storage-units']" role="button">View Rates</a>                
              <!-- <a class="btn btn-primary p-2 ml-0" [routerLink]="['/ohio/chillicothe/reserve-unit']" role="button"> Reserve Unit</a>   -->
            </div>
            <div class="col-lg-3 partition-border contact-hours pt-3">
                <h3>Office Hours:</h3>
                <p>
                  <span *ngFor="let hour of hoursAndrews">
                    <b>{{hour.label}}</b>{{hour.data}}<br>
                  </span>
                </p>
            </div>
          </div>
        </div>      
      </div>
      <!--Contact chester-andrews-lane  -  Ends Here-->

  

    
  