<div  itemscope itemtype="https://schema.org/SelfStorage" itemtype="https://schema.org/LocalBusiness">
  <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Madison_Verona/jpg/madison-verona-self-storge-jumbotron.jpg" />
  <span hidden itemprop="name">{{facilityName}}</span>
  <span hidden itemprop="areaServed" itemscope itemtype="https://schema.org/State">
    <span itemprop="name">{{state}}</span>
  </span>
  <!-- <app-microdata></app-microdata> -->
  <div [class.loader]="!showTable">
  </div>
  <div [class.loader]="showLoader" class="loader-position"> 
  </div>
  <div [class.display]="!showTable">
    <h2 class="reviewHeading">IF YOU WANT TO RENT NOW PLEASE REVIEW AVAILABLE UNITS BELOW AND CLICK ON "MOVE IN" TAB</h2>
    <h2 class="mt-4 mb-2">Indoor Climate Controlled - Single Story - Easy Access And  No Struggling With Elevators!</h2><br/>
    <!-- <h6>* Electrical is available for an additional cost.</h6> -->
    <table  class="viewrates-desktop" itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
        <tHead [class.display]="!showTable">
            <tr>
              <th colspan="2" class="px-4 py-1 text-center" id={{th.id}} *ngFor="let th of th">
                {{th.data}}
              </th>
            </tr>
        </tHead>
        <span hidden itemprop="name">{{facilityName}}</span>
  
        <meta itemprop="name" content="{{facilityName}}" />
  
        <tbody itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
          
          <tr itemprop="itemOffered" itemscope itemtype="https://schema.org/SelfStorage" *ngFor="let lstUnitType of indoorTemperatureLstUnitTypes" >
            <td colspan="2" id='size' class="px-4 border text-center">
              <span hidden itemprop="name">{{lstUnitType.Description}} unit Type </span>
                {{lstUnitType.Description}}
                <meta itemprop="description" 
                content="{{lstUnitType.Description}}" />
                <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Herkimer_Storage/jpg/herkimer-storage-outlet-jumbotron.jpg" />
  
            </td>
            <!-- <td colspan="2" class="px-4 border text-center" id='door-size' *ngIf="lstUnitType.UnitTypeID">
              {{lstUnitType.doorSize}}
              <meta itemprop="doorSize" content="{{lstUnitType.doorSize}}" />
          </td> -->
            <td colspan="2" class="px-4 border text-center" id='rate' *ngIf="showRate ">
                <span *ngIf="lstUnitType.MonthlyRate != null">$</span>{{lstUnitType.MonthlyRate | number : '1.2-2'}}
                <meta itemprop="priceRange" content="{{lstUnitType.MonthlyRate}}" />
            </td>
            
            <td colspan="2" class="px-4 border text-center" id='setup-fee' *ngIf="showDeposit " >
              <span *ngIf="lstUnitType.SetupFee != null">$</span>{{lstUnitType.SetupFee | number : '1.2-2'}}
            </td>
            <!-- <td colspan="2" class="py-2 px-4 border text-center" id='reserve' *ngIf="lstUnitType.IsUnitsAvailable && showReserve && lstUnitType.IsClimateControlled; else other_reserve" >
                <button (click)="navigate('/view-rates/reserve', lstUnitType )">Reserve</button>
            </td> -->
            <td colspan="2" class="py-2 px-4 border text-center" id='move-in' *ngIf="lstUnitType.IsUnitsAvailable && showMovein; else other_moveIn" >
              <button (click)="navigate('/view-rates/move-in', lstUnitType)"> Rent Now</button>
              <link *ngIf="lstUnitType.IsUnitsAvailable" itemprop="availability" href="https://schema.org/InStock" />
            </td>
            <!-- <td colspan="2" class="px-4 border text-center" *ngIf="lstUnitType.IsClimateControlled && showClimateControl; else other_climate">
              <strong> Yes</strong>
            </td>
            <ng-template #other_climate >
              <td colspan="2"  class="px-4 border text-center" *ngIf="showClimateControl">
                <div>{{defaultClimateString}}</div>
              </td>
            </ng-template> -->
            <ng-template #other_reserve >
              <td colspan="2" class="py-2 px-4 border" id='reserve' *ngIf="showReserve">
                <div class="text-center">Please call the facility to reserve a unit.</div>
              </td>
            </ng-template>
            <ng-template #other_moveIn >
              <td colspan="2" class="py-2 px-4 border" id='move-in' *ngIf="showMovein">
              <div class="text-center">Currently Unavailable - Check back for availability</div>
            </td>
            </ng-template>
          </tr> 
      
        </tbody>
    </table>
    <div class="row viewrates-mobile py-2 border" *ngFor="let lstUnitType of indoorTemperatureLstUnitTypes">
      <div class="col-6 text-center ">
        <strong>Unit Size</strong>
        <div class=" py-1 ">{{lstUnitType.Description}}</div>
        <div class="row">
          <div class="col-6 text-center " *ngIf="showRate">
            <p class=" "><b><u>Rate</u></b></p>
            <div class=" "><span *ngIf="lstUnitType.MonthlyRate != null">$</span>{{lstUnitType.MonthlyRate}}</div>
          </div>
          <!-- <div class="col-6 " [class.ClimateBorder]="lstUnitType.IsClimateControlled" *ngIf="showClimateControl">
            <div class=" ClimateControlled" *ngIf="lstUnitType.IsClimateControlled">Climate Controlled</div>
          </div> -->

          <!-- <div class="col-6" *ngIf="doorSize">
            <p class=" "><b><u>Door Size</u></b></p>
            <div class=" "><span *ngIf="lstUnitType.doorSize != null"></span>{{lstUnitType.doorSize}}</div>
          </div> -->
    
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center">
      <div>
        <!-- <div *ngIf="lstUnitType.IsUnitsAvailable; else otherreserve">
          <div class=" py-1 buttons" id='reserve' *ngIf="showReserve">
            <button class="btn btn-primary" (click)="navigate('/view-rates/reserve', lstUnitType )">Reserve</button>
          </div>
        </div> -->
        <div *ngIf="lstUnitType.IsUnitsAvailable; else othermovein">
          <div class="py-1 buttons" id='move-in' *ngIf="showMovein">
            <button class=" btn btn-outline-primary" (click)="navigate('/view-rates/move-in', lstUnitType)"> Move
              In</button>
          </div>
        </div>
      </div>
        <ng-template #otherreserve>
          <div class="text-right" id='reserve' *ngIf="showReserve">
            <p class="card-text ">Please call the facility to reserve a unit .</p>
          </div>
        </ng-template>
        <ng-template #othermovein>
          <div class="text-right" id='move-in' *ngIf="showMovein">
            <p class="card-text ">Please call the facility to  move in.</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>


  <div [class.display]="!showTable">
    <h2 class="mt-4 mb-2 ">Outdoor Access Climate Controlled</h2>
    <span>* Electrical is available for an additional cost.</span>
    <table  class="viewrates-desktop" itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
        <tHead [class.display]="!showTable">
            <tr>
              <th colspan="2" class="px-4 py-1 text-center" id={{th.id}} *ngFor="let th of th">
                {{th.data}}
              </th>
            </tr>
        </tHead>
        <span hidden itemprop="name">{{facilityName}}</span>
  
        <meta itemprop="name" content="{{facilityName}}" />
  
        <tbody itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
    
          <tr itemprop="itemOffered" itemscope itemtype="https://schema.org/SelfStorage" *ngFor="let lstUnitType of outdoorTemperatureLstUnitTypes" >
            <td colspan="2" class="px-4 border text-center" id='size' >
              <span hidden itemprop="name">{{lstUnitType.Description}} unit Type </span>
                {{lstUnitType.Description}}
                <meta itemprop="description" 
                content="{{lstUnitType.Description}}" />
                <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Herkimer_Storage/jpg/herkimer-storage-outlet-jumbotron.jpg" />
  
            </td>
            <!-- <td colspan="2" class="px-4 border text-center" id='door-size'  *ngIf="lstUnitType.UnitTypeID">
              {{lstUnitType.doorSize}}
              <meta itemprop="doorSize" content="{{lstUnitType.doorSize}}" />
          </td> -->
            <td colspan="2" class="px-4 border text-center" id='rate'  *ngIf="showRate  ">
                <span *ngIf="lstUnitType.MonthlyRate != null">$</span>{{lstUnitType.MonthlyRate | number : '1.2-2'}}
                <meta itemprop="priceRange" content="{{lstUnitType.MonthlyRate}}" />
            </td>
           
            <td colspan="2" class="px-4 border text-center" id='setup-fee'  *ngIf="showDeposit " >
              <span *ngIf="lstUnitType.SetupFee != null">$</span>{{lstUnitType.SetupFee | number : '1.2-2'}}
            </td>
            <!-- <td colspan="2" class="py-2 px-4 border text-center" id='reserve'  *ngIf="lstUnitType.IsUnitsAvailable && showReserve ; else other_reserve" >
                <button (click)="navigate('/view-rates/reserve', lstUnitType )">Reserve</button>
            </td> -->
            <td colspan="2" class="py-2 px-4 border text-center" id='move-in' *ngIf="lstUnitType.IsUnitsAvailable && showMovein ; else other_moveIn" >
              <button (click)="navigate('/view-rates/move-in', lstUnitType)"> Rent Now</button>
              <link *ngIf="lstUnitType.IsUnitsAvailable" itemprop="availability" href="https://schema.org/InStock" />
            </td>
            <!-- <td colspan="2" class="px-4 border text-center" *ngIf="lstUnitType.IsClimateControlled && showClimateControl; else other_climate">
              <strong> Yes</strong>
            </td>
            <ng-template #other_climate >
              <td colspan="2"  class="px-4 border text-center" *ngIf="showClimateControl">
                <div>{{defaultClimateString}}</div>
              </td> -->
            <!-- </ng-template> -->
            <ng-template #other_reserve >
              <td colspan="2" class="py-2 px-4 border" id='reserve'  *ngIf="showReserve">
                <div class="text-center">Please call the facility to reserve a unit.</div>
              </td>
            </ng-template>
            <ng-template #other_moveIn >
              <td colspan="2" class="py-2 px-4 border" id='move-in'  *ngIf="showMovein">
              <div class="text-center">Currently Unavailable - Check back for availability</div>
            </td>
            </ng-template>
          </tr> 
       
        </tbody>
    </table>
    <div class="row viewrates-mobile py-2 border" *ngFor="let lstUnitType of outdoorTemperatureLstUnitTypes">
      <div class="col-6 text-center ">
        <strong>Unit Size</strong>
        <div class=" py-1 " >{{lstUnitType.Description}}</div>
        <div class="row">
          <div class="col-6 text-center " *ngIf="showRate">
            <p class=" "><b><u>Rate</u></b></p>
            <div class=" "><span *ngIf="lstUnitType.MonthlyRate != null">$</span>{{lstUnitType.MonthlyRate}}</div>
          </div>
          <!-- <div class="col-6" *ngIf="doorSize">
            <p class=" "><b><u>Door Size</u></b></p>
            <div class=" "><span *ngIf="lstUnitType.doorSize != null"></span>{{lstUnitType.doorSize}}</div>
          </div> -->
          <!-- <div class="col-6 " [class.ClimateBorder]="lstUnitType.IsClimateControlled" *ngIf="showClimateControl"> -->
            <!-- <div class=" ClimateControlled" *ngIf="lstUnitType.IsClimateControlled">Climate Controlled</div>
          </div> -->
          
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <div>
        <!-- <div *ngIf="lstUnitType.IsUnitsAvailable; else otherreserve">
          <div class=" py-1 buttons" id='reserve' *ngIf="showReserve">
            <button class="btn btn-primary" (click)="navigate('/view-rates/reserve', lstUnitType )">Reserve</button>
          </div>
        </div> -->
        <div *ngIf="lstUnitType.IsUnitsAvailable; else othermovein">
          <div class="py-1 buttons" id='move-in' *ngIf="showMovein">
            <button class=" btn btn-outline-primary" (click)="navigate('/view-rates/move-in', lstUnitType)"> Move
              In</button>
          </div>
        </div>
      </div>
        <ng-template #otherreserve>
          <div class="text-right" id='reserve' *ngIf="showReserve">
            <p class="card-text ">Please call the facility to reserve a unit or move in.</p>
          </div>
        </ng-template>
        <ng-template #othermovein>
          <div class="text-right" id='move-in' *ngIf="showMovein">
            <p class="card-text ">Please call the facility to reserve a unit or move in.</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div [class.display]="!showTable">
    <h2 class="mt-4 mb-2">Drive-Up Access</h2>
    <span>* Electrical is available for an additional cost.</span>
    <table  class="viewrates-desktop" itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
        <tHead [class.display]="!showTable">
            <tr>
              <th colspan="2" class="px-4 py-1 text-center" id={{th.id}} *ngFor="let th of th">
                {{th.data}}
              </th>
            </tr>
        </tHead>
        <span hidden itemprop="name">{{facilityName}}</span>
  
        <meta itemprop="name" content="{{facilityName}}" />
  
        <tbody itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
        
          <tr itemprop="itemOffered" itemscope itemtype="https://schema.org/SelfStorage" *ngFor="let lstUnitType of regularLstUnitTypes" >
            <td colspan="2" class="px-4 border text-center" id='size'>
              <span hidden itemprop="name">{{lstUnitType.Description}} unit Type </span>
                {{lstUnitType.Description}}
                <meta itemprop="description" 
                content="{{lstUnitType.Description}}" />
                <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Herkimer_Storage/jpg/herkimer-storage-outlet-jumbotron.jpg" />
  
            </td>
            <!-- <td colspan="2" class="px-4 border text-center" id='door-size' *ngIf="lstUnitType.UnitTypeID">
              {{lstUnitType.doorSize}}
              <meta itemprop="doorSize" content="{{lstUnitType.doorSize}}" />
          </td> -->
            <td colspan="2" class="px-4 border text-center" id='rate' *ngIf="showRate ">
                <span *ngIf="lstUnitType.MonthlyRate != null">$</span>{{lstUnitType.MonthlyRate | number : '1.2-2'}}
                <meta itemprop="priceRange" content="{{lstUnitType.MonthlyRate}}" />
            </td>
            
           
            <td colspan="2" class="px-4 border text-center" id='setup-fee' *ngIf="showDeposit " >
              <span *ngIf="lstUnitType.SetupFee != null">$</span>{{lstUnitType.SetupFee | number : '1.2-2'}}
            </td>
            <!-- <td colspan="2" class="py-2 px-4 border text-center" id='reserve' *ngIf="lstUnitType.IsUnitsAvailable && showReserve && lstUnitType.IsClimateControlled; else other_reserve" >
                <button (click)="navigate('/view-rates/reserve', lstUnitType )">Reserve</button>
            </td> -->
            <td colspan="2" class="py-2 px-4 border text-center" id='move-in' *ngIf="lstUnitType.IsUnitsAvailable && showMovein; else other_moveIn" >
              <button (click)="navigate('/view-rates/move-in', lstUnitType)">Rent Now</button>
              <link *ngIf="lstUnitType.IsUnitsAvailable" itemprop="availability" href="https://schema.org/InStock" />
            </td>
            <!-- <td colspan="2" class="px-4 border text-center" *ngIf="lstUnitType.IsClimateControlled && showClimateControl; else other_climate">
              <strong> Yes</strong>
            </td>
            <ng-template #other_climate >
              <td colspan="2"  class="px-4 border text-center" *ngIf="showClimateControl">
                <div>{{defaultClimateString}}</div>
              </td>
            </ng-template> -->
            <ng-template #other_reserve >
              <td colspan="2" class="py-2 px-4 border" id='reserve' *ngIf="showReserve">
                <div class="text-center">Please call the facility to reserve a unit.</div>
              </td>
            </ng-template>
            <ng-template #other_moveIn >
              <td colspan="2" class="py-2 px-4 border" id='move-in' *ngIf="showMovein">
              <div class="text-center">Currently Unavailable - Check back for availability</div>
            </td>
            </ng-template>
          </tr> 
        
        </tbody>
    </table>
    <div class="row viewrates-mobile py-2 border" *ngFor="let lstUnitType of regularLstUnitTypes">
      <div class="col-6 text-center ">
        <strong>Unit Size</strong>
        <div class=" py-1 ">{{lstUnitType.Description}}</div>
        <div class="row">
          <div class="col-6 text-center " id='rate' *ngIf="showRate">
            <p class=" "><b><u>Rate</u></b></p>
            <div class=" "><span *ngIf="lstUnitType.MonthlyRate != null">$</span>{{lstUnitType.MonthlyRate}}</div>
          </div>
          <!-- <div class="col-6" id='door-size' *ngIf="doorSize">
            <p class=" "><b><u>Door Size</u></b></p>
            <div class=" "><span *ngIf="lstUnitType.doorSize != null"></span>{{lstUnitType.doorSize}}</div>
          </div> -->
          
          <!-- <div class="col-6 " [class.ClimateBorder]="lstUnitType.IsClimateControlled" *ngIf="showClimateControl">
            <div class=" ClimateControlled" *ngIf="lstUnitType.IsClimateControlled">Climate Controlled</div>
          </div> -->
         
    
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <div>
        <!-- <div *ngIf="lstUnitType.IsUnitsAvailable; else otherreserve">
          <div class=" py-1 buttons" id='reserve' *ngIf="showReserve">
            <button class="btn btn-primary" (click)="navigate('/view-rates/reserve', lstUnitType )">Reserve</button>
          </div>
        </div> -->
        <div *ngIf="lstUnitType.IsUnitsAvailable; else othermovein">
          <div class="py-1 buttons" id='move-in' *ngIf="showMovein">
            <button class=" btn btn-outline-primary" (click)="navigate('/view-rates/move-in', lstUnitType)"> Move
              In</button>
          </div>
        </div>
        </div>
        <ng-template #otherreserve>
          <div class="text-right" id='reserve' *ngIf="showReserve">
            <p class="card-text ">Please call the facility to reserve a unit.</p>
          </div>
        </ng-template>
        <ng-template #othermovein>
          <div class="text-right" id='move-in' *ngIf="showMovein">
            <p class="card-text ">Currently Unavailable - Check back for availability</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
 

</div>
