<div class="storage-tip-holder">
  <div class="container">
    <div class="heading">
      <h1 class="text-center pt-5">Storage Tips</h1>
    </div>
    <div class="storage-content mt-5">
      <div class="row">
        <div class="col-md-6">
          <div *ngFor="let point of storagePoints" class="p-2"> 
            <h6 class="mb-0"> {{point.heading}} </h6>
            <div class="text-justify"> {{point.data}} </div>
          </div>
        </div> 
        <div class="col-md-6">
          <app-accordion [accordianData]='storageTips' ></app-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
