@import "../../../styles.scss";

.containHolder {
  min-height: 94vh;
  padding-top: 164px;
}

.pay-rent-holder {
  background-color: #f1f0ed;
}

a {
  color: black;
}


@media only screen and (max-width: 991px) {
  .containHolder {
    padding-top: 90px;
  }
}