@import "../../styles.scss";

a {
  cursor: pointer;
}

.navbar {
  padding-bottom: 0;

  .nav-link-active {
    border-bottom: 5px $primary solid;
    color: $primary !important;
  }

  .location-active {
    color: $primary !important;
    font-weight: 600;
  }

  .navbar-brand {
    img {
      position: absolute;
      top: 9px;
    }
  }

  .nav-link {
    color: $dark;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: none;
  }

  button {
    border: 1px $dark solid;
    margin-right: 20px;
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.nav-link:hover {
  color: $primary;
}

.display {
  display: block;
}

.navbar-toggler {
  margin-top: 10px;
  margin-bottom: 10px;

  i {
    color: #4e4848;
  }
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border: 1px #efefef solid;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

@media (min-width: 768px) {
  .navbar-nav {
    li {
      a {
        line-height: 1.5rem;
        // text-align: center;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .display {
    display: none;
  }

  .navbar {
    .navbar-nav {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      align-items: center;

      li {
        width: fit-content;
      }
    }

    .navbar-brand {
      img {
        height: 45px;
      }
    }

    .dropdown {
      ul {
        left: -25px;
        text-align: -webkit-center;
      }
    }
  }

  @media screen and (max-height: 476px) {
    .nav-scroll {
      height: 70vh;
      overflow-y: auto;
    }
  }
}
