<!-- <div style="background-color: #be2926; color: white; font-size: 1rem;" class="py-2 contact-bar"  id="site-header">
  <div class="container text-center">
    <div class="px-3">
      In regards to the current Coronavirus [COVID 19] situation we are following the CDC guidelines in regards to keeping everyone healthy. We ask that when you come to visit you think of others by practicing social distancing and wearing a mask.  Thank you for your understanding.
    </div>  
  </div>
</div> -->
<!-- <div id="site-header"> -->
  <div class="additional-top-bar" >
    <div class="container text-center">
      <p class="mb-0 py-2">
        <strong>Rent without contact. Over the phone or by email. 866-454-0066.</strong>
      </p>
    </div>
  </div>
  <div class="bg-primary" id="site-header">
    <div class="container">
      <h2 class="text-center py-3"><a href="tel:8664540066">(866) 454-0066</a> - 5 Convenient Locations</h2>
    </div>
  </div>
<!-- </div> -->
<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Storage_Town_Images/storagetown-logo.png" width="auto" height="70px" alt="Logo for StorageTown">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto nav-scroll">
        <li class="nav-item mx-2" *ngFor="let nav of navLinks">
          <span *ngIf="nav?.type === 'link'">
            <a class="nav-link text-center" [routerLink]="nav?.path" [routerLinkActive]="'nav-link-active'" [routerLinkActiveOptions]="{exact: true}" (click)="onClick(menu)">{{nav.label}}</a>
          </span>

          <span *ngIf="nav?.type === 'dropdown'">
              <div class="dropdown show">  
                <a class="dropdown-toggle nav-link" role="button" id="dropdownMenuLink" [class.nav-link-active]="router.isActive('/location/chester-andrews-lane') || router.isActive('/location/chester-brookside-ave') || router.isActive('/location/montgomery-walden') || router.isActive('/location/middletown-wallKill')" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{nav.label}}</a>
                <ul class="dropdown-menu location-list" aria-labelledby="dropdownMenuLink">
                  <li *ngFor="let sub of nav.sublinks text-center">
                    <a class="dropdown-item" [routerLinkActive]="'location-active'" [routerLink]="sub?.path" (click)="onClick(menu)">{{sub.label}}</a></li>
                </ul>
              </div>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
