@import "../../styles.scss";

a {
  cursor: pointer;
}

.navbar {
  padding-bottom: 0;

  .navbar-brand {
    img {
      position: absolute;
      height: auto;
      top: 9px;
    }
  }

  .nav-link {
    color: $dark;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: none;
  }

  .nav-link-active {
    border-bottom: 5px $primary solid;
    color: $primary !important;
    font-weight: 600;
  }


  .location-active {
    color: $primary !important;
    font-weight: 600;
  }


  button {
    border: 1px $dark solid;
    margin-right: 20px;
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.nav-link:hover {
  color: $primary;
}

.display {
  display: block;
}

.navbar-toggler {
  margin-top: 10px;
  margin-bottom: 10px;

  i {
    color: #4e4848;
  }
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border: 1px #efefef solid;
}

.dropdown {
  .dropdown-menu {
    width: max-content;
  }
}

.dropdown-submenu {
  color: #000;
  display: block;
}

.dropdown-submenu>.dropdown-menu {
  top: -8px;
  margin-left: -1px;
  border-radius: 0 2px 2px 2px;
  // display: block;
}

// .success {
//   .dropdown-submenu:hover>.dropdown-menu {
//     display: block;
//   }
// }

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}


.submenu-link {
  li {
    color: $primary;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    li {
      a {
        line-height: 1.5rem;
        // text-align: center;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .display {
    display: none;
  }

  .navbar {
    .navbar-nav {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      align-items: center;

      li {
        width: fit-content;
      }
    }

    .navbar-brand {
      img {
        width: 80px;
        height: auto;
        top: 0;
      }
    }

    .dropdown {
      .dropdown-menu {
        left: -25px;
        // align-items: center;
        // display: flex;
        // flex-direction: column;
        text-align: -webkit-center;
        a {
          padding: 4px;
        }
      }
    }
  }

  @media screen and (max-width: 991px) and (max-height: 480px) {
    .nav-scroll {
      height: 200px;
      overflow-y: auto;
    }
  }
}
