@import "../../styles.scss";

a {
  cursor: pointer;
}

.custom-border {
  border-bottom: 3px solid $white;
}

h2 {
  a {
    color: white;
  }

  margin-bottom: 0;
  font-size: 1.25rem;
  color: white;
  line-height: 1.2;
}

.navbar {
  padding: 0;

  .nav-link {
    color: $dark;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 25px;
    transition: none;
  }

  .nav-link:hover {
    color: $white;
    background-color: $primary;
  }

  .nav-link-active {
    color: $white !important;
    background-color: $primary;
  }

  .location-active {
    color: $primary !important;
    font-weight: 600;
    background-color: $white;
  }


  button {
    border: 1px $dark solid;
    margin-right: 20px;
  }

  button:focus {
    outline: 5px auto $primary;
  }
}


.navbar-toggler {
  margin-top: 10px;
  margin-bottom: 10px;

  i {
    color: #4e4848;
  }
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border: 1px #efefef solid;
}

.dropdown-menu {
  border-radius: 0;
  border: none;
  background-color: $primary;
  padding: 0;

  li {
    a {
      color: $white;
      font-weight: 400;
    }
  }

  li:hover,
  li:active {
    background-color: $white;

    a {
      color: $primary;
      font-weight: 400;
    }
  }
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.submenu-link {
  li {
    color: $primary;
  }
}

.dropdown-toggle::after {
  display: none;
}

// medium screen

@media screen and (max-width: 991px) {
  .custom-border {
    border-bottom: none;
  }

  .dropdown-toggle::after {
    display: inline-block !important;
  }

  .navbar {
    .navbar-brand {
      img {
        padding-bottom: 10px;
      }
    }

    .nav-link-active {
      color: $primary !important;
      background-color: $white;
      border-bottom: 5px solid $primary
    }

    .nav-link {
      padding-top: 25px;
    }

    .nav-link:hover {
      color: $primary !important;
      background-color: $white;
      border-bottom: 5px solid $primary
    }

    .nav-link:active {
      color: $primary !important;
      background-color: $white;
      border-bottom: 5px solid $primary
    }

    .location-active {
      color: $primary !important;
      font-weight: 600;
      background-color: $white;
    }

    .navbar-nav {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      align-items: center;

      li {
        width: fit-content;
      }
    }

    .nav-link:hover {
      color: $white;
      background-color: $white;
    }

    .dropdown-menu {
      left: -40px;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      background-color: $white;
      padding: 0.5em 0;

      li {
        background-color: white;
        a {
          padding-top: 4px;
          padding-bottom: 4px;
          color: #4e4848;
        }
      }

      li:active {
        background-color: $white;

        a {
          color: $primary;
          font-weight: 600;
        }
      }
    }

    .dropdown {
      ul {
        text-align: -webkit-center;
      }

      .nav-link:active {
        border-bottom: 0;
      }

      .nav-link:hover {
        border-bottom: 0;
      }

      .nav-link {
        border-bottom: 0;
      }

      a {
        display: -webkit-box;
      }

      .custom-border {
        display: none;
      }
    }
  }

  @media screen and (max-width: 991px) and (max-height: 480px) {
    .nav-scroll {
      height: 200px;
      overflow-y: auto;
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    li {
      a {
        line-height: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 370px) {
  h2 {
    font-size: 1rem;
  }
}
