<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/AllSpace_Images/allspace-logo.jpg" width="100px" height="" alt="All Space Storage Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto nav-scroll">
        <li class="nav-item mx-2" *ngFor="let nav of navLinks">
          <span *ngIf="nav?.type === 'link'">
            <a class="nav-link text-center" [routerLink]="nav?.path" [routerLinkActive]="'nav-link-active'" [routerLinkActiveOptions]="{exact: true}" (click)="onClick(menu)">{{nav.label}}</a>
          </span>

          <span *ngIf="nav?.type === 'dropdown'">
              <div class="dropdown show">  
                <a class="dropdown-toggle nav-link" role="button" id="dropdownMenuLink" data-toggle="dropdown" [class.nav-link-active]="router.isActive('/location/poughkeepsie/arlington') || router.isActive('/location/poughkeepsie/hyde-park') || router.isActive('/location/highland') || router.isActive('/location/lake-katrine') || router.isActive('/location/pawling')" aria-haspopup="true" aria-expanded="false">{{nav.label}}</a>
                <ul class="dropdown-menu location-list" aria-labelledby="dropdownMenuLink">
                    <li *ngFor="let sub of nav.sublinks text-center"><a class="dropdown-item" [routerLink]="sub?.path" [routerLinkActive]="'location-active'" (click)="onClick(menu)">{{sub.label}}</a></li>
                  <!-- <ng-container *ngFor="let sub of nav.sublinks text-center" >
                    <li *ngIf="sub?.type != 'dropdown-submenu';else other_content">
                      <a class="dropdown-item" [routerLink]="sub?.path" (click)="onClick(menu)">{{sub.label}}</a>
                    </li>  -->
                    <!-- <ng-template #other_content>
                     <li class="dropdown-submenu dropright py-2">
                        <a class="dropdown-toggle" (click)="showUl(menu)" role="button" id="dropdownMenuLink1">{{sub.label}}</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                          <li *ngFor="let innerLinks of sub.innerLinks" >
                            <a class="dropdown-item" [routerLink]="innerLinks?.path">{{innerLinks.label}}</a>
                          </li>
                        </ul>
                     </li>
                    </ng-template> -->

                     <!-- <ng-template #other_content>
                     <li class="dropdown-submenu py-2 ">
                        <a >{{sub.label}}</a>
                        <ul class="submenu-link">
                          <li *ngFor="let innerLinks of sub.innerLinks" >
                            <a  class="dropdown-item p-1" [routerLink]="innerLinks?.path">{{innerLinks.label}}</a>
                          </li>
                        </ul>
                     </li>
                    </ng-template> -->

                 <!-- </ng-container> -->

                 
                </ul>
              </div>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
