<div class="storage-tip-holder">
  <div class="container">
    <div class="heading">
      <h1 class="text-center pt-5">Trailer Rental Page Details</h1>
    </div>
    <div class="storage-content mt-5">
      <div class="row">
        <h2>
          Our trailer is available at no cost to new tenants during the move in
          process!
        </h2>
        <div class="col-md-6">
          <ul>
            <li *ngFor="let point of storagePoints" class="p-1 text-justify">
              {{ point.data }}
            </li>
          </ul>
          <h6>
            Please call (920) 644-4423 to make arrangements to reserve the
            trailer.
          </h6>
        </div>
        <div class="col-md-6">
          <!-- <app-accordion></app-accordion> -->
          <img
            src="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/IN_N_OUT/jpg/in-n-out-trailers.jpg"
            width="100%"
            alt=""
            class="sectionImage"
          />
        </div>
      </div>
    </div>
  </div>
</div>
