@import "../../styles.scss";

.custom-margin {
  margin-top: 56px;
}
// .altrenateContact {
//   color: $primary !important;
// }

.carousel-indicators li {
  background-color: black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.special-row {
  color: #000;
  background-color: #cda500;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.heading1 {
  color: #000;
}

.heading {
  color: #fff;
}

.managername1 {
  color: #000;
}

.container-fluid{
  background-color: #cda500;
  color: #000;
}

.carousel-item {
  height: 250px;
}

//Common code
.home-container {
  color: #000;
  background-color: $primary;
}

.disp {
 img {
   height: 70px;
 }
}

.font-xs-device {
  a {
    color: black;
  }
}

// Get started Section
.getStarted {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Cranberry_Storage/cranberry-storage-homepage.jpg") center top no-repeat fixed;
  // background-size: cover;
  background-position: top;

  .get-started {
    left: 0;
    right: 0;
    top: 10;
    background: rgba(238, 238, 238, 0.7);
    z-index: 9;
  }

  .btn {
    min-width: 250px;
    font-size: 1.2rem;
  }
}

// HOME jUMBOTRON

.jumbotron-top {
  height: 80vh;

  .jumbotron {
    background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Cranberry_Storage/cranberry-storage-homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 80vh;
    color: $fontColor;
    overflow: hidden;
    padding: 0;
    position: relative;

    h2 {
      font-weight: 600;
      font-size: 2em;
    }

    p {
      text-align: justify;
    }

    .btn {
      width: 95%;
      min-width: 110px;
    }

    a {
      margin-top: 20px;
    }

    .jumbotron-skew-style {
      width: 72%;
      float: left;
      left: -20%;
      position: relative;
      transform: skew(15deg);
      min-height: 100%;
    }

    .jumbotron-skew-text {
      width: 24%;
      position: absolute;
      top: 35%;
      color: $fontColor;
    }
  }
}

.jumbotron-bottom {
  display: flex;
  align-items: center;
  height: calc(20vh - 56px);
  color: #efefef !important;
}

@media only screen and (min-width: 1200px) {
  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-text {
        width: 472px;
      }
    }
  }
}
@media only screen and (min-width: 1200px) and (max-height: 791px) and (min-height: 641px) {
  .jumbotron-top {
    height: 75vh;
    .jumbotron {
      height: 75vh;
    }
  }

  .jumbotron-bottom {
    height: calc(25vh - 56px);
  }

  .disp {
    img {
      height: 60px;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 640px) and (min-height: 481px) {
  .custom-margin {
    margin-top: 0;
  }

  .jumbotron-container {
    .jumbotron-bottom {
      height: 150px;
      display: flex;
      align-items: center;

      h6 {
        font-size: 0.8rem;
      }
    }

    .jumbotron-top {
      height: 100vh;

      .jumbotron {
        height: 100vh;
      }

      .jumbotron-skew-text {
        top: 30%;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 480px) {
  .custom-margin {
    margin-top: 0;
  }

  .disp {
    display: none;
  }

  .jumbotron-top {
    height: 100vh;

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: 100vh;

      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        height: 80px;
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }

  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: 140px;
  
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
.manager {
  text-align: center;
}
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-style {
        width: 84%;
        float: left;
        left: -24%;
        position: relative;
        transform: skew(15deg);
        min-height: 100%;
      }

      .jumbotron-skew-text {
        width: 472px;
        position: absolute;
        bottom: 0;
        top: 30%;
      }

      .button-width {
        width: 100%;
        text-align: center;
      }
    }


    .jumbotron-bottom {
      height: 20vh;
      display: flex;
      align-items: center;

      .feature-text {
        text-transform: uppercase;
      }
    }
  }

  .carousel-item {
    height: 300px;
  }

  .managername1 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 830px) and (min-height: 641px) {
  .jumbotron-top {
    height: 70vh;

    .jumbotron {
      height: 70vh;
    }
  }
  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: calc(30vh - 56px);
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 640px) and (min-height: 481px) {
  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: calc(30vh - 56px);
  }

  .disp { 
    img {
      height: 60px;
    }

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 70vh;

    .jumbotron {
      height: 70vh;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 480px) {
  .jumbotron-top {
    height: 100vh;

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: 100vh;
    }
  }

  .jumbotron-bottom {
    height: 140px;
  }
  .custom-margin {
    margin-top: 0;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .jumbotron-top {
    height: 75vh;
    .jumbotron {
      height: 75vh;
    }
  }

  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: calc(25vh - 56px);
  }

  .carousel-item {
    height: 350px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 830px) and (min-height: 641px) {
  .disp {
    p {
      font-size: 0.9rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  .jumbotron-bottom {
    display: flex;
    align-items: center;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-text {
        top: 30%;
      }
    }
  }
}


@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 640px) and (min-height: 481px) {
  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: calc(30vh - 56px);

    h6 {
      font-size: 0.8rem;
    }
  }

 .disp {
   img {
     height: 50px;
   }
 }

  .jumbotron-top {
    height: 70vh;

    .jumbotron {
      height: 70vh;

      .jumbotron-skew-text {
        top: 25%;
      }
    }
  }

}


@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 480px) {
  .jumbotron-top {
    height: 100vh;

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: 100vh;
    }
  }

  .jumbotron-bottom {
    height: 140px;
  }

  .custom-margin {
    margin-top: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotron-top {
    height: 70vh;
    .jumbotron {
      height: 70vh;
    }
  }

  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: calc(30vh - 56px);
  }
  
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 700px) and (min-height: 641px) {
  .jumbotron-top {
    height: 70vh;
    .jumbotron {
      height: 70vh;
    }
  }

  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: calc(30vh - 56px);
  }

  .disp {
    img {
      height: 60px;
    }
  }
}


@media only screen and (max-width: 767px) and (min-width: 601px)  and (max-height: 640px) {

  .custom-margin {
    margin-top: 0;
  }

  .jumbotron-top {
    height: 100vh;

    .button-width {
      width: 100%;
      padding: 0;
      text-align: center;
      padding-left: 7%;
      padding-right: 7%;
    }

    .jumbotron {
    height: 100vh;
    }
  }

  .jumbotron-bottom {
    height: 140px;
  }

  .map-responsive {
    iframe {
      height: 200px;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .disp {
    display: none;
  }

  .custom-margin {
    margin-top: 0;
  }


  .special-row {
    position: relative;
    top: 45vh;
  }
  
  .jumbotron-top {
    height: 45vh;

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: 45vh;
      background-position: center center;


      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        height: 80px;
        background: rgba(255, 255, 255, 0.9);
      }
    }


    .jumbotron-bottom {
      display: none;
    }
  }

  .map-responsive {
    iframe {
      height: 200px;
    }
  }

  .carousel-item {
    height: 400px;
  }
}
