
  <div class="contentHolder">
    <div class="container" style="padding-top: 50px; background-color: #f1f0ed;">
      <h2 class="text-center">Affordable Storage Near Victor, NY</h2>
      <div class="row pt-2">
        <div class="col-md-12">
          <span *ngIf="name == 'village'">
              <iframe id="advanced_iframe" name="advanced_iframe" src="https://victorselfstorage-village.sim.syrasoft.com/UnitAvailability" width="100%"
              height="700" scrolling="no" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
          </span>
          <span *ngIf="name == 'mall'">
              <iframe id="advanced_iframe" name="advanced_iframe" src=" https://victorselfstorage-mall.sim.syrasoft.com/UnitAvailability" width="100%"
              height="700" scrolling="no" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
          </span>
        </div>
      </div>
    </div>
  </div>


