<div class="footer bg-secondary p-3">
  <div class="container">
    <div class="row"> 
      <div class="col-6 my-auto text-left privacy-policy"> 
        <a  href="/privacy-policy" > 
            Privacy Policy
        </a>
        <div class="col-6 pl-0 copyright-text"> &copy; {{currentYear}} Carroll County Storage</div>
      </div>
      <div class="col-6 my-auto copyright-image"><a href="https://www.syrasoft.com/" target="_blank" rel="nofollow" >
        <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredLight.svg" alt="" width="120" > </a></div>                
    </div>    
  </div>
</div>
