<div class="additional-top-bar">
  <div class="container text-center">
      <p class="mb-0 py-2 " >
        Rent without contact. Over the phone or by email. 845-473-2848.</p>
    <!-- <span>
    <div class="mb-0 py-2 heading" ng-class="{show: show}" >
      As a result of Governor Cuomo's mandate, our staff will be working remotely Monday through Saturday.<span class="read_more" *ngIf="btnText === 'Show More'">...</span><span *ngIf="btnText === 'Show Less'">
      We can assist by phone with payments and rentals, and any questions you may have. Some of our locations
      hours have been mortified, but we will be able to get your messages on the next business day. Thank you
      for your understanding during this difficult time.</span>
      </div>
      <div>
        <a  (click)="toggle()"><u>{{btnText}}</u></a>
      </div>
    </span> -->
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-white py-0">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Storage_Depot/the-storage-depot-logo.png" width="auto" height="90" alt="The Storage Depot Logo" class="py-2">
    </a>
    <button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto navbar-nav-scroll">
        <li class="nav-item px-2 text-center" *ngFor="let nav of navLinks">
          <a class="nav-link" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" [routerLinkActiveOptions]="{exact: true}" (click)="onClick(menu)">{{nav.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
