<div class="contentHolder">
  <div class="container">
    <h1 class="py-5 text-center">View Rates</h1>
    <div class="row bg-light padding">
      <div class="col-md-7 coming p-3 " >
        <iframe id="advanced_iframe" name="advanced_iframe" src="https://pinnacle.sim.syrasoft.com/unitavailability" width="100%"
          height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>
      </div>
      <div class="col-md-5 p-3">
        <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Pinnacle_Storage/pinnacle-self-storage-7.jpg" alt="Photos of a row of self storage units outside" width="100%"/>
        <div class="mt-4 justify" *ngFor="let data of dataViewRates">
          <p>{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>
</div>