  <!--Contact RCS Storage - West starts Here-->
  <div class="pb-5 pt-5 bg-light">    
    <div class="container">
      <div class="row">          
        <div class="col-lg-5">
          <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2865.336849082259!2d-103.258437!3d44.097041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x877d5c991e931dab%3A0xa8fd8ff6d10ecdca!2s1314%20Fountain%20Plaza%20Dr%2C%20Rapid%20City%2C%20SD%2057702%2C%20USA!5e0!3m2!1sen!2sin!4v1654752268463!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4  pt-3">
          <h2>RCS Storage - West</h2>
          <!-- <p> -->
            <div *ngFor="let contact of contactsBrookside" class="contact-label">
                <div><h3><strong>{{contact.label}}</strong></h3></div>&nbsp;&nbsp;
              <div class="contact-links" *ngIf="contact.label === 'Address: ' || contact?.label === 'Email: ' || contact?.label === 'Phone: ' else other_content">
                <a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;
                  <h3>{{contact.data}}</h3>
                </a>
              </div>
              <ng-template #other_content>&nbsp;<h3>{{contact.data}}</h3></ng-template><br>
            </div>
          <!-- </p> -->
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/south-dakota/rcs-west/storage-units']" role="button">View Rates</a>                
          <!-- <a class="btn btn-primary p-2 ml-0" [routerLink]="['/south-dakota/rcs-west/reserve-unit']" role="button"> Reserve Unit</a>                                   -->
        </div>
        <div class="col-lg-3 partition-border contact-hours pt-3">
            <h3>Office Hours:</h3>
            <p>
              <span *ngFor="let hour of hoursBrookside">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
      </div>
    </div>      
  </div>
  
  <!--Contact RCS Storage - West Ends Here-->

    <!--Contact RCS Storage - East  starts Here-->
    <div class="pb-5 pt-5 ">    
      <div class="container">
        <div class="row">          
          <div class="col-lg-5">
            <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2868.257071089325!2d-103.18602868517263!3d44.0367448355634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x877d42703db50985%3A0x7eb7d4a2398d6e34!2s1824%20Marlin%20Dr%2C%20Rapid%20City%2C%20SD%2057701%2C%20USA!5e0!3m2!1sen!2sin!4v1654151408323!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-lg-4 pt-3">
            <h2>RCS Storage - East</h2>
            <div *ngFor="let contact of contactsAndrews" class="contact-label pt-2">
              <div><h3><strong>{{contact.label}}</strong></h3></div>&nbsp;&nbsp;
            <div class="contact-links" *ngIf="contact.label === 'Address: ' || contact?.label === 'Email: ' || contact?.label === 'Phone: ' else other_content">
              <a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;
                <h3>{{contact.data}}</h3>
              </a>
            </div>
            <ng-template #other_content>&nbsp;<h3>{{contact.data}}</h3></ng-template><br>
          </div>
            <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/south-dakota/rcs-east/storage-units']" role="button">View Rates</a>                
            <!-- <a class="btn btn-primary p-2 ml-0" [routerLink]="['/south-dakota/rcs-east/reserve-unit']" role="button"> Reserve Unit</a>                                   -->
          </div>
          <div class="col-lg-3 partition-border contact-hours pt-3">
              <h3>Office Hours:</h3>
              <p>
                <span *ngFor="let hour of hoursAndrews">
                  <b>{{hour.label}}</b>{{hour.data}}<br>
                </span>
              </p>
          </div>
        </div>
      </div>      
    </div>
    <!--Contact RCS Storage - East   -  Ends Here-->

      <!--Contact Montgomery Start Here-->
  <!-- <div class="pb-5 pt-5 bg-light">    
    <div class="container">
      <div class="row">          
        <div class="col-lg-5">
            <iframe title="Facility Google Map" src="" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4 pt-3">
          <h2>location heading3</h2>
          <div *ngFor="let contact of contactsMontgomery" class="contact-label">
            <div><h3><strong>{{contact.label}}</strong></h3></div>&nbsp;&nbsp;
          <div class="contact-links" *ngIf="contact.label === 'Address: ' || contact?.label === 'Email: ' || contact?.label === 'Phone: ' else other_content">
            <a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;
              <h3>{{contact.data}}</h3>
            </a>
          </div>
          <ng-template #other_content>&nbsp;<h3>{{contact.data}}</h3></ng-template><br>
        </div>
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/south-dakota/location-3/storage-units']" role="button">View Rates</a>                
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/south-dakota/location-3/reserve-unit']" role="button"> Reserve Unit</a>                                  
        </div>
        <div class="col-lg-3 partition-border contact-hours pt-3">
            <h3>Office Hours:</h3>
            <p>
              <span *ngFor="let hour of hoursMontgomery">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
      </div>
    </div>      
  </div> -->
  <!--Contact Montgomery -  Ends Here-->

    <!--Contact Middletown Ends Here-->
    <!-- <div class="pb-5 pt-5 ">    
      <div class="container">
        <div class="row">          
          <div class="col-lg-5">
              <iframe title="Facility Google Map" src="" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-lg-4 pt-3">
            <h2>location heading4</h2>
            <div *ngFor="let contact of contactsMiddletown" class="contact-label">
              <div><h3><strong>{{contact.label}}</strong></h3></div>&nbsp;&nbsp;
            <div class="contact-links" *ngIf="contact.label === 'Address: ' || contact?.label === 'Email: ' || contact?.label === 'Phone: ' else other_content">
              <a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;
                <h3>{{contact.data}}</h3>
              </a>
            </div>
            <ng-template #other_content>&nbsp;<h3>{{contact.data}}</h3></ng-template><br>
          </div>
            <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/south-dakota/belforest/storage-units']" role="button">View Rates</a>                
            <a class="btn btn-primary p-2 ml-0" [routerLink]="['/south-dakota/belforest/reserve-unit']" role="button"> Reserve Unit</a>                                  
          </div>
          <div class="col-lg-3 partition-border contact-hours pt-3">
              <h3>Office Hours:</h3>
              <p>
                <span *ngFor="let hour of hoursMiddletown">
                  <b>{{hour.label}}</b>{{hour.data}}<br>
                </span>
              </p>
          </div>
        </div>
      </div>      
    </div> -->
    <!--Contact Middletown -  Ends Here-->
  