<div class="payment-top">
  <div class="bg-translucent">
    <div class="container jumbotorn-top text-center" *ngFor="let payRent of payRent">
        <h1 class="pb-4">{{payRent.heading}}</h1>
        <p>{{payRent.blurb}}</p>
    </div>
  </div>
</div>
<div class="contentHolder payment-bottom">
  <div class="container my-3 pb-5">
    <!-- <h1 class="text-center py-5 mb-0">{{payRentHeading}}</h1> -->
    <div class="pay-rent-holder">
      <div class="row bg-light background-padding" *ngIf="showPaymentPageType === 0">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
      </div>
      <div class="row" *ngIf="showPaymentPageType === 1">
            <div class="col-md-12 mx-0"  >
        <!-- <app-tabs [tabs]='tabs' style="background-color: #f1f0ed;" ></app-tabs> -->
        <app-tabs [tabs]='tabs' style="background-color: #ffde03;"></app-tabs>
          </div>
      </div>
    </div>
  </div>
</div>