@import "../../styles.scss";

.contentHolder {
  padding-top: 130px;
  min-height: 87vh;
  margin-bottom: 50px;

  .view-rates-holder {
    padding: 64px;
    background-color: $light;
  }

  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;

    iframe {
      width: 100%;
      overflow: auto;
    }
  }

  ul {
    padding-inline-start: 30px;
  }
}

@media screen and (max-width: 600px) {
  .contentHolder {
    padding-top: 60px;

    .view-rates-holder {
      padding: 16px;
      background-color: $light;
    }
  }

  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;

    iframe {
      width: 100%;
      overflow: scroll;
    }
  }

  img {
    height: 200px;
    width: 100%;
  }
}

