<div class="contentHolder">
  <div class="container">
    <h1 class="py-5 text-center">View Our Rates</h1>
    <div class="view-rates-holder">
      <div class="row">
        <div class="col-md-6 scroll-wrapper">
          <iframe id="advanced_iframe" name="advanced_iframe" src="https://storagekingnh.sim.syrasoft.com/unitavailability" width="100%"
          height="550" scrolling="yes" frameborder="0" border="0" style="max-width:100%;"></iframe>
        </div>
        <div class="col-md-6">
          <img src="../../assets/images/storage-king.jpeg" alt="Storage King's Front Office" width="100%">
          <p class="my-4 justify" *ngFor='let para of viewrates'>{{para.p}}</p>
          <p> <strong>Our Truck Rentals offer the following great benefits!</strong> </p>
          <ul>
            <li *ngFor="let data of benefitsList">{{data.p}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
