@import "../../styles.scss";
@import "../../general.scss";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


.storage-tips-top {
  background: url("../../assets/images/storage-tips.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  height: 60vh;
}

.content-Holder {
  min-height: 96vh;
  text-align: center;

  h3 {
    color: $fontColor;
    font-weight: 600;
  }

  h5 {
    color: $fontColor;
    font-weight: 600;
    font-size: 1.2em;
  }

  .storage-left {
    color: $white;
    font-weight: 600;
    line-height: 2;
  }

  h2 {
    color: $white;
    border-bottom: 1px solid $primary;
    width: 420px;
    margin: auto;
    font-size: 2.25rem;
  }
}

.jumbotorn-top {
  padding: 0 8%;
}

.accordion-background {
  min-height: 400px;
}

@media only screen and (max-width: 480px) {
  .ul-padding {
    ul {
      padding-inline-start: 20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .storage-tips-top {
    height: 40vh;
  }
}
