<div class="storage-tips-top">
  <div class="bg-translucent">
      <div class="container jumbotorn-top text-center">
        <h1 class="pb-4">Scotia Storage Helps you Every Step of the Way!</h1>
        <p>Here are some free tips for storing your belongings with Scotia Storage! Have specific questions that aren't covered here? Contact us today and let us make your self storage experience a breeze!</p>
      </div>
  </div>
</div>

<div class="content-Holder bg-dark-background py-5">
  <div class="container py-5 ">
    <h2 class="pb-3">Scotia Self Storage Tips</h2>
    <div class="row accordion-background content-margin-top">
      <div class="col-md-6 py-3 ul-padding">
        <ul class="text-left"><li class="storage-left" *ngFor="let store of storageTip" >{{store.data}}</li ></ul>
      </div>
      <div class="col-md-6 py-3" id="accordion">
      <app-accordion></app-accordion>
    </div>
  </div>
</div>