<div class="payment-top">
  <div class="bg-translucent">
    <div class="container jumbotorn-top text-center" *ngFor="let payRent of payRent">
        <h1 class="pb-4">{{payRent.heading}}</h1>
        <p>{{payRent.blurb}}</p>
    </div>
  </div>
</div>

<div class="content-Holder bg-dark-background payment-bottom">
  <div class="container py-5">
    <h2 class="pb-3 text-center">Pay Rent</h2>
    <div class="row content-margin-top">
      <div class="col-lg-9 py-3">
          <router-outlet></router-outlet>
      </div>
      <div class="col-lg-3 py-4 payment-link">
        <h5>How to Login</h5>
        <p><b>Username:</b>&nbsp;First initial + Last Name<br>
        <b>Password:</b>&nbsp; Full Phone Number</p>
        <p><b>Example:</b></p>
        <p>John Smith's phone number is (555) 555-555</p>
        <p>John's Username: jsmith<br>
          John's Password: 5555555555</p>
        <p>Have questions about your account?<br>
        <span *ngFor="let contact of contact">
          <a *ngIf="contact?.id == 1 || contact?.id == 2" href="contact?.redirect">{{contact.data}}</a><br>
        </span>
      </p>
      </div>
    </div>
  </div>
  
</div>