<div class="rent-holder">
    <div class="container px-0">
      <div class="rent-heading pb-5">
        <h1 class="text-center pt-5">Pay Your Rent</h1>
      </div>
      
      <div class="rent-sub-holder">
        <div class="row padding bg-light">
          <div class="col-lg-8 col-md-6 coming scroll-wrapper padding-for-small-device">
            <iframe id="advanced_iframe" name="advanced_iframe" src="https://loisstor-all.sim.syrasoft.com/Home/PayNow" width="100%"
             scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>  
          </div>
  
          <div class="col-lg-4 col-md-6 rent-example padding-for-small-device">
            <h2> How to Login </h2>
            <p class="pt-3"> <b>Username:</b> Email Address </p>
            <p> <b>Password:</b> Access Code </p>
            <p class="py-3"> <b>Example:</b></p>
            <p class="pb-2"> John Smith's access code is 123456.</p>
            <p class="pb-2"> John's Username: jsmith1@email.com</p>
            <p>John's Password: 123456</p>
        
            <p class="pt-3"><b>Have questions about your account?</b><br>
              <a href="tel:2627638925">(262) 763-8925</a>
              <br>
              <a href="mailto:LoisStorAll@gmail.com">LoisStorAll@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  