<div class="contentHolder">
  <div class="container">
    <h1 class="py-5 text-center">Car, Boat & Recreational Vehicle Parking</h1>
    <div class="row bg-light padding">
      
      <div class=" col-lg-6 col-md-12  " >
          <div class="  p-2">
          <p class=" text-justify" *ngFor='let para of dataViewRates'>
              {{para.p}}
            </p>
          </div>
      </div>
      <div class=" col-lg-6 col-md-12  ">
        <div class=" p-2">
          <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/McKeesport+Storage/mckeesport-storage-boat.jpg" alt=" photograph of a boat parked at McKeesport Storage " class="sectionImage" width="auto"/>
        </div> 
      </div>
    </div>
  </div>
</div>