@import "../../styles.scss";

p {
  padding: 0;
  margin: 0;
  color: $dark;
}

table {
  border: 2px solid #dee2e6;
}

.table-head {
  background: $primary;
  color: $white;
}

td {
  padding-left: 5%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #dee2e6;
}

.text-align-right {
  text-align: right;
}

ul {
  margin-bottom: 0;
  padding-inline-start: 10px;
}

table {
  b, h4{
     font-size: 20px;
  }
}
