<!-- <div class="faq-top">
  <div class="bg-translucent">
      <div class="container jumbotorn-top text-center" >
        <h1 class="pb-4">Frequently Asked Question</h1>
      </div>
  </div>
</div> -->

<div class="content-Holder bg-dark-background storage-tips-bottom">
  <div class="container p-5 ">
    <h1 class="pb-3">Frequently Asked Questions</h1>
    <div class="row accordion-background content-margin-top p-3">
      <!-- <div class="col-md-6 py-3 ul-padding">
        <ul class="text-left"><li class="storage-left" *ngFor="let store of storageTip" >{{store.data}}</li ></ul>
      </div>
      <div class="col-md-6 py-3" id="accordion">
      <app-accordion></app-accordion>
    </div> -->
    <div>
        <div class="pb-2" *ngFor="let faq of faqContent">
          <b class="pb-1">{{faq.question}}</b>
          <p>{{faq.answer}}</p>
          <table class="table"  table table-striped *ngFor="let tab of faq.tables" >
            <tHead  >{{tab.heading}}</tHead>
            <tr class="border" *ngFor="let data of tab.table">
              <td>
                  {{data.td1}}
              </td>
              <td>
                {{data.td2}}
              </td>
              <td>
                {{data.td3}}
              </td>
            </tr>
          </table>
          <ul><li *ngFor="let list of faq.list">{{list.li}}</li></ul>

    </div>
    <div class="pb-2" *ngFor="let lists of faqList">
      <b class="pb-1">{{lists.question}}</b>
      <ul class="dashed" *ngFor="let point of lists.list">
        <li>  {{point}}</li>
      </ul>
    </div>
  </div>
</div>
</div>