@import "../../styles.scss";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

.faq-top {
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Rifle_Storage/rifle-self-storage-long-row-of-units.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  height: 60vh;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -25px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -25px;
}
.bg-translucent {
  height: 60vh;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.storage-tips-bottom {
  padding: 48px 0;
}

.content-margin-top {
  margin-top: 64px;
}

.content-Holder {
  min-height: 96vh;
  text-align: left;
  color: black;
  margin-top: 90px;

  h3 {
    color: $fontColor;
    font-weight: 600;
  }

  h5 {
    color: $fontColor;
    font-weight: 600;
    font-size: 1.2em;
  }

  .storage-left {
    color: $white;
    font-weight: 600;
    line-height: 2;
  }

  h1 {
    color: black;
    border-bottom: 1px solid $secondary;
    width: 450px;
    margin: auto;
    font-size: 2.25rem;
  }
}

.jumbotorn-top {
  padding: 0 8%;
}

.accordion-background {
  min-height: 400px;
}

@media only screen and (max-width: 480px) {
  .faq-top {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom;
  }

  .ul-padding {
    ul {
      padding-inline-start: 20px;
    }
  }

  .storage-tips-bottom {
    padding: 16px 0;
  }
}

@media only screen and (max-width: 600px) {
  .faq-top {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom;
  }

  .content-margin-top {
    margin-top: 36px;
  }
}

@media screen and (max-width: 767px) {
  .faq-top {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom;

    .jumbotorn-top {
      display: none;
    }
  }

  .storage-tips-bottom {
    padding: 16px 0;
  }

  .content-Holder {
    h1 {
      font-size: 2rem;
      width: auto;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (max-height: 767px) {
  .content-Holder {
    h1 {
      font-size: 2rem;
      width: auto;
    }
  }

  .faq-top {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom;

    .jumbotorn-top {
      display: none;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 900px) and (min-height: 768px) {
  .content-Holder {
    h1 {
      font-size: 2rem;
      width: auto;
    }
  }

  .faq-top {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom;

    .jumbotorn-top {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .content-Holder {
    h1 {
      width: auto;
    }
  }

  .faq-top {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;

    .jumbotorn-top {
      top: 10%;
      position: relative;
    }
  }
}

@media only screen and (min-width: 992px) and (min-height: 601px) and(max-height: 950px) {
  .faq-top {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom;

    .jumbotorn-top {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1rem;
      }

      position: relative;
      top: 10%;
    }
  }
}

@media only screen and (min-width: 992px) and (max-height: 600px) {
  .faq-top {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
  }

  .jumbotorn-top {
    display: none;
  }
}
