  <div id="carouselJumbo" class="carousel slide  jumbotron-top-style" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
      <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
      <li data-target="#carouselJumbo" data-slide-to="1"></li>
    </ol> -->
    <!-- <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="jumbotron-top jumbotron-top-style"></div>
      </div>
      <div class="carousel-item">
          <div class="jumbotron-top1 jumbotron-top-style"></div>
      </div>
    </div> -->
    <div class="jumbotron-top"></div>
  </div>
  
  <!--Feature Box-->
    <div class="container feature-block disp py-4">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-6" *ngFor= "let feature of features">
          <p class="text-center f-block-img p-2"> 
            <img src="{{feature.data}}" class="f-img">
          </p>
          <p class="text-center f-text py-1">
            {{feature.label}}
          </p>
        </div>
      </div>
    </div>
  <!--Feature Box Ends Here-->

<!--Contact Details-->
<div class="bg-light py-5 "> 
  <!-- <div class="locaion-selection">
    <app-select-location (click)="receiveMessage()"></app-select-location>
  </div> 
    <div class="container">
    <div class="row">
      <div class="col-md-5">
        <span *ngIf="locationId == 1" >
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2979.4339304174373!2d-73.88317818456487!3d41.689567279237515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dd3fae485cebbf%3A0x26c17f058f6e14f5!2sAllSpace+Storage!5e0!3m2!1sen!2sus!4v1547424990419" width="100%" height="100%" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
        </span>
        <span *ngIf="locationId == 2" >
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11912.94532453811!2d-73.901327!3d41.7154189!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa8d5809b74358777!2sAllSpace+Storage!5e0!3m2!1sen!2sus!4v1552263193264" width="100%" height="100%" frameborder="0" style="border: 2px solid #fff;" allowfullscreen></iframe>
          </span>
        <span *ngIf="locationId == 3" >
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2977.1611943605335!2d-74.02744608456327!3d41.738615879233485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dd3d55d160eb6d%3A0x64a4ce6012f7150a!2sAllSpace+Storage!5e0!3m2!1sen!2sus!4v1547426582258" width="100%" height="100%" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
        </span>
        <span *ngIf="locationId == 4" >
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.8773523280065!2d-73.99206268419536!3d41.98144297921405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dd08d954bf9dd5%3A0x99ba74eb9850ef38!2sAllSpace+Storage!5e0!3m2!1sen!2sus!4v1547428290178" width="100%" height="100%" frameborder="0" style="border: 2px solid #fff;" allowfullscreen></iframe>
        </span>
        <span *ngIf="locationId == 5" >
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3895.372725219602!2d-73.58763914649444!3d41.538010515264524!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xecff7e1d16462119!2sAllSpace+Storage!5e0!3m2!1sen!2sus!4v1547429701813" width="100%" height="100%" frameborder="0" style="border: 2px solid #fff;" allowfullscreen></iframe>
        </span>
      </div>
      <div class="col-md-4  pl-4 pt-3">
        <h2>{{heading}}</h2>
        <p > 
            <span *ngFor="let contact of contactDetails">
                <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
              </span>
        </p>
        <span *ngIf="locationId == 1" >
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/poughkeepsie/arlington/storage-units']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/poughkeepsie/arlington/reserve-unit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>                        
        </span>
        <span *ngIf="locationId == 2" >
            <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/poughkeepsie/hyde-park/storage-units']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
            <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/poughkeepsie/hyde-park/reserve-unit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>                        
          </span>
        <span *ngIf="locationId == 3" >
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/highland/storage-units']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/highland/reserve-unit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>                        
        </span>
        <span *ngIf="locationId == 4" >
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/lake-katrine/storage-units']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/lake-katrine/reserve-unit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>
        </span>
        <span *ngIf="locationId == 5" >
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/pawling/storage-units']" [queryParams]="{ currentTab: 'Storage Units' }" role="button">View Rates</a>            
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/pawling/reserve-unit']" [queryParams]="{  currentTab: 'Reserve Unit' }" role="button">Reserve Unit</a>
        </span>
      </div>
      <div class="col-md-3 contact-hours pt-3">
          <h2>Hours:</h2>
          <p class="margin-bottom">
            <span *ngFor="let hour of hoursDetails">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
          <p class="margin-bottom" *ngIf="locationId == 2">Need 24 hour access? Ask an associate today!</p>
      </div>
    </div>
  </div>   -->
  <div class="container map">
      <iframe src="https://www.google.com/maps/d/u/2/embed?mid=1u8qcL2l6Bc2QQeGr7t74xWqbdt5TGML8" width="100%" frameborder="0" style="border: 2px solid #fff;" allowfullscreen></iframe>
  </div>
</div>
<!--Contact Details Ends Here-->


<!--Service-->
  <div class="service">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-6 pt-2">
            <h1  class="pb-4">Affordable, Quality Self Storage Serving Dutchess and Ulster Counties</h1>
            <div *ngFor="let para of serviceOffered">
              <p>{{ para.p }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/AllSpace_Images/Photos/couple-packing-boxes.jpg" alt="Couple Packing Boxes">
          </div>
        </div>
      </div>
    </div>
<!--Service Ends Here-->
