<div class="contentHolder">
  <div class="container">
    <h1 class="py-5 text-center">View Unit Rates</h1>
    <div class="row bg-light padding">
      <div class="col-md-12 coming py-3 " >
        <iframe id="advanced_iframe" name="advanced_iframe" src="https://foxrunselfstorage.sim.syrasoft.com/unitavailability" width="100%"
          height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>
      </div>
    
    <div class="row">
      <div class="col-md-6 p-3">
        <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Fox_Run/fox-run-self-storage-outdoor-units.jpg" alt="photograph of self storage buildings with blue roll-up doors under a clear sky" class="sectionImage" width="auto"/>
      </div>
      <div class="col-md-6 p-3">  
        <div class="mt-4 justify" *ngFor="let data of dataViewRates">
          <p>{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>  
  </div>
</div >