<div class="rent-holder">
    <div class="container px-0">
      <div class="rent-heading pb-5">
        <h1 class="text-center pt-5">Pay Rent Online</h1>
      </div>
      
      <div class="rent-sub-holder">
        <div class="row padding bg-light">
          <div class="col-lg-8 col-md-6 coming scroll-wrapper padding-for-small-device">
            <iframe id="advanced_iframe" name="advanced_iframe" src="https://cranberrystorage.sim.syrasoft.com/paynow" width="100%"
             scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>  
          </div>
  
          <div class="col-lg-4 col-md-6 rent-example padding-for-small-device">
            <h2 class="my-2"> How to Login </h2>
            <b >Pay with confidence through our secure tenant portal.</b>
            <p class="pt-3"> <b>Username:</b> Email Address </p>
            <p> <b>Password:</b>Full Phone Number (Only The Numbers) </p>
        
            <p class="pt-3"><b>Have questions about your account?</b><br>
              <span *ngFor="let contact of contact" [class.display-none]="contact?.id == 0 || contact?.id == 1 || contact?.id == 2">
                <span class="contact-data py-3" *ngIf="contact?.id == 3 ">
                <b>Call or text: </b><a [href]="contact?.redirect">{{contact.data}}</a>
              </span>
               
              <div class="" *ngIf="contact?.id == 4">
                <p class="pt-2">Contact Facility Manager: </p>
                <a [href]="contact?.redirect">{{contact.data}}</a>
              </div>
              <div [innerHTML]="contact.altrenateContact"></div>
            </span>
              
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  