.containHolder {
    min-height: 94vh;
    padding-top: 120px;
  }
  .camper {
    border-left: 2px solid #4e4848;
    padding-left: 15px;
    
  }
  .rvbutton{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn{
    max-width: 50%;
  
  }
  
  .pay-rent-holder {
    background-color: #f1f0ed;
    padding: 50px;

  }
  
  .rent-example {
    border-left: 1px solid black;
    padding-left: 50px;
  }
  
  a {
    color: black;
  }
  @media only screen and (max-width:991px) {
    .camper {
      border: none;
    }
    .containHolder {
      padding-top: 90px;
    }
    
  }

  @media only screen and (max-width: 600px ) {
    .pay-rent-holder {
      padding: 16px;
    }
  }

  @media only screen and (max-width:480px){
    .outdoorsy{
      display: none;
    }
  }
  @media only screen and (min-width:481px){
    .rvbutton{
      display: none;
    }
    .btn{
      width: 100%;
    }
  }