<div class="">
  <div class="jumbotron-container">
    <div class="jumbotron-top">
    <div class="jumbotron px-0 m-0" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
      <div class=" jumbotorn-skew-style" [ngClass]="template === 'darkTheme' ? 'bg-translucent-dark' : 'bg-translucent-light'">
      </div>
      <div class="container">
        <div class="jumbotorn-skew-text">
          <div class="disp" *ngFor="let jumbotron of jumbotron">
            <h2  class="my-4">
              {{jumbotron.h2}}
            </h2>
          <p class="text-justify">{{jumbotron.blurb}}</p>
          </div>
          <div class="jumbotorn-button">
            <a class="btn btn-lg btn-outline-primary" (click)="navigate('/view-rates')" role="button">View Rates</a>
            <a class="btn btn-lg btn-primary" (click)="navigate('/view-rates')" role="button">Rent Now</a>
          </div>
          </div>
        </div>
      </div>
      </div>
    <div class="jumbotron-bottom">
      <div class="container">
        <div class="feature row">
          <div class="col-md-3 col-3 feature-icon-style" *ngFor="let feature of feature">
            <img [src]="feature?.path" [alt]="feature?.alt" />
              <h2 class="feature-text">{{feature.label}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-light">
    <div class="container py-4">
      <div class="section py-4 m-0">
        <div class="row">
          <div class="col-lg-6 py-3 home-map">
              <iframe title="Facility Google Map"
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3543.959341634005!2d-98.1262297849458!3d27.34573958294311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86663f8fcbe07e1b%3A0x235237395379b44!2s108%20Co%20Rd%20422%2C%20Premont%2C%20TX%2078375!5e0!3m2!1sen!2sus!4v1638479637177!5m2!1sen!2sus"
                width="100%" height="100%" frameborder="0" allowfullscreen rel="noopener" ></iframe> 
          </div>

          <div class="col-lg-6 py-3">
            <div class="mb-4 contact-details">
              
              <p>
                <span *ngFor="let contact of contactDetails" class="display-contact">
                  <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.label === 'Address:' || contact?.label === 'Email:' || contact?.label === 'Phone:' else other_content">
                    <a [href]="contact?.redirect" rel="noopener" target="{{(contact?.label === 'Address:') ? '_blank' : '_self'}}">&nbsp;{{contact.data}}</a>
                  </span>
                  <ng-template #other_content>&nbsp;<h4>{{contact.data}}</h4></ng-template><br>
                </span>
              </p>
              <h3><b>Gate Hours:</b></h3>
              <p>
                <span class="display-contact" *ngFor="let hour of hours">
                  <h4><b>{{hour.label}}</b></h4>&nbsp;<h4>{{hour.data}}<br></h4>
                </span>
              </p>
              <h3><b>Customer Service/Move In Hours:</b></h3>
              <p>
                  <span class='display-contact' *ngFor='let moveInhour of moveInHours'>
                    <b>{{moveInhour.label}}</b>&nbsp;{{moveInhour.data}}<br>
                  </span>
              </p>
            </div>
            <div>
              <app-tables [tBody]="featuresList"></app-tables>
              <a class="btn btn-lg btn-primary" (click)="navigate('/contact-us')" role="button">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-lg-6 py-3">
          <img src="{{imageBaseUrl}}/premont-self-storage-11.{{imagetype}}" width="100%" alt="{{aboutUsAlt}}" class="sectionImage">
        </div>
        <div class="col-lg-6 py-3">
          <h1 class="heading pb-4">{{aboutUsHeading}}</h1>
          <p class="justify" *ngFor="let data of aboutUs">
            <b>{{data.h}}</b>
            {{data.p}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="getStarted">
    
      <div class="container">
        <div class="section py-5 m-0">
          <div class="row">
            <div class="col-md-12 py-3">
              <!-- <h2 class="heading pb-4">Getting Started</h2>
              <p class="pb-4">{{gettingStarted}}</p> -->
              <p class="click-below"><strong>Please click below to add a review on YELP</strong></p>
              <a class="btn btn-lg btn-primary" href='https://www.yelp.com/biz/premont-self-storage-premont'role="button" target="_blank">Premont-Storage</a>
            </div>
          </div>
        </div>
      </div>
    
  </div>
</div> 
