@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../styles.scss";

a {
  cursor: pointer;
}

img {
  height: 80px;
}
.dropdown-menu {
  border-radius: 0;
  border: none;
  background-color: $primary;
  padding: 0;
  li {
    a {
      color: $white;
      font-weight: 400;
    }
  }
  li:hover {
    background-color: $white;
    a {
      color: $primary;
      font-weight: 400;
    }
  }
}
.dropdown-item:active{
  background-color:transparent;
  color: $white;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  button {
    color: #707070;
    border-color: #707070;
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.nav-link {
  color: $fontColor;
  font-weight: 600;
  padding: 30px;
}

.nav-link:hover {
  color: $primary;
}

.router-link-active {
  color: $primary;
  border-bottom: 5px solid $primary;
}

.nav-link-active {
  color: $primary;
  border-bottom: 5px solid $primary;
}

.display {
  display: block;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border: 1px solid $primary;
}

@media screen and (max-width: 991px) {
  .container{
    padding-top:10px;
    padding-bottom: 10px;
  }
  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
  .dropdown-menu{
    position: absolute;
    align-content: center
  }

  img {
    height: 48px;
  }
}

@media only screen and (max-width: 991px) and (max-height: 480px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}
