<div  itemscope itemtype="https://schema.org/SelfStorage" itemtype="https://schema.org/LocalBusiness">
  <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Storage_Plus/storage-plus-foley11.jpg" />
  <span hidden itemprop="name">{{facilityName}}</span>
  <span hidden itemprop="areaServed" itemscope itemtype="https://schema.org/State">
    <span itemprop="name">{{state}}</span>
  </span>
  <div [class.loader]="!showTable">
  </div>
  <div [class.loader]="showLoader" class="loader-position"> 
  </div>
  <div class="viewRates" [class.display]="!showTable" itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
    <h2 class="text-center">
      <strong>Unit Availability</strong>
    </h2>
    <span hidden itemprop="name">{{facilityName}}</span>
    <meta itemprop="name" content="{{facilityName}}" />
    <div class="row py-2 my-2 unitDetail" itemprop="itemOffered" itemscope itemtype="https://schema.org/SelfStorage" *ngFor="let lstUnitType of LstUnitTypes">
      <div class="col-4  unitType text-center">
        <div class="p-2">
          <div class="p-2" class="custom-font" *ngIf="lstUnitType.Description">
            <span hidden itemprop="name">{{lstUnitType.Description}} unit Type </span>
            <strong>
              {{lstUnitType.Description}}
              </strong>
              <meta itemprop="description" 
              content="{{lstUnitType.Description}}" />
              <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Storage_Plus/storage-plus-foley11.jpg" />
          </div>
          <div class="p-2" *ngIf="lstUnitType.IsOutdoor">
              Outdoor Parking
          </div>
          <div class="" *ngIf="lstUnitType.IsMobile">
            Mobile Unit
          </div>
          <div class="p-2" *ngIf="lstUnitType.IsAutomobile">
            Vehicle Storage
          </div>
          <div class="p-2" *ngIf="lstUnitType.IsClimateControlled">
            <span><i class="fas fa-thermometer-half"></i> Climate Control</span>
          </div>
        </div>
      </div>
      <div class="col-4 text-center ">  
        <div class="">
          <div class=" text-center " *ngIf="lstUnitType.MonthlyRate != null">
              <p >Rate</p>
              <div class="custom-font"><strong><span *ngIf="lstUnitType.MonthlyRate != null">$</span>{{lstUnitType.MonthlyRate | number : '1.2-2'}}</strong>
                <meta itemprop="priceRange" content="{{lstUnitType.MonthlyRate}}" />
              </div>
          </div>
          <div class="text-center" *ngIf="lstUnitType.DepositAmount != null">
            <p>Rental Deposit</p>
            <div class="custom-font"><strong><span>$</span>{{lstUnitType.DepositAmount | number : '1.2-2'}}</strong></div>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center" >
        <div *ngIf="lstUnitType.IsUnitsAvailable" >
          <!-- <div [id]="locationReserve" class=" py-1 buttons" >
              <button class="btn  btn-primary" (click)="navigate('/view-rates/reserve', lstUnitType )">Reserve</button>
          </div> -->
          <div [id]="locationMovein" class="py-1 buttons">
              <button class=" btn btn-primary" (click)="navigate('/view-rates/move-in', lstUnitType)">Rent Now</button>
              <link *ngIf="lstUnitType.IsUnitsAvailable" itemprop="availability" href="https://schema.org/InStock" />
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>