@import "../../styles.scss";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


.currentActive {
  border-bottom: 3px solid $light;
}

.text-justify {
  text-align: justify;
}

.storage-tip-holder {
  padding-top: 172px;
  min-height: 88vh;
  margin-bottom: 50px;

  .heading {
    h1 {
      font-size: 2rem;
      margin-bottom: 0;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .storage-content {
    padding: 50px;
    background-color: $light;

    ul {
      padding-left: 30px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .storage-tip-holder {
    padding-top: 160px;
  }
}

@media screen and (max-width: 600px) {
  .storage-tip-holder {
    .storage-content {
      padding: 16px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .storage-tip-holder {
    padding-top: 182px;
  }
}
