<div class="">
  <div class="jumbotron-container">
    <div class="jumbotron-top">
    <div class="jumbotron px-0 m-0" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
      <div class=" jumbotorn-skew-style" [ngClass]="template === 'darkTheme' ? 'bg-translucent-dark' : 'bg-translucent-light'">
      </div>
      <div class="container">
        <div class="jumbotorn-skew-text">
          <div class="disp" *ngFor="let jumbotron of jumbotron">
            <h2  class="my-4">
              {{jumbotron.h2}}
            </h2>
        
          
          <li class='mb-md-1'*ngFor="let jumbotronText of jumbotronText">{{jumbotronText.li}}</li>
          <span class="text-justify ">{{jumbotron.paraTextEnd}}</span>
          </div>
          <div class="jumbotorn-button">
            <a class="btn btn-lg btn-outline-primary" (click)="navigate('/view-rates')" role="button">Rent Now</a>
            <a class="btn btn-lg btn-primary" (click)="navigate('/contact-us')" role="button">Contact Us</a>
          </div>
          </div>
        </div>
      </div>
      </div>
    <div class="jumbotron-bottom">
      <div class="container">
        <div class="feature row">
          <div class="col-md-3 col-3 feature-icon-style" *ngFor="let feature of feature">
            <img [src]="feature?.path" [alt]="feature?.alt" />
              <h2 class="feature-text">{{feature.label}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-light">
    <div class="container py-4">
      <div class="section py-4 m-0">
        <div class="row">
          <div class="col-lg-6 py-3 home-map">
              <iframe title="Facility Google Map"
               src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2906.6909918088554!2d-77.083838!3d43.236938!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d7257d258fc337%3A0x91c36cf8a88d2356!2sSodus%20Self%20Storage%20Plus!5e0!3m2!1sen!2sus!4v1642454445177!5m2!1sen!2sus"
                width="100%" height="100%" frameborder="0" allowfullscreen rel="noopener" ></iframe> 
          </div>

          <div class="col-lg-6 py-3">
            <div class="mb-4 contact-details">
              
              <p>
                <span *ngFor="let contact of contactDetails" class="display-contact">
                  <span><h3><b>{{contact.label}}</b></h3></span><span class="contact-links" *ngIf="contact?.label === 'Address:' || contact?.label === 'Email:' || contact?.id === 3 else other_content">
                    <h4><a [href]="contact?.redirect" target="{{(contact?.label === 'Address:') ? '_blank' : '_self'}}" rel="noopener">&nbsp;{{contact.data}}</a></h4>
                  </span>
                  <ng-template #other_content>&nbsp;<h4>{{contact.data}}</h4></ng-template><br>
                </span>
              </p>
              <!-- <h3><b>Facility Hours:</b></h3> -->
              <p>
                <span class="display-contact" *ngFor="let hour of hours">
                  <h4><b>{{hour.label}}</b></h4>&nbsp;<h4>{{hour.data}}</h4><br>
                </span>
              </p>
            </div>
            <div>
              <app-tables [tBody]="featuresList"></app-tables>
              <a class="btn btn-lg btn-primary" (click)="navigate('/contact-us')" role="button">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-lg-6 py-3">
          <app-photos></app-photos>
          <!-- <img src="{{imageBaseUrl}}/stock-self-storage-11.{{imagetype}}" width="100%" alt="{{aboutUsAlt}}" class="sectionImage"> -->
        </div>
        <div class="col-lg-6 py-3">
          <h1 class="heading pb-4">{{aboutUsHeading}}</h1>
          <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
          
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="getStarted" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
    <div class="bg-translucent-dark">
      <div class="container">
        <div class="section py-5 m-0">
          <div class="row">
            <div class="col-md-12 py-3">
              <h2 class="heading pb-4">Getting Started</h2>
              <p class="pb-4">{{gettingStarted}}</p>
              <a class="btn btn-lg btn-primary" (click)="navigate('/view-rates')" role="button">View Unit Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div> 
