
<div class="home-container">
  <!--Jumbotron Container Starts Here-->
  <div class="jumbotron-container">
        <!-- <div id="carouselJumbo" class="carousel slide  jumbotron-top-style" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
                <li data-target="#carouselJumbo" data-slide-to="1"></li>
                <li data-target="#carouselJumbo" data-slide-to="2"></li>
              </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="jumbotron-top jumbotron-top-style"></div>
              </div>
              <div class="carousel-item">
                  <div class="jumbotron-top1 jumbotron-top-style"></div>
              </div>
              <div class="carousel-item">
                  <div class="jumbotron-top2 jumbotron-top-style"></div>
              </div>
            </div>
          </div> -->
          <!-- <div class="jumbotron-container"> -->
            <!-- <div class="jumbotron-top jumbotron-top-style"></div> -->

          <!-- </div>  -->
       
    <!-- </div> -->
    <div class="jumbotron-top">
      <div class="jumbotron px-0 m-0" >
        <div class="bg-translucent jumbotron-skew-style">
        </div>
          <div class="container">
            <div class="jumbotron-skew-text">
              <div class="jum-text disp" *ngFor="let blurb of blurb">
                <h1 class="my-4">{{blurb.h1}}</h1>
                <!-- <h3 class="my-2">{{blurb.h3}}</h3> -->
                <p>{{blurb.p}}
                </p>
              </div>
              <div class="button-width">
                  <div class="row mx-0 px-0">
                    <div class="col-6 mx-0 px-0">
                     <a class="contact-btn btn btn-primary mr-2" (click)="navigate('/reserve-unit')" role="button">Reserve Unit</a>
                    </div>
                    <div class="col-6 mx-0 px-0">
                     <a class="btn btn-primary" (click)="navigate('/rent-now')"  role="button">Rent Now</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="jumbotron-bottom ">
      <div class="container jumbotron-bottom-middle">
        <div>
          <h2 class="bottomHeading my-3 "> Why Store With State Storage Largo? </h2>
        </div>
        <!-- <div class="row p-2">
        <div class=" subheading col-md-6 col-sm-12">
          <h4>Customer Service</h4>
         <p class="bottomContent">We are dedicated to customer service. We are committed to offering you exceptional value for your hard-earned money</p>
        </div>
        <div class="subheading col-md-6 col-sm-12">
            <h4>Book and Pay Online</h4>
            <p class="bottomContent">Our online software is easy to use and has all the features for a rich, interactive experience.</p>
          </div>
        </div> -->
        <div>
          <p>State Storage Largo is committed to customer service excellence! From our easy online reservation and rental process to our friendly management team, 
             State Storage Largo offers the best value for self storage services in town! Your self storage unit is accessible 24 hours a day for maximum convenience. 
             Finally, you can rest easy knowing your belongings are covered by 24 hour digital video surveillance. Call or reserve your unit with State Storage Largo today!</p>
        </div>
      </div>
    </div>
  </div>
  <!--Jumbotron Ends Here-->

  <!--Map and Contact Section-->
  <div class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4074.187682423396!2d-82.74385391862715!3d27.890973834267434!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf5623874bafcb1c2!2sState%20Storage%20-%20Largo%20North!5e0!3m2!1sen!2sus!4v1573141583944!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:2px solid #fff;"  allowfullscreen></iframe>
          </div>
        
        <div class="col-lg-6 py-2">
          <div class="mb-4">
            <p>
              <span class="font-xs-device" *ngFor="let contact of contactDetails">
                <b>{{contact.label}}</b><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
              </span>
                <span *ngFor="let hour of hours">
                  <strong>{{hour.label}} </strong> {{hour.data}}<br>
                </span>
            </p>
          </div>
          <h2>All the Convenience and Security You Need</h2>
          <div class="pt-2">
              <app-tables [tBody]="featuresList"></app-tables>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Map and Contact Section Ends Here-->


  <!--About Us Section-->
  <!-- <div class="container aboutus py-5">
    <h2>Our Promise to You</h2>
    <div class="row mt-5"> -->
      <!-- <div class=" facility col-sm-4">
        <i class="fa fa-5x fa-lock secondary-color mb-2  "></i>
        <h4 class="mb-2" >Security</h4>
        <p >We take the security of your property seriously, and our SSL secure website protects your personal information.</p>
      </div>
      <div class=" facility col-sm-4">
          <i class="far fa-5x fa-smile secondary-color mb-2"></i>
          <h4 class="mb-2" >Customer Service</h4>
          <p >We commit to providing you a clean, ready-to-rent unit and friendly, helpful employees.</p>
        </div>
        <div class=" facility col-sm-4">
            <i class="fa fa-5x fa-thumbs-up secondary-color mb-2" ></i>
            <h4 class="mb-2" >Convenience</h4>
            <p >Manage your storage facility from the convenience of your own home, 24 hours a day and 7 days a week.</p>
          </div> -->
          <!-- <div class="col-md-3 col-3 feature-icon-style" *ngFor="let feature of feature">
            <img [src]="feature?.path" [alt]="feature?.alt" />
            <h6 class="feature-text">{{feature.label}}</h6>
          </div> -->
      <!-- <div class="col-lg-6 py-2">
        <img src="" width="100%" alt="storage unit picture" class="sectionImage">
      </div> -->
      <!-- <div class="col-lg-6 py-2">
        <h1 class="heading pb-4">Affordable Storage & Office Space in Cuero, TX</h1>
        <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
      </div> -->
    <!-- </div>
  </div> -->

  <div class="features-con">
      <div class="container">
        <div class="feature row">
          <div class="col-md-3 col-sm-6 feature-icon-style" *ngFor="let feature of feature">
            <img  [src]="feature?.path" [alt]="feature?.alt" />
            <h6 class="feature-text my-2"><b>{{feature.label}}</b></h6>
            <p>{{feature.p}}</p>
          </div>
        </div>
      </div>
    </div>
  
  <!--About Us Section Ends Here-->

<!--Get Started Secion-->
<div class="getStarted text-center">
  <div class="get-started">
   <div class="container py-5">
     <div class="py-5 m-0">
       <div class="row">
         <div class="col-md-12">
           <h2 class="heading pb-4">Get Started Today</h2>
           <p class="pb-4">{{gettingStarted}}</p>
           <a class="btn btn-lg btn-primary" (click)="navigate('/reserve-unit')" role="button">Reserve Your Unit!</a>
         </div>
       </div>
     </div>
   </div>      
  </div>
</div>
<!--Get Started Secion Ends Here-->

</div> 
<!--Home Cotainer Ends here-->