<div class="contentHolder">
  <div class="container pb-5   padding-top">
    <h1 class="py-5 text-center">View Our Rates</h1>
    <div class="row bg-light background-padding">
      <div class="col-md-12 coming p-3 scroll-wrapper" >
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <img src="{{imageBaseUrl}}/hwy-77-self-storage-row-of-self-storage-units.{{imagetype}}"
            alt="photograph of a row of self storage units under a blue sky with clouds " class="sectionImage" />
          </div>
          <div class="col-lg-6 pt-lg-0 pt-md-4">
            <p class="view-rate-text text-justify" *ngFor="let viewRates of viewRates">
              {{viewRates.p}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>