@import '../../styles.scss';

.currentActive {
    border-bottom: 3px solid $light;
}

#storage-tip-holder {
    padding-top: 150px;
    margin-bottom: 180px;
    .heading {
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .storage-content {
        padding-top: 50px;
        background-color: $light;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
        
    }
}