@import "../../styles.scss";

.contact-details {
  h4 {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  h3 {
    font-size: 1rem;
  }
}

.jumbotron-background-webp {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Clay_Self_Storage/webp/clay-self-storage-169.webp");
}

.jumbotron-background-jpg {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Clay_Self_Storage/jpg/clay-self-storage-169.jpg");
}

.display-contact {
  display: flex;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 80vh;
  color: $white;
  overflow: hidden;
  border-radius: 0;
}
.banner {
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 6vh;
}
.home-map {
  iframe {
    border: 2px solid white;
  }
}

.feature-icon-style {
  padding: 24px;
  text-align: center;

  img {
    padding: 10px;
    height: 100px;
  }

  h2 {
    font-size: 1rem;
  }
}

.contact-links {
  a {
    color: black;
  }
}

.content-align {
  text-align: right;
}

.getStarted {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;
  text-align: center;

  h2 {
    font-size: 2.25rem;
  }
}

.disp {
  text-align: left;
  color: $white;

  h2 {
    font-size: 2.3rem;
    font-weight: 600;
  }
}

.jumbotron-top {
  height: 80vh;
}

.jumbotron-bottom {
  height: 20vh;
  display: flex;
  align-items: center;
}

.jumbotorn-skew-style {
  width: 75%;
  float: left;
  left: -25%;
  position: relative;
  transform: skew(15deg);
  height: 100%;

  a {
    margin-top: 20px;
  }
}

.jumbotorn-skew-text {
  transform: skew(0deg);
  width: 500px;
  position: absolute;
  top: 25%;

  .btn-outline-primary {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 750px) and (min-height: 640px) {
  .disp {
    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .jumbotorn-skew-text {
    a {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 639px) and (min-height: 480px) {
  .jumbotron {
    height: 100vh;
  }

  .disp {
    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }

  .jumbotorn-skew-text {
    a {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 479px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .jumbotorn-skew-text {
    width: 444px;

    a {
      font-size: 1rem;
    }

    .disp {
      h2 {
        font-size: 2.1rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 750px) and (min-height: 640px) {
  .feature-icon-style {
    img {
      height: 80px;
    }

    h2 {
      font-size: 0.8rem;
    }
  }

  .jumbotorn-skew-text {
    top: 25%;

    .disp {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 639px) and (min-height: 480px) {
  .jumbotron {
    height: 100vh;
  }

  .jumbotorn-skew-text {
    .disp {
      h2 {
        font-size: 2rem;
      }
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 479px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h2 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .jumbotorn-skew-style {
    width: 85%;
  }

  .jumbotorn-skew-text {
    width: 410px;
    top: 23%;

    a {
      font-size: 1rem;
    }

    .disp {
      h2 {
        font-size: 1.8rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 700px) and (min-height: 480px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 160px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 479px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 200px;
  }

  .jumbotorn-skew-style {
    width: 90%;
  }

  .jumbotorn-skew-text {
    top: 40%;
    width: 340px;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 1.6rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 600px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 0;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 420px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }
  .facility {
    margin-top: 3rem;
  }
  .banner {
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: absolute;
    // margin-top: 16rem;
    height: auto;
  }
  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 429px) {
  .jumbotron {
    position: relative;
    display: block;
    text-align: center;
    background-size: cover;
    object-fit: contain;
    background-position: center center;
    height: 90vh;
    min-width: 100%;
  }
  
  .jumbotron-top {
    height: 90vh;
  }

  // .facility {
  //   margin-top: 3rem;
  // }

  .banner {
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: absolute;
    // margin-top: 12rem;
    height: 10vh;

    h2{
      font-size: 1.5rem;
    }
  }
  
  // @media only screen and (max-width: 429px) {
  //   .banner{
  //     margin-top: 12rem;
  //   }
  // }

  // @media only screen and (max-width: 380px) {
  //   .banner{
  //     margin-top: 10rem;
  //   }
  // }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotron-bottom{
    display: none;
  }

  .home-map{
    margin-top: 2vh;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 20vh;
    bottom: 0;
    position: absolute;
    @media only screen and (max-width: 400px) and (min-width:350px){
      height: 24vh;
    }
    @media only screen and (max-width: 349px) and (min-width:300px){
      height: 27vh;
    }
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 2px;

    .btn-outline-primary {
      margin-right: 0;
      margin-bottom: 8px;
    }

    .btn-primary {
      margin-top: 8px;
    }

    .jumbotorn-button {
      padding: 15px;
    }
  }
}

