@import "../../styles.scss";

.gallery-content {
  .selectedImageM {
    img {
      border: 2px solid $white;
    }
  }

  .data {
    h3 {
      text-transform: capitalize;
      font-size: 1.5rem;
    }

    .thumbnailsList {
      text-align: left;
    }
  }

  .thumbnailsList {
    img {
      width: 100px;
      box-shadow: none;
      border: 1px solid $white;
      margin-top: 5px;
      margin-bottom: 5px;
      cursor: pointer;
  
    }
  }
}


@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .gallery-content {
    .thumbnailsList {
      img {
        width: 82px;
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .gallery-content {
    .thumbnailsList {
      img {
        width: 58px;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .gallery-content {
    .thumbnailsList {
      img {
        width: 94px;
      }
    }
  }
}

@media only screen and (max-width: 575px) and (min-width: 566px) {
  .gallery-content {
    .thumbnailsList {
      img {
        min-width: 78px;
      }
    }
  }
}

@media only screen and (max-width: 565px) {
  .gallery-content {
    .thumbnailsList {
      img {
        width: 75px;
      }
    }
  }
}
