@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../styles.scss";

a {
  cursor: pointer;
  color: white;
}

.iconColor {
  color: $white;
}

ul {
  text-align: center;
  text-align: -webkit-center;

  li {
    width: fit-content;
  }
}

.contact-header {
  display: inline;

  .contact-details {
    color: $white;
    font-size: 1em;
    font-weight: 600;
    width: 100%;
  }
}

.navbar-toggler {
  border-color: $border;

  i {
    color: $fontColor;
  }
}

.social {
  text-align: right;
  float: right;

  a {
    color: $white;
    text-decoration: none;

    i {
      font-size: 1.5em;
    }
  }
}

.social:hover {
  color: $white;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  button:focus {
    outline: 5px auto $primary;
  }
}

.navbar-brand {
  img {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.nav-link {
  color: $dark !important;
  font-weight: 600;
  padding: 22px;
}

.nav-link:hover {
  color: $secondary;
}

.nav-link-active {
  color: $primary !important;
  border-bottom: 5px solid $primary;
}

.display {
  display: block;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border: 1px solid $primary;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .nav-item {
    a {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

@media screen and (max-width: 991px) {
  .display {
    display: none;
  }

  .nav-link {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) and (max-height: 600px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}

