@import "../../../styles.scss";

table {
    tbody {
      tr:nth-child(even) {
        background-color: #dcdcdc;
      }
      tr:nth-child(odd) {
        color: #fff;
      }
  
      tr {
        td {
          padding: 10px 20px;
          border: 1px solid #dee2e6;
        }
      }
    }
  }

  .home-link {
    a {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .go-to-home {
    color: white;
  }
  .thankyouinfo {
    color: #fff;
  }