@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "../../styles.scss";

a {
  cursor: pointer;
}

img {
  width: 200px;
}

.iconColor {
  color: $black;
}

.contact-header {
  display: inline;
  color: $black;

  .contact-details {
    color: $black;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;

    a {
      color: $black;
    }
  }
}

.social {
  a {
    color: $black;
    text-decoration: none;
  }

  i {
    font-size: 1.2rem;
  }
}

.social :hover {
  color: $white;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  .nav-link {
    color: $white;
    font-weight: 600;
    // padding: 21px;
  }

  .nav-link:hover {
    color: $primary;
  }

  .nav-link-active {
    color: $primary;
    border-bottom: 5px solid $primary;
  }

  button {
    border-color: $primary;

    .iconColor {
      color: $primary;
    }
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.display {
  display: block;
}

.contact-links {
  a {
    color: white;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .navbar {

    a {
      font-size: 12px;
    }
  
    .nav-link {
      // padding: 10px;
      // font-size: 1rem;
    }
  }
}

@media screen and (max-width: 991px) {
  .display {
    display: block;
  }

  .nav-link {
    text-align: center;
  }

  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
}

@media only screen and (max-width: 991px) and (max-height: 480px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }

  
}

@media only screen and (max-width: 429px) {
  .text-right {
    text-align: left!important;
}

.display{
  display: none;
}

.contact-header {
  
  
  .contact-details {
    white-space: nowrap;
    display: block;
    padding-left: 1px;
  }
}
.mobile{
  padding-left: 1px;
  font-size: .9rem;
}



}