@import "../../styles.scss";

a {
  cursor: pointer;
}

.iconColor {
  color: $white;
}

.logotext {
  color: #ffffff;
  text-align: center;
}

.contact-header {
  display: inline;

  .contact-details {
    white-space: nowrap;
    color: $white;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;

    a {
      color: $white;
    }
  }
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;

}

.navbar {
  .nav-link {
    color: $white;
    font-weight: 600;
  }

  .nav-link:hover {
    color: $primary;
  }

  .nav-link-active {
    color: $primary;
    border-bottom: 1px solid $primary;
  }

  button {
    color: $white;
    border-color: $white;
  }

  button:focus {
    outline: 5px auto $primary;
  }
}


.bg-gradient {
  /* stylelint-disable-next-line max-line-length */
  background: linear-gradient(to bottom, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 20%, rgba(33, 33, 33, 0.9) 40%, rgba(33, 33, 33, 0.82) 50%, rgba(33, 33, 33, 0.75) 64%, rgba(33, 33, 33, 0) 100%);
}

.display {
  display: block;
}


@media screen and (max-width: 1199px) {
  a {
    font-size: 0.9em;
  }

  .nav-item {
    padding-left: 14px;
    padding-right: 14px;
  
  }
}

@media screen and (max-width: 991px) {
  .nav-link {
    text-align: center;
  }

  .bg-gradient {
    background: rgba(0, 0, 0, 0.85);
  }

  .navbar-brand {
    padding: 0;
  }

  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
}


@media only screen and (max-height: 500px) and (max-width: 991px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}