<!--Header-->
<div class="fixed-top">
  <app-header></app-header>
</div>

<!--Body-->
<router-outlet></router-outlet>


<!--Sticky Contact Button-->
<!-- <div class="contact-button">
  <button (click)='dataShow();' *ngIf="!flag"><img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/390_Self_Storage/telephone.svg" alt="Quick Contact" height="25px" width="25px;"></button>
  <span *ngIf='flag'>
      <div class="row mx-0">
        <div class="col-2 px-0">
           <button  class="close-button" (click)='dataShow()'><img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/390_Self_Storage/close.svg" alt="" height="25px" width="25px;"></button>        
        </div>
        <div class="col-10 px-0">
          <app-contact-button></app-contact-button>
        </div>
      </div>
    </span>
</div> -->


<!--Footer-->
<div class="footer">
  <app-footer></app-footer>
</div>
  

