/* Sticky Buttons  */
.contact-button {
  position: fixed;
  right: 0;
  top: 140px;
  z-index: 16;
}

.close-button {
  float: right;
}

button {
  min-width: 40px;
  background-color: #395680;
  padding: 10px;
  border-right: 1px solid #395680;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;

  /* position: fixe; */
}

@media only screen and (max-width: 600px) {
  .contact-button {
    position: fixed;
    right: 0;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 16;
  }

  button {
    padding: 8px;
  }
}


@media only screen and (min-width: 661px) and (max-width: 991px) and (max-height: 650px) {
  .contact-button {
    position: fixed;
    right: 0;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 16;
  }
}


/* @media only screen and (max-width: 517px) {
  .contact-button {
    top: 230px;
  }
} */
