<div >
  <mat-grid-list class="container viewrates-desktop" cols="3" rowHeight="120px" gutterSize="20px">
    <mat-grid-tile  *ngFor="let tile of tiles" class="viewrates" [colspan]="1"
    [rowspan]="3">
    
    <div >    
      <h2><strong>{{tile.name}}</strong></h2>
    
    <h5><strong>{{tile.size}} - {{tile.temperature}}</strong></h5><br>
    <h3 class="discount"><strong>{{tile.discount}}</strong></h3>
    <h4 class="discount"><strong>{{tile.discount1}}</strong></h4><br>
    <a href="tel:5184701000" class="btn btn-outline-primary"><strong>{{tile.price}}</strong></a>
    <!-- <button type="button" class="btn btn-outline-primary" (click)="window.location.href='';">{{tile.price}}</button> -->
      </div>
    
    </mat-grid-tile >

  </mat-grid-list>
  <!-- <div [class.loader]="!showTable">
  </div>
  <div [class.loader]="showLoader" class="loader-position"> 
  </div>
  <div class="viewrates-desktop" [class.display]="!showTable">
    <h3 class="text-center p-1">
      <strong>Unit Availability</strong>
    </h3>
    <div class="row py-2 my-2 unitDetail" *ngFor="let lstUnitType of LstUnitTypes">
      <div class="col-4  unitType text-center">
        <div class="p-2" *ngIf="lstUnitType.IsClimateControlled">  
          <i class="fas fa-thermometer-half"></i><div> Temperature Controlled</div>
        </div>
        <div class="p-2">
          <div class="p-2" class="custom-font">
            <strong>
              {{lstUnitType.Description}}
              </strong>
          </div>
          <div class="p-2" *ngIf="lstUnitType.IsOutdoor">
              Outdoor Parking
          </div>
          <div class="" *ngIf="lstUnitType.IsMobile">
            Mobile Unit
          </div>
          <div class="p-2" *ngIf="lstUnitType.IsAutomobile">
            Vehicle Storage
          </div>
        </div>
      </div>
      <div class="col-4 text-center ">  
        <div class="">
          <div class=" text-center ">
              <p >Rate</p>
              <div class="custom-font"><strong><span *ngIf="lstUnitType.MonthlyRate != null">$</span>{{lstUnitType.MonthlyRate | number : '1.2-2'}}</strong></div>
          </div>
          <div class="text-center" *ngIf="lstUnitType.DepositAmount != null">
            <p>Deposit</p>
            <div><span>$</span>{{lstUnitType.DepositAmount}}</div>
          </div> -->
          <!-- <div class=" text-center ">
            <p >50% Off First Full Month</p>
            <div class="custom-font"><strong><span *ngIf="lstUnitType.WebRate != null">$</span>{{lstUnitType.WebRate | number : '1.2-2'}}</strong></div>
        </div> -->
        <!-- </div>
      </div> -->
      <!-- <div class="col-3 text-center ">  
        <div class="">
          <div class=" text-center ">
              <p >50% Off First Full Month</p>
              <div class="custom-font"><strong><span *ngIf="lstUnitType.WebRate != null">$</span>{{lstUnitType.WebRate | number : '1.2-2'}}</strong></div>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-4 d-flex justify-content-center" >
        <div *ngIf="lstUnitType.IsUnitsAvailable" >
          <div class=" py-1 buttons" >
            <button class="btn  btn-primary" (click)="navigate('/contact-us', lstUnitType )">Join Waiting List</button> -->
              <!-- <button class="btn  btn-primary" (click)="navigate('/view-rates/reserve', lstUnitType )">Join Waiting List</button> -->
          <!-- </div> -->
          <!-- <div class="py-1 buttons">
              <button class=" btn btn-primary" (click)="navigate('move-in', lstUnitType)"> Move In</button>
          </div> -->
        <!-- </div>
      </div>  
    </div>
  </div> -->

  <!-- <div class="viewrates-mobile" [class.display]="!showTable">
    <h3 class="text-center p-1">
      <strong>Unit Availability</strong>
    </h3>
    <div class="row py-2 my-2 unitDetail" *ngFor="let lstUnitType of LstUnitTypes">
      <div class="col-12  unitType text-center">
        <div class="p-2" *ngIf="lstUnitType.IsClimateControlled">  
          <i class="fas fa-thermometer-half"></i><div> Temperature Controlled</div>
        </div>
        <div class="p-2">
          <div class="p-2" class="custom-font">
            <strong>
              {{lstUnitType.Description}}
              </strong>
          </div>
          <div  *ngIf="lstUnitType.IsOutdoor">
              Outdoor Parking
          </div>
          <div  *ngIf="lstUnitType.IsMobile">
            Mobile Unit
          </div>
          <div *ngIf="lstUnitType.IsAutomobile">
            Vehicle Storage
          </div>
        </div>
      </div>
      <div class="col-12  text-center ">  
        <div class="">
          <div class=" row pb-2 text-center ">
              <p class="col-6">Rate</p>
              <div class=" col-6 custom-font"><strong><span *ngIf="lstUnitType.MonthlyRate != null">$</span>{{lstUnitType.MonthlyRate | number : '1.2-2'}}</strong></div>
          </div>
          <div class="row pb-2 text-center" *ngIf="lstUnitType.DepositAmount != null">
            <p class="col-6">Deposit</p>
            <div class="col-6"><span>$</span>{{lstUnitType.DepositAmount}}</div>
          </div> -->
          <!-- <div class=" text-center ">
            <div class="custom-font"><strong><span *ngIf="lstUnitType.WebRate != null">$</span>{{lstUnitType.WebRate | number : '1.2-2'}}</strong></div>
        </div> -->
        <!-- </div>
      </div> -->
      <!-- <div class=" col-12  text-center ">  
        <div class="">
          <div class="row text-center ">
              <div class=" col-6 custom-font"><strong><span *ngIf="lstUnitType.WebRate != null">$</span>{{lstUnitType.WebRate | number : '1.2-2'}}</strong></div>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-12 d-flex justify-content-center" >
        <div *ngIf="lstUnitType.IsUnitsAvailable" >
          <div class=" py-2 buttons" > -->
              <!-- <button class="btn  btn-primary" (click)="navigate('/view-rates/reserve', lstUnitType )">Join Waiting List</button> -->
              <!-- <button class="btn  btn-primary" (click)="navigate('/contact-us', lstUnitType )">Join Waiting List</button>
          </div> -->
          <!-- <div class="py-1 buttons">
              <button class=" btn btn-primary" (click)="navigate('move-in', lstUnitType)"> Move In</button>
          </div> -->
        <!-- </div>
      </div>  
    </div>
  </div> -->
  <mat-grid-list class="container viewrates-mobile" cols="1" rowHeight="400px" gutterSize="20px">
    <mat-grid-tile  *ngFor="let tile of tiles" class="viewrates" [colspan]="1"
    [rowspan]="1">
    
    <div>    
        <h3><strong>{{tile.name}}</strong></h3>
    
        <h5><strong>{{tile.size}} - {{tile.temperature}}</strong></h5><br>
        <h3 class="discount"><strong>{{tile.discount}}</strong></h3>
        <h4 class="discount"><strong>{{tile.discount1}}</strong></h4><br>
        <a href="tel:5184701000" class="btn btn-outline-primary"><strong>{{tile.price}}</strong></a>
    <!-- <button type="button" class="btn btn-outline-primary" (click)="window.location.href='';">{{tile.price}}</button> -->
      </div>
    
    </mat-grid-tile >

  </mat-grid-list>
</div>