@import "../../../styles.scss";

.viewrates {
  padding-right: 25px !important;
  padding-left: 25px !important;
  text-align: center;
  background-color: white !important;
  border-color: #00b050;
  border-style: solid;
  border-width: thick;
  h2,
  h3,
  h4,
  h5 {
    font-family: Arial, "Rounded MT", Bold;
  }

  .discount {
    color: #00b050;
  }

  .btn-outline-primary:hover,
  .btn-outline-primary:focus,
  .btn-outline-primary:active {
    background-color: #e2cd03 !important;
    border-color: #e2cd03 !important;
  }

  .btn-outline-primary {
    background-color: #fce404;
    border-color: #fce404 !important;
    color: black !important;
  }
}

.mat-grid-list {
  position: inherit !important;
}
.display {
  display: none;
}

.viewrates-desktop {
  // background-color: $white;

  // h3 {
  // color: $white;
  // background-color: $primary;
  // font-size: 1.75rem;
  // }

  .unitDetail:nth-child(odd) {
    background: #a8a8a8;
  }

  .unitDetail:nth-child(even) {
    background: #fff5ee;
  }

  .unitDetail {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .unitType {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-font {
    font-size: 1.4rem;
  }
}

// .viewrates-mobile {
//   // background-color: $;

//   h3 {
//     color: $white;
//     background-color: $primary;
//     font-size: 1.75rem;
//   }

//   .unitDetail:nth-child(odd) {
//     background: #a8a8a8;
//   }

//   .unitDetail:nth-child(even) {
//     background: #fff5ee;
//   }

//   .unitDetail {
//     width: 100%;
//     margin: auto;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   .unitType {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   .custom-font {
//     font-size: 1.4rem;
//   }
// }

.iconStyle {
  cursor: pointer;
}

.display-card {
  display: block;
}

.card-text {
  width: 150px;
  padding: 10px;
  background-color: #edf1ee;
  text-align: center;
  // position: absolute;
  // right: 30px;
  // bottom: -60px;
  // z-index: 1;
}

table {
  width: -webkit-fill-available;
  thead {
    background: $primary;
    th {
      color: $white;
      font-size: 1rem;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: #dcdcdc;
    }

    tr {
      td {
        button {
          font-size: 0.8rem;
          min-width: 120px;
        }

        .btn {
          min-width: 120px;
          font-size: 0.9rem;
          padding: 0.2rem 0.8rem;
        }

        .btn-primary {
          background-color: #3f3c3c !important;
          border-color: #212121 !important;
        }
      }
    }
  }
}

.loader {
  border: 5px solid $white;
  border-top: 5px solid $primary;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// try to use div
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 100%;
  // border-bottom: thin solid lightgray;
}

p {
  margin: 0;
}

.ClimateControlled {
  font-size: 0.8rem;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: center;
}

.ClimateBorder {
  border-left: 1px solid #000;
  text-align: left;
}

@media only screen and (min-width: 992px) {
  .viewrates-mobile {
    display: none;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  h3,
  h4,
  h5 {
    // font-size: 0.9rem;
  }
}

@media only screen and (max-width: 991px) {
  .viewrates-desktop {
    display: none;
  }

  // .btn-primary {
  //   min-width: unset;
  //   font-size: 0.7rem;
  // }
  h3,
  h4,
  h5 {
    // font-size: 0.9rem;
  }
  .btn-outline-primary {
    min-width: 127px;
    // font-size: 0.7rem;
  }
}
