  <!--Dallas Secure Storage  starts Here-->
  <div class="pb-5 pt-5 bg-light">    
    <div class="container">
      <div class="row">          
        <div class="col-lg-5">
          <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11302.0830489133!2d-123.2925867!3d44.9127443!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9c24dffa3cb9d5e2!2sDallas%20Secure%20Storage%2FGodsey!5e0!3m2!1sen!2sus!4v1579480306904!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4  pt-3">
          <h2>Dallas Secure Storage</h2>
          <!-- <p> -->
            <div *ngFor="let contact of contactsBrookside" class="contact-label">
                <div><h3><strong>{{contact.label}}</strong></h3></div>&nbsp;&nbsp;
              <div class="contact-links" *ngIf="contact.label === 'Address: ' || contact?.label === 'Email: ' || contact?.label === 'Phone: ' else other_content">
                <a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;
                  <h3>{{contact.data}}</h3>
                </a>
              </div>
              <ng-template #other_content>&nbsp;<h3>{{contact.data}}</h3></ng-template><br>
            </div>
          <!-- </p> -->
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/alabama/location-2/storage-units']" role="button">View Rates</a>                
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/alabama/location-2/reserve-unit']" role="button"> Reserve Unit</a>                                  
        </div>
        <div class="col-lg-3 partition-border contact-hours pt-3">
            <h3>Office Hours:</h3>
            <p>
              <span *ngFor="let hour of hoursBrookside">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
      </div>
    </div>      
  </div>
  
  <!--Dallas Secure Storage -  Ends Here-->

    <!--Godsey Secure Storage starts Here-->
    <div class="pb-5 pt-5 ">    
      <div class="container">
        <div class="row">          
          <div class="col-lg-5">
            <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11301.48985172141!2d-123.2929286!3d44.9157606!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x40ab5e7d466539ee!2sGodsey%20Secure%20Storage!5e0!3m2!1sen!2sus!4v1579482740174!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-lg-4 pt-3">
            <h2>Godsey Secure Storage</h2>
            <div *ngFor="let contact of contactsAndrews" class="contact-label pt-2">
              <div><h3><strong>{{contact.label}}</strong></h3></div>&nbsp;&nbsp;
            <div class="contact-links" *ngIf="contact.label === 'Address: ' || contact?.label === 'Email: ' || contact?.label === 'Phone: ' else other_content">
              <a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;
                <h3>{{contact.data}}</h3>
              </a>
            </div>
            <ng-template #other_content>&nbsp;<h3>{{contact.data}}</h3></ng-template><br>
          </div>
            <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/alabama/location-1/storage-units']" role="button">View Rates</a>                
            <a class="btn btn-primary p-2 ml-0" [routerLink]="['/alabama/location-1/reserve-unit']" role="button"> Reserve Unit</a>                                  
          </div>
          <div class="col-lg-3 partition-border contact-hours pt-3">
              <h3>Office Hours:</h3>
              <p>
                <span *ngFor="let hour of hoursAndrews">
                  <b>{{hour.label}}</b>{{hour.data}}<br>
                </span>
              </p>
          </div>
        </div>
      </div>      
    </div>
    <!--Contact Godsey Secure Storage -  Ends Here-->

  