<div class="payRent">
    <!-- <h2 class="pb-1">Payment</h2>
    <div *ngIf="showSuccessPayment; else other"  class="go-to-home pt-4">
      <div *ngIf="!navigateToMoveIn && !navigateToReserve">
        Your payment of <strong>${{PaymentAmount}}</strong> was successful. Your confirmation number is: <strong>{{CCApprovalCode}}</strong> .
      </div>
      <div *ngIf="navigateToReserve && strConfirmation">
        Your payment of <strong>${{PaymentAmount}}</strong> was successful. Your confirmation number is: <strong>{{CCApprovalCode}}</strong> . Your reservation is confirmed.
      </div>
      <div *ngIf="navigateToMoveIn">
          Your payment of <strong>${{PaymentAmount}}</strong> was successful. Your confirmation number is: <strong>{{CCApprovalCode}}</strong> . Please check your email to sign your digital lease agreement. Your move-in is not complete without a signed lease agreement.
        </div>
        <div>
        <div class="py-3 d-flex align-items-center">
          <a (click)="navigate('/')">Go to Home</a>
          <button type="button" *ngIf="tenantTokenExist" (click)="signOut(logOut)" class="btn btn-primary ml-3">LogOff</button>
        </div>
      </div>
    </div> -->
  
  

      <div>
        <b>Payments are currently not available through the website. Please call our offices to place a payment over the phone, and learn about our other payment options.</b>
      </div>
  
  
        <div class="text-right">
          <button *ngIf="navigateToMoveIn || navigateToReserve"  (click)="navigateToConfirmation('/')" 
          class="btn btn-primary col-lg-3 col-sm-12 mr-lg-4 mr-sm-0 mb-lg-0 mb-sm-2 mb-2">
            Go Back
          </button>
          <!-- <button type="submit" *ngIf="!navigateToMoveIn && !navigateToReserve" 
          class="btn btn-primary col-lg-3 col-sm-12" [disabled]="showloaderForPayment">
            Make a Payment
          </button> -->
          <!-- <button type="submit" *ngIf="navigateToMoveIn" [disabled]="makePaymentForUnit"
          class="btn btn-primary col-lg-3 col-sm-12">
            Pay and Complete Move-In
          </button> -->
          <!-- <button type="submit" *ngIf="navigateToReserve" class="btn btn-primary col-lg-3 col-sm-12" [disabled]="makePaymentForUnit">
            Make a Payment
          </button> -->
          <!-- <button type="button" *ngIf="tenantTokenExist" [disabled]="showLoader"  
          (click)="signOut(logOut)" class="btn btn-primary col-lg-3 col-sm-12 ml-lg-4 ml-sm-0 mt-lg-0 mt-sm-2 mt-2">LogOff</button> -->
        </div>
  
    

  </div>
  