<div class="storage-tip-holder">
  <div class="container">
    <div class="heading">
      <h1 class="text-center pt-5">Free Truck Rental</h1>
    </div>
    <div class="storage-content mt-5">
      <div class="row">
          <div class="col-md-6">
            <h6> Use our truck for free to move <b> INTO </b> your new storage unit rental. </h6>
            <ul>
              <li class="p-1 text-justify"> The truck is <b>NOT</b> guaranteed to be available for you to use the same day that you rent your unit. Call in advance and schedule the day you wish to use the truck. We cannot guarantee that day will be available but it will increase your chances.</li>
              <li *ngFor="let point of truckPoints" class="p-1 text-justify"> {{point.data}} </li>
            </ul>
          </div>
        <div class="col-md-6">
          <!-- <app-accordion></app-accordion> -->
          <!-- <img src="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Wallenpaupack/jpg/wallenpaupack-self-strage.jpg" class="" alt="" > -->
          <img src="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Wallenpaupack/webp/Truck.webp" class="img-cover" alt="a photoshopped banner of a moving truck with text explaining the truck is free during the move in of a new unit" >
        </div>
      </div>
    </div>
  </div>
</div>
