

<!--Accordion wrapper-->
<div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div class="card" *ngFor="let points of aData;">

    <!-- Card header -->
    <div class="card-header" role="tab"  [attr.data-target]="'#collapseOne'+points?.id" data-toggle="collapse">
        <h5 class="mb-0">
          {{points.label}}
          <i class="fa fa-angle-down rotate-icon" style="float: right;"></i>
        </h5>
    </div>

    <!-- Card body -->
    <div [id]="'collapseOne'+points?.id" class="collapse" [ngClass]="points?.id == 1 && 'show'" role="tabpanel" aria-labelledby="collapseOne" data-parent="#accordionEx">
      <div class="card-body">
        <ul class="">
          <li *ngFor="let point of points?.contents" class="text-justify"> {{point.data}} </li>
        </ul>  
      </div>
    </div>
  </div>


</div>
<!--/.Accordion wrapper-->