@import '../../styles.scss';

.accordion {
  .card {
    background-color: $white;
    border: none;

    .card-header {
      background-color: $primary;
      cursor: pointer;
      color: $white;
    }

    .card-body {
      ul {
        margin-bottom: 0;
        padding-inline-start: 20px;

        li:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
}
