/* Sticky Buttons  */
.contact-button {
    position: fixed;
    right: 0;
    top: 150px;
    z-index: 16;
    padding-top:30px; 
  }
  
  .close-button {
    float: right;
  }
  
  button {
    min-width: 40px;
    background-color: #3b4450;
    padding: 10px;
    border-right: 1px solid #3b4450;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
  }
  
  .footer {
    bottom: 0;
    left: 0;
    right: 0;
  
    /* position: fixe; */
  }

  
  @media only screen and (max-width: 600px) and (max-height:480px) {
    .contact-button {
      position: fixed;
      right: 0;
      overflow: auto;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 16;
      padding-top: 50px;
    }
  
    button {
      padding: 8px;
    }
  }

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato'), local('Lato-Regular'),  format('woff2');
    font-display: swap;
  }
  
  
  @media only screen and (min-width: 661px) and (max-width: 991px) and (max-height: 650px) {
    .contact-button {
      position: fixed;
      right: 0;
      top: 80px;
      overflow: auto;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 16;
      padding-top: 50px;
    }
  }
  
  
  @media only screen and (max-width: 991px) and (max-height: 480px) {
    .contact-button {
      top: 70px;
      padding-top: 50px;
    }
  }