<div class="containHolder">
  <div class="container">
    <h1 class="text-center py-5">Pay Rent for {{name}}</h1>
    <div class="pay-rent-holder p-5 mb-3">
      <div class="row">
          <div class="col-md-8 mx-0">
              <router-outlet></router-outlet>

          </div>
          <div class="col-md-4 rent-example" >
            <h2> How to Login </h2>
            <div *ngFor="let loginDetail of loginDetail">
              <p><b>Username</b>&nbsp;{{loginDetail.userName}}<br>
              <b>Password:</b>&nbsp;{{loginDetail.password}}</p>
                <p><b>Example:</b></p>
                <p>John Smith's code is {{loginDetail.example.code}}</p>
                <p>John's Username: {{loginDetail.example.userName}}<br>
                  John's Password: {{loginDetail.example.password}}</p>
            <p class="mb-0"> <b>Have question about your account?</b> </p>
              <span *ngFor="let contact of contact" [class.display-none]="contact?.id == 0">
                <span class="contact-links" *ngIf="contact?.id == 1 || contact?.id == 2">
                  <a [href]="contact?.redirect">{{contact.data}}</a>
                </span><br>
              </span>
         </div>
      </div>
    </div>
  </div>
</div>