@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../styles.scss";

a {
  cursor: pointer;
}

.iconColor {
  color: $white;
}

.contact-header {
  display: inline;

  .contact-details {
    color: $white;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }
}

.social {
  a {
    color: $secondary;
    text-decoration: none;
  }

  i {
    font-size: 1.2rem;
  }
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  .nav-link {
    color: $white;
    font-weight: 600;
  }

  .nav-link:hover {
    color: $white;
  }

  .nav-link-active {
    color: $white;
    border-bottom: 5px solid $secondary;
  }

  button {
    border-color: $white;

    .iconColor {
      color: $white;
    }
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.display {
  display: block;
}


@media screen and (max-width: 991px) {
  .display {
    display: none;
  }

  .nav-link {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) and (max-height: 480px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}
