@import "../../styles.scss";

.rent-holder {
  padding-top: 100px;
  min-height: 88vh;
  margin-bottom: 50px;

  .tab-background {
    background-color: #f1f0ed;
  }

  .rent-heading {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}
