<!-- <app-script-hack type="application/ld+json">
  {{ script | json }}
</app-script-hack> -->
<ngx-json-ld [json]="script"></ngx-json-ld>
<div class="jumbotron-home">
    
  <!-- <div class="for-mobile-view"> -->
    <div id="carouselJumbo" class="carousel slide  jumbotron-top-style" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
        <li data-target="#carouselJumbo" data-slide-to="1"></li>
        <li data-target="#carouselJumbo" data-slide-to="2"></li>
        <li data-target="#carouselJumbo" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="jumbotron-top jumbotron-top-style" title="Aerial photo of outdoor self storage units and parking spaces">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="jumbotron-top1 jumbotron-top-style" title="Aerial photograph of an outdoor self storage facility">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="jumbotron-top2 jumbotron-top-style" title="Aerial photograph of self storage units">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="jumbotron-top3 jumbotron-top-style" title="Aerial self storage photograph displaying outdoor units and RV parking spaces">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
    
  <!--Feature Box-->
    <div class="container feature-block disp">
      <div class="row h-100">
        <div class="col-3 my-auto" *ngFor= "let feature of features">
          <p class="text-center f-block-img"> 
            <img src="{{feature.data}}" class="f-img" alt="{{feature.alt}}" >
          </p>
          <p class="text-center f-text">
            {{feature.label}}
          </p>
        </div>
      </div>
    </div>
  <!--Feature Box Ends Here-->
  <p style="font-size: 2rem; color: red; position: absolute; bottom: 0; width: 100%;" class="mb-0 p-2 text-center"><strong>Second Month's Rent Free!</strong></p>

</div>

<app-list-of-facility></app-list-of-facility>

<!--Service-->
  <div class="service bg-light">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-6 pt-2">
            <h1  class="pb-4">Clean, Easily Accessible Self Storage Units in Orange County, NY</h1>
            <div *ngFor="let para of serviceOffered">
              <p>{{ para.p }}</p>
            </div>
            <app-tables  [tBody]="featuresList"></app-tables>
          </div>
          <div class="col-md-6 text-center">
            <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Storage_Town_Images/storagetown-rental-spaces-about-us.jpg" alt="Aerial photograph of self storage units">
          </div>
        </div>
      </div>
    </div>
<!--Service Ends Here-->
