@import '../../styles.scss';

a {
    cursor: pointer;
}

.iconColor {
    color: $primary !important;
}

.contact-header{
  display: inline;
  .contact-details{
    color: $white;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }
}

.social {
    text-align: right !important;
    a {
        color: $dark;
        text-decoration: none;
    }
}

.social :hover {
    color: $primary;
    transition-duration: 500ms;
}

.nav-link {
    color: $fontColor !important;
    font-weight: 600;
    transition-duration: 500ms;
}

.nav-link:hover {
    color: $primary !important;
    // background: $primary;
    transition-duration: 500ms;
}

.nav-link-active {
    color: $primary !important;
}

.display {
    display: block;
}

@media screen and (max-width: 900px) {
    .display {
        display: none;
    }

    .nav-link {
        text-align: center;
    }
}