@import '../../styles.scss';

a {
    cursor: pointer;
}

.iconColor {
    color: $primary !important;
}

.contact-header{
  display: inline;
  .contact-details{
    color: $white;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }
}

.navbar-brand {
    padding-top: 20px;
}

.bg-dark {
    background: linear-gradient(to bottom, rgba(33,33,33,1) 0%,  rgba(33,33,33, 1) 20%, rgba(33,33,33,0.90) 40%, rgba(33,33,33,0.82) 50%, rgba(33,33,33,0.75) 64%, rgba(33,33,33,0) 100%) !important;
}
.social {
    text-align: right !important;
    a {
        color: $white;
        text-decoration: none;
    }
}

.social :hover {
    color: $primary;
    transition-duration: 500ms;
}

.nav-link {
    color: $white !important;
    font-weight: 600;
    //transition-duration: 500ms;
}

.nav-link:hover {
    color: $primary !important;
    //transition-duration: 500ms;
}

.nav-link-active {
    color: $primary !important;
    border-bottom: 1px solid $primary;
}

.display {
    display: block;
}


@media screen and (max-width: 1200px) {

    a {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 991px) {
    .display {
        display: none;
    }   

    .nav-link {
        text-align: center;
    }
    .bg-dark {
        background: rgba(0,0,0,0.82) !important;
    }
    .navbar-brand{
        padding: 0px;
    }
}