@import "../../../styles.scss";

.display {
  display: none;
}

.iconStyle {
  cursor: pointer;
}

.display-card {
  display: block;
}

.card-text {
  width: 150px;
  padding: 10px;
  background-color: #edf1ee;
  text-align: center;
  // position: absolute;
  // right: 30px;
  // bottom: -60px;
  // z-index: 1;
}

table {
  width: -webkit-fill-available;

  thead {
    background: $primary;
    th {
      color: $white;
      font-size: 1rem;
    }
  }
  tbody {
    tr:nth-child(even) {
      background-color: #dcdcdc;
    }
    tr {
      td {

        button {
          font-size: 0.8rem;
          min-width: 120px;
        }

        .btn {
          min-width: 120px;
          font-size: 0.9rem;
          padding: 0.2rem 0.8rem;
        }

        .btn-primary {
          background-color: #3f3c3c !important;
          border-color: #212121 !important;
        }
      }
    }
  }
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid $primary;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// try to use div
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 100%;
  // border-bottom: thin solid lightgray;
}

p {
  margin: 0;
}

.ClimateControlled {
  font-size: 0.8rem;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: center;
}

.ClimateBorder {
  border-left: 1px solid #000;
  text-align: left;
}

@media only screen and (min-width: 992px) {
  .viewrates-mobile {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .viewrates-desktop {
    display: none;
  }
  .btn-outline-primary{
    color:$dark !important;
  }
}

@media only screen and (max-width: 767px)  and (min-width: 381px) {
  .buttons {
    .btn {
      min-width: 150px;
      
    }
    
  }
}

@media only screen and (max-width: 380px) {
  .buttons {
    .btn {
      min-width: auto;
    }
  }
}
