@import "../../../styles.scss";


.pay-rent-holder {
  background-color: #f1f0ed;
}

a {
  color: black;
}

.padding-top {
  padding-top: 110px;
}

@media only screen and (max-width: 991px) {
  .padding-top {
    padding-top: 56px;
  }
}