@import "../../../styles.scss";


.pay-rent-holder {
  background-color: #f1f0ed;
}

a {
  color: black;
}
.contentHolder {
  display: flex;
  h1 {
    margin-block-end: 0;
    color: $white;
  }
}
.padding-top {
  padding-top: 110px;
}

@media only screen and (max-width: 991px) {
  .padding-top {
    padding-top: 56px;
  }
}