@import "../../styles.scss";

.contentHolder {
  margin-bottom: 50px;
  padding: 64px;
  background-color: #f1f0ed;
}

.coming-soon {
  font-size: 2rem;
  padding: 20% 0;
  line-height: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .contentHolder {
    padding: 16px;

    iframe {
      min-height: 1100px;
    }
  }
}
