@import '../../styles.scss';

#rent-holder {
    padding-top: 100px;
    min-height: 89vh;
    #rent-sub-holder {
        padding: 64px;
        background-color: $light;
        margin-bottom: 50px;
        .rent-example {
            border-left: 1px $border solid;
            padding-left: 10%;
            p {
                padding: 0px;
                margin: 0px;
             }
        }
     }
 }

 // Sticky Buttons 
.contact-button {
    position:fixed; 
    right:0px; 
    top:12%; 
    z-index: 16;
  } 

 @media only screen and (max-width: 768px) {
    .rent-example {
        border-left: none !important;
    }
}

@media only screen and (max-width: 600px) {

    #rent-holder {
        padding-top: 60px;
        #rent-sub-holder {
            padding: 16px !important;
        }
        .rent-heading {
            padding-bottom: 30px !important;
        }
        iframe {
           min-height: 400px;
       }
        .rent-example {
            border-left: none !important;
            padding-bottom: 20px;
        }
    }

      // Sticky Buttons 
.contact-button {
    position:fixed; 
    right:0px; 
    top:15%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden; 
    z-index: 16;
  }
}