<div class="payment-top">
    <div class="bg-translucent">
      <div class="container jumbotorn-top text-center" *ngFor="let payRent of payRent">
          <h1 class="pb-4">{{payRent.heading}}</h1>
          <p>{{payRent.blurb}}</p>
      </div>
    </div>
  </div>
  
  <div class="content-Holder bg-dark-background payment-bottom">
    <div class="container py-5">
      <div class="row ">
        <div class="col-md-8 py-3 payment-map scroll-wrapper">
          <iframe id="advanced_iframe" name="advanced_iframe" src="https://spaceplacestoragemacedonia.sim.syrasoft.com/paynow" width="100%"
            height="700" scrolling="yes" frameborder="0" border="0" allowtransparency="true" onload=";aiResizeIframe(this, 'true','1');"></iframe>
        </div>
        <div class="col-md-4 py-4 text-justify payment-link">
          <h5>How to Login</h5>
          <p><b>Username:</b>&nbsp; Last Name<br>
          <b>Password:</b>&nbsp;Your Gate Access Code</p>
          <p>Have questions about your account?<br>
          <span *ngFor="let contact of contact">
            <a *ngIf="contact?.id == 1 || contact?.id == 2" href="contact?.redirect">{{contact.data}}</a><br>
          </span>
        </p>
        </div>
      </div>
    </div>
    
  </div>