<div class="contentHolder ">
  <div class="container pb-5">
    <h1 class="text-center py-5 mb-0">{{payRentHeading}}</h1>
    <div class="pay-rent-holder">
      <div class="row bg-light background-padding" *ngIf="showPaymentPageType === 0">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
      </div>
      <div class="row" *ngIf="showPaymentPageType === 1">
            <div class="col-md-12 mx-0"  >
        <app-tabs [tabs]='tabs' style="background-color: #f1f0ed;" ></app-tabs>
          </div>
      </div>
    </div>
  </div>
</div>