<div hidden itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
  <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Sample_Self_Storage/jpg/sample-self-storage-north-jumbotron.jpg" />
  <span itemprop="name">Self Storage Facility </span>
   <!-- <span itemprop="areaServed" itemscope itemtype="https://schema.org/State">
     <span itemprop="name">Massachusetts</span>
   </span> -->
   <!-- <ul itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
     <li itemprop="itemListElement" itemscope itemtype="https://schema.org/OfferCatalog"> -->
       <span itemprop="name">Storage Unit Rates</span>
       <ul itemprop="itemListElement" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
         <meta itemprop="name" content="Sample Self Storage - North serves Baldwinsville and the surrounding communities with a variety of well-maintained and affordable self storage units!" />
         <li itemprop="itemListElement" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">05 x 10</span>
              <!-- <link itemprop="image" href="https://example.com/photos/16x9/photo.jpg" /> -->
              <!-- <meta itemprop="description" content="Sleeker than ACME's Classic Anvil, the Executive Anvil is perfect for the business traveler looking for something to drop from a height." /> -->
              <meta itemprop="price" content="$50.00" />
              <meta itemprop="amenityFeature" content="Fully-Fenced Facility" />
              <meta itemprop="amenityFeature" content="Fully-Alarmed Facility" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">05 x 10 - Tall Door</span>
              <!-- <link itemprop="image" href="https://example.com/photos/16x9/photo.jpg" /> -->
              <!-- <meta itemprop="description" content="Sleeker than ACME's Classic Anvil, the Executive Anvil is perfect for the business traveler looking for something to drop from a height." /> -->
              <meta itemprop="amenityFeature" content="Fully-Fenced Facility" />
              <meta itemprop="amenityFeature" content="Fully-Alarmed Facility" />
              <meta itemprop="price" content="$70.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
           </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">05 x 10 CC</span>
              <!-- <link itemprop="image" href="https://example.com/photos/16x9/photo.jpg" /> -->
              <!-- <meta itemprop="description" content="Sleeker than ACME's Classic Anvil, the Executive Anvil is perfect for the business traveler looking for something to drop from a height." /> -->
              <meta itemprop="amenityFeature" content="Fully-Fenced Facility" />
              <meta itemprop="amenityFeature" content="Fully-Alarmed Facility" />
              <meta itemprop="price" content="$75.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">05 x 10 LD</span>
              <meta itemprop="price" content="$60.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">10 x 10</span>
              <meta itemprop="price" content="$100.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">10 x 10 CC</span>
              <meta itemprop="price" content="$125.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">10 x 10 LD</span>
              <meta itemprop="price" content="$110.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">10 x 20</span>
              <meta itemprop="price" content="$150.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">10 x 20 CC</span>
              <meta itemprop="price" content="$175.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">10 x 20 LD</span>
              <meta itemprop="price" content="$160.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">10 x 20 PK</span>
              <meta itemprop="price" content="$140.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">15 x 30 RV</span>
              <meta itemprop="price" content="$200.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
            <div itemprop="itemOffered" itemscope itemtype="https://sample-self-storage-staging.netlify.app/north/view-rates">
              <span itemprop="name">testunit</span>
              <meta itemprop="price" content="$20.00" />
              <link itemprop="availability" href="https://sample-self-storage-staging.netlify.app/north/view-rates" />In stock
            </div>
         </li>
        </ul>
      <!-- </li>
  </ul> -->
</div>