<section class="contact-details">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8 py-0 px-0" style="background-color: #fff;">
        <div class="social-content px-3 py-4">
          <h1 style="text-transform: capitalize;"> {{name}}</h1>
          <div class="row">
            <div class="col-lg-12 px-0">
              <span *ngFor="let contact of contacts" class="py-2 each-contact">
                <span class="pl-3"><i *ngIf="contact.data" style="font-size: 1.1rem;" class="{{contact.class}}"></i></span><span>{{contact.data}}</span>
              </span>
              <span class="social  text-right" *ngFor="let social of socialLinks">
                <a [href]="social?.path" target="_blank">
                  <i [class]="social?.class" ></i>
                </a>
              </span>
            </div>
            <!-- <div class="col-lg-2 ml-auto text-right">
              <span class="social pl-2 text-right" *ngFor="let social of socialLinks">
                <a [href]="social?.path" target="_blank">
                  <i [class]="social?.class" ></i>
                </a>
              </span>
             </div> -->
          </div>
        </div>
        <div class="contact-img">
            <span *ngIf="locationId == 1"> 
              <div class="img-box-1" [ngClass]="imagetype === 'jpg' ? 'img-box-1-jpg' : 'img-box-1-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 2"> 
              <div class="img-box-2" [ngClass]="imagetype === 'jpg' ? 'img-box-2-jpg' : 'img-box-2-webp'">
                <iframe style="
                height: inherit;
                width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3492.758504007038!2d-82.38068478491124!3d28.905523582310813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e8720de4f76d69%3A0xc48e5e13138b2a!2s2912%20N%20Florida%20Ave%2C%20Hernando%2C%20FL%2034442!5e0!3m2!1sen!2sus!4v1598929976890!5m2!1sen!2sus" ></iframe>
              </div>
            </span>
            <span *ngIf="locationId == 3"> 
              <!-- <div class="img-box-3">
              </div>   -->
              <div id="carouselJumbo" class="carousel slide  jumbotron-top-style" data-ride="carousel">
              <ol class="carousel-indicators">
        <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
        <li data-target="#carouselJumbo" data-slide-to="1"></li>
        <li data-target="#carouselJumbo" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="jumbotron-top jumbotron-top-style">
            <div class="carousel-caption">
              <img src="" alt="">
            </div>
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="jumbotron-top2 jumbotron-top-style">
            <div class="carousel-caption">
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="jumbotron-top3 jumbotron-top-style">
            <div class="carousel-caption">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div> 
    </div>
            </span>
        </div>
      </div>
      <div class="col-lg-4 pt-3" style="background-color: #fff;">
        <div class="map-responsive">
            <span *ngIf="locationId == 1">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13988.9463395945!2d-82.2944085!3d28.7722018!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5127968742488662!2sAffordable%20Secure%20Storage!5e0!3m2!1sen!2sus!4v1594181820791!5m2!1sen!2sus" width="100%" height="220" frameborder="0" style="border: 2px #fff solid;" allowfullscreen></iframe>
            </span>
            <span *ngIf="locationId == 2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3492.758504007038!2d-82.38068478491124!3d28.905523582310813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e8720de4f76d69%3A0xc48e5e13138b2a!2s2912%20N%20Florida%20Ave%2C%20Hernando%2C%20FL%2034442!5e0!3m2!1sen!2sus!4v1598929976890!5m2!1sen!2sus" width="100%" height="220" frameborder="0" style="border: 2px #fff solid;" allowfullscreen></iframe>
            </span>
        </div>
        <div class="hours-data w-100">
          <h2 class="pt-3">Hours</h2>
          <div class="row">
            <div class="col-lg-8">
              <app-tables [tBody]="hours" ></app-tables> 
            </div>
            <div class="col-lg-4 btn-area text-center">
              <a class="btn btn-outline-primary p-2" [routerLink]="['/contact']" role="button">Contact Us</a> 
              <a class="btn btn-primary-light p-2" [routerLink]="['/pay-rent']" role="button">Pay Rent</a> 
              <a class="btn btn-primary p-2" (click)='navigateToReserve()' role="button">Reserve Unit</a>                                       
            </div>
          </div>
        </div>
      </div>
      <!-- <div *ngIf="locationId == 1" class="display-special pt-3">
          <div class="special p-3">
            <h2 class="text-center">Summer Special</h2>
            <p class="text-center">$15 Admin Fee Waived for Military, Seniors, And Students With ID!</p>
          </div>
        </div> -->
    </div>
  </div>
</section>

<section class="sub-components">
  <div  class="container px-0 pt-2 mt-5">
      <app-tabs [tabs]='tabs' [name]='name' style="background-color: #f1f0ed;" ></app-tabs>
  </div>
</section>
