<div class="rent-sub-holder">
  <div class="container px-0">
    <div class="row">
      <div class="col-md-8 mx-0">
        <span *ngIf="tabId == '' || '1' && tabId !== '2'" >
          <!-- <iframe id="advanced_iframe" name="advanced_iframe" src="https://victorselfstorage-mall.sim.syrasoft.com/Paynow" width="100%"
          height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>   -->
          <div class="my-auto text-center coming-soon">
              Client iFrame For Mall Coming Here Soon!!!
          </div>
        </span>
        <span *ngIf="tabId == '2' " >
          <!-- <iframe id="advanced_iframe" name="advanced_iframe" src="https://victorselfstorage-village.sim.syrasoft.com/Paynow" width="100%"
          height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>  -->
          <div class="my-auto text-center coming-soon">
              Client iFrame For Village Coming Here Soon!!!
          </div> 
        </span>
      </div>

      <div class="col-md-4 rent-example" >
         <h2> How to Login </h2>
         <p class="pt-3"> <b>Username:</b> First initial + Last Name </p>
         <p> <b>Password:</b> Your gate access code</p>
    
         <p class="py-3"> <b>Example</b> </p>
         <p class="pb-3">John Smith's gate code is 1234</p>
    
         <p> <b>John's Username:</b> jsmith </p>
         <p class="pb-3"> <b>John's Password:</b> 1234 </p>
    
         <p> <b>Have question about your account?</b> </p>
         <p> (555) 555-5555 </p>
      </div>
    </div>
  </div>
</div>
