@import "../../styles.scss";

.jumbotron-background-webp {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Access_Self_Storage/Webp/access-self-storage-office-homepage-1.webp");
}

.jumbotron-background-jpg {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Access_Self_Storage/JPG/access-self-storage-office-homepage-1.jpg");
}

.jumbotron-overlay {
  // width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.offer {
  color: red;
  font-size: 28px;
}

.aboutUsHeading {
  background-color: $secondary;
  color: white;
}

.jumbotron {
  // background: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 80vh;
  color: $white;
  overflow: hidden;
  border-radius: 0;
}

.btn-primary:hover {
  color: $white !important;
}

h1 {
  font-size: 2.25rem;
}

.home-map {
  iframe {
    border: 2px solid white;
  }
}

.feature {
  text-align: center;
  h2 {
    font-size: 16px;
  }
}

.feature-icon-style {
  padding: 35px;
  text-align: center;

  img {
    padding: 10px;
  }
}

.contact-links {
  a {
    color: black;
  }
  margin-bottom: 8px;
}

.links {
  display: block;
  margin-bottom: 8px;
}

.content-align {
  text-align: right;
}

.getStarted {
  color: #000;
  text-align: center;

  h2 {
    font-size: 2.25rem;
  }
}

.disp {
  text-align: left;
  color: $white;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.jumbotron-top {
  height: 80vh;
}

.jumbotron-bottom {
  height: 20vh;
  display: flex;
  align-items: center;
}
.review {
  display: flex;
  text-align: center;
}

.jumbotorn-skew-style {
  width: 75%;
  float: left;
  left: -25%;
  position: relative;
  transform: skew(15deg);
  height: 100%;

  a {
    margin-top: 20px;
  }
}

.jumbotorn-skew-text {
  transform: skew(0deg);
  width: 24%;
  position: absolute;
  top: 25%;

  .btn-outline-primary {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotorn-skew-text {
    width: 500px;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 750px) and (min-height: 641px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 640px) and (min-height: 451px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 120px;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 450px) {
  .jumbotron {
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .jumbotorn-skew-text {
    width: 425px;

    a {
      min-width: 160px;
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 750px) and (min-height: 641px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 640px) and (min-height: 451px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 130px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 450px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }
}

@media only screen and (max-width: 991px) {
  .review {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .jumbotorn-skew-style {
    width: 85%;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotorn-skew-text {
    width: 40%;
    top: 20%;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 2.3rem;
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 830px) and (min-height: 701px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 700px) and (min-height: 481px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 160px;
  }

  .jumbotorn-skew-text {
    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 2.3rem;
      }
    }
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 480px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotron-top {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 200px;
  }

  .jumbotorn-skew-style {
    width: 90%;
  }

  .jumbotorn-skew-text {
    top: 40%;
    width: 49%;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 2.3rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 500px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;
    height: 100vh;

    h1 {
      font-size: 2em;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 0;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 430px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;
    height: 100vh;
  }

  // .feature {
  //   display: none;
  // }

  .jumbotron-bottom {
    height: 150px;
  }
  .jumbotron-top {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 12px;

    img {
      height: 50px;
    }
    h6 {
      font-size: 0.7rem;
    }
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 429px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;
    height: 100vh;
  }

  // .feature {
  //   display: none;
  // }

  .jumbotron-bottom {
    height: 150px;
  }
  .jumbotron-top {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 5px;

    img {
      height: 50px;
    }
    h6 {
      font-size: 0.7rem;
    }
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 150px;
    bottom: 0;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 2px;

    .btn-outline-primary {
      margin-right: 0;
      margin-bottom: 8px;
    }

    .btn-primary {
      margin-top: 8px;
    }

    .jumbotorn-button {
      padding: 15px;
    }
  }
}
