@import "../../styles.scss";

.rent-sub-holder {
  padding: 50px;
  background-color: $light;
  margin-bottom: 50px;

  .col-md-8 {
    padding-right: 4%;
  }

  .rent-example {
    border-left: 1px $border solid;
    padding-left: 4%;

    a {
      color: black;
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

  iframe {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .rent-sub-holder {
    .rent-example {
      border-left: 0 $border solid;
    }
  }
}

@media only screen and (max-width: 600px) {
  .rent-sub-holder {
    padding: 16px;

    .rent-example {
      border-left: 0 $border solid;
    }
  }

  iframe {
    min-height: 400px;
  }
}
