@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../styles.scss";

a {
  cursor: pointer;
}

.display-none {
  display: none;
}

// .iconColor {
//   color: $primary;
// }


.navbar-brand {
  img {
    height: 113px;
  }
}

.contact-header {
  display: inline;

  .contact-details {
    color: $white;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }

  a {
    color: white;
  }
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  button {
    color: #efefef;
    border-color: #efefef;
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.nav-link {
  color: $secondary;
  font-weight: 600;
  padding: 47px;
}

.nav-link:hover {
  color: $secondary;
}

.router-link-active {
  color: $secondary;
  border-bottom: 5px solid $secondary;
}

.nav-link-active {
  color: $secondary;
  border-bottom: 5px solid $secondary;
}

.display {
  display: block;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border: 1px solid $primary;
}
@media screen and (max-width:1199px) and (min-width:992px){
  .px-2 {
    padding-right: .25rem!important;
    padding-left: .25rem !important;
}

}
@media screen and (max-width: 991px) {
  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
  .nav-link {
    padding: 20px;
  }
  .display {
    display: none;
  }
}

@media only screen and (max-width: 991px) and (max-height: 650px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}


@media only screen and (max-width: 350px) {
  .navbar-brand {
    img {
      height: 60px;
    }
  }
}