<div class="col-md-12 display bg-dark py-2">
    <div class="container">
      <div class="contact-header">
        <div class="row">
          <div class="col-md-10 col-sm-11  col-11 px-0">
            <span class="contact-details pr-4" *ngFor="let contact of contact" [class.display-none]="contact?.id === 0 || contact?.id === 2">
              <i   [class]="contact?.class"></i>
              <span class="contact-links" *ngIf="contact?.id === 3 || contact?.id === 4 else other_content">
                <a  [href]="contact?.redirect">&nbsp;{{contact.data}}</a>
              </span>
              <ng-template #other_content>&nbsp;<span >{{contact.data}}</span></ng-template>
            </span>
          </div>
          <div class="col-md-2 col-sm-1  col-1 px-0 ml-auto text-right">
            <span class="social pl-2 text-right" *ngFor="let social of socialLinks">
              <a [href]="social?.path" target="_blank">
                <i [class]="social?.class"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

<nav class="navbar navbar-expand-lg bg-white py-0">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Cranberry_Storage/Cranberry-Storage-Logo_updated.png" width="auto" height="113px"  alt="logo artwork for cranberry self storage that shows a building with the words 'Cranberry Storage' overlayed" class="py-2">
    </a>
    <button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto navbar-nav-scroll">
        <li class="nav-item px-2 text-center" *ngFor="let nav of navLinks">
          <a class="nav-link" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" [routerLinkActiveOptions]="{exact: true}" (click)="onClick(menu)">{{nav.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
