<div class="contentHolder">
  <div class="container">
    <h1 class="py-5 heading1 text-center">View Rates</h1>
    <div class="row bg-light padding">
      <div class="col-md-7 coming p-3 scroll-wrapper" >
        <iframe id="advanced_iframe" name="advanced_iframe" src="https://cranberrystorage.sim.syrasoft.com/unitavailability" width="100%"
          height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>
      </div>
      <div class="col-md-5 p-3">
        <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Cranberry_Storage/cranberry-self-storage-accessible.jpg" alt="photograph of a self storage unit door with a handicapped-accessible sign on the side of the unit" class="sectionImage" width="auto"/>
        <div class="mt-4 justify" *ngFor="let data of dataViewRates">
          <p>{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>
</div>