
<div class="contentHolder">
  <div class="container">
      <div class="heading pb-5">
        <h1 class="text-center pt-5 disp">Contact Us</h1>
      </div>
      <div class="contact-data">
        <div class="row bg-light padding">
          <div class="col-lg-7 p-4">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div [hidden]="" *ngIf="submitted && !this.contactForm.valid" class="alert alert-danger alert-dismissible fade show">
                        Please fill out all the required fields!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <div [hidden]="" *ngIf="mailSent" class="alert alert-success alert-dismissible fade show">
                        Thank You for contacting us, We will get back to you soon.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name*</label>
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter Name"/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.name.errors.required">Please fill out this field</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Number*</label>
                            <input type="tel" formControlName="phone" placeholder="Enter Phone Number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.phone.errors.required">Please fill out this field</small>
                            </div>
                            <div *ngIf="f.phone.errors">
                                <small class="form-text text-muted" *ngIf="f.phone.errors.pattern">Please enter valid number</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email Address*</label>
                            <input type="text" formControlName="email" placeholder="Enter Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.email.errors.required">Please fill out this field</small>                                  
                            </div>
                            <div *ngIf="f.email.errors" >
                                <small class="form-text text-muted" *ngIf="f.email.errors.email">Please enter a valid email</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" formControlName="subject" placeholder="Enter subject" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Message*</label>
                    <textarea type="text" formControlName="message" placeholder="Enter Message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" ></textarea>
                    <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                        <small class="form-text text-muted" *ngIf="f.message.errors.required">Please fill out this field</small>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary px-4 mx-1">Submit</button>
                    <button type="button" class="btn btn-outline-primary mx-1 px-4" (click)="contactForm.reset()">Clear</button>
 
                </div>
            </form>
          </div>
          
          <div class="col-lg-5 p-4">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.4104727032063!2d-101.90017418479961!3d33.49069618076238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x22d88cf3c8648354!2sOrchard%20Park%20Self%20Storage!5e0!3m2!1sen!2sus!4v1578837518311!5m2!1sen!2sus" width="100%" height="400px" frameborder="0"  allowfullscreen></iframe>
              </div>
              <div class="contact-details pt-4">
                <h2 class="py-1">Contact Orchard Park Self Storage</h2>
                <span class="font-xs-device" *ngFor="let contact of contactInfo">
                        <span class="contact-links" *ngIf="contact?.id === 0"><b>{{contact.label}}<br></b><ng-template #other_content>&nbsp;{{contact.data}}</ng-template></span>
                </span>
                 <span class="font-xs-device" *ngFor="let contact of contactInfo">
                    <span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><b>{{contact.label}}</b><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                    <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
                </span>
                <h3 class="py-1">Office:</h3>
                <span class="font-xs-device" *ngFor="let hour of hours">
                  <b>{{hour.label}}</b> {{hour.data}}<br>
                </span>
              </div>
          </div>
      </div>
  </div>


</div>
  
</div>
