@import "../../styles.scss";
@import "../../general.scss";

.view-rates-top {
  height: 60vh;
  background: url("../../assets/images/about-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.jumbotorn-top {
  padding: 0 8%;
}

.view-rates-map {
  max-width: 100%;
}

.content-Holder {
  p {
    color: $fontColor;
    text-align: justify;
  }

  h2 {
    color: $white;
    border-bottom: 1px solid $primary;
    width: 250px;
    margin: auto;
    font-size: 2.25rem;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .view-rates-top {
    height: 40vh;
  }
}
