
<div class="home-container">
  <!--Jumbotron Container Starts Here-->
  <div class="jumbotron-container">
    <div class="jumbotron-top">
      <div class="jumbotron px-0 m-0">
        
      </div>
    </div>
    <div class="jumbotron-bottom disp">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-3 p-4 text-center override-padding-x-axis" *ngFor="let feature of feature">
            <img [src]="feature?.path" [alt]="feature?.alt" height="80px" width="auto">
              <h6 class="feature-text">{{feature.label}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Jumbotron Ends Here-->

  <!--Map and Contact Section-->
  <div class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3 map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11648.846704027552!2d-77.4961197!3d43.1210793!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9ba11914c8f2cb7f!2sLinden%20Self%20Storage!5e0!3m2!1sen!2sus!4v1573430516282!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
        
        <div class="col-lg-6 py-3">
          <div class="mb-4">
           <!-- <h2 class="heading pb-4">Location Information</h2> -->
            <div>
              <div class="font-xs-device" *ngFor="let contact of contactDetails">
                <b>{{contact.label}}</b><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
              </div>
              <div class="pt-2"><strong >Office Hours:</strong></div>
              <div class="font-xs-device">
                  <div *ngFor="let hour of hours">
                      <b>{{hour.label}}</b>{{hour.data}}<br>
                    </div>    
              </div>
              </div>
          </div>
          
          <div class="pt-2">
              <app-tables [tBody]="featuresList"></app-tables>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Map and Contact Section Ends Here-->


  <!--About Us Section-->
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 py-3">
        <app-photos></app-photos>
        <!-- <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Linden_Self_Storage/climate-controlled-self-storage-units.jpg" width="100%" alt="photograph of indoor climate controlled self storage units under bright lights"> -->
      </div>
      <div class="col-lg-6 py-3">
        <!-- <h1 class="heading pb-4">Affordable Self Storage Units in Monroe County</h1>
        <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p> -->
        <div  *ngFor="let data of aboutUs">
          <h1 class="pb-1">{{data.mainHeading}}</h1>
          <p>{{data.mainParagraph}}</p>
          <!-- <h3 class="pb-1"><b>{{data.subHeading1.heading}}</b></h3>
          <p >{{data.subHeading1.p1}}</p>
          <p [innerHTML]="data.subHeading1.p2"></p>
          <p [innerHTML]="data.subHeading1.p3"></p> -->
          <h2 class="py-1"><b>{{data.subHeading2.heading}}</b></h2>
          <p>{{data.subHeading2.p}}</p>
          <h2 class="py-1"><b>{{data.subHeading3.heading}}</b></h2>
          <p>{{data.subHeading3.p}}</p>
          <h3 class="py-1"><b>{{data.subHeading4.heading}}</b></h3>
          <p>{{data.subHeading4.p1}}</p>
          <ul>
            <li [innerHTML]="data.subHeading4.l1"></li>
            <li [innerHTML]="data.subHeading4.l2"></li>
            <li [innerHTML]="data.subHeading4.l3"></li>
          </ul>
        </div>
      
      </div>
    </div>
  </div>
  <!--About Us Section Ends Here-->

  <!--Testimonial-->
  
  <!--Testimonial section-->


<!--Get Started Secion-->
  <div class="getStarted text-center">
    <div class="get-started">
     <div class="container py-5">
       <div class="py-5 m-0">
         <div class="row">
           <div class="col-md-12">
             <h2 class="heading pb-4">Getting Started</h2>
             <p class="pb-4">{{gettingStarted}}</p>
             <a class="btn btn-lg btn-primary" (click)="navigate('/reserve-unit')" role="button">Reserve Your Unit!</a>
           </div>
         </div>
       </div>
     </div>      
    </div>
  </div>
<!--Get Started Secion Ends Here-->

</div> 
<!--Home Cotainer Ends here-->