<div class="contentHolder">
  <div class="container">
    <h1 class="py-5 text-center">{{viewRatesHeading}}</h1>
    <div class="row bg-light padding">
      <div class="col-md-7 p-3 " >
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-5 p-3">
        <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Stor_It/recreational-vehicles.jpg" 
        alt="photograph of outdoor parking at a storage facility" class="sectionImage" width="auto"/>
        <div class="mt-4 p-3 background-discount">
          <h2 class="mb-2">Current Discounts</h2>
          <p class="discounts" *ngFor="let data of currentDiscounts">{{data.data}}</p>
        </div>
        <div class="mt-4 justify">
          <p  *ngFor="let data of dataViewRates">{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>
</div>