<div class="payment-top" [ngClass]="imagetype === 'jpg' ? 'payment-top-jpg' : 'payment-top-webp' ">
  <div class="bg-translucent">
    <div class="container jumbotorn-top text-center" *ngFor="let payRent of payRent">
        <h1 class="pb-4">{{payRent.heading}}</h1>
        <p>{{payRent.blurb}}</p>
    </div>
  </div>
</div>

<div class="content-Holder bg-dark-background payment-bottom">
  <div class="container py-5">
    <h2 class="pb-3 text-center">{{payRentHeading}}</h2>
    <div class="row content-margin-top">
      <div class="col-lg-12 py-3">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
</div>