
<div class="home-container">
  <!--Jumbotron Container Starts Here-->
  <div class="jumbotron-container">
    <div class="jumbotron-top">
      <div class="jumbotron px-0 m-0">
        <div class="bg-translucent jumbotron-skew-style">
        </div>
          <div class="container">
            <div class="jumbotron-skew-text">
              <div class="jum-text disp" *ngFor="let blurb of blurb">
                <h2 class="my-4">{{blurb.h1}}</h2>
                <p>{{blurb.p}}
                </p>
              </div>
              <div class="button-width">
                  <div class="row mx-0 px-0">
                    <div class="col-6 mx-0 px-0">
                     <a class="btn btn-outline-primary mr-2" (click)="navigate('/contact-us')" role="button">Contact Us</a>
                    </div>
                    <div class="col-6 mx-0 px-0">
                     <a class="btn btn-primary" (click)="navigate('/view-rates')" role="button">View Rates</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="jumbotron-bottom disp">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-3 p-4 text-center override-padding-x-axis" *ngFor="let feature of feature">
            <img [src]="feature?.path" [alt]="feature?.alt" height="80px" width="auto">
              <h3 class="feature-text">{{feature.label}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Jumbotron Ends Here-->

  <!--Map and Contact Section-->
  <div class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3 map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4044.474599712088!2d-88.26754670504626!3d42.69599643625494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880584c93b09b219%3A0xa0998c51056fe1d8!2sLois+Stor-All!5e0!3m2!1sen!2sus!4v1563911367372!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
        
        <div class="col-lg-6 py-3">
          <div class="mb-4">
           <h2 class="heading pb-4">Location Information</h2>
            <div>
              <div class="font-xs-device" *ngFor="let contact of contactDetails">
                <b>{{contact.label}}</b><span class="contact-links" *ngIf="contact?.id === 2 || contact?.id === 3 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
              </div>
              <h3 class="office-hours">Office Hours:</h3>
              <div class="pt-3 font-xs-device access-hours">
                  <div *ngFor="let hour of hours" class="hour-data">
                      <b>{{hour.label}}</b>{{hour.data}}<br>
                    </div>    
              </div>
              </div>
          </div>
          
          <div class="features-table">
              <app-tables [tBody]="featuresList"></app-tables>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Map and Contact Section Ends Here-->


  <!--About Us Section-->
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 py-3">
        <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Lois_Star/lois-stor-all-home.jpg" width="100%" height="100%" alt="photograph of two people standing in front of self storage units" />
      </div>
      <div class="col-lg-6 py-3">
        <h1 class="heading pb-4">Affordable Storage Units in Burlington</h1>
        <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
      </div>
    </div>
  </div>
  <!--About Us Section Ends Here-->


<!--Get Started Secion-->
  <div class="getStarted text-center">
    <div class="get-started">
     <div class="container py-5">
       <div class="py-5 m-0">
         <div class="row">
           <div class="col-md-12">
             <h2 class="heading pb-4">Getting Started</h2>
             <!-- <p class="pb-4">{{gettingStarted}}</p> -->
             <!-- <a class="btn btn-lg btn-primary" (click)="navigate('/reserve-unit')" role="button">Reserve Your Unit!</a> -->
             <p class="pb-4">{{givenInfo}}</p>
           </div>
         </div>
       </div>
     </div>      
    </div>
  </div>
<!--Get Started Secion Ends Here-->

</div> 
<!--Home Cotainer Ends here-->