@import "../../styles.scss";

.carousel-indicators li {
  background-color: black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.carousel-item {
  height: 250px;
}

//Common code
.home-container {
  color: $fontColor;
}

.disp {
  display: block;

  img {
    padding: 10px;
  }
}

.font-xs-device {
  a {
    color: black;
  }
  margin-bottom: 5px;
  .hour-data {
    margin-bottom: 5px;
  }
}

.hour-data:last-child {
  margin-top: 10px;
}

// Get started Section
.getStarted {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Lois_Star/lois-stor-all-units.jpg") center top no-repeat fixed;
  // background-size: cover;
  background-position: top;

  .get-started {
    left: 0;
    right: 0;
    top: 10;
    background: rgba(238, 238, 238, 0.7);
    z-index: 9;
  }

  .btn {
    min-width: 250px;
    font-size: 1.2rem;
  }
}

// HOME jUMBOTRON

.jumbotron-top {
  height: 80vh;

  .jumbotron {
    background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Lois_Star/lois-stor-all-units.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: $fontColor;
    overflow: hidden;
    padding: 0;
    position: relative;

    h2 {
      font-weight: 600;
      font-size: 2em;
    }

    p {
      text-align: justify;
    }

    .btn {
      width: 95%;
      min-width: 110px;
    }

    a {
      margin-top: 20px;
    }

    .jumbotron-skew-style {
      width: 72%;
      float: left;
      left: -20%;
      position: relative;
      transform: skew(15deg);
      min-height: 100%;
    }

    .jumbotron-skew-text {
      width: 24%;
      position: absolute;
      top: 35%;
      color: $fontColor;
    }
  }
}

.jumbotron-bottom {
  display: flex;
  align-items: center;
  height: 20vh;

  .feature-text {
    font-size: 16px;
  }

}

@media only screen and (min-width: 1200px) {
  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-text {
        width: 472px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 640px) and (min-height: 481px) {
  .jumbotron-container {
    .jumbotron-bottom {
      height: 150px;
      display: flex;
      align-items: center;

      h6 {
        font-size: 0.8rem;
      }
    }

    .jumbotron-top {
      height: 100vh;

      .jumbotron {
        height: 100vh;
      }

      .jumbotron-skew-text {
        top: 30%;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 480px) {
  .disp {
    display: none;
  }

  .jumbotron-top {
    height: 95vh;

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: 95vh;

      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        height: 80px;
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }

  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: 150px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-style {
        width: 84%;
        float: left;
        left: -24%;
        position: relative;
        transform: skew(15deg);
        min-height: 100%;
      }

      .jumbotron-skew-text {
        width: 472px;
        position: absolute;
        bottom: 0;
        top: 30%;
      }

      .button-width {
        width: 100%;
        text-align: center;
      }
    }


    .jumbotron-bottom {
      height: 20vh;
      display: flex;
      align-items: center;

      .feature-text {
        text-transform: uppercase;
      }
    }
  }

  .carousel-item {
    height: 300px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 830px) and (min-height: 641px) {
  .jumbotron-bottom {
    display: flex;
    align-items: center;
  }

  .disp {
    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 640px) and (min-height: 481px) {
  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: 150px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;

    .jumbotron {
      height: 100vh;
    }

    .jumbotron-skew-text {
      top: 25%;
    }
  }

  .disp {
    h2 {
      font-size: 1.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 480px) {
  .disp {
    display: none;
  }

  .jumbotron-top {
    height: 95vh;

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: 95vh;

      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        height: 80px;
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-style {
        width: 84%;
        float: left;
        left: -24%;
        position: relative;
        transform: skew(15deg);
        min-height: 100%;
      }

      .jumbotron-skew-text {
        width: 376px;
        position: absolute;
        bottom: 0;
      }
    }


    .jumbotron-bottom {
      display: flex;
      align-items: center;
      height: 20vh;

      .feature-text {
        text-transform: uppercase;
      }
    }
  }

  .carousel-item {
    height: 350px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 830px) and (min-height: 641px) {
  .disp {
    p {
      font-size: 0.9rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  .jumbotron-bottom {
    display: flex;
    align-items: center;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-text {
        top: 30%;
      }
    }
  }
}


@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 640px) and (min-height: 481px) {
  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: 150px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;

    .jumbotron {
      height: 100vh;

      .jumbotron-skew-text {
        top: 25%;
      }
    }
  }

  .disp {
    p {
      font-size: 0.9rem;
    }

    h2 {
      font-size: 1.6rem;
    }
  }
}


@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 480px) {
  .disp {
    display: none;
  }

  .jumbotron-top {
    height: 95vh;

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: 95vh;

      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        height: 80px;
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotron-top {
    height: 100vh;

    .jumbotron {
      height: 100vh;
      background-position: center left;


      .jumbotron-skew-style {
        width: 86%;
      }

      a {
        min-width: 140px;
      }

      .jumbotron-skew-text {
        top: 44%;
        width: 320px;
      }
    }

    .disp {
      p {
        font-size: 0.9rem;
      }

      h2 {
        font-size: 1.8rem;
      }
    }

    .jumbotron-bottom {
      display: flex;
      align-items: center;
      height: 180px;
    }
  }

  .map-responsive {
    iframe {
      height: 200px;
    }
  }

  .carousel-item {
    height: 350px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 700px) and (min-height: 501px) {
  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-text {
        top: 30%;
        width: 320px;
      }
    }
  }

  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: 160px;


    h6 {
      font-size: 0.8rem;
    }
  }
}


@media only screen and (max-width: 767px) and (min-width: 601px)  and (max-height: 500px) {
  .disp {
    display: none;
  }

  .jumbotron-top {
    .button-width {
      width: 100%;
      padding: 0;
      text-align: center;
      padding-left: 7%;
      padding-right: 7%;
    }

    .jumbotron {
      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        height: 80px;
        bottom: 0;
        top: auto;
        background: rgba(255, 255, 255, 0.9);
        left: 0;
      }
    }

    .jumbotron-bottom {
      display: none;
      height: 0;
    }
  }

  .map-responsive {
    iframe {
      height: 200px;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .disp {
    display: none;
  }

  .jumbotron-top {
    height: 100vh;

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: 100vh;
      background-position: center center;


      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        height: 80px;
        background: rgba(255, 255, 255, 0.9);
      }
    }


    .jumbotron-bottom {
      display: none;
      height: 0;
    }
  }

  .map-responsive {
    iframe {
      height: 200px;
    }
  }

  .carousel-item {
    height: 400px;
  }
}
