
<div class="home-container">
  <!--Jumbotron Container Starts Here-->
  <div class="jumbotron-container">
        <div id="carouselJumbo" class="carousel slide  jumbotron-top-style" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
                <li data-target="#carouselJumbo" data-slide-to="1"></li>
                <li data-target="#carouselJumbo" data-slide-to="2"></li>
              </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="jumbotron-top jumbotron-top-style"></div>
              </div>
              <div class="carousel-item">
                  <div class="jumbotron-top1 jumbotron-top-style"></div>
              </div>
              <div class="carousel-item">
                  <div class="jumbotron-top2 jumbotron-top-style"></div>
              </div>
            </div>
          </div>
       
    <!-- </div> -->
    <div class="jumbotron-bottom">
      <div class="container">
        <p> {{blurbText}} </p>
      </div>
    </div>
  </div>
  <!--Jumbotron Ends Here-->

  <!--Map and Contact Section-->
  <div class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4146.257235889596!2d-97.29052734279435!3d29.088764897349915!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5fa42437a761f42!2sSecurity+Storage!5e0!3m2!1sen!2sus!4v1543607082908" width="100%" height="100%" frameborder="0" style="border:2px solid #fff;"  allowfullscreen></iframe>
          </div>
        
        <div class="col-lg-6 py-2">
          <div class="mb-4">
            <p>
              <span *ngFor="let contact of contactDetails">
                  <b>{{contact.label}}</b> {{contact.data}}<br>
                </span>
                <span *ngFor="let hour of hours">
                  <b>{{hour.label}}</b>{{hour.data}}<br>
                </span>
            </p>
          </div>
          
          <div class="pt-2">
              <app-tables [tBody]="featuresList"></app-tables>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Map and Contact Section Ends Here-->


  <!--About Us Section-->
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 py-2">
        <img src="../../assets/images/Security-Storage/security-storage-cuero-drive-up-indoor-units.jpg" width="100%" height="95%" alt="storage unit picture" class="sectionImage">
      </div>
      <div class="col-lg-6 py-2">
        <h1 class="heading pb-4">Affordable Storage & Office Space in Cuero, TX</h1>
        <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
      </div>
    </div>
  </div>
  <!--About Us Section Ends Here-->

<!--Get Started Secion-->
<div class="getStarted text-center">
  <div class="get-started">
   <div class="container py-5">
     <div class="py-5 m-0">
       <div class="row">
         <div class="col-md-12">
           <h2 class="heading pb-4">Get Started</h2>
           <p class="pb-4">{{gettingStarted}}</p>
           <a class="btn btn-lg btn-primary" (click)="navigate('/view-rates')" role="button">Reserve Your Unit!</a>
         </div>
       </div>
     </div>
   </div>      
  </div>
</div>
<!--Get Started Secion Ends Here-->

</div> 
<!--Home Cotainer Ends here-->