@import '../../styles.scss';

//Common code
* {
  color: $fontColor;
}

.disp {
  display: block;
}


.jumbotron-top {
  background: url(../../assets/images/Security-Storage/carousel/security-storage-cuero-exterior-hero.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.jumbotron-top1 {
  background: url(../../assets/images/Security-Storage/carousel/security-storage-cuero-outdoor-units.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.jumbotron-top2 {
  background: url(../../assets/images/Security-Storage/carousel/security-storage-cuero-exterior.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

// HOME jUMBOTRON
.jumbotron-container {
  .jumbotron-bottom {
    display: flex;
    align-items: center;
    // padding-top: 2%;
    height: 20vh;
    .feature-text {
      text-transform: uppercase;
    }
  }
}

// Testimonial
.carousel {
  .carousel-indicators {
     li {
      width: 0.825rem;
      height: 0.825rem;
      border: 2px solid $primary;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer; 
      }
    .active {
      background-color: $primary !important;
    }
  }
}

// Get started Section 

.getStarted {
  background: url(../../assets/images/Security-Storage/carousel/security-storage-cuero-outdoor-units.jpg) center top no-repeat fixed;
  background-size: cover;
  background-position: top;
  .get-started {
    left: 0;
    right: 0;
    top: 10;
    // bottom: 0;
    background: rgba(238, 238, 238, 0.9);
    z-index: 9;
  }
  .btn {
    min-width: 250px;
    font-size: 1.2rem;
  }
}


/* Extra small devices (phones, 600px and down) */


