@import "../../styles.scss";

//Common code
.disp {
  display: block;
}


.jumbotron-top {
  background: url("../../assets/images/storage-king-hero-image.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.jumbotron-top1 {
  background: url("../../assets/images/storage-king-image.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.jumbotron-top2 {
  background: url("../../assets/images/storage-king-kingway-avenue.jpeg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.feature-block {
  height: 20vh;

  .pgRow {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .f-img {
    height: 60px;
  }

  p {
    margin-bottom: 0;
  }
}
// HOME jUMBOTRON
.jumbotron-container {
  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: 15vh;

    .feature-text {
      text-transform: uppercase;
    }

    p {
      text-align: center;
      margin-bottom: 0;
      font-size: 1.2rem;
    }
  }
}

// Testimonial
.carousel {
  .carousel-indicators {
    li {
      width: 0.825rem;
      height: 0.825rem;
      border: 2px solid $primary;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer;
    }

    .active {
      background-color: $primary;
    }
  }
}

// Get started Section

.getStarted {
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Security_Images/Security-Storage/carousel/security-storage-cuero-outdoor-units.jpg") center top no-repeat fixed;
  background-size: cover;
  background-position: top;

  .get-started {
    left: 0;
    right: 0;
    top: 10;
    background: rgba(238, 238, 238, 0.9);
    z-index: 9;
  }

  .btn {
    min-width: 250px;
    font-size: 1.2rem;
  }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 664px) and (min-height: 481px) {
  .jumbotron-container {
    .jumbotron-bottom {
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .jumbotron-bottom {
    p {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .disp {
    display: none;
  }

  .jumbotron-container {
    .jumbotron-bottom {
      p {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .jumbotron-top {
    background-size: cover;
    height: 60vh;
  }

  .jumbotron-top1 {
    background-size: cover;
    background-position: top;
    height: 60vh;
  }

  .jumbotron-top2 {
    background-size: cover;
    height: 60vh;
  }

  .disp {
    display: none;
  }

  .jumbotron-container {
    .jumbotron-bottom {
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-height: 750px) {
  .feature-block {
    .f-block-img {
      .f-img {
        height: 50px;
      }
    }

    .f-text {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-height: 540px) {
  .disp {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  .jumbotron-container {
    .jumbotron-bottom {
      p {
        font-size: 0.8rem;
      }
    }
  }
}
