@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../styles.scss";

a {
  cursor: pointer;
}

img {
  height: 68px;
}

.iconColor {
  color: $secondary;
}

.contact-header {
  display: inline;

  .contact-details {
    color: $white;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }
}

.social {
  a {
    color: $secondary;
    text-decoration: none;
  }

  i {
    font-size: 1.2rem;
  }
}

.social :hover {
  color: $secondary;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  .nav-link {
    color: $white;
    font-weight: 600;
  }

  .nav-link:hover {
    color: $primary;
  }

  .nav-link-active {
    color: $primary;
    border-bottom: 5px solid $primary;
  }

  button {
    border-color: $dark;

    .iconColor {
      color: $dark;
    }
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.display {
  display: block;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .navbar {
    .nav-link {
      font-size: 0.9rem;
    }
  }

  img {
    height: 64px;
  }
}


@media screen and (max-width: 991px) {
  .display {
    display: none;
  }

  .nav-link {
    text-align: center;
  }

  .navbar {
    text-align: -webkit-center;

    .nav-link {
      width: fit-content;
    }
  }
}

@media only screen and (max-width: 991px) and (max-height: 480px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}
