  <div id="carouselJumbo" class="carousel slide  jumbotron-top-style" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
      <li data-target="#carouselJumbo" data-slide-to="1"></li>
      <li data-target="#carouselJumbo" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="jumbotron-top jumbotron-top-style"></div>
      </div>
      <div class="carousel-item">
          <div class="jumbotron-top1 jumbotron-top-style"></div>
      </div>
      <div class="carousel-item">
          <div class="jumbotron-top2 jumbotron-top-style"></div>
      </div>
    </div>
  </div>
  
  <!--Feature Box-->
  <div class="jumbotron-bottom">
    <div class="container feature-block disp ">
      <div class="row">
        <div class="col-md-3 col-sm-3" *ngFor= "let feature of features">
          <p class="text-center f-block-img py-2 mb-0"> 
            <img src="{{feature.data}}" class="f-img">
          </p>
          <h6 class="text-center f-text py-2 mb-0">
            {{feature.label}}
          </h6>
        </div>
      </div>
    </div>
  </div>
  <!--Feature Box Ends Here-->


<div class="pb-5 pt-5 bg-light for-mall">  
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13690.470017626809!2d-88.5879159!3d30.9253139!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5bb86e6931d5c666!2sSouthern+Storage!5e0!3m2!1sen!2sus!4v1546458603208" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-4  pl-4 pt-3">
        <h2>Southern Storage - Agricola</h2>
        <p> 
          <!-- <span *ngFor="let contact of contactsAgricola">
            <b>{{contact.label}}</b> {{contact.data}}<br>
          </span> -->
          <span *ngFor="let contact of contactsAgricola">
            <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
            <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
          </span>
        </p>
         <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/agricola/storage-units']" role="button">View Rates</a>            
         <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent/agricola']"  role="button">Pay Rent</a>                     
      </div>
      <div class="col-md-3 contact-hours pt-3">
          <h2>Hours:</h2>
          <p>
            <span *ngFor="let hour of hoursAgricola">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>  
</div>

<!--Contact Agricola Ends Here-->


<!--Contact Rocky-Creek-->
<div class="pb-5 pt-5 for-village">  
    <div class="container">
      <div class="row">          
        <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3421.0170678297663!2d-88.54143118442614!3d30.970005881555075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889b756e90e10753%3A0xc66cdb6f5aff3039!2sSouthern+Storage+-+Rocky+Creek!5e0!3m2!1sen!2sus!4v1547236392494" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 pl-4 pt-3">
          <h2>Southern Storage - Rocky Creek</h2>
          <p> 
            <!-- <span *ngFor="let contact of contactsRockyCreek">
              <b>{{contact.label}}</b> {{contact.data}}<br>
            </span> -->
            <span *ngFor="let contact of contactsRockyCreek">
              <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
              <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
            </span>
          </p>
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/rocky-creek/storage-units']" role="button">View Rates</a>                
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent/rocky-creek']" role="button"> Pay Rent</a>                                  
        </div>
        <div class="col-md-3 contact-hours pt-3">
            <h2>Hours:</h2>
            <p>
              <span *ngFor="let hour of hoursRockyCreek">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
      </div>
    </div>      
  </div>
  <!--Contact Rocky-Creek Ends Here-->


  <!--Contact Barton 29090 Ends Here-->
<div class="pb-5 pt-5 bg-light for-mall">    
    <div class="container">
      <div class="row">          
        <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3427.674990014684!2d-88.60061878442978!3d30.783700081619337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889b740cfd503c9d%3A0xfaf9fc124a7eb479!2sBarton+U-Store-It!5e0!3m2!1sen!2sus!4v1547237075190" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 pl-4 pt-3">
          <h2>Southern Storage - Barton</h2>
          <p> 
            <!-- <span *ngFor="let contact of contactsBarton">
              <b>{{contact.label}}</b> {{contact.data}}<br>
            </span> -->
            <span *ngFor="let contact of contactsBarton">
              <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
              <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
            </span>
          </p>
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/barton/storage-units']" role="button">View Rates</a>                
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent/barton']"  role="button">Pay Rent</a>                                  
        </div>
        <div class="col-md-3 contact-hours pt-3">
            <h2>Hours:</h2>
            <p>
              <span *ngFor="let hour of hoursBarton">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
      </div>
    </div>      
  </div>
  <!--Contact Barton -  Ends Here-->


  <div class="pb-5 pt-5 for-mall">    
    <div class="container">
      <div class="row">          
        <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3431.5573935417297!2d-88.57393238486995!3d30.674589681657388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889b90c3efb01c01%3A0x4b9697d88ca5f6a1!2s2305%20Mangrove%20Rd%2C%20Moss%20Point%2C%20MS%2039562!5e0!3m2!1sen!2sus!4v1620939573017!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 pl-4 pt-3">
          <h2>Southern Storage - Wade</h2>
          <p> 
            <!-- <span *ngFor="let contact of contactsBarton">
              <b>{{contact.label}}</b> {{contact.data}}<br>
            </span> -->
            <span *ngFor="let contact of contactsWade">
              <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
              <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
            </span>
          </p>
          <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/wade/storage-units']" role="button">View Rates</a>                
          <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent/wade']"  role="button">Pay Rent</a>                                  
        </div>
        <div class="col-md-3 contact-hours pt-3">
            <h2>Hours:</h2>
            <p>
              <span *ngFor="let hour of hoursWade">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
        </div>
      </div>
    </div>      
  </div>





<!--Service-->
  <div class="service">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-6 pt-2">
            <h1  class="pb-4">Affordable Self Storage Near Lucedale, MS | Southern Storage</h1>
            <div *ngFor="let para of serviceOffered">
              <p>{{ para.p }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Southern_Images/Photos/Agricola/southern-storage-argicola-climate-controlled.jpg" alt="Indoor Climate Controlled Units at the Agricola Location">
          </div>
        </div>
      </div>
    </div>
<!--Service Ends Here-->
