@import "../../styles.scss";

p {
  padding: 0;
  margin: 0;
}

table {
  border: 1px solid #dee2e6;

  td {
    border: none;
  }
}


.dot {
  color: $primary;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f8f6f6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 1);
}

ul {
  padding-inline-start: 20px;
  margin-bottom: 0;
}
