@import "../../styles.scss";

.card {
  border: none;
  border-radius: 0;
  text-align: left;
}


.card-header {
  padding: 0;
  background-color: $primary;
  color: $white;
  border-radius: 0;
  font-weight: 600;
  font-size: 1rem;
}

.card-body {
  padding: 20px 20px 20px 35px;
  background-color: $white;
  margin: auto;
}

ul {
  padding-inline-start: 36px;
}

.card-header-before-collapse {
  cursor: pointer;
}

.card-header-before-collapse::after {
  font-family: (FontAwesome);
  content: "\f106";
  float: right;
}

.collapsed::after {
  content: "\f107";
}