<nav class="navbar navbar-expand-lg bg-white py-lg-0 py-md-2 py-2 py-sm-2 py-xs-2">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <!-- <img src="" width="auto" height="60" alt="" class="py-2"> -->
      <b height="100" width="auto">Exton Store-N-More</b>
    </a>
    <button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto navbar-nav-scroll">
        <li class="nav-item px-2 text-center" *ngFor="let nav of navLinks">
          <a class="nav-link" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" [routerLinkActiveOptions]="{exact: true}" (click)="onClick(menu)">{{nav.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
