@import "../../../styles.scss";

.containHolder {
  min-height: 94vh;
  padding-top: 172px;
  margin-bottom: 50px;
}

.pay-rent-holder {
  background-color: #f1f0ed;
}

a {
  color: black;
}

.background-padding {
  padding: 64px;
}

// @media only screen and (max-width: 991px) {
//   .containHolder {
//     padding-top: 90px;
//   }
// }

@media screen and (max-width: 600px) {
  .containHolder {
    padding-top: 115px;
  }

  .background-padding {
    padding: 24px 0;
  }
}