@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../styles.scss";

a {
  cursor: pointer;
}

.iconColor {
  color: $secondary;
}

.contact-header {
  display: inline;

  .contact-details {
    color: $dark;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }
}

.social {
  text-align: right;

  a {
    color: $secondary;
    text-decoration: none;
  }
}

.social:hover {
  color: $primary;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);

  button:focus {
    outline: 5px auto $primary;
  }
}

.nav-link {
  color: $primary !important;
  font-weight: 600;
  padding: 21px;
}

.nav-link:hover {
  color: $secondary;
}

.nav-link-active {
  // color: $secondary !important;
  background-color: $secondary;
  border-bottom: 5px solid $secondary;
}

.display {
  display: block;
}

.navbar-toggler {
  border-color: $primary;
  color: $primary;
  i {
    color: $fontColor;
  }
  
}


.navbar-toggler:focus,
.navbar-toggler:hover {
  border: 1px solid $primary;
}

.contact-links {
  a {
    color: #212529;
  }
 
}

@media screen and (max-width: 1024px) {
  .display {
    display: none;
  }
  
  .nav-link-active {
    // color: $primary !important;
    background-color: transparent ;
    border-bottom: 5px solid $secondary;
  }

  .nav-link {
    text-align: center;
  }

  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
}

@media only screen and (max-width: 767px) and (max-height: 480px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}
