  
<div class="">
  <div class="jumbotron-container">
    <div class="jumbotron-top">
    <div class="jumbotron px-0 m-0">
      <div class="bg-translucent jumbotorn-skew-style">
      </div>
      <div class="container">
        <div class="jumbotorn-skew-text">
          <div class="disp" *ngFor="let jumbotron of jumbotron">
            <h2  class="my-4">
              {{jumbotron.h1}}
            </h2>
          <p class="text-justify">{{jumbotron.blurb}}</p>
          </div>
          <div class="jumbotorn-button">
            <a class="btn btn-lg btn-outline-primary" (click)="navigate('/contact-us')" role="button">Contact Us</a>
            <a class="btn btn-lg btn-primary" (click)="navigate('/view-rates')" role="button">View Rates</a></div>
          </div>
        </div>
      </div>
      </div>
    <div class="jumbotron-bottom">
      <div class="container">
        <div class="feature row">
          <div class="col-md-3 col-3 feature-icon-style" *ngFor="let feature of feature">
            <img [src]="feature?.path" alt="" />
              <h6 class="feature-text">{{feature.label}}</h6>
          </div>
        </div>
      </div>
    </div>
    </div>


<div class="bg-light">
  <div class="container py-4">
    <div class="section py-4 m-0">
      <div class="row">
        <div class="col-lg-6 py-3 home-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1867.979948621348!2d-91.40077732306871!3d38.057447368054405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87dbce6209c6f96b%3A0xc5e803f8cfface80!2sCuba+Self+Storage!5e0!3m2!1sen!2sus!4v1544123421497" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
          </div>

        <div class="col-lg-6 py-3">
          <div class="mb-4">
            
            <p>
              <span *ngFor="let contact of contactDetails">
                <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
              </span>
            </p>
            <b>Hours:</b>
            <p>
              <span *ngFor="let hour of hours">
                <b>{{hour.label}}</b>&nbsp;{{hour.data}}<br>
              </span>
            </p>
          </div>
          <div>
            <app-tables [tBody]="featuresList"></app-tables>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section py-5 m-0">
    <div class="row">
      <div class="col-lg-6 py-3">
        <img src="../../assets/images/self-storage-hallway.jpg" width="100%" height="100%" alt="Indoor Climate Controlled Units" class="sectionImage">
      </div>
      <div class="col-lg-6 py-3">
        <h1 class="heading pb-4">Affordable Storage Units in Cuba, MO</h1>
        <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
      </div>
    </div>
  </div>
</div>

<div class="getStarted bg-light">
  <div class="container">
    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-md-12 py-3">
          <h2 class="heading pb-4">Get Started</h2>
          <p class="pb-4">{{gettingStarted}}</p>
          <a class="btn btn-lg btn-primary" (click)="navigate('/reserve')" role="button">Reserve Unit Now!</a>
        </div>
      </div>
    </div>
  </div>
</div>

</div> 

