@import "../../styles.scss";

.btn-outline-primary {
  color: $primary !important;
}

.btn-outline-primary:hover {
  color: $white !important;
}

.btn-primary {
  margin-left: 10px;
}

.background-padding {
  padding: 64px;
}

.contact-links {
  a {
    color: black;
  }
  line-height: 2;
}

.contact-map {
  border: 2px solid white;
}

.contentHolder {
  h1 {
    margin-block-end: 0;
  }
}


.contact-butoon {
  .btn-primary {
    min-width: 140px;
  }

  .btn-outline-primary {
    min-width: 140px;
  }

  button {
    float: right;
  }
}

.form-control {
  font-size: 0.8rem;
}
.heading{
  font-size: 28px;
}
@media only screen and (max-width: 600px) {
  .contact-butoon {
    .btn-primary {
      min-width: 100%;
      margin-bottom: 5px;
    }

    .btn-outline-primary {
      min-width: 100%;
      margin-top: 5px;
    }
  }

  .background-padding {
    padding: 24px 0;
  }

  .padding-top {
    padding-top: 56px;
  }
}

@media only screen and (max-width: 991px) {
  .contact-butoon {
    .btn-primary {
      min-width: 100%;
      margin-bottom: 5px;
    }

    .btn-outline-primary {
      min-width: 100%;
      margin-top: 5px;
    }
  }

  .padding-top {
    padding-top: 56px;
  }
}
