<div class="contentHolder">
  <div class="container my-3 pb-5 padding-top">
    <div class="py-5 text-center">
      <h1 class="pb-2 text-center">{{payRentHeading}}</h1>
      <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Store_QC/jpg/store-qc-logo.png" width="140" alt=" badge artwork with an illustrated crossroads, a line art city skyline, and the words 61-280 Storage 563-381-8017 at the bottom" />
    </div>

    <!-- <div class="row bg-light background-padding">
      <div class="col-md-12"> -->
          <!-- <router-outlet></router-outlet> -->
          <div class="bg-light">
              <app-tabs [tabs]='tabs' style="background-color: #f1f0ed;" ></app-tabs>
      </div>
  </div>
</div>
