@import "../../styles.scss";

.contact-details {
  h4 {
    font-size: 1rem;
  }
}

.btn-outline-primary {
  margin-right: 10px;
}


.jumbotron-background-webp {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Fifty_One_Self_Storage/webp/fifty-one-self-storage.webp");
}

.jumbotron-background-jpg {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Fifty_One_Self_Storage/jpg/fifty-one-self-storage.jpg");
}

.display-contact {
  display: flex;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 80vh;
  color: $white;
  overflow: hidden;
  border-radius: 0;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 2.25rem;
}

.home-map {
  iframe {
    border: 2px solid white;
  }
}

.feature-icon-style {
  padding: 24px;
  text-align: center;

  img {
    padding: 10px;
  }
}

.contact-links {
  a {
    color: black;
  }
}

.content-align {
  text-align: right;
}

.getStarted {
  color: $primary;
  text-align: center;

  h2 {
    font-size: 2.25rem;
  }
}

.disp {
  color: $white;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.jumbotron-top {
  height: 100vh;
}

.jumbotron-bottom {
  height: 20vh;
  display: flex;
  align-items: center;
}

.carousel-indicators {
  li {
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px $primary solid;
    border-radius: 50%;
    position: relative;
    flex: 0 1 auto;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
  }

  .active {
    background-color: $primary;
  }
}


.carousel-item {
  max-width: 100%;

  .active {
    background-position: center center;
  }

  p {
    text-align: center;
    font-size: 1rem;
  }
}


  @media only screen and (min-width: 1200px) {

  }


@media only screen and (min-width: 1200px) and (max-height: 750px) and (min-height: 641px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 640px) and (min-height: 451px) {
  .jumbotron {
    height: 80vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotorn-skew-style {
    margin-top: 118px;
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 20vh;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 450px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }


  .jumbotorn-button {
    display: none;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    display: none;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .jumbotron-bottom {
    img {
      height: 70px;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 750px) and (min-height: 641px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 640px) and (min-height: 451px) {
  .jumbotron {
    height: 80vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotorn-skew-style {
    margin-top: 118px;
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 20vh;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 450px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-button {
    padding: 10px;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    display: none;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  


}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 830px) and (min-height: 701px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 700px) and (min-height: 481px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 80vh;
  }

  .jumbotron-bottom {
    height: 20vh;

    img {
      height: 70px;
    }
  }

  .jumbotorn-skew-style {
    margin-top: 98px;
  }


  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 480px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }
  
    .jumbotorn-skew-style {
      display: none;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }


  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-button {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 80vh;
  }

  .disp {
    font-size: 0.7rem;
 }

  .jumbotorn-skew-style {
    margin-top: 95px;
  }

  .jumbotron-bottom {
    height: 20vh;
    font-size: 0.7rem;
    img {
      height: 70px;
    }
    .feature-text {
      font-size: 0.7rem;
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 500px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    display: none;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }


  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 420px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    display: none;
  }


  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 429px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .disp {
    display: none;
  }
}