<div  itemscope itemtype="https://schema.org/SelfStorage" itemtype="https://schema.org/LocalBusiness">
  <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Added_Space_Self_Storage/jpg/added-space-storage-169.jpg" />
  <span hidden itemprop="name">{{facilityName}}</span>
  <span hidden itemprop="areaServed" itemscope itemtype="https://schema.org/State">
    <span itemprop="name">{{state}}</span>
  </span>
  <!-- <app-microdata></app-microdata> -->
  <div >
  </div>
  <div > 
  </div>
  <table  class="viewrates-desktop" itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
      <tHead >
          <tr>
            <th colspan="2"  class="px-4 py-1 text-center" *ngFor="let th of th" id={{th.id}}>
              {{th.data}}
            </th>
          </tr>
      </tHead>
      <span hidden itemprop="name">{{facilityName}}</span>

      <meta itemprop="name" content="{{facilityName}}" />

      <tbody itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
        <tr itemprop="itemOffered" itemscope itemtype="https://schema.org/SelfStorage" *ngFor="let uniTtypes of uniTtypes" >
          <td  colspan="2" style="width: 15%;" class="px-4 border text-center">
            
              {{uniTtypes.uniTtypes}}
          </td>
          
          <td  colspan="2" class="px-4 border text-center" >
              <span>$</span>{{uniTtypes.unitRate}}  
          </td>
        </tr> 
        

      </tbody>
  </table>
  <div class="row viewrates-mobile py-2 border" *ngFor="let uniTtypes of uniTtypes">
    <div class="col-6 text-center ">  
      <strong>Unit Size</strong>
    <div class=" py-1 ">{{uniTtypes.uniTtypes}}</div>
    
    </div>
      <div class="col-6 d-flex justify-content-center" >
        
        <div  class="text-center"  >
          <b>Rate</b>
          <p class="card-text ">${{uniTtypes.unitRate}}</p>
        </div>
    </div>
  </div>
</div>
