<div class="contentHolder">
  <div class="container pb-5 my-3">
    <h1 class="py-5" >{{howItWorksHeading}}</h1>
    <div class="row bg-light background-padding">
      <div class="col-lg-6 py-3">
        <!-- <img src="{{imageBaseUrl}}/robinson-mobile-storage-homepage.{{imagetype}}" width="100%" alt="{{aboutUsAlt}}" class="sectionImage"> -->
        <app-photos></app-photos>
      </div>
      <div class="col-lg-6 py-3">
        <h2 class="heading pb-4">Storage Delivered to You</h2>
        <p class="justify">Robinson Storage Box serves Peterborough, Ennismore, Bridgenorth, and the surrounding communities with quality portable storage units delivered right to your door, office, or worksite! We understand that some storage projects are best handled with an on-site storage solution. That’s where Robinson Storage Box comes into play. Our mobile storage units are 20’x8’x8’ and offer 160 square feet of storage space anywhere you want it.</p>
        <h4>Mobile Storage Units for All of Your Storage Needs</h4>
        <p>The Robinson Storage Boxes are the ideal solution for renovations where furniture, tools, or supplies require storage and easy access throughout the duration of the project. We also serve contractors, auctioneers, and hospitals with temporary on-site storage.</p>
        <h4>Convenient Pickup and Delivery</h4>
        <p>Our no-tilt delivery and pickup service means all you have to do is pack your belongings for temporary on-site storage or for long-term storage at our self storage facility on Robinson Road in Ennismore. Simply give us a call with the details of when and where you need your unit delivered, and our professional crew will provide the same level of service you’ve come to expect from our Robinson Storage self storage facility.</p>
        <h3>Start De-Cluttering Today</h3>
        <p>If you have any questions, give our friendly team a call, and we’ll be happy to help! Ready to start making your next project easier with on-site storage? Take a moment to check out our pricing information, then request your Free Estimate for a portable storage solution in seconds through our website!</p>        
      
    </div>
    </div>
  </div>
</div>
