<div class="reserveUnitHolder">
  <div class="container px-0">
    <h2 class="text-center">{{heading}}</h2>
    <div class="row pt-2">
        <div class="col-12 px-0">
        <app-reserve-unit-form></app-reserve-unit-form>
          <!-- <span *ngIf="id === 1">
              <iframe id="advanced_iframe" name="advanced_iframe" src="https://br-fohl-st.sim.syrasoft.com/ReserveUnit" width="100%"
              height="700px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
          </span>
          <span *ngIf="id === 2">
              <iframe id="advanced_iframe" name="advanced_iframe" src="https://louisvilleselfstorage.sim.syrasoft.com/reservenow" width="100%"
              height="700px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
          </span>
          <div *ngIf="id === 3">
              <iframe id="advanced_iframe" name="advanced_iframe" src="https://lincolnstreetstorage.sim.syrasoft.com/reservenow" width="80%"
              height="650px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
          </div> -->
        </div>
    </div>
  </div>
</div>
