<div class="rent-holder">
  <div class="container">
    <div class="rent-heading">
      <h1 class="text-center pt-5">Pay Rent Online</h1>
      <h2 class="text-center">Select your location to access your account</h2>
    </div>
    <div  class="container pt-5">
      <div class="rent-sub-holder">
          <div class="container px-0">
            <!-- <div class="location-selection">
              <app-select-location (click)="receiveMessage()"></app-select-location>
            </div>
            <div class="row">
              <div class="col-md-8 mx-0">
                <span *ngIf="locationId == 1" >
                  <iframe id="advanced_iframe" name="advanced_iframe" src="https://MovinOnStorageCenter.sim.syrasoft.com/Payment" width="100%"
                  height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
                </span>
                <span *ngIf="locationId == 2">
                  <iframe id="advanced_iframe" name="advanced_iframe" src="https://ShalerSelfStorage.sim.syrasoft.com/Payment" width="100%"
                  height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>  
                </span>
                <span *ngIf="locationId == 3" class="py-2">
                  <iframe id="advanced_iframe" name="advanced_iframe" src="https://natronaheightsselfstorage.sim.syrasoft.com/Payment" width="100%"
                  height="300px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>  
                </span>
              </div>
        
              <div class="col-md-4 rent-example" >
                 <h2> How to Login </h2>
                 <p class="pt-3"> <b>Username:</b> Last Name </p>
                 <p> <b>Password:</b>  Your gate access code </p>
            
                 <p class="py-3"> <b>Example</b> </p>
                 <p class="pb-3">John Smith's gate access code is 1234 </p>
            
                 <p> <b>John's Username:</b> smith </p>
                 <p class="pb-3"> <b>John's Password:</b> 1234 </p>
            
                 <p> <b>Have question about your account?</b> </p>
                 <p> {{contact[1].data}} </p>
              </div>
            </div> -->
            <!-- <app-tables [tBody]="payList"></app-tables> -->
            <table class="col-md-12">
              <thead>
                <tr>
                  <th>Facility</th>
                  <th>Address</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table-data">
                      Movin'On storage canter
                  </td>
                  <td class="table-data">
                      200 Piedmont Road Charleston, WV 25301
                  </td>
                  <td class="text-right px-3">
                    <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent']" role="button">Pay Here</a>            
                  </td>
                </tr>
                <tr>
                    <td class="table-data">
                        Shaler Self Storage
                    </td>
                    <td class="table-data">
                        22 Elfinwild Road Allison Park, PA. 15101
                    </td>
                    <td class="text-right px-3">
                      <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-shaler']" role="button">Pay Here</a>            
                    </td>
                </tr>
                <tr>
                    <td class="table-data">
                        Natrona Heights Self Storage
                    </td>
                    <td class="table-data">
                        896 Veterans Drive, Natrona Heights, PA 15065
                    </td>
                    <td class="text-right px-3">
                      <a class="btn btn-primary p-2 ml-0" [routerLink]="['/pay-rent-natrona']" role="button">Pay Here</a>            
                    </td>
                </tr>
              </tbody>
             </table>
          </div>
        </div>
    </div>
  </div>
</div>
