@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "../../styles.scss";

a {
  cursor: pointer;
}

.navbar-brand {
  b {
    color: $white;
  }
}

img {
  width: 160px;
  height: 61px;
}

.iconColor {
  color: $primary;
}

.contact-header {
  display: inline;
  
  .contact-details {
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }
}

.availability{
  color: $primary;
  justify-content: center;
  
}
.social {
  a {
    color: $white;
    text-decoration: none;
  }

  i {
    font-size: 1.2rem;
  }
}

.social :hover {
  color: $primary;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  .nav-link {
    color: $white;
    font-weight: 600;
    padding: 21px;
  }

  .nav-link:hover {
    color: $white;
  }

  .nav-link-active {
    color: $white;
    border-bottom: 5px solid $white;
  }

  button {
    border-color: $white;

    .iconColor {
      color: $white;
    }
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.display {
  display: block;
}

.contact-links {
  a {
    color: black;
  }
}

.closedOnText{
  font-size: 20px;
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .navbar {
    .nav-link {
      padding: 8px;
    }
  }
}

@media screen and (max-width: 991px) {
  .display {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    // display: none; //commented 
    .contact-header { //added this two lines
      display: none;
    }
  }

  .nav-link {
    text-align: center;
  }

  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
}

@media only screen and (max-width: 991px) and (max-height: 480px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 768px){
  .availability{
 
    padding-top: 5px;
  }
}
