<div class="payment-top">
  <div class="bg-translucent">
      <div class="container jumbotorn-top text-center">
          <h1 class="pb-4">Pay Your Rent Online</h1>
          <p>Use our handy online bill pay feature to make your payments online 24/7! Just follow the instructions below or call our friendly management team to learn how to log into your account!</p>
        </div>
  </div>
</div>

<div class="content-Holder bg-dark-background payment-bottom">
  <div class="container py-5">
    <h2 class="pb-3 mb-5 text-center">Pay Rent</h2>
    <div class="row content-margin-top">
      <div class="col-md-8">
        <iframe id="advanced_iframe" name="advanced_iframe" src="https://fortressministorage.sim.syrasoft.com/paynow" width="100%"
          height="350" scrolling="yes" frameborder="0" border="0;" allowtransparency="true" style="max-width:100%;"></iframe>
      </div>
      <div class="col-md-4  vertical-line"  >
        <h3>How to Login</h3>
        <div *ngFor="let loginDetail of loginDetail">
          <p><b>Username</b>&nbsp;{{loginDetail.userName}}<br>
          <b>Password:</b>&nbsp;{{loginDetail.password}}</p>
            <p><b>Example:</b></p>
            <p>John Smith's {{loginDetail.example.code}}</p>
            <p>John's Username: {{loginDetail.example.userName}}<br>
              John's Password: {{loginDetail.example.password}}</p>
            <p><strong>Have questions about your account?</strong><br>
            <span *ngFor="let contact of contact" class="contact-links" [class.display-none]="contact?.id == 0">
              <a  *ngIf="contact?.label === 'Email:' || contact?.label === 'Phone:' else other_content" [href]="contact?.redirect">
                {{contact.data}}
              </a>
            <br>
          </span>
          </p>
        </div>
      </div>
    </div>
  </div>  
</div>