@import "../../styles.scss";

.carousel-caption {
  bottom: 40px;

  img {
    height: 120px;
  }
}

.btn-outline-primary{
  color: $white;
}

.service {
  color: $dark;
  text-align: left;

  h1 {
    line-height: 2.5rem;
    font-size: 2rem;
  }

  img {
    width: 100%;
  }

  p {
    text-align: justify;
  }
}

.jumbotorn-skew-style {
  width: 75%;
  float: left;
  left: -25%;
  position: relative;
  transform: skew(15deg);
  height: 100%;

  a {
    margin-top: 20px;
  }
}

.jumbotorn-skew-text {
  transform: skew(0deg);
  width: 500px;
  position: absolute;
  top: 30%;
  color: $white;

  .btn-outline-primary {
    margin-right: 10px;
  }
}

.jumbotron-home {

  .for-mobile-view {
    display: none;
  }

  .for-desktop-view {
    display: block;

    .jumbotron-desktop {
      padding-top: 55px;
      height: 80vh;
    }
  }

  .feature-block {
    height: 20vh;

    h2 {
      line-height: 1.5rem;
    
    }
    img {
      height: 60px;
    }

    .f-text {
      color: $dark;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}

.jumbotron-background-jpg {
  background: url("https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Impact_Self_Storage/jpg/impact-self-storage-169.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}


.jumbotron-background-webp {
  background: url("https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Impact_Self_Storage/webp/impact-self-storage-169.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}


.jumbotron-top {
  // background: url("https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Wallenpaupack/jpg/wallenpaupack-self-storage-jumbotron.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}


// .jumbotron-top1 {
//   background: url("https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Wallenpaupack/jpg/100_1120.jpg");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 80vh;
// }

// .jumbotron-top1 {
//   background: url("https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Wallenpaupack/webp/100_0366.webp");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 80vh;
// }

// .jumbotron-top2 {
//   background: url("https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Wallenpaupack/jpg/100_4399.jpg");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 80vh;
// }

// .jumbotron-top3 {
//   background: url("https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Wallenpaupack/jpg/G%204.jpg");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 80vh;
// }

// .jumbotron-top {
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height:80vh;
// }

.prev{
  color: white;
  font-weight: 900;
}

// .jumbotron-top1 {
//   background: url("");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: calc(80vh - 64px);}

// .jumbotron-top2 {
//   background: url("");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: calc(80vh - 64px);
// }

// .jumbotron-top3 {
//   background: url("");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: calc(80vh - 64px);
// }

.contact-links {
  a {
    color: black !important;
    margin-bottom: 28px;
  }
  display: block;
  margin-bottom: 8px;
}

.location-information {
  .details {
    display: block;
    margin-bottom: 8px;
  }
}

.map-responsive {
  iframe {
    border: 2px solid white;
  }
}

.content-align {
  text-align: right;
}

.contact-hours {
  border-left: 2px solid $border;
  padding-left: 5%;
}

.for-location {
  padding: 35px 0 64px 0;

  .locaion-selection {
    padding-bottom: 35px;
  }

  .btn-outline-primary {
    margin-right: 10px;
  }
}


.content-left {
  text-align: left;
}

.jumbotorn-button{
  position: absolute;
  top:110px;
  display: flex;
}


.disp {
  display: block;
}

.special{
  font-size: 20px;
  font-weight: 500;
}

.testimonial {
  background: $light;
  height: auto;

  h1 {
    font-size: 2rem;
  }


  .carousel-indicators {
    li {
      width: 0.8rem;
      height: 0.8rem;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px $primary solid;
      position: relative;
      flex: 0 1 auto;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
    }

    .active {
      background-color: $primary;
    }
  }

  .carousel-item {
    max-width: 100%;

    .active {
      background-position: center center;
    }

    p {
      text-align: center;
      font-size: 1rem;
    }
  }
}

// @media screen and (max-height: 700px) and (min-width: 600px) {
//   .carousel-caption {
//     bottom: 40px;

//     img {
//       height: 60px;
//     }
//   }

//   .jumbotron-home {
//     // height: auto;

//     // .feature-block {
//     //   height: 160px;
//     // }
//   }
// }



@media only screen and (min-width: 1200px) {
  .jumbotorn-skew-text {
    width: 500px;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 750px) and (min-height: 641px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 640px) and (min-height: 451px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .feature-block {
    height: 120px !important;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 450px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    display: none;
  }

  

  .jumbotorn-button {
   
    padding: 10px;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 0;
  }
}


@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .jumbotorn-skew-text {
    width: 400px;

    a {
      min-width: 160px;
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .jumbotorn-button {
    .btn {
      min-width: 160px !important;
    }

    .btn-outline-primary {
      color: $white !important;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 750px) and (min-height: 641px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 640px) and (min-height: 451px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .feature-block {
    height: 120px !important;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 450px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 0;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .jumbotorn-skew-style {
    width: 85%;
  }

  .jumbotorn-button {
    .btn {
      min-width: 160px !important;
    }
  }

  .jumbotorn-skew-text {
    width: 400px;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 2.3rem;
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 830px) and (min-height: 701px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 700px) and (min-height: 481px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .feature-block {
    height: 160px !important;
  }

  .jumbotorn-skew-text {
    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 2.3rem;
      }
    }
  }
  .f-text {
    color: $dark;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 480px) {
  .jumbotron-top {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }


  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .jumbotorn-skew-text {
    display: none;
  }

  .jumbotron-bottom {
    height: 0;
  }

  .jumbotorn-button {
    padding: 2px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .feature-block {
    height: 200px !important;
  }

  .jumbotorn-skew-style {
    width: 90%;
  }

  .jumbotorn-button {
    .btn {
      min-width: 160px !important;
    }
  }

  .jumbotorn-skew-text {
    top: 36%;
    width: 350px;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 1.8rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 500px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }


  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotron-bottom {
    height: 0;
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .jumbotorn-skew-text {
    display: none;
  }

  .jumbotorn-button {
    padding: 2px;
  }
}

@media only screen and (max-width: 600px) {
  .jumbotorn-skew-style {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) and (min-width: 420px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotron-bottom {
    height: 0;
  }

  

  // .jumbotorn-skew-style {
  //   transform: skew(0deg);
  //   width: 100%;
  //   left: auto;
  //   height: 90px;
  //   bottom: 0;
  //   position: absolute;
  // }

  .jumbotorn-skew-text {
    width: 0%;
    //left: 0;
    // top: auto;
    // bottom: 10px;
  }

  // .jumbotorn-button {
  //   padding: 2px;
  // }
}

@media only screen and (max-width: 429px) {
  .jumbotron-top {
    text-align: center;
    // background-attachment: unset;
    // background-position: center left;
    background-size: contain !important;
    height: 57vh !important;
  }

  .jumbotron-bottom {
    height: 0;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-button{
    .btn{
        max-width:130px !important;
        padding: 10px;
    }
  }

  .jumbotorn-skew-text {
    width: 0%;
}

 
}

@media only screen and (max-width: 320px) {
  .jumbotron-top {
    height:45vh !important;
  }
}

@media only screen and (max-width:540px) and (min-width:359px) and (max-height:916px) and (min-height:666px){
  
    .jumbotron-top {
      height:30vh !important;
    }
  
}

@media only screen and (max-width:376px) and (min-width:359px) and (max-height:740px) and (min-height:666px){
  .jumbotron-top {
    height:32vh !important;
  }

}