<div class="rent-holder">
    <div class="container px-0">
      <div class="rent-heading pb-5">
        <h1 class="text-center pt-5">Pay Your Rent</h1>
      </div>
      
      <div class="rent-sub-holder">
        <div class="row padding bg-light">
          <div class="col-lg-8 col-md-6 coming scroll-wrapper padding-for-small-device">
            <iframe id="advanced_iframe" name="advanced_iframe" src="https://extonstore-n-more.sim.syrasoft.com/PayNow" width="100%"
             scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>  
          </div>
  
          <div class="col-lg-4 col-md-6 rent-example padding-for-small-device">
            <h2> How to Login </h2>
            <p class="pt-3"> <b>Username:</b> Email Address </p>
            <p> <b>Password:</b> Access Code</p>
            <p class="pt-3"> <b>Example:</b></p>
            <p> John Smith's Access Code is 1234</p>
            <p> John's Username: jsmith1@email.com</p>
            <p>John's Password: 1234</p>
        
            <p class="pt-4"><b>Have questions about your account?</b><br>
              <a href="tel:6102809305">(610) 280-9305</a>
              <br>
              <a href="mailto:Info@Store-N-More.com">Info@Store-N-More.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  