<div *ngIf="passwordChanged else other;">
  <div class="pb-4"><strong><i>Password succefully changed.</i></strong></div>
  <div class="row">
      <div class="form-group col-3">
          <button type="button" class="btn btn-primary" (click)="navigateToHOme('/')"
          >Go Back</button>
      </div>
      <div class="form-group col-3 ">
          <button type="submit" class="btn btn-primary" (click)="navigate('/login')"
          >Go to payment</button>
      </div>
</div>
</div>
<div [class.loader]="showLoader"></div>

<ng-template #other>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
<h2 >Change Your Password</h2>
<div class="incorrectPassword"><strong><i>Please enter correct password.</i></strong></div>
  <div class="row pt-4">
      <div class="form-group col-8" >
          <label>Please Enter Old Password</label> &nbsp;
          <input type="password" formControlName="strOldPassword"  
          class="form-control" 
          />
      </div>
      <div class="form-group col-8" >
        <label>Please Enter New Password</label> &nbsp;
        <input type="password" formControlName="strNewPassword"  
        class="form-control" 
        />
    </div>
  </div>
  <div class="row">
          <div class="form-group col-3">
              <button type="button" class="btn btn-primary" (click)="goBack()"
              >Go Back</button>
          </div>
          <div class="form-group col-3 ">
              <button type="submit" class="btn btn-primary"
              >Change</button>
          </div>
  </div>
</form>
</ng-template>
