<div class="contentHolder">
  <div class="container">
    <h1 class="py-5 text-center">View Our Rates</h1>
    <div class="row bg-light padding">
      <div class="col-md-12 col-lg-7 coming p-3 " >
        <iframe id="advanced_iframe" name="advanced_iframe" src="http://mohawkss.sim.syrasoft.com/unitavailability" width="100%"
          height="1400px" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>
      </div>
      <div class="col-md-12 col-lg-5 p-3">
        <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Mohawk/mohawk-self-storage-inside-units.jpg" 
        alt="photograph of a row of indoor self storage units and metal roll up doors" class="sectionImage" width="auto"/>
      
        <div class="mt-4 justify">
          <p  *ngFor="let data of dataViewRates">{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>
</div>