@import "../../styles.scss";

.padding-top {
  padding-top: 125px;
}

.btn-outline-primary {
  color: $primary !important;
}

.btn-outline-primary:hover {
  color: $white !important;
}

.btn-primary {
  margin-left: 10px;
}

.contact-links {
  a {
    color: black;
  }
}

.contact-map {
  border: 2px solid white;
}

.contentHolder {
  h1 {
    margin-block-end: 16px;
    text-align: center;
  }
}


.contact-butoon {
  .btn-primary {
    min-width: 140px;
  }

  .btn-outline-primary {
    min-width: 140px;
  }

  button {
    float: right;
  }
}

input::placeholder {
  font-size: 0.875rem;
}

textarea::placeholder {
  font-size: 0.8rem;
}


@media only screen and (max-width: 600px) {
  .contact-butoon {
    .btn-primary {
      min-width: 100%;
    }

    .btn-outline-primary {
      min-width: 100%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .padding-top {
    padding-top: 80px;
  }
}
