
<div class="contentHolder">
  <div class="container pb-5" style="padding-top: 190px;">
    <h1 class="py-4" style="text-align: center">Contact Self Storage</h1>
    <div class="row bg-light p-4 padding-none">
      <div class="col-md-7 col-12 my-4">
        <h3 class="heading py-3">Contact Form</h3>
        <form>
          <div [hidden]="valid" class="alert alert-danger">
             Please fill out all the required fields!
          </div>
          <div [hidden]="submited" class="alert alert-success">
            Form Successfully Submited!
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="Name">Name*</label>
              <input type="text" name="name" (keyup)="validate('notNull', name, 'Name', 'nameHelp')" class="form-control" id="Name" placeholder="Enter Your Name"
                [(ngModel)]="name" required>
              <small id="nameHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group col-md-6">
                <label for="Subject">Subject (Optional)</label>
                <input type="text" name="subject" class="form-control" id="Subject" placeholder="Enter Subject" [(ngModel)]="subject">
            </div>
          </div>
          <div class="row">
          <div class="form-group col-md-6">
            <label for="Email">Email address*</label>
            <input type="email" name="email" (keyup)="validate('email', email, 'Email', 'emailHelp')" class="form-control" id="Email"
              aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" required>
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
        </div>
          <div class="form-group">
            <label for="Message">Enter Message*</label>
            <textarea rows="6" class="form-control" name="message" id="Message"  (keyup)="validate('notNull', message, 'Message', 'messageHelp')" placeholder="Enter Your Message" [(ngModel)]="message" required></textarea>
            <small id="messageHelp" class="form-text text-muted"></small>
          </div>  
          <div class="contact-butoon">
            <button type="submit" class="btn btn-primary margin-bottom " (click)="formSubmit()" style="float: right;">Submit</button>
            <button type="clear" class="btn btn-outline-primary " (click)="formClear()" style="float: right;">Clear</button>
          </div>
        </form>
      </div>
      <div class="col-md-5 col-12 my-4">
        <div class="my-4">
             <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11812.741403016997!2d-73.9069651!3d42.2532142!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f78849841f11072!2sCatskill+Self+Storage!5e0!3m2!1sen!2sus!4v1541375613193" 
             style="border:2px solid white;" width="100%" height="250" frameborder="0" allowfullscreen></iframe> 
        </div>
        <p>
            <span *ngFor="let contact of contactDetails">
              <b>{{contact.label}}</b> {{contact.data}}<br>
            </span>
          </p>
          <b>Hours:</b>
          <p>
            <span *ngFor="let hour of hours">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>

</div>
