@import '../../styles.scss';

.btn-outline-primary {
    color: $primary!important;
}

.btn-outline-primary:hover {
    color: $white!important;
}

.btn-primary {
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    .contact-butoon {
        .btn-primary {
            min-width: 145px !important;
        }
        .btn-outline-primary {
            min-width: 145px !important;
        }
    }
   
}

@media screen and (max-width: 900px) {
    .padding-none {
        padding: 0px!important;
        background: $white!important;
    }
    h1 {
        display:none!important;
    }
    .margin-bottom {
        margin-bottom: 10px;
    }
    .contact-butoon {
        .btn-primary {
            min-width: 145px !important;
        }
        .btn-outline-primary {
            min-width: 145px !important;
        }
    }
   
}


@media screen and (max-width: 480px) {
    
    .contact-butoon {
        .btn-primary {
            min-width: 145px !important;
        }
        .btn-outline-primary {
            min-width: 145px !important;
        }
    }
    
} 