@import '../../styles.scss';

.btn-outline-primary {
    color: $primary!important;
}

.btn-outline-primary:hover {
    color: $white!important;
}

.btn-primary {
    margin-left: 10px;
}

.contact-links {
  a {
    color: black;
  }
}

.contentHolder{
    h1 {
        margin-block-end: 16px!important;
    }
}

.contact-butoon {
    .btn-primary {
        min-width: 140px !important;
    }
    .btn-outline-primary {
        min-width: 140px !important;
    }
}
 
input::placeholder {
    font-size: 0.875rem;
}

textarea::placeholder {
    font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
    .padding-none {
        padding: 0px!important;
        background: $white!important;
    }
    h1 {
        display:none!important;
    }
    .margin-bottom {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .contact-butoon {
        .btn-primary {
            min-width: 100% !important;
        }
        .btn-outline-primary {
            min-width: 100% !important;
        }
    }
}