<div id="accordion">
    <div class="card" *ngFor="let storage of storageTipAccordion">
        <div class="card-header">
            <div class="card-header-before-collapse collapsed px-3 py-2"  data-toggle="collapse" [attr.data-target]="'#collapseOne'+storage?.id" aria-expanded="true">
                {{storage.label}}                 
            </div>  
        </div>

        <div [id]="'collapseOne'+storage?.id"  aria-labelledby="collapseOne" data-parent="#accordion" class="collapse" [ngClass]="storage?.id == 0 && 'show'">
            <ul class="card-body">
                <li class="py-2 text-justify" *ngFor="let data of storage.data">
                {{data.p}}
                </li>
            </ul>
        </div>
    </div>
</div>
