@import '../../styles.scss';

    #contact-button-data {
        background-color: $white;
        width: 348px !important;
        padding: 20px;
        margin-right: 10px;
        z-index: 1000;
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.16);
        overflow: auto;
        overflow-x: hidden; 
        overflow-y: auto;
        .heading {
            h2 {
                color: $primary;
            }
        }
        .iconColor {
            color: $primary;
        }
        form {
            margin-bottom: 50px;
        }
    }

    @media screen and (max-width: 600px) {
        #contact-button-data {
            overflow: auto;
            overflow-y: scroll !important;
            height: 70vh;
            width: 300px !important;
        }
    }


    @media screen and (max-height: 750px) {
        #contact-button-data {
            overflow: auto;
            overflow-y: scroll !important;
            height: 70vh;
            width: 300px !important;
        }
    }

