<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" (click)="closeBox()" data-dismiss="modal">&times;</button>
    <h6 class="modal-title"><strong>Login required for changing the password.</strong></h6>
  </div>
  <div class="modal-body">
    <form [formGroup]="loginModalForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <div [hidden]="" *ngIf="submitted && credentialsInvalid" class="button-display alert alert-success alert-danger fade show">
                  Either the supplied username does not exist, or the supplied credentials are incorrect. Please try again.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      </div>
      <div [class.loader]="showLoader"  *ngIf="!showPayRent && allowedToshow">
      </div>
      <div class="row">
          <div class="form-group col-lg-6 col-12">
              <label>UserName</label> &nbsp;
              <input type="text" formControlName="strUserName"  
              class="form-control" 
              [ngClass]="{ 'is-invalid': submitted && f.strUserName.errors }"
              />
              <div *ngIf="submitted && f.strUserName.errors" class="invalid-feedback">
                  <small class="form-text text-muted" *ngIf="f.strUserName.errors.required">Please fill out this field</small>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="form-group col-lg-6 col-12">
              <label>Password</label> &nbsp;
              <input type="password" formControlName="strPassword" class="form-control" 
              [ngClass]="{ 'is-invalid': submitted && f.strPassword.errors }"  
              />
              <div *ngIf="submitted && f.strPassword.errors" class="invalid-feedback">
                  <small class="form-text text-muted" *ngIf="f.strPassword.errors.required">Please fill out this field</small>
              </div>
          </div>
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="handleShowLoader()"
          >Login</button>
      </div>
  </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="closeBox()" data-dismiss="modal">Close</button>
  </div>
</div>