<div hidden itemscope itemtype="https://schema.org/SelfStorage" itemtype="https://schema.org/LocalBusiness">
  <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Pursue_Images/jpg/rv-storage-and-parking.jpg" />
  <span itemprop="name">Crystal L Outside Storage</span>
   <span itemprop="areaServed" itemscope itemtype="https://schema.org/State">
     <span itemprop="name">New York</span>
   </span>
   <ul itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
     <li itemprop="itemListElement" itemscope itemtype="https://schema.org/OfferCatalog">
       <span itemprop="name">Crystal L Outside Storage</span>
       <ul itemprop="itemListElement" itemscope itemtype="https://schema.org/OfferCatalog">
         <meta itemprop="name" content="Crystal L Outside Storage" />
         <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
           <div itemprop="itemOffered" itemscope itemtype="https://schema.org/SelfStorage" *ngFor="let lstUnitType of lstUnitTypes">
              <span itemprop="name">{{lstUnitType.Description}} unit Type </span>
              <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Pursue_Images/jpg/rv-storage-and-parking.jpg" />
              <meta itemprop="description" 
              content="{{lstUnitType.Description}}" />
              <meta itemprop="priceRange" content="{{lstUnitType.MonthlyRate}}" />
                <meta itemprop="amenityFeature" content="Fully-Fenced Facility" />
                  <meta itemprop="amenityFeature" content="Fully-Alarmed Facility" />
              <link *ngIf="lstUnitType.IsUnitsAvailable" itemprop="availability" href="https://schema.org/InStock" />
           </div>
         </li>
        </ul>
      </li>
    </ul>
  </div>