<div class="col-md-12 display bg-secondary py-2 contact-detail">
  <div class="container">
    <div class="contact-header">
      <div class="row">
        <div class="col-md-12">
          <span class="contact-details pr-4" *ngFor="let contact of contactDetails">
            <i [class]="contact?.class"></i><span class="contact-links" *ngIf="contact?.id === 0 || contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
            <ng-template #other_content>&nbsp;{{contact.data}}</ng-template>
          </span>
        </div>
        <!-- <div class="col-md-2 ml-auto text-right">
          <span class="social pl-2 text-right" *ngFor="let social of socialLinks">
            <a [href]="social?.path" target="_blank">
              <i [class]="social?.class"></i>
            </a>
          </span>
        </div> -->
      </div>
      <div class="payment-button">
        <a class="btn btn-payment p-2" [routerLink]="['/pay-rent']" role="button">Pay Rent</a>
       </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <!-- <img class="pb-2" src="{{imageBaseUrl}}/logo.{{imagetype}}" width="auto"  alt=""> -->
      <strong>Garner's U Store</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto nav-scroll">
        <li class="nav-item mx-2" *ngFor="let nav of navLinks">
          <span *ngIf="nav?.type === 'link'"> 
            <a class="nav-link text-center" [routerLink]="nav?.path" [routerLinkActive]="'nav-link-active'" *ngIf="nav?.path !== '/pay-rent'"
            [routerLinkActiveOptions]="{exact: true}" (click)="onClick(menu)">{{nav.label}}</a>
            <a class="nav-link text-center" [routerLink]="nav?.path" [routerLinkActive]="'nav-link-active'"  *ngIf="nav?.path === '/pay-rent'"
            [routerLinkActiveOptions]="{exact: false}" (click)="onClick(menu)">{{nav.label}}</a>

          </span>

          <span *ngIf="nav?.type === 'dropdown'">
              <div class="dropdown show">  
                <a class="dropdown-toggle nav-link text-center" role="button" id="dropdownMenuLink" [class.nav-link-active]="router.isActive('/location/1321-north-jefferson-st-location') || router.isActive('/location/1687-US-441-location')" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{nav.label}}</a>
                <ul class="dropdown-menu location-list" aria-labelledby="dropdownMenuLink">
                  <li *ngFor="let sub of nav.sublinks text-center"><a class="dropdown-item" [routerLinkActive]="'location-active'" [routerLink]="sub?.path" (click)="onClick(menu)">{{sub.label}}</a></li>
                </ul>
              </div>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
