@import "../../styles.scss";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

.currentActive {
  border-bottom: 3px solid $light;
}

.text-justify {
  text-align: justify;
}

.storage-tip-holder {
  padding-top: 70px;
  min-height: 98vh;
  margin-bottom: 50px;

  .storage-content {
    min-height: 644px;

    .padding {
      padding: 48px;
    }

    ul {
      padding-left: 15px;
    }
  }
}

// Sticky Buttons
.contact-button {
  position: fixed;
  right: 0;
  top: 12%;
  z-index: 16;
}

@media screen and (max-width: 600px) {
  .storage-tip-holder {
    padding-top: 60px;

    .storage-content {
      .padding {
        padding: 0;
      }
    }
  }

  .contact-button {
    position: fixed;
    right: 0;
    top: 15%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 16;
  }
}