@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../styles.scss';

a {
    cursor: pointer;
}

.navbar {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);
}

.nav-link {
    color: $fontColor !important;
    font-weight: 600;
    transition-duration: 500ms;
    padding: 21px;
}

.nav-link:hover {
    color: $primary !important;
    // background: $primary;
    transition-duration: 500ms;
}

.router-link-active {
    color: $primary !important;
    border-bottom: 5px solid $primary;
}

.nav-link-active {
    color: $primary !important;
    border-bottom: 5px solid $primary;
}

.display {
    display: block;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    border: 1px solid $primary !important;
}

@media screen and (max-width: 900px) {
    .display {
        display: none;
    }

    .nav-link {
        text-align: center;
    }
}