@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../styles.scss";

a {
  cursor: pointer;
}

.iconColor {
  color: $primary;
}

.contact-header {
  display: inline;

  .contact-details {
    color: $primary;
    font-size: 0.82em;
    font-weight: 500;
  }
}

.social {
  a {
    color: $primary;
    text-decoration: none;
  }

  i {
    font-size: 1.2rem;
  }
}

.social :hover {
  color: $primary;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  .navbar-brand {
    img {
      top: 20px;
      position: absolute;
      height: 90px;
      width: auto;
    }
  }

  .nav-link {
    color: $white;
    font-weight: 600;
    padding: 21px;
  }

  .nav-link:hover {
    color: $secondary;
  }

  .nav-link-active {
    color: $secondary;
    border-bottom: 5px solid $secondary;
  }

  button {
    border-color: $white;

    .iconColor {
      color: $white;
    }
  }

  button:focus {
    outline: 2px auto $primary;
  }
}

.display {
  display: block;
}


@media screen and (max-width: 991px) {
  .display {
    display: none;
  }

  .nav-link {
    text-align: center;
  }

  .navbar {
    .navbar-brand {
      img {
        top: 16px;
        position: absolute;
        height: 60px;
        width: auto;
      }
    }
  }
}

@media only screen and (max-height: 480px) and (max-width: 991px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}
