<div class="contentHolder">
  <div class="container pb-5   padding-top">
    <h1 class="py-5 text-center">Rent Online</h1>
    <div class="row bg-light background-padding">
      <div class=" col-lg-7 col-md-7 coming p-3 scroll-wrapper" >
        <iframe id="advanced_iframe" name="advanced_iframe" src="https://state-storage-w.sim.syrasoft.com/UnitAvailability" width="100%"
          height="500px" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>
      </div>
      <div class="col-lg-5 col-md-5 px-4">
        <h3 class="view-rate-heading">Amenities</h3>
        <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/State_Storage_Workshop/state-storage-workshops.jpg"
        alt="photograph of several self storage unit buildings with square red doors" class="sectionImage" />
        <p class="view-rate-text text-justify" *ngFor="let viewRates of viewRates">
          {{viewRates.p}}
        </p>
      </div>
    </div>
  </div>
</div>