@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../styles.scss";

a {
  cursor: pointer;
}
.contact-details{
  a{
    color:#ffffff !important;
  }
}
.dropdown-menu {
  border-radius: 0;
  border: none;
  background-color: $primary;
  padding: 0;
  li {
    a {
      color: $white;
      font-weight: 400;
    }
  }
  li:hover {
    background-color: $white;
    a {
      color: $primary;
      font-weight: 400;
    }
  }
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item:active{
  background-color:transparent;
  color: $white;
}

.contact-header{
  color: white;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  button {
    color: #707070;
    border-color: #707070;
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.nav-link {
  color: $fontColor;
  font-weight: 600;
  padding: 25px;
  
}

.nav-link:hover {
  color: $primary;
}

.router-link-active {
  color: $primary;
  border-bottom: 5px solid $primary;
}

.nav-link-active {
  color: $primary;
  border-bottom: 5px solid $primary;
}

.display {
  background-color: #678d4e;
  display: block;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  
   border: 1px solid $primary;
}

.btn-payment {
  background-color: #ffffff;
  color: $primary;
  
}

.payment-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .3rem;
    padding-left: .3rem;
  }
}

// @media only screen and (min-width: 992px) {
//   .dropdown:hover>.dropdown-menu {
//     display: block;
//   }
// }



@media screen and (max-width: 991px) {
  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
  .nav-link {
    padding: 20px;
  }
  .dropdown-menu{
    position: absolute;
    align-content: center
  }
  .dropdown-menu {
    left: -28px;
  }
}



@media only screen and (max-width: 991px) and (max-height: 550px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
    
  }
}

@media screen and (min-width: 768px) {
  .payment-button {
    display: none;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .contact-details{
    
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 425px) and (min-width: 280px) {
  .navbar-nav-scroll{
    line-height: 0.5rem;
  }
  .dropdown-menu{
    line-height: 0.8rem;
  }
  .contact-details{
    display: block;
  }

  .contact-header{
    font-size: .9em;
    font-weight: 500;
    width: 100%;
  }

  @media only screen and (max-width: 330px){
    .contact-header{
      font-size: .7em;
      font-weight: 500;
      width: 100%;
    }
  }
}