@import '../../styles.scss';

.contentHolder {
    text-align: center;
    h3 {
        color: $fontColor;
        font-weight: 600;
    };
    p {
        color: $fontColor;
        font-weight: 600;
    };
}