<div class="">
  <div class="jumbotron-container">
    <div class="jumbotron-top">
      <!-- <div class="jumbotron px-0 m-0" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'"> -->
        <!-- <div class=" jumbotorn-skew-style" [ngClass]="template === 'darkTheme' ? 'bg-translucent-dark' : 'bg-translucent-light'">
        </div> -->
        <div class="jumbotron" >
          
          <!-- <video class="video-background " oncanplay="this.play()" onloadedmetadata="this.muted = true" autoplay loop>
            <source src="https://www.youtube.com/embed/Bf4rG_YsS3U" type="video/mp4">
            </video> -->
            <!-- <iframe width="100%" height="100%" 
              src="https://www.youtube.com/watch?v=Bf4rG_YsS3Uautoplay%3D1&mute=1&controls=0">
            </iframe> -->
            
            <!-- working -->
            
            <iframe class="video-background" width="2000px" height="1080px"  src="https://www.youtube.com/embed/Bf4rG_YsS3U?wmode=transparent&playlist=Bf4rG_YsS3U&loop=1&autoplay=1&mute=1" frameborder="0" playlist="">
            </iframe>
            <div class="jumbotron-image" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'"></div>
            <div class=" jumbotorn-skew-style1" [ngClass]="template === 'darkTheme' ? 'bg-translucent-dark' : 'bg-translucent-light'">
            </div>

        
        <!-- <iframe width="2000" height="1100" src="//www.youtube.com/embed/PEwac2WZ7rU?rel=0?version=3&autoplay=1&controls=0&&showinfo=0&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loop></iframe> -->
        <!-- working -->
        
        <!-- <iframe width="2000px" height="1100px" src="https://www.youtube.com/embed/Bf4rG_YsS3U?listType=playlist&playlist=Bf4rG_YsS3U&loop=1;autoplay=1&mute=1&controls=0&loop=1&" frameborder="0" allow="accelerometer; autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true" oncanplay="this.play()" onloadedmetadata="this.muted = true" autoplay loop></iframe> -->
        



        <!-- <iframe id="iframe_bgndVideo_home" class="playerBox" style="position: absolute; z-index: 0; width: 2560px; height: 1440px; top: 0px; left: 0px; overflow: hidden; opacity: 1; user-select: none; margin-top: -135px; margin-left: -680px; max-width: initial;" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360"
           src="https://www.youtube.com/embed/?modestbranding=1&amp;autoplay=0&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1&amp;version=3&amp;playerapiid=iframe_bgndVideo_home&amp;origin=https%3A%2F%2Feasystoragellc.com&amp;allowfullscreen=true&amp;wmode=transparent&amp;iv_load_policy=3&amp;cc_load_policy=0&amp;playsinline=0&amp;html5=1&amp;widgetid=1" unselectable="on"></iframe> -->

      <!-- <div class="container">
        <div class="jumbotorn-skew-text">
          <div class="disp" *ngFor="let jumbotron of jumbotron">
            <h2  class="my-4">
              {{jumbotron.h2}}
            </h2>
          <p class="text-justify">{{jumbotron.blurb}}</p>
          </div>
          <div class="jumbotorn-button">
            <a class="btn btn-lg btn-outline-primary" (click)="navigate('/view-rates')" role="button">View Rates</a>
            <a class="btn btn-lg btn-primary" (click)="navigate('/reserve-unit')" role="button">Reserve Unit</a>
          </div>
          </div>
        </div> -->
      </div>
      <!-- <div id="overlay"></div> -->
      </div>
    <div class="jumbotron-bottom">
      <div class="container">
        <div class="feature row">
          <div class="col-md-3 col-3 feature-icon-style" *ngFor="let feature of feature">
            <img [src]="feature?.path" [alt]="feature?.alt" />
              <h2 class="feature-text">{{feature.label}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-light">
    <div class="container py-4">
      <div class="section py-4 m-0">
        <div class="row">
          <div class="col-lg-6 py-3 home-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11259.045126408877!2d122.8494909!3d45.131173!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe77cec6879164004!2sEasy%2
              0Storage%20of%20Woodburn!5e0!3m2!1sen!2sus!4v1610138861326!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen rel="noopener" ></iframe> 
          </div>

          <div class="col-lg-6 py-3">
            <div class="mb-4 contact-details">
              
              <p>
                <span *ngFor="let contact of contactDetails" class="display-contact">
                  <span><h4><b>{{contact.label}}</b></h4></span><span class="contact-links" *ngIf="contact?.label === 'Email:' || contact?.label === 'Phone:' else other_content">
                    <h4><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></h4>
                  </span>
                  <ng-template #other_content>&nbsp;<h4>{{contact.data}}</h4></ng-template><br>
                </span>
              </p>
              <h4><b>Office Hours:</b></h4>
              <p>
                <span class="display-contact" *ngFor="let hour of hours">
                  <h4><b>{{hour.label}}</b></h4>&nbsp;<h4>{{hour.data}}</h4><br>
                </span>
              </p>
            </div>
            <div>
              <app-tables [tBody]="featuresList"></app-tables>
              <!-- <a class="btn btn-lg btn-primary" (click)="navigate('/contact-us')" role="button">Contact Us</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-lg-6 py-3">
          <!-- <img src="{{imageBaseUrl}}/inside-self-storage-unit.{{imagetype}}" width="100%" alt="{{aboutUsAlt}}" class="sectionImage"> -->
          <app-photos></app-photos>
        </div>
        <div class="col-lg-6 py-3">
          <h1 class="heading pb-4">{{aboutUsHeading}}</h1>
          <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="getStarted" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
    <div class="bg-translucent-dark">
      <div class="container">
        <div class="section py-5 m-0">
          <div class="row">
            <div class="col-md-12 py-3">
              <h2 class="heading pb-4">COVID-19 Policies</h2>
              <p class="pb-4">{{gettingStarted}}</p>
              <!-- <a class="btn btn-lg btn-primary" (click)="navigate('/reserve-unit')" role="button">Reserve Unit Now!</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
