<div [formGroup]="reserveUnitForm">
    <div class="loaderBg" *ngIf="showConfirmation">
        <div [class.loader]="showConfirmation ">   
        </div>
        <p class="px-2 my-2"><b>Confirming your Reservation, please wait...</b></p>
    </div>
    <div class="row">
        <div class="col-lg-6 p-3">
            <h3 class="mb-3">Tenant Information</h3>
            <table>
                <tbody>
                    <tr>
                        <td>
                            FirstName
                        </td>
                        <td>
                            {{this.reserveUnitForm.value.objTenant.FirstName}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            LastName 
                        </td>
                        <td>
                            {{this.reserveUnitForm.value.objTenant.LastName}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Phone Number 
                        </td>
                        <td>
                            {{this.reserveUnitForm.value.objTenant.Phone}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email Adddress
                        </td>
                        <td>
                            {{this.reserveUnitForm.value.objTenant.EmailAddress}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address Line 1
                        </td>
                        <td>
                            {{this.reserveUnitForm.value.objTenant.AddressLine1}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address Line 2
                        </td>
                        <td>
                            {{this.reserveUnitForm.value.objTenant.AddressLine2}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            City
                        </td>
                        <td>
                            {{this.reserveUnitForm.value.objTenant.City}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            State
                        </td>
                        <td>
                            {{this.stateString}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ZIP
                        </td>
                        <td>
                            {{this.reserveUnitForm.value.objTenant.ZIP}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 p-3 confirmation-style">
            <h3 class="mb-3">Unit Information</h3>
            <table class="p-2">
                <tbody>
                    <tr>
                        <td>
                            Unit Type
                        </td>
                        <td>
                            {{this.reserveUnitForm.value.lstUnitTypes[0].Description}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rate
                        </td>
                        <td>
                            {{this.reserveUnitForm.value.lstUnitTypes[0].MonthlyRate}}
                        </td>
                    </tr>
                    <tr *ngIf="this.reserveUnitForm.value.lstUnitTypes[0].ReservationFee > 0">
                        <td>
                            Reservation Charges
                        </td>
                        <td>
                            ${{this.reserveUnitForm.value.lstUnitTypes[0].ReservationFee}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Move In Date
                        </td>
                        <td>
                            {{MoveInString}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Period
                        </td>
                        <td>
                            {{this.reserveUnitForm.value.lstRentalPeriods[0].PeriodDescription}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
