$colour:green;
// header{
//     color:#087 ;
//     background-color:$colour;
// }
a{
    color:#999999
}
.container{
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;
}
header{
    padding: 1rem 0 3rem;
}