<div class="payRent">
  <h2 class="pb-1">Payment</h2>
  <div *ngIf="CCApprovalCode; else other"  class="go-to-home pt-4">
      Your payment of <strong>${{PaymentAmount}}</strong> was successful. Your confirmation number is: <strong>{{CCApprovalCode}}</strong> .
      <div class="py-3"><a (click)="navigate('/')">Go to Home</a>
        <!-- &nbsp; &nbsp; &nbsp;<a (click)="navigate('/pay-rent/payment')">Make another payment</a> -->
      </div>
  </div>

<ng-template #other>

  <form [formGroup]="payRentForm" (ngSubmit)="onSubmit()" class="pt-3">
      <div formGroupName="objPayment" class="">
        <div formGroupName="PayType" class="row">
          <div  class="form-group col-lg-5">
            <label for="lstPayTypes">Card Type*</label>&nbsp;
            <select class="form-control" formControlName="PayTypeDescription" [id]="lstPayTypes?.PayTypeDescription" 
            (change)="selectChangeHandler($event)"
            [ngClass]="{ 'is-invalid': submitted && f.objPayment.controls.PayType.controls.PayTypeDescription.errors }"
            >
              <option *ngFor="let lstPayTypes of lstPayTypes"
              [value]="lstPayTypes?.PayTypeDescription"
              [class.display-none]="lstPayTypes?.PayTypeID === -8"
              >
              <div *ngIf="lstPayTypes?.PayTypeID != -8">
                {{lstPayTypes.PayTypeDescription}}
              </div>
              </option>
            </select>
            <div *ngIf="submitted && f.objPayment.controls.PayType.controls.PayTypeDescription.errors" class="invalid-feedback">
                <small class="form-text text-muted" *ngIf="f.objPayment.controls.PayType.controls.PayTypeDescription.errors.required">
                  Please fill out this field
                </small>
            </div>
          </div>
          <div class="form-group">
              <input type="hidden" formControlName="PayTypeID" [value]="PayTypeIDValue" />
          </div>
        </div>
    
      <div class="form-group display">
        <label>Amount*</label>
        <div class="">
          <label>&nbsp;
            <input type="radio" [value]="balance" id="1" (change)="handleChange($event)" formControlName="PaymentAmount"  [checked]="balance">
            <span class="loader" *ngIf="!balance"></span>
            <span>Balance Due</span> &nbsp; <span *ngIf="balance < 0 ; else other"> (${{displayBalance}}) </span> 
            <ng-template #other ><span *ngIf="balance">$</span>{{displayBalance}}</ng-template>
          </label><br/>
          <label>&nbsp;
            <input type="radio" [value]="otherValue" id="2" (change)="handleChange($event)" formControlName="PaymentAmount">
              <span>Other Amount</span>
          </label>
          &nbsp;
          <span *ngIf="showInput == true">
            <input type="text" [value]="otherValue" (keyup)="onKey($event)" name="text" >
          </span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-5">
          <label>Cardholder's Name*</label>&nbsp;
          <input type="text" class="form-control" formControlName="CCAccountName" 
          [ngClass]="{ 'is-invalid': submitted && f.objPayment.controls.CCAccountName.errors }"
          />
          <div *ngIf="submitted && f.objPayment.controls.CCAccountName.errors" class="invalid-feedback">
              <small class="form-text text-muted" *ngIf="f.objPayment.controls.CCAccountName.errors.required">
                Please fill out this field
              </small>
          </div>
        </div>
        </div>

        <div class="row">
          <div class="form-group col-lg-5">
            <label>Credit Card Number*</label>&nbsp;
            <input  class="form-control" type="text" formControlName="CCAccountNumber" 
            [ngClass]="{ 'is-invalid': submitted && f.objPayment.controls.CCAccountNumber.errors }"
            />
            <div *ngIf="submitted && f.objPayment.controls.CCAccountNumber.errors" class="invalid-feedback">
                <small class="form-text text-muted" *ngIf="f.objPayment.controls.CCAccountNumber.errors.required">
                  Please fill out this field
                </small>
            </div>
          </div>
        </div>
  
  
  
        <div class="row ">
          <div class="form-group col-lg-12">
            <label>Expiration Date*</label>&nbsp;
              <div  class="row display-select">
                <div class="col-lg-2 col-md-3 col-sm-3 col-5">
                  <select  class="form-control custom-style " formControlName="CCExpirationMonth" [id]="month?.id" 
                  [ngClass]="{ 'is-invalid': submitted && f.objPayment.controls.CCExpirationMonth.errors }">
  
                      <option *ngFor="let month of month"
                      [value]="month?.id"
                      >
                      {{month.label}}   
                      </option>
                  </select>
                  <div *ngIf="submitted && f.objPayment.controls.CCExpirationMonth.errors" class="invalid-feedback">
                      <small class="form-text text-muted" *ngIf="f.objPayment.controls.CCExpirationMonth.errors.required">
                        Please fill out this field
                      </small>
                  </div>
                </div>
                &nbsp;
                <div class="col-lg-2 col-md-3 col-sm-3 col-5">
                  <select class="form-control custom-style" formControlName="CCExpirationYear" [id]="year" 
                  [ngClass]="{ 'is-invalid': submitted && f.objPayment.controls.CCExpirationYear.errors }">
                  >
                      <option *ngFor="let year of year"
                      [value]="year"
                      >
                      {{year}}   
                      </option>
                  </select>
                  <div *ngIf="submitted && f.objPayment.controls.CCExpirationYear.errors" class="invalid-feedback">
                      <small class="form-text text-muted" *ngIf="f.objPayment.controls.CCExpirationYear.errors.required">
                        Please fill out this field
                      </small>
                  </div>
                </div>
              </div>
            </div>
        </div>
  
        <div class="row">
          <div class="form-group col-lg-5">
            <label>CVV2</label>&nbsp;
            <input type="text" class="form-control" formControlName="CCAccountCVV2" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-lg-5">
            <label>Cardholder's Address*</label>&nbsp;
            <input type="text" class="form-control" formControlName="CCAccountBillingAddress" 
            [ngClass]="{ 'is-invalid': submitted && f.objPayment.controls.CCAccountBillingAddress.errors }"
            />
            <div *ngIf="submitted && f.objPayment.controls.CCAccountBillingAddress.errors" class="invalid-feedback">
                <small class="form-text text-muted" *ngIf="f.objPayment.controls.CCAccountBillingAddress.errors.required">
                  Please fill out this field
                </small>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="form-group col-lg-5">
            <label>Zip Code*</label>&nbsp;
            <input type="text" class="form-control" formControlName="CCAccountZIP" 
            [ngClass]="{ 'is-invalid': submitted && f.objPayment.controls.CCAccountZIP.errors }"
            />
            <div *ngIf="submitted && f.objPayment.controls.CCAccountZIP.errors" class="invalid-feedback">
                <small class="form-text text-muted" *ngIf="f.objPayment.controls.CCAccountZIP.errors.required">
                  Please fill out this field
                </small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="checkbox" formControlName="SignUpForAutoPay" (change)="toggleEvent()"/> &nbsp;
          <label>Sign up for Auto Pay</label>
        </div>
    </div>


      <div class="form-group mr-3 row button-style">
        <div class="col-lg-6 text-center">
          <button type="submit" class="btn btn-primary">Make a Payment</button>
        </div>
      </div>
  
  </form>
</ng-template>

  
  <div class="form-group row button-style mt-4">
    <div class="col-lg-6">
      <button (click)="signOut(logOut)" class="btn btn-primary">LogOff</button>
    </div>
  </div>  
</div>
