@import "../../styles.scss";

.gallery-content {
  padding: 64px;
  background-color: $light;
  margin-bottom: 50px;

  .selectedImageM {
    img {
      border: 2px solid $white;
    }
  }

  .data {
    h3 {
      text-transform: capitalize;
      font-size: 1.5rem;
    }
  }

  .thumbnailsList {
    img {
      width: 70px;
      box-shadow: none;
      border: 1px solid $white;
      margin-top: 5px;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .gallery-content {
    padding: 16px;

    h3 {
      padding-top: 16px;
    }
  }
}
