<div class="contentHolder">
  <div class="container pb-5   padding-top">
    <h1 class="py-5 text-center">View Our Rates</h1>
    <div class="bg-light background-padding">
      <div class="row">
        <div class=" col-lg-12 col-md-12 coming p-3 scroll-wrapper" >
          <router-outlet></router-outlet>
        </div>
        </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 p-3">
          <h3 class="view-rate-heading">Amenities</h3>
          <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Sto_And_Go/sto-and-go-photo.jpg"
          alt="photograph of a self storage facility building from across the street" class="sectionImage" width="100%" height="100%"/>
        </div>
        <div class="col-lg-6 col-md-6 p-3">
          <p class="view-rate-text text-justify" *ngFor="let viewRates of viewRates">
            {{viewRates.p}}
          </p>
        </div>
    </div>
  </div>
</div>