
@import "../../../styles.scss";

.display-none {
  display: none;
}

.rent-example {
  border-left: 1px $border solid;
  padding-left: 5%;

  p {
    padding: 0;
    margin: 0;
  }
}

.contact-data {
  a {
    color: black;
  }
  display: block;
  margin-bottom: 8px;
}

.modal-open {
  .modal-backdrop {
    background: none;
  }
}

.questions-heading {
  display: block;
  margin-bottom: 8px;
}

.forgot-link {
  a {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
  }
  margin-bottom: 10px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid $primary;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 15%;
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button-display {
  display: flex;
  align-items: end;
}

@media only screen and (max-width: 767px) {
  .rent-example {
    border-left: none;
    // padding-left: 20px;
    // padding-top: 20px;
  }
}
