<div class="row">
    <div class="col-md-7 p-3">
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div [hidden]="" *ngIf="submitted && credentialsInvalid" class="button-display alert alert-success alert-danger fade show">
                        Either the supplied username does not exist, or the supplied credentials are incorrect. Please try again.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div [class.loader]="showLoader"  *ngIf="!showPayRent && allowedToshow">
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-12">
                    <label for="name">UserName</label> &nbsp;
                    <input id="name" type="text" formControlName="strUserName"  
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.strUserName.errors }"
                    />
                    <div *ngIf="submitted && f.strUserName.errors" class="invalid-feedback">
                        <small class="form-text text-muted" *ngIf="f.strUserName.errors.required">Please fill out this field</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-12">
                    <label for="password">Password</label> &nbsp;
                    <input id="password" type="password" formControlName="strPassword" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.strPassword.errors }"  
                    />
                    <div *ngIf="submitted && f.strPassword.errors" class="invalid-feedback">
                        <small class="form-text text-muted" *ngIf="f.strPassword.errors.required">Please fill out this field</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" (click)="handleShowLoader()"
                >Login</button>
            </div>
        </form>
    </div>

    <div class="forgot-link">
        <a (click)="navigate('/pay-rent/forgotPassword')">Forgot Password</a>
    </div>
    <div class="forgot-link">
        <a (click)="openBox()" >Change Your Password</a>
        <!-- <a  data-toggle="modal" data-target="#myModal">Change Your Password</a> -->

        <!-- Modal -->
        <!-- <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog"> -->
                <!-- Modal content-->
                <app-login-modal *ngIf="!!open" (someEvent)="openBox()"></app-login-modal>
            <!-- </div>
        </div> -->
    </div>
</div> 
<div class="col-md-5 rent-example p-3" >
    <h2> How to Login </h2>
    <p class="pt-3"> <b>Username:</b> Tenant's First Initial + Last Name </p>
    <p> <b>Password:</b> Phone Number </p>
    <p class="py-3"> <b>Example:</b></p>
    <p class="pb-2"> John Smith's phone number is 555-555-5555</p>
    <p class="pb-2"> John's Username: jsmith</p>
    <p>John's Password: 5555555555</p>

    <p class="pt-3"><b class="questions-heading">Have questions about your account?</b>
    
    <span *ngFor="let contact of contact"  [class.display-none]="contact?.id === 0">
      <span class="contact-data">
      <a [href]="contact?.redirect">{{contact.data}}</a></span>
  </span>
  </div>  
</div> 
 
