@import "../../styles.scss";

.padding-top {
  padding-top: 100px;
}

iframe {
  max-width: 100%;
}

.reserve-block {
  background: $light;

  .col-md-12 {
    padding: 64px;
  }
}

@media only screen and (max-width: 600px) {
  .padding-top {
    padding-top: 70px;
  }

  .reserve-block {
    background: $light;
  
    .col-md-12 {
      padding: 24px 16px;

      iframe {
        height: 600px;
      }
    }
  } 
}
