<div class="direction-holder">
  <div class="container px-0">
    <div class="row">
      <div class="col-md-6">
        <h2>{{directionHeading}}</h2>
        <div *ngFor="let dir of directionPoints" class="py-0">
          <p class="py-0 mb-0 mt-4"> {{dir.label}} </p> 
          <ul class="py-0 pl-3">
            <li *ngFor="let data of dir?.datas" class="py-0">   {{data.content}}   </li>
          </ul>  
        </div>
      </div>
      
      <div class="col-md-6 map-responsive">
        <span *ngIf="id === 1">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11648.846704027552!2d-77.4961197!3d43.1210793!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9ba11914c8f2cb7f!2sLinden+Self+Storage!5e0!3m2!1sen!2sus!4v1550697273176" width="100%" height="400px" frameborder="0" allowfullscreen></iframe>
          <a class="btn btn-primary py-2 w-100 mt-3 ml-0" target="_blank" href="https://www.google.com/maps/dir//Linden+Self+Storage,+870+Linden+Ave,+Rochester,+NY+14625/@43.1210793,-77.4961197,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89d6cb3e4b677129:0x9ba11914c8f2cb7f!2m2!1d-77.4961197!2d43.1210793!3e0" role="button">CLICK HERE FOR CUSTOM DRIVING DIRECTION</a>                                       
        </span>
        <span *ngIf="id === 2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.9626552856503!2d-77.32547368424314!3d43.06325297914597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d12ce65252c41f%3A0x9af90e3149edf9fd!2sMacedon+Storage!5e0!3m2!1sen!2sus!4v1550699857008" width="100%" height="400px" frameborder="0"  allowfullscreen></iframe>
          <a class="btn btn-primary py-2 w-100 mt-3 ml-0" target="_blank" href="https://www.google.com/maps/dir//Macedon+Storage,+Macedon,+NY+14502/@43.063253,-77.3254737,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89d12ce65252c41f:0x9af90e3149edf9fd!2m2!1d-77.323285!2d43.063253!3e0" role="button">CLICK HERE FOR CUSTOM DRIVING DIRECTION</a>                                       
        </span>
       </div>
    </div>
  </div>
</div>
