<div class="unit-sizer-container">
  <div class="container px-0">
      <span *ngIf="id === 1">
          <h2 class="text-center">Unit Sizer</h2>
          <p class="text-center">This location offers a wide range of unit sizes.  A professional and knowledgeable storage associate will be glad to help you determine which size will best meet your needs.  AllSpace’s units have 9 to 10-foot ceilings, which allows you to stack higher and store more for your money.  A wide selection of moving and storage supplies are available for sale at every AllSpace
            location.  We accept Discover, MasterCard, and Visa.  Sign up for our Easy Pay program, and we’ll charge your credit card automatically.  The following unit sizes are available at the Poughkeepsie/Arlington site.</p>
      </span>
      <span *ngIf="id === 2">
          <h2 class="text-center">Unit Sizer</h2>
          <p class="text-center">This location offers a wide range of unit sizes, including some climate controlled. A professional and knowledgeable storage associate will be glad to help you determine which size will best meet your needs. AllSpace’s units have 9 to 10 foot ceilings, which allows you to stack higher and store more for your money. A wide selection of moving and storage supplies are available for sale at every AllSpace location. We accept Discover, MasterCard, and Visa. Sign up for our Easy Pay program, and we’ll charge your credit card automatically. The following unit sizes are available at the Highland site.</p>
      </span>
      <span *ngIf="id === 3">
          <h2 class="text-center">Unit Sizer</h2>
          <p class="text-center">This location offers a wide range of unit sizes, including many climate controlled. A professional and knowledgeable storage associate will be glad to help you determine which size will best meet your needs. AllSpace’s units have 9 to 10 foot ceilings, which allows you to stack higher and store more for your money. A wide selection of moving and storage supplies are available for sale at every AllSpace location. We accept Discover, MasterCard, and Visa. Sign up for our Easy Pay program, and we’ll charge your credit card automatically. The following unit sizes are available at the Lake Katrine/Kingston site.</p>
      </span>
      <span *ngIf="id === 4">
          <h2 class="text-center">Unit Sizer</h2>
          <p class="text-center">This location offers a wide range of unit sizes, including many climate controlled. A professional and knowledgeable storage associate will be glad to help you determine which size will best meet your needs. AllSpace’s units have 9 to 10-foot ceilings, which allows you to stack higher and store more for your money. A wide selection of moving and storage supplies are available for sale at every AllSpace location. We accept Discover, MasterCard, and Visa. Sign up for our Easy Pay program, and we’ll charge your credit card automatically. The following unit sizes are available at the Pawling/Brewster site.</p>
      </span>
      <span *ngIf="id === 5">
          <h2 class="text-center">Unit Sizer</h2>
          <p class="text-center">This location offers a wide range of unit sizes. A professional and knowledgeable storage associate will be glad to help you determine which size will best meet your needs. AllSpace’s units have 9 to 10-foot ceilings, which allows you to stack higher and store more for your money. A wide selection of moving and storage supplies are available for sale at every AllSpace location. We accept Discover, MasterCard, and Visa. Sign up for our Easy Pay program, and we’ll charge your credit card automatically. The following unit sizes are available at the Poughkeepsie/Hyde Park site.</p>
      </span>

    <div class="container py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 p-2" *ngFor="let unit of unitSizer">
            <div class="bg-white" style="height: 100%;">
              <div class="text-center">
                <img [src]="unit?.img" height="auto" width="100%" alt="Unit Sizer in Affordable Rate" class="pt-4 px-4">
              </div>
              <div class="p-3">
                <h5 class="text-center"> {{unit.size}} </h5>
                <!-- <p class="text-center" > {{unit.data}} </p> -->
                <ul>
                  <li *ngFor="let amenity of unit?.amenities"> 
                    <div [innerHTML]="amenity.content"> </div> 
                  </li>
                </ul>
              </div>      
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>