@import "../../styles.scss";

.footer {
  color: $white;
  text-align: center;
  font-size: 0.7em;
}

.secure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.privacy-policy {
  a {
    color: $white;
  }
}

@media only screen and (max-width: 360px) {
  .secure {
    img {
      width: 110px;
    }
  }
}
