@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "../../styles.scss";

a {
  cursor: pointer;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  button {
    color: #707070;
    border-color: #707070;
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.nav-link {
  color: $fontColor;
  font-weight: 600;
  padding: 30px;
}

.nav-link:hover {
  color: $primary;
}

.router-link-active {
  color: $primary;
  border-bottom: 5px solid $primary;
}

.nav-link-active {
  color: $primary;
  border-bottom: 5px solid $primary;
}

.display {
  display: block;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border: 1px solid $primary;
}
@media screen and (max-width:1199px) and (min-width:992px){
  .px-2 {
    padding-right: .4rem!important;
}

}
@media screen and (max-width: 991px) {
  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
}

@media only screen and (max-width: 991px) and (max-height: 580px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}
