<div  itemscope itemtype="https://schema.org/SelfStorage" itemtype="https://schema.org/LocalBusiness">
  <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Grays_Creek/jpg/stock-self-storage-169.jpg" />
  <span hidden itemprop="name">{{facilityName}}</span>
  <span hidden itemprop="areaServed" itemscope itemtype="https://schema.org/State">
    <span itemprop="name">{{state}}</span>
  </span>
  <!-- <app-microdata></app-microdata> -->
  <div [class.loader]="!showTable">
  </div>
  <div [class.loader]="showLoader" class="loader-position"> 
  </div>
  <table  class="viewrates-desktop" itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
      <tHead [class.display]="!showTable">
          <tr>
            <th colspan="2"  class="px-4 py-1 text-center" *ngFor="let th of th" id={{th.id}}>
              {{th.data}}
            </th>
          </tr>
      </tHead>
      <span hidden itemprop="name">{{facilityName}}</span>

      <meta itemprop="name" content="{{facilityName}}" />

      <tbody itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
        <tr itemprop="itemOffered" itemscope itemtype="https://schema.org/SelfStorage" *ngFor="let lstUnitType of LstUnitTypes" >
          <td  colspan="2" style="width: 15%;" class="px-4 border text-center">
            <span hidden itemprop="name">{{lstUnitType.Description}} unit Type </span>
              {{lstUnitType.Description}}
              <meta itemprop="description" 
              content="{{lstUnitType.Description}}" />
              <link itemprop="image" href="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Grays_Creek/jpg/stock-self-storage-169.jpg" />

          </td>
          <td  colspan="2" class="px-4 border text-center" *ngIf="showRate">
              <span *ngIf="lstUnitType.MonthlyRate != null">$</span>{{lstUnitType.MonthlyRate | number : '1.2-2'}}
              <meta itemprop="priceRange" content="{{lstUnitType.MonthlyRate}}" />
          </td>
          <td  colspan="2" class="px-4 border text-center" *ngIf="showDeposit" >
            <span *ngIf="lstUnitType.DepositAmount != null">$</span>
            {{lstUnitType.DepositAmount | number : '1.2-2'}} 
            
          </td>
          <!-- <td id="reserve" colspan="2" class="py-2 px-4 border text-center" *ngIf="lstUnitType.IsUnitsAvailable && showReserve; else other_reserve" >
              <button (click)="navigate('/view-rates/reserve', lstUnitType )">Reserve</button>
          </td> -->
          <!-- <td id="move-in" colspan="2" class="py-2 px-4 border text-center" *ngIf="lstUnitType.IsUnitsAvailable && showMovein; else other_moveIn" >
            <button (click)="navigate('/view-rates/move-in', lstUnitType)"> Move In</button>
            <link *ngIf="lstUnitType.IsUnitsAvailable" itemprop="availability" href="https://schema.org/InStock" />
          </td> -->
          <td  colspan="2" class="px-4 border text-center" *ngIf="lstUnitType.IsClimateControlled && showClimateControl; else other_climate">
            <strong> Yes</strong>
          </td>
          <ng-template #other_climate >
            <td  colspan="2"  class="px-4 border text-center" *ngIf="showClimateControl">
              <!-- <div>Currently unavailable. Please call us for more information.</div> -->
            </td>
          </ng-template>
          <ng-template #other_reserve >
            <td   id="reserve" colspan="2" class="py-2 px-4 border" *ngIf="showReserve">
              <div class="text-center">Currently unavailable. Please call us for more information.</div>
            </td>
          </ng-template>
          <ng-template #other_moveIn >
            <td  id="move-in"  colspan="2" class="py-2 px-4 border" *ngIf="showMovein">
            <div  class="text-center">Currently unavailable. Please call us for more information.</div>
          </td>
          </ng-template>
        </tr> 

      </tbody>
  </table>
  <div class="row viewrates-mobile py-2 border" *ngFor="let lstUnitType of LstUnitTypes">
    <div class="col-6 text-center ">  
      <strong>Unit Size</strong>
    <div class=" py-1 ">{{lstUnitType.Description}}</div>
    <div class="row">
        <div class="col-6 text-center " *ngIf="showRate">
            <p class=" "><b><u>Rate</u></b></p>
            <div class=" "><span *ngIf="lstUnitType.MonthlyRate != null">$</span>{{lstUnitType.MonthlyRate | number : '1.2-2'}}</div>
        </div>
        <div   class="col-6 "[class.ClimateBorder]="lstUnitType.IsClimateControlled" *ngIf="showClimateControl" >
            <div class=" ClimateControlled" *ngIf="lstUnitType.IsClimateControlled" >Climate Controlled</div>
        </div>
      </div>
    </div>
      <div class="col-6 d-flex justify-content-center" >
        <div  *ngIf="lstUnitType.IsUnitsAvailable; else other">
          <!-- <div id="reserve"   class=" py-1 buttons" *ngIf="showReserve">
              <button class="btn btn-primary" (click)="navigate('/view-rates/reserve', lstUnitType )">Reserve</button>
          </div> -->
          <!-- <div id="move-in"   class="py-1 buttons" *ngIf="showMovein"> 
              <button class=" btn btn-outline-primary" (click)="navigate('/view-rates/move-in', lstUnitType)"> Move In</button>
          </div> -->
        </div>
        
        <ng-template #other> 
          <div  class="text-right" *ngIf="showMovein || showReserve" ><p class="card-text ">Currently unavailable. Please call us for more information.</p></div>
        </ng-template>
    </div>
  </div>
</div>
