<div class="containHolder mb-5">
  <div class="container">
    <h1 class="text-center py-5">Pay Rent for Highway 27 Mini Storage - Pierz</h1>
    <div class="pay-rent-holder py-5">
      <div class="row">
          <div class="col-md-8 mx-0">
              <iframe id="advanced_iframe" name="advanced_iframe" src="https://highway27storage.sim.syrasoft.com/PayNow" width="100%"
              height="300px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>  
          </div>
          <div class="col-md-4 rent-example" >
              <h2> How to Login </h2>
              <p> <b>Username:</b> First Initial + Last Name<br>
              <p> <b>Password:</b>  Full Phone Number
                <br> 
              <p> <b>Example</b> <br>
              <p>John Smith's Phone number is 555-555-5555
                <br>
              <p> <b>John's Username:</b> jsmith<br>
              <p> <b>John's Password:</b> 5555555555 <br>
              <p> <b>Have question about your account?</b> </p>
              <p> <a href="tel:3206324988">(320) 632-4988</a> </p>
              <p><a href="mailto:littlefallsministorage@gmail.com">littlefallsministorage@gmail.com</a></p>
        </div> 
      </div>
    </div>
  </div>
</div>

