@import "../../../styles.scss";

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid $secondary;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 25%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.forgot-buttons {
  .btn {
    min-width: 150px;
  }
}

@media only screen and (max-width: 576px) {
  .forgot-buttons {
    .btn {
      min-width: 100%;
    }
  }
}
