@import "../../styles.scss";

.footer {
  text-align: center;
  font-size: 0.7em;
}

.secure {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 360px) {
  .secure {
    img {
      width: 110px;
    }
  }
}