@import "../../styles.scss";

.contact-details {
  h4 {
    font-size: 1rem;
  }
}

.display-contact {
  display: flex;
 
  
}
.btn-outline-primary {
  color: $white !important;
}

.btn-outline-primary:hover {
  color: $white !important;
}

.btn-primary {
  margin-left: 10px;
}

.background-padding {
  padding: 64px;
}

.contact-links {
  a {
    color: white;
  }
  margin-bottom: 5px;
}

// .contact-map {
//   border: 2px solid white;
// }

.contentHolder {
  h1 {
    margin-block-end: 0;
  }
}
.contact-top {
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Aallen_Storage/contact-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  height: 60vh;

  .jumbotorn-top {
    padding: 0% 8%;
  }
}

.locate-us-style {
  td {
    padding: 2px 15px;

    a {
      color: $white;
    }
  }
}

// .contact-bottom {
//   padding: 48px 0;
// }

.bg-translucent {
  height: 60vh;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

// .content-margin-top {
//   margin-top: 64px;
// }

label {
  font-size: 0.875rem;
}

.form-group {
  input {
    background-color: $dark-background;
    border: 1px solid $primary;
    color: $white;
  }

  input:focus {
    background-color: $dark-background;
    border: 1px solid $primary;
  }

  textarea {
    background-color: $dark-background;
    border: 1px solid $primary;
    color: $white;
  }

  textarea:focus {
    background-color: $dark-background;
    border: 1px solid $primary;
  }


  input::placeholder {
    color: #c7c7c7;
  }

  textarea::placeholder {
    color: #c7c7c7;
  }

  .form-control:focus {
    box-shadow: none;
  }
}


.content-Holder {
  color: $fontColor;

  h2 {
    color: $white;
    border-bottom: 1px solid $primary;
    margin: auto;
    font-size: 2.25rem;
    width: 250px;
    text-align: center;
  }
}

.btn-outline-primary {
  margin: 4px;
}

.btn-primary {
  margin: 4px;
}

@media only screen and (min-width: 992px) and (min-height: 601px) and(max-height: 950px) {
  .contact-top {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }

  .jumbotorn-top {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }

    position: relative;
    top: 10%;
  }
}

@media only screen and (min-width: 992px) and (max-height: 600px) {
  .contact-top {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }

  .jumbotorn-top {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (max-height: 767px) {
  .contact-top {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }

  .content-Holder {
    h2 {
      font-size: 2rem;
      width: auto;
    }
  }

  .jumbotorn-top {
    display: none;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 900px) and (min-height: 768px) {
  .content-Holder {
    h2 {
      font-size: 2rem;
      width: auto;
    }
  }

  .contact-top {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;

    .jumbotorn-top {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-top {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }

  .btn-primary {
    min-width: 150px;
  }

  .btn-outline-primary {
    min-width: 150px;
  }

  .content-Holder {
    h2 {
      width: auto;
    }
  }

  .jumbotorn-top {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
    }

    top: 10%;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .contact-top {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }

  .jumbotorn-top {
    display: none;
  }

  .content-Holder {
    h2 {
      font-size: 2rem;
      width: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact-top {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    height: 40vh;
  }

  // .content-margin-top {
  //   margin-top: 36px;
  // }

  // .contact-bottom {
  //   padding: 16px 0;
  // }
}

@media only screen and (max-width: 445px) {
  .btn-primary {
    min-width: 100%;
    margin: 10px 0 0 0;
  }

  .btn-outline-primary {
    min-width: 100%;
    margin: 0;
  }

  // .contact-bottom {
  //   padding: 16px 0;
  // }
}
