@import "../../styles.scss";

.contact-details {
  h4 {
    font-size: 1rem;
  }
}

.display-contact {
  display: flex;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 100vh;
  color: $white;
  overflow: hidden;
  border-radius: 0;
}

.carousel-caption {
  bottom: 40px;

  img {
    height: 120px;
  }
}


  .carousel-indicators {
    li {
      width: 0.8rem;
      height: 0.8rem;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px $primary solid;
      position: relative;
      flex: 0 1 auto;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      border-radius: 50%;
    }

    .active {
      background-color: $primary;
    }
  }

  .carousel-item {
    max-width: 100%;

    .active {
      background-position: center center;
    }

    p {
      text-align: center;
      font-size: 1rem;
    }
  }


.jumbotron-top-jpg {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Soaring_Eagle/jpg/campground-aerial-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron-top1-jpg {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Soaring_Eagle/jpg/campground-dock-sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.jumbotron-top-webp {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Soaring_Eagle/webp/campground-aerial-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron-top1-webp {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Soaring_Eagle/webp/campground-dock-sunset.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.home-map {
  iframe {
    border: 2px solid white;
  }
}

.feature-icon-style {
  padding: 24px;
  text-align: center;

  img {
    padding: 10px;
    height: 100px;
  }

  h2 {
    font-size: 1rem;
  }
}

.contact-links {
  a {
    color: black;
  }
}

.content-align {
  text-align: right;
}

.getStarted {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;
  text-align: center;

  h2 {
    font-size: 2.25rem;
  }
}

.disp {
  text-align: center;
  color: $white;

  h2 {
    font-size: 2.3rem;
    font-weight: 600;
  }
}

.jumbotron-top {
  height: 100vh;
}

.jumbotron-bottom {
  height: 20vh;
  display: flex;
  align-items: center;
}

.jumbotorn-skew-style {
  text-align: center;
  padding: 40px;

  a {
    margin-top: 20px;
  }

  p {
    display: block;
    // margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
  }
  h1{
    // margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }
}


.display {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}


.btn-primary {
  background-color: #81301f;
  border-color: #81301f;
  color: #fff!important;
  min-width: 200px;
  border-radius: 25px;
  margin: 8px;
}

.btn-outline-primary {
  background-color: transparent;
  min-width: 200px;
  color: #fff!important;
  border-radius: 25px;
}





@media only screen and (min-width: 1200px) and (max-height: 750px) and (min-height: 640px) {
  .disp {
    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .jumbotorn-skew-style {
    margin-top: 200px;
  }
  
}

@media only screen and (min-width: 1200px) and (max-height: 639px) and (min-height: 480px) {
  .jumbotron {
    height: 100vh;
  }

  .jumbotorn-skew-style {
    margin-top: 60px;
    padding: 20px;
  }

  .disp {
    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 479px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;

    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    display: none;
  }



  .jumbotorn-button {
    padding: 10px;
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {

}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 750px) and (min-height: 640px) {
  .feature-icon-style {
    img {
      height: 80px;
    }

    h2 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 639px) and (min-height: 480px) {
  .jumbotron {
    height: 100vh;
  }

  .jumbotorn-skew-style {
    padding: 20px;
    margin-top: 40px;
  }

 .disp {
   h1 {
     font-size: 2rem;
   }

   p {
     font-size: 0.9rem;
   }
 }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 479px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }


  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    display: none;
  }


  .jumbotorn-button {
    padding: 10px;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h2 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 150px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .jumbotorn-skew-style {
  }

}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 700px) and (min-height: 480px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 160px;
  }

  .disp {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .button-top-margin {
    .btn-outline-primary {
      font-size: 1rem;
    }

    .btn-primary {
      font-size: 1rem;
    }
  }

  .jumbotorn-skew-style {
    padding: 20px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 479px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }


  .feature {
    display: none;
  }


  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotorn-skew-style {
    padding: 20px;
    margin-top: 20px;
  }

  .disp {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 700px) and (min-height: 480px)  {
  .jumbotorn-skew-style {
    padding: 20px;
    margin-top: 20px;
  }

  .disp {
    h1 {
      font-size: 1.8rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .button-top-margin {
    .btn-outline-primary {
      font-size: 1rem;
    }

    .btn-primary {
      font-size: 1rem;
    }
  }
}


@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 479px) {
  .jumbotorn-skew-style {
    display: none;
  }
}


@media only screen and (max-width: 600px) and (min-width: 486px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }


  .jumbotorn-skew-style {
    padding: 20px;

    h1 {
      font-size: 1.8rem;
    } 

    p {
      font-size: 0.9rem;
    }
  }

  .button-top-margin {
    .btn-outline-primary {
      font-size: 1rem;
    }

    .btn-primary {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) and (min-width: 486px) and (max-height: 479px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .jumbotorn-skew-style {
    display: none;
  }
}

@media only screen and (max-width: 485px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .jumbotorn-skew-style {
    display: none;
  }
}
