<div class="view-rates-top" [ngClass]="imagetype === 'jpg' ? 'view-rates-top-jpg' :  'view-rates-top-webp'">
  <div class="bg-translucent">
      <div class="container jumbotorn-top text-center" *ngFor="let viewRates of viewRates">
          <h1 class="pb-4">{{viewRates.heading}}</h1>
          <p>{{viewRates.blurb}}</p>
        </div>
  </div>
  
</div>
<div class="horizontal-row">
  <p class= "textbottom">
    We will no longer be sending out a monthly paper billing. Billing can be received by text or email after providing the information on the website, or by giving us a call to get your email and/or phone number in our records. Please provide current phone numbers, email address, and storage unit numbers on future checks & mail in payments.If there are any questions about your billing please give us a call or email us.</p>
  </div>

<div class="content-Holder bg-dark-background view-rates-bottom">
  <div class="container py-5">
    <h2 class="pb-3">{{viewRatesHeading}}</h2>
    <div class="row content-margin-top">
      <div class="col-md-12 py-3 view-rates-map">
          <router-outlet></router-outlet>
      </div>
    </div>
<div class="row">
  <div class="col-md-6 py-3">
    <img src="{{imageBaseUrl}}/storage-units-construction.{{imagetype}}" alt="self storage units being built under a blue sky" width="100%" />
  </div>
  <div class="col-md-6 py-3"> 
    <p  *ngFor="let viewRate of viewRate ">
      {{viewRate.p}}
    </p>
  </div>
</div>
  </div>
</div>
