@import "../../styles.scss";


.storage-tips-top {
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Fortress_Images/backImg/black-box-box-boxes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: bottom right;
  height: 60vh;

  .jumbotorn-top {
    padding: 0% 8%;
  }
}

.storage-tips-bottom {
  padding: 48px 0;
}

.bg-translucent {
  height: 60vh;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.content-Holder {
  text-align: center;

  .storage-left {
    color: $white;
    line-height: 2;
  }

  h2 {
    color: $white;
    border-bottom: 1px solid $primary;
    margin: auto;
    font-size: 1.7rem;
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (max-height: 767px) {
  .jumbotorn-top {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .storage-tips-top {
    height: 40vh;
  }

  .storage-tips-bottom {
    padding: 16px 0;
  }

  .jumbotorn-top {
    display: none;
  }

  .content-Holder {
    h2 {
      display: block;
    }
  }
}
