@import "../../styles.scss";

.card {
  border: none;
  border-radius: 0;
  text-align: left;
}


.card-header {
  padding: 0;
  background-color: #707070;
  color: $white;
  border-radius: 0;
  font-weight: 600;
}

.card-body {
  padding: 20px;
  color: white;
  background-color: #848484;
  margin: auto;
}

ul {
  padding-inline-start: 36px;
  list-style: none;

  li {
    color: white;
  }

  li:not(:last-child) {
    margin-bottom: 6px;
  }
}

.card-header-before-collapse {
  cursor: pointer;
}

.card-header-before-collapse::after {
  font-family: (FontAwesome);
  content: "\f106";
  float: right;
}

.collapsed::after {
  content: "\f107";
}