<div class="footer bg-light py-4">
  <div class="container"> 
    <div class="row">
       <div class="col-4 my-auto footer-text-align">
          &copy; 2019 Crows Run Self Storage
        </div>
        <div class=" col-4 passa-logo-align text-center">
          <a target="_blank" href="https://www.paselfstorage.org/"><img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Crows_Run/passa-logo.png" alt="logo artwork that displays the name Pennsylvania Self Storage Association and the keystone shaped logo of the Pennsylvania Self Storage Association"></a>
        </div>
        <div class="col-4 syrasoft-logo"> 
            <a class="syrasoft-logo-align" target="_blank" href="https://www.syrasoft.com/"  rel="nofollow"> <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredDark.svg" alt="" height="50px"> </a> 
        </div>
    </div>
   </div> 
 </div>