<div class="contentHolder">
  <div *ngFor="let specialRow of specialRow" class="specialRow text-center">
    <h2 class="pt-3 pb-2"><strong>{{specialRow.h2}}</strong></h2>
    <p class="pb-4">{{specialRow.text}}</p>
  </div>
  <div class="container ">
    <h1 class="py-5 text-center">View Rates</h1>
    <div class="custom-padding">
      <div class="row bg-light padding">
        <p class="m-auto text-center"><strong>Note: The promotion will be applied by a member of our team after an online move-in.</strong></p>
        <div class="col-xl-8 col-lg-12 coming p-3" >
          <iframe id="advanced_iframe" name="advanced_iframe" src="https://extonstore-n-more.sim.syrasoft.com/UnitAvailability" width="100%"
            height="2582px" scrolling="yes" frameborder="0" border="0" allowtransparency="true"></iframe>
        </div>
        <div class="col-xl-4 col-lg-12 p-3">
          <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Exton_Store/exton-store-n-more-view-rates.jpg" alt="Photograph of climate-controlled self storage units" class="sectionImage" width="auto"/>
          <div class="mt-4 justify" *ngFor="let data of dataViewRates">
            <p>{{data.p}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>