<div class="payment-top">
  <div class="bg-translucent">
      <div class="container jumbotorn-top text-center">
          <h1 class="pb-4">Pay Your Rent Online</h1>
          <p>Use our handy online bill pay feature to make your payments online 24/7! Just follow the instructions below or call our friendly management team to learn how to log into your account!</p>
        </div>
  </div>
</div>

<div class="content-Holder bg-dark-background payment-bottom">
  <div class="container py-5">
    <h2 class="pb-3 mb-5 text-center">Pay Rent</h2>
    <div class="row content-margin-top">
      <div class="col-md-12">
       <router-outlet></router-outlet>
      </div>
    </div>
  </div>  
</div>