@import "../../../styles.scss";


.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid $secondary;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    // left: 195px;
    animation: spin 1s linear infinite;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 25%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  