@import "../../styles.scss";

.contentHolder {
  padding-top: 130px;
  min-height: 86vh;
  margin-bottom: 50px;

  .padding {
    padding: 48px;
  }

  iframe {
    overflow: hidden;
    overflow-x: hidden;
  }

  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow: auto;

    iframe {
      width: 100%;
      overflow: auto;
      min-width: 100%;
    }
  }

  .coming {
    div {
      height: 35rem;
      width: 100%;
      background: #efefef;
      font-size: 2rem;
      padding-top: 40%;
    }
  }
}


@media only screen and (max-width: 1199px) and (min-width: 518px) {
  .contentHolder {
    padding-top: 156px;
  }
}


@media only screen and (max-width: 517px) and (min-width: 363px) {
  .contentHolder {
    padding-top: 180px;
  }
}

@media only screen and (max-width: 362px) {
  .contentHolder {
    padding-top: 200px;
  }
}
