<div class="contentHolder">
  <div class="container">
      <div class="heading pb-5">
        <h1 class="text-center pt-5">Contact Us</h1>
      </div>
      <div class="contact-data p-5">
        <div class="location-selection">
          <app-select-location (click)="receiveMessage()"></app-select-location>
        </div>
        <div class="row">
          <div class="col-md-8">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div [hidden]="" *ngIf="submitted && !this.contactForm.valid" class="alert alert-danger">
                    Please fill out all the required fields!
                 </div>
                 <div [hidden]="" *ngIf="mailSent" class="alert alert-success">
                   Thank You for contacting us, we will get back to you soon.
                 </div>
                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter Name*"/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                               <small class="form-text text-muted" *ngIf="f.name.errors.required">Please fill out this field</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="tel" formControlName="phone" placeholder="Enter Phone Number*" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.phone.errors.required">Please fill out this field</small>
                                <small class="form-text text-muted" *ngIf="f.phone.errors.pattern">Please enter valid number</small>
                            </div>
                        </div>
                    </div>
                 </div>

                 <div class="row py-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="text" formControlName="email" placeholder="Enter Email*" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.email.errors.required">Please fill out this field</small>                                  
                            </div>
                            <div *ngIf="f.email.errors" >
                                <small class="form-text text-muted" *ngIf="f.email.errors.email">Please enter a valid email</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label>Subject</label>
                          <input type="text" formControlName="subject" placeholder="Enter subject" class="form-control" />
                      </div>
                  </div>
                  </div>

                   <div class="form-group">
                      <label>Message</label>
                      <textarea type="text" formControlName="message" placeholder="Enter Message*" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" ></textarea>
                      <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                          <small class="form-text text-muted" *ngIf="f.message.errors.required">Please fill out this field</small>
                      </div>
                  </div>

                   <button type="submit" class="btn btn-primary px-4">Submit</button>
                   <button type="button" class="btn btn-outline-primary px-4" (click)="contactForm.reset()">Clear</button>

            </form>
          </div>
          
          <div class="col-md-4"> 


                <div class="for-mall">
                  <div class="map-responsive">
                    <span *ngIf="locationId == 1">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11302.0830489133!2d-123.2925867!3d44.9127443!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9c24dffa3cb9d5e2!2sDallas%20Secure%20Storage%2FGodsey!5e0!3m2!1sen!2sus!4v1579480306904!5m2!1sen!2sus" width="100%" height="220" frameborder="0" style="border: 2px #fff solid;" allowfullscreen title="contact-us map"></iframe>
                    </span>
                    <span *ngIf="locationId == 2">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11301.48985172141!2d-123.2929286!3d44.9157606!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x40ab5e7d466539ee!2sGodsey%20Secure%20Storage!5e0!3m2!1sen!2sus!4v1579482740174!5m2!1sen!2sus" width="100%" height="230" frameborder="0" style="border: 2px #fff solid;" allowfullscreen title="contact-us map"></iframe>
                    </span>
                  </div>
                  <h2 class="pt-3 "> {{heading}} </h2>
                  <div class="py-2  ">
                    <span *ngFor="let contact of contactDetails; let i = index" class="contact-details">
                      <!-- <span >
                        <b>{{contact.label}}</b> {{contact.data}}<br>
                      </span> -->
                      <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                         <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
                       
                    </span>
                  </div>
                  <div class="py-2">
                    <span *ngFor="let hour of hoursDetails">
                      <b>{{hour.label}}</b>{{hour.normalData}}<br>
                    </span>              
                  </div>
                </div>
                <!-- <div class="for-village">
                  <h2> Dallas Secure Storage</h2>
                   <div class="py-2">
                       <span *ngFor="let contact of contactsLocation1">
                         <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                         <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
                       </span>
                   </div> -->
                   
                  
                   <!--  <span><b> Office: </b></span> <br> -->
                   <!-- <span *ngFor="let hour of hoursLocation1">
                     <b>{{hour.label}}</b>{{hour.normalData}}<br>
                   </span>  
                 </div>
                 <div class="for-mall pt-5">
                  <h2> Godsey Secure Storage</h2>
                  <div class="py-2">
                      <span *ngFor="let contact of contactsLocation3">
                        <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                        <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
                      </span>
                  </div>
                   -->
                 
                  <!--  <span><b> Office: </b></span> <br> -->
                  <!-- <span *ngFor="let hour of hoursLocation3">
                    <b>{{hour.label}}</b>{{hour.normalData}}<br>
                  </span>
                 </div> -->
          </div>
      </div>
  </div>
</div>
