
<div class="contentHolder">
  <div class="container my-3 pb-5 padding-top">
    <h1 class="py-5 text-center">Pay Rent</h1>
    <div class="row bg-light background-padding">
      <div class="col-lg-8 col-md-7 scroll-wrapper small-screen-padding">
          <router-outlet></router-outlet>
      </div>
      <div class="col-lg-4 col-md-5 vertical-line">
        <h3>How to Login</h3>
        <p><b>Username:</b>&nbsp;First Initial + Tenant's Last Name<br>
        <b>Password:</b>&nbsp;Tenant's Gate Access Code</p>
        <p><b>Example:</b></p>
        <p>John Smith's code is 1234</p>
        <p>John's Username: jsmith<br>
          John's Password:1234</p>
        <p><strong>Have questions about your account?</strong><br>
        <span *ngFor="let contact of contactDetails" class="contact-links" [class.display-none]="contact?.id == 0">
          <a  *ngIf="contact?.id == 1 || contact?.id == 2" [href]="contact?.redirect">
            {{contact.data}}
          </a>
        <br>
      </span>
      </p>
      </div>
    </div>
  </div>
</div>


