@import "../../styles.scss";

.rent-holder {
  padding-top: 94px;
  min-height: 88vh;
  margin-bottom: 50px;

  .rent-heading {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
}

.mobile-header {
  background-color: $primary;
  color: $white;
  margin-left: 0px;
  margin-right: 0px;
}

.facility-contact {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: #212529;
  }
}

.rent-sub-holder {
  padding: 50px;
  background-color: $light;
  margin-bottom: 50px;

  .location-selection {
    padding-bottom: 64px;
  }

  .col-md-8 {
    padding-right: 4%;
  }

  .rent-example {
    border-left: 1px $border solid;
    padding-left: 4%;

    p {
      padding: 0;
      margin: 0;
    }
  }
}

// .btn-primary {
//   min-width: 125px !important;
// }

table {
  // border: 1px solid #bab3a3;
  border-collapse: separate;
  border-spacing: 0 1em;
  thead {
    border: 1px solid #bab3a3;
  }

  th {
    background-color: white;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 8px 16px;
  }
  .table-col {
    padding-bottom: 10px;
    background-color: white;
    column-gap: 40px;
  }
  .table-data {
    padding-top: 1rem !important;
    padding: 8px 16px;
    font-size: large;
    font-weight: bold;
    background-color: #005194 !important;
    color: white;

    .address {
      font-size: medium;
      font-weight: normal;
    }
    a {
      color: #212529;
    }
    .contact {
      margin-bottom: 2rem;
      float: right;
      color: #005194 !important;
      font-size: small;
      font-weight: bold;
      text-transform: capitalize;
      font-style: italic;
    }
  }

  tr:nth-child(even) {
    background-color: white;
  }

  tr:nth-child(odd) {
    background-color: #f3f3f3;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .rent-holder {
    padding-top: 160px;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-view {
    display: none;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .rent-holder {
    padding-top: 134px;
  }
}

@media only screen and (max-width: 768px) {
  .rent-sub-holder {
    .coming-soon {
      padding: 40% 10%;

      h2 {
        font-size: 1.8rem;
      }
    }

    .rent-example {
      border-left: 0 $border solid;
    }
  }
  .desktop-view {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .rent-holder {
    padding-top: 174px;
  }
}

@media only screen and (max-width: 600px) {
  .rent-holder {
    padding-top: 115px;

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .rent-sub-holder {
    padding: 16px;

    .rent-example {
      border-left: 0 $border solid;
    }
  }

  iframe {
    min-height: 400px;
  }
}

// @media only screen and (max-width: 600px) and (min-width: 576px) {
//   .rent-holder {
//     padding-top: 152px;
//   }
// }

// @media screen and (max-width: 575px) and (min-width: 453px) {
//   .rent-holder {
//     padding-top: 172px;
//   }
// }

@media screen and (max-width: 452px) {
  // .rent-holder {
  //   padding-top: 200px;
  // }

  .table-data {
    padding: 8px 10px;
    a {
      color: #212529;
    }
  }

  .btn-primary {
    min-width: unset;
  }
}

@media only screen and (max-width: 370px) {
  .btn-primary {
    min-width: unset;
    font-size: 0.8rem;
  }
}
