@import "../../styles.scss";

.contentHolder {
  padding-top: 90px;
  min-height: 86vh;
  margin-bottom: 50px;

  .padding {
    padding: 48px;
  }

  // iframe {
  //   overflow: hidden;
  //   overflow-x: hidden;
  // }

  .scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow: auto;

    iframe {
      width: 100%;
      overflow: auto;
      min-width: 100%;
    }
  }

  .coming {
    div {
      height: 35rem;
      width: 100%;
      background: #efefef;
      font-size: 2rem;
      padding-top: 40%;
    }
  }
}
@media only screen and (max-width: 1199px) and (min-width:992px){
  iframe{
    min-height: 778px;
  }
}
@media only screen and (max-width:991px){
  iframe{
    min-height: 886px;
  }
}

@media only screen and (max-width: 767px) {
  iframe {
    min-height: 600px;
  }
}


@media screen and (max-width: 600px) {
  iframe {
    overflow: hidden;
    overflow-x: auto;
  }

  .contentHolder {
    .padding {
      padding: 0;
    }

    .scroll-wrapper {
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;

      iframe {
        width: 100%;
        overflow: scroll;
      }
    }
  }
}

