<div class="view-rates-top">
  <div class="bg-translucent">
      <div class="container jumbotorn-top text-center " *ngFor="let viewRates of viewRates">
          <h1 class="pb-4">{{viewRates.heading}}</h1>
          <p>{{viewRates.blurb}}</p>
        </div>
  </div>
</div>

<div class="content-Holder bg-dark-background view-rates-bottom">
  <div class="container py-5">
    <h2 class="pb-3">{{viewRatesHeading}}</h2>
    <div class="row content-margin-top">
      <div class="col-md-12 py-3 view-rates-map scroll-wrapper" >
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-12 py-3">
        <div class="row">
          <div class="col-6">
            <img src="../../../assets/Yes_Storage/jpg/yes-storage-outdoor-self-storage-units-square.jpg" alt="{{alt}}"  class="sectionImage" />
          </div>
          <div class="anti col-md-6" > 
            <div  *ngFor="let viewRate of viewRate">
              <p id="anchor" [innerHTML]="viewRate.p"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

