<section class="contact-details">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8 py-0 px-0 header-background">
        <div class="social-content px-3 py-4">
          <h1> {{name}}</h1>
          <div class="row">
            <div class="col-lg-12 px-0 contact-data">
              <span *ngFor="let contact of contacts" class="py-2 each-contact">
                <span class="pl-md-3  ml-lg-4 "><i class="{{contact.class}}"></i></span><span *ngIf="contact?.id === 2 || contact?.id === 3 || contact?.id === 4 else other_content"><a [href]="contact?.redirect" rel="noopener">{{contact.data}}</a></span>
                <ng-template #other_content >&nbsp;<a [href]="contact?.redirect" target="_blank" rel="noopener">{{contact.data}}</a></ng-template>
              </span>
            </div>
          </div>
        </div>
        <div class="contact-img">
            <span *ngIf="locationId == 1" title="Aerial Photograph of self storage units surrounded by a fence."> 
              <div class="img-box-1" [ngClass]="imagetype === 'jpg' ? 'img-box-1-jpg' : 'img-box-1-webp'">
              </div>
            </span>
            <!-- <span *ngIf="locationId == 2" title="Aerial photograph of self storage facility with recreational vehicles and boats parked next to the buildings"> 
              <div class="img-box-2" [ngClass]="imagetype === 'jpg' ? 'img-box-2-jpg' : 'img-box-2-webp'">
              </div>
              
            </span>
            <span *ngIf="locationId == 3" title="Aerial photograph of self storage units running alongside a highway"> 
              <div class="img-box-3" [ngClass]="imagetype === 'jpg' ? 'img-box-3-jpg' : 'img-box-3-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 4" title="Aerial photograph of a self storage facility and recreational vehicle parking spots"> 
              <div class="img-box-4" [ngClass]="imagetype === 'jpg' ? 'img-box-4-jpg' : 'img-box-4-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 5" title="a row of self storage unit doors in a single story metal storage building"> 
              <div class="img-box-4" [ngClass]="imagetype === 'jpg' ? 'img-box-5-jpg' : 'img-box-5-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 6" title="single story self storage unit buildings with green metal roll up doors"> 
              <div class="img-box-4" [ngClass]="imagetype === 'jpg' ? 'img-box-6-jpg' : 'img-box-6-webp'">
              </div>
            </span> -->
        </div>
      </div>
      <div class="col-lg-4 pt-3 tab-background" >
        <div class="map-responsive">
            <span *ngIf="locationId == 1"> 
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12314.364853772282!2d-77.9635588!3d39.5011443!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa16750bb94b6b0e7!2sPsi%20Mini%20Storage!5e0!3m2!1sen!2sus!4v1633989312944!5m2!1sen!2sus" width="100%" height="230" frameborder="0" title="Facility Google Map" allowfullscreen></iframe>            </span>
            <!-- <span *ngIf="locationId == 2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13744.67660007952!2d-87.7604384!3d30.5445247!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdfabc84c84820f7b!2sStorage%20Plus%20of%20Baldwin%20County-%20Silverhill!5e0!3m2!1sen!2sus!4v1613163186782!5m2!1sen!2sus" width="100%" height="230" frameborder="0" title="Facility Google Map" allowfullscreen></iframe>
            </span>
            <span *ngIf="locationId == 3">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3440.48844433228!2d-87.88644668454269!3d30.42225260757986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889a3dd82614a34f%3A0xba78390b599dc28f!2sStorage%20Plus%20of%20Baldwin%20County%20-%20Barnwell!5e0!3m2!1sen!2sus!4v1614202825384!5m2!1sen!2sus" width="100%" height="220" frameborder="0" title="Facility Google Map"  allowfullscreen></iframe>
            </span>
            <span *ngIf="locationId == 4">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13735.78148809548!2d-87.81045761574707!3d30.60730403264883!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xef2f9e1491fcaf8a!2sStorage%20Plus%20of%20Baldwin%20County%20-%20Daphne%20%2F%20Belforest!5e0!3m2!1sen!2sus!4v1614220001331!5m2!1sen!2sus" width="100%" height="220" frameborder="0" title="Facility Google Map"  allowfullscreen></iframe>
            </span>
            <span *ngIf="locationId == 5">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5779.5182538292875!2d-87.85617859429092!3d30.534549465406016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889a6a9f8513acf5%3A0xc3cac971cf80d55a!2sStorage%20Plus%20of%20Baldwin%20County-Fairhope!5e0!3m2!1sen!2sus!4v1614799952656!5m2!1sen!2sus" width="100%" height="220" frameborder="0" title="Facility Google Map"  allowfullscreen></iframe>
            </span>
            <span *ngIf="locationId == 6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.4832188466526!2d-87.68145868454039!3d30.563901600800055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88909fb7d0f6f2eb%3A0x482333101ce34cd3!2sStorage%20Plus%20of%20Baldwin%20County-%20Robertsdale!5e0!3m2!1sen!2sus!4v1614803580872!5m2!1sen!2sus" width="100%" height="220" frameborder="0" title="Facility Google Map"  allowfullscreen></iframe>
            </span> -->
        </div>
        <div class="hours-data w-100">
          <div class="row">
            <div class="col-lg-8">
              <h2 class="pt-3" *ngIf="locationId !== 1;then content else other_content" >Access Hours</h2>
              <ng-template #content><h2 class="pt-3">Access Hours</h2><app-tables [tBody]="hours" ></app-tables></ng-template>
              <ng-template #other_content><h2 class="pt-3">Office Hours</h2><app-tables [tBody]="hours" >
              </app-tables><h2 class="pt-3">Access Hours</h2><app-tables [tBody]="access" ></app-tables>
            </ng-template> 
            </div>
            <div class="col-lg-4 btn-area text-center">
              <a class="btn btn-outline-primary p-2" [routerLink]="['/contact-us']" role="button">Contact Us</a> 
              <a class="btn btn-primary-light p-2" [routerLink]="['/pay-rent']" role="button">Pay Rent</a> 
              <!-- <a class="btn btn-primary p-2" (click)='navigateToReserve()' role="button">Reserve Unit</a>                                        -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sub-components">
  <div class="container feature-block mt-3">
    <div class="row">
      <div class="col-md-3 col-6 p-3" *ngFor= "let feature of features">
        <p class="text-center f-block-img"> 
          <img src="{{feature.data}}" class="f-img" alt="{{feature.alt}}"  height="100%" width="100%">
        </p>
        <h3 class="text-center f-text">
          {{feature.label}}
        </h3>
      </div>
    </div>
  </div>
  <div  class="container px-0 pt-2 mt-3">
      <app-tabs [tabs]='tabs' [name]='name' class="sub-component-background" [currentActiveTab]='currentTab' ></app-tabs>
  </div>
</section>

<!-- Data preloading Starts-->
<div hidden>
  <app-unit-sizer></app-unit-sizer>
  <app-about-us></app-about-us>
  <app-directions></app-directions>
</div>
<!-- Data preloading Ends-->