<!-- <app-script-hack type="application/ld+json">
  {{ script | json }}
</app-script-hack> -->
<ngx-json-ld [json]="script"></ngx-json-ld>
<!-- <div class="jumbotron-container"> -->
<div class="jumbotron-home">
  <div class="jumbotron-top jumbotron-top-style" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
    <div class=" jumbotorn-skew-style" [ngClass]="template === 'darkTheme' ? 'bg-translucent-dark' : 'bg-translucent-light'">
      </div>
      <div class="container">
        <div class="jumbotorn-skew-text">
          <div class="disp" *ngFor="let jumbotron of jumbotron">
            <h2  class="my-4">
              {{jumbotron.h2}}
            </h2>
          <p class="text-justify">{{jumbotron.blurb}}</p>
          </div>
          <div class="jumbotorn-button">
            <a class="btn btn-lg btn-primary" (click)="navigate1('/south-dakota/rcs-west/storage-units')" role="button">Rent Now-West</a>
            <a class="btn btn-lg btn-primary" (click)="navigate2('/south-dakota/rcs-east/storage-units')" role="button">Rent Now-East</a>
          </div>
          </div>
        </div>
      </div>
    
  <!-- <div class="for-mobile-view"> -->
    <!-- <div id="carouselJumbo" class="carousel slide  jumbotron-top-style" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
        <li data-target="#carouselJumbo" data-slide-to="1"></li>
        <li data-target="#carouselJumbo" data-slide-to="2"></li>
        <li data-target="#carouselJumbo" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="jumbotron-top jumbotron-top-style" title="Aerial photo of outdoor self storage units and parking spaces">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="jumbotron-top1 jumbotron-top-style" title="Aerial photograph of an outdoor self storage facility">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="jumbotron-top2 jumbotron-top-style" title="Aerial photograph of self storage units">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="jumbotron-top3 jumbotron-top-style" title="Aerial self storage photograph displaying outdoor units and RV parking spaces">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
    
  <!--Feature Box-->
    <div class="container feature-block disp">
      <div class="row h-100">
        <div class="col-3 my-auto" *ngFor= "let feature of features">
          <p class="text-center f-block-img"> 
            <img src="{{feature.data}}" class="f-img" alt="{{feature.alt}}" >
          </p>
          <h2 class="text-center f-text">
            {{feature.label}}
          </h2>
        </div>
      </div>
    </div>
  <!--Feature Box Ends Here-->  
</div>
<!-- <app-list-of-facility></app-list-of-facility> -->

<!--For individual location-->
<!-- <div class="pb-5 pt-5 bg-light ">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>Our Locations Around Baldwinsville!</h2>
        <iframe title="Facility Google Map" src="https://www.google.com/maps/d/u/0/embed?mid=1ihyrFcSohOWLuwo7SjAk5pJHzEOqcm1Z" width="100%" height="480"></iframe>
        
      </div>
    </div>
  </div>
</div> -->
<!--For individual location-->

<!--location information-->
<div class="">
  <div class="container py-4">
    <div class="section py-4 m-0">
      <div class="row">
        <div class="col-lg-6 py-3 home-map">
            
            <iframe title="Facility Google Map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2865.336849082259!2d-103.258437!3d44.097041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x877d5c991e931dab%3A0xa8fd8ff6d10ecdca!2s1314%20Fountain%20Plaza%20Dr%2C%20Rapid%20City%2C%20SD%2057702%2C%20USA!5e0!3m2!1sen!2sin!4v1654752268463!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" allowfullscreen></iframe> 
        </div>

        <div class="col-lg-6 py-3">
          <div class="mb-4">
            <h2> Visit the Main Office at the Address Below</h2>
            <p>
              <span class="contact-links" *ngFor="let contact of contactHomeDetails">
                <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.label === 'Email: ' || contact?.label === 'Phone: ' else other_content">
                  <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                  <ng-template #other_content >&nbsp;<a [href]="contact?.redirect" target="_blank" rel="noopener">&nbsp;{{contact.data}}</a></ng-template><br>
              </span>
            </p>
            <!-- <b>Office Hours:</b>  -->
            <p>
              <span *ngFor="let hour of hoursHomeDetailsWest">
                <b class="d-block mt-1">{{hour.facility}}</b>
                <b>{{hour.label}}</b>&nbsp;{{hour.data}}<br>
     
              </span>
              <span *ngFor="let hour of hoursHomeDetailsEast" class="d-block mt-2">
                <b class="d-block mb-1">{{hour.facility}}</b>
                <b>{{hour.label}}</b>&nbsp;{{hour.data}}<br>
                <b>{{hour.label2}}</b>&nbsp;{{hour.data2}}<br/>
                <b class="d-block mt-2">{{hour.facilityAmenity}}</b>
                <b>{{hour.label3}}</b>&nbsp;{{hour.data3}}<br> 
                <b>{{hour.label4}}</b>&nbsp;{{hour.data4}}<br/>
              </span>
            </p>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--location information end-->

<!--Service-->
  <div class="service bg-light">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-6 pt-2">
            <h1  class="pb-4">Affordable Climate Controlled Units in Rapid City</h1>
            <div *ngFor="let para of serviceOffered">
              <p>{{ para.p }}</p>
            </div>
          </div>
          <div class="col-lg-6 text-center">
            <app-photos></app-photos>
          </div>
        </div>
      </div>
    </div>
<!--Service Ends Here-->


