<div class="direction-holder">
  <div class="container px-0">
    <div class="row">
      <div class="col-md-12">
        <h2>{{directionHeading}}</h2>
        <span *ngIf="id === 1">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11091.796667521601!2d-94.33599!3d45.9722748!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x93cffb8e8fafa262!2sLittle+Falls+Mini+Storage!5e0!3m2!1sen!2sus!4v1562346627140!5m2!1sen!2sus" width="100%" height="400px" frameborder="0" style="border: 2px #fff solid;" allowfullscreen></iframe>
          <a class="btn btn-primary py-2 w-100 mt-3 ml-0" target="_blank" href="https://www.google.com/maps/dir//Little+Falls+Mini+Storage,+1710+Mary+Anne+Ave,+Little+Falls,+MN+56345/@45.9722748,-94.33599,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x52b43b32fc76fa9f:0x93cffb8e8fafa262!2m2!1d-94.33599!2d45.9722748!3e0" role="button">CLICK HERE FOR CUSTOM DRIVING DIRECTION</a>                                       
        </span>
        <span *ngIf="id === 2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11092.359199888218!2d-94.113672!3d45.9694659!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x584f2aa35d140ec8!2sHighway+27+Storage+-+Pierz!5e0!3m2!1sen!2sus!4v1562343711548!5m2!1sen!2sus" width="100%" height="400px" frameborder="0" style="border: 2px #fff solid;" allowfullscreen></iframe>
          <a class="btn btn-primary py-2 w-100 mt-3 ml-0" target="_blank" href="https://www.google.com/maps/dir//Highway+27+Storage+-+Pierz,+26015+MN-27,+Pierz,+MN+56364/@45.9694659,-94.113672,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x52b4174ce1cd2cd3:0x584f2aa35d140ec8!2m2!1d-94.113672!2d45.9694659!3e0" role="button">CLICK HERE FOR CUSTOM DRIVING DIRECTION</a>                                       
        </span>
      </div>
    </div>
  </div>
</div>
