<div class="containHolder">
  <div class="container">
    <h1 class="text-center py-5">Pay Rent for Movin'on Stoarge</h1>
    <div class="pay-rent-holder py-5">
      <div class="row">
          <div class="col-md-8 mx-0">
              <iframe id="advanced_iframe" name="advanced_iframe" src="https://MovinOnStorageCenter.sim.syrasoft.com/Payment" width="100%"
              height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
            <!-- <span *ngIf="locationId == 1" >
              <iframe id="advanced_iframe" name="advanced_iframe" src="https://MovinOnStorageCenter.sim.syrasoft.com/Payment" width="100%"
              height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
            </span>
            <span *ngIf="locationId == 2">
              <iframe id="advanced_iframe" name="advanced_iframe" src="https://ShalerSelfStorage.sim.syrasoft.com/Payment" width="100%"
              height="100%" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>  
            </span>
            <span *ngIf="locationId == 3" class="py-2">
              <iframe id="advanced_iframe" name="advanced_iframe" src="https://natronaheightsselfstorage.sim.syrasoft.com/Payment" width="100%"
              height="300px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>  
            </span> -->
          </div>
          <div class="col-md-4 rent-example" >
              <h2> How to Login </h2>
              <p> <b>Username:</b> Last Name<br>
              <p> <b>Password:</b>  Your gate access code<br> 
              <p> <b>Example</b> <br>
              <p>John Smith's gate access code is 1234 <br>
              <p> <b>John's Username:</b> smith <br>
              <p> <b>John's Password:</b> 1234 <br>
              <p> <b>Have question about your account?</b> </p>
              <!-- <p> {{contact[1].data}} </p> -->
              <p><a href="tel:3043441104">(304) 344-1104</a></p>
        </div> 
      </div>
    </div>
  </div>
</div>

