@import '../../styles.scss';

.accordion {
    .card {
        background-color: $white;
        border: none;
    .card-header {
        background-color: $primary;
        a {
           color: $white;
        }
    }

    .card-body {
        display: inline;
    }
    
    }
}
      