@import "../../styles.scss";

//Common code
.home-container {
  color: $fontColor;
}

.map {
  iframe {
    border: 2px solid white;
    height: 612px;
  }
}

.cta {
  // height: 74px;
  background-color: #ffd055;
  // position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  a {
    color: black;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1.125rem;
    background-color:black;
    color: #ffd055;
  }
}

.disp {
  display: block;

  h2 {
    font-size: 2rem;
  }

  img {
    height: 70px;
  }
}

.font-xs-device {
  a {
    color: black;
  }
}

// Get started Section
.getStarted {
  .btn {
    min-width: 250px;
    font-size: 1.2rem;
  }
}

// HOME jUMBOTRON

.jumbotron-top {
  height: 70vh;

  .button-width {
    width: 50%;
  }

  .jumbotron {
    background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Selkirk_Images/self-storage-units.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: $fontColor;
    overflow: hidden;
    padding: 0;
    position: relative;

    h1 {
      font-weight: 600;
      font-size: 2em;
    }

    p {
      text-align: justify;
    }

    .btn {
      width: 95%;
      min-width: 110px;
    }

    a {
      margin-top: 20px;
    }

    .jumbotron-skew-style {
      width: 72%;
      float: left;
      left: -20%;
      position: relative;
      transform: skew(15deg);
      min-height: 100%;
    }

    .jumbotron-skew-text {
      width: 24%;
      position: absolute;
      top: 30%;
      color: $fontColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.jumbotron-bottom {
  display: flex;
  align-items: center;
  height: calc(30vh - 138px);
  // height: 250px;
}

@media only screen and (min-width: 1200px) {
  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-text {
        width: 425px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 830px) and (min-height: 710px) {
  .jumbotron-container {
    .jumbotron-bottom {
      height: 90px;
      h6 {
        font-size: 0.8rem;
      }
    }

    .disp {
      img {
        height: 60px;
      }
    }
  }

  .jumbotron-top {
    height: calc(100vh - 228px);

    .jumbotron {
      height: calc(100vh - 228px);
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 709px) and (min-height: 561px) {
  .disp {
    img {
      height: 60px;
    }

    p {
      font-size: 0.79rem;
      margin-bottom: 5px;
    }

    h6 {
      font-size: 0.7rem;
    }

    h2 {
      font-size: 1.6rem;
    }
  }

  .jumbotron-container {
    .jumbotron-bottom {
      height: 90px;
      display: flex;
      align-items: center;

      h6 {
        font-size: 0.8rem;
      }
    }

    .jumbotron-top {
      height: calc(100vh - 228px);

      .jumbotron {
        height: calc(100vh - 228px);

        a {
          margin-top: 10px;
        }
      }

      .jumbotron-skew-text {
        top: 25%;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 560px) {
  .disp {
    display: none;
  }

  .jumbotron-top {
    height: calc(100vh - 138px);

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: calc(100vh - 138px);

      a {
        margin-top: 0;
      }

      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        height: 80px;
        background: rgba(255, 255, 255, 0.9);
      }
    }


    .jumbotron-bottom {
      display: none;
      height: 0;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-style {
        width: 84%;
        float: left;
        left: -24%;
        position: relative;
        transform: skew(15deg);
        min-height: 100%;
      }

      .jumbotron-skew-text {
        width: 437px;
        position: absolute;
        bottom: 0;
        // top: 25%;
      }

      .button-width {
        // width: 100%;
        text-align: center;
      }
    }


    .jumbotron-bottom {
      height: 20vh;
      display: flex;
      align-items: center;
    }
  }

  .map {
    iframe {
      height: 710px;
    }
  }

  .disp {
    img {
      height: 60px;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 830px) and (min-height: 641px) {
  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: 90px;
  }

  .jumbotron-top {
    height: calc(100vh - 228px);

    .jumbotron {
      height: calc(100vh - 228px);

      .jumbotron-skew-text {
        top: 25%;
      }
    }
  }

  .disp {
    h6 {
      font-size: 0.7rem;
    }

    p {
      font-size: 0.9rem;
    }

    img {
      height: 60px;
    }

    h2 {
      font-size: 1.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 640px) and (min-height: 546px) {
  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: 90px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: calc(100vh - 228px);

    .jumbotron {
      height: calc(100vh - 228px);

      .jumbotron-skew-text {
        top: 25%;
        width: 500px;
      }

      a {
        margin-top: 10px;
      }
    }
  }

  .disp {
    img {
      height: 60px;
    }

    p {
      font-size: 0.79rem;
      // margin-bottom: 0;
    }

    h6 {
      font-size: 0.7rem;
    }

    h2 {
      font-size: 1.6rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 545px) {
  .disp {
    display: none;
  }

  .jumbotron-top {
    height: calc(100vh - 138px);

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: calc(100vh - 138px);

      a {
        margin-top: 0;
      }

      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        height: 80px;
        background: rgba(255, 255, 255, 0.9);
      }
    }


    .jumbotron-bottom {
      display: none;
      height: 0;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px)  and (min-width: 768px) {
  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-style {
        width: 84%;
        float: left;
        left: -24%;
        position: relative;
        transform: skew(15deg);
        min-height: 100%;
      }

      .jumbotron-skew-text {
        width: 400px;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .jumbotron-bottom {
    display: flex;
    align-items: center;

    h6 {
      font-size: 0.9rem;
    }
  }

  .map {
    iframe {
      height: 100%;
    }
  }

  .disp {
    img {
      height: 60px;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 830px) and (min-height: 681px) {
  .jumbotron-top {
    height: calc(100vh - 228px);

    .jumbotron {
      height: calc(100vh - 228px);
    }
  }

  .disp {
    p {
      font-size: 0.8rem;
    }

    img {
      height: 50px;
    }

    h2 {
      font-size: 2rem;
    }
  }

  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: 90px;


    h6 {
      font-size: 0.7rem;
    }
  }
}


@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 680px) and (min-height: 546px) {
  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: 100px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: calc(100vh - 238px);

    .jumbotron {
      height: calc(100vh - 238px);

      .jumbotron-skew-text {
        top: 20%;
        width: 416px;
      }

      a {
        margin-top: 10px;
      }
    }
  }

  .disp {
    img {
      height: 50px;
    }

    p {
      font-size: 0.79rem;
      margin-bottom: 5px;
    }

    h6 {
      font-size: 0.7rem;
    }

    h2 {
      font-size: 1.6rem;
    }
  }
}


@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 545px) {
  .disp {
    display: none;
  }

  .jumbotron-top {
    height: calc(100vh - 138px);

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: calc(100vh - 138px);

      a {
        margin-top: 0;
      }

      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        height: 80px;
        background: rgba(255, 255, 255, 0.9);
      }
    }


    .jumbotron-bottom {
      display: none;
      height: 0;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotron-top {
    height: calc(100vh - 233px);

    .jumbotron {
      height: calc(100vh - 233px);

      .jumbotron-skew-style {
        width: 85%;
      }

      a {
        margin-top: 10px;
      }

      .jumbotron-skew-text {
        // width: 44%;
        width: 320px;
      }
    }
  }

  .jumbotron-bottom {
    display: flex;
    align-items: center;
    height: 95px;

    h6 {
      font-size: 0.7rem;
    }
  }

  .map {
    iframe {
      height: 100%;
    }
  }

  .disp {
    img {
      height: 50px;
    }

    p {
      font-size: 0.8rem;
    }

    h2 {
      font-size: 1.7rem;
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 700px) and (min-height: 601px) {
  .jumbotron-top {
    .jumbotron {
      .jumbotron-skew-text {
        top: 20%;
      }
    }
  }

  .disp {
    h2 {
      font-size: 1.6rem;
    }
  }
}


@media only screen and (max-width: 767px) and (min-width: 601px)  and (max-height: 600px) {
  .disp {
    display: none;
  }

  .jumbotron-top {
    height: calc(100vh - 138px);

    .button-width {
      width: 100%;
      padding: 0;
      text-align: center;
      padding-left: 7%;
      padding-right: 7%;
    }

    .jumbotron {
      height: calc(100vh - 138px);

      a {
        margin-top: 0;
      }

      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        height: 80px;
        bottom: 0;
        top: auto;
        background: rgba(255, 255, 255, 0.9);
        left: 0;
      }
    }

    .jumbotron-bottom {
      display: none;
      height: 0;
    }
  }

  .map-responsive {
    iframe {
      height: 200px;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .disp {
    display: none;
  }

  .jumbotron-top {
    height: calc(100vh - 138px);

    .button-width {
      padding: 0 15px;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .jumbotron {
      height: calc(100vh - 138px);

      a {
        margin-top: 0;
      }

      .jumbotron-skew-style {
        display: none;
      }

      .jumbotron-skew-text {
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        height: 80px;
        background: rgba(255, 255, 255, 0.9);
      }
    }


    .jumbotron-bottom {
      display: none;
      height: 0;
    }
  }

  .map {
    iframe {
      height: 100%;
    }
  }
}


@media only screen and (max-width: 545px) {
  .jumbotron-top {
    height: calc(100vh - 159px);

    .jumbotron {
      height: calc(100vh - 159px);
    }
  }
}

@media only screen and (max-width: 545px) {
  .jumbotron-top {
    height: calc(100vh - 159px);

    .jumbotron {
      height: calc(100vh - 159px);
    }
  }
}

@media only screen and (max-width: 475px) {
  .jumbotron-top {
    height: calc(100vh - 180px);

    .jumbotron {
      height: calc(100vh - 180px);
    }
  }
}

@media only screen and (max-width: 350px) {
  .jumbotron-top {
    height: calc(100vh - 201px);

    .jumbotron {
      height: calc(100vh - 201px);
    }
  }
}

@media only screen and (max-width: 278px) {
  .jumbotron-top {
    height: calc(100vh - 222px);

    .jumbotron {
      height: calc(100vh - 222px);
    }
  }
}
