<div id="carouselJumbo" class="carousel slide  jumbotron-top-style" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselJumbo" data-slide-to="0" class="active"></li>
    <li data-target="#carouselJumbo" data-slide-to="1"></li>
    <li data-target="#carouselJumbo" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="jumbotron-top jumbotron-top-style"></div>
    </div>
    <div class="carousel-item">
        <div class="jumbotron-top1 jumbotron-top-style"></div>
    </div>
    <div class="carousel-item">
        <div class="jumbotron-top2 jumbotron-top-style"></div>
    </div>
  </div>
</div>

<!--Feature Box-->
<div class="container feature-block disp py-4">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-6" *ngFor= "let feature of features">
      <p class="text-center f-block-img p-2"> 
        <img src="{{feature.data}}" class="f-img">
      </p>
      <p class="text-center f-text py-1">
        {{feature.label}}
      </p>
    </div>
  </div>
</div>
<!--Feature Box Ends Here-->

<!--Contact Details-->
<div class="bg-light for-location"> 
  <div class="locaion-selection">
    <app-select-location (click)="receiveMessage()"></app-select-location>
  </div> 
    <div class="container">
    <div class="row">
      <div class="col-md-5">
        <span *ngIf="locationId == 1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3128.672405502645!2d-81.63062818449204!3d38.35656368624566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8848d334571013f1%3A0xa6e7d1e74704d6f!2sMovin&#39;on+Storage+Center!5e0!3m2!1sen!2sus!4v1547507975675" width="100%" height="100%" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
          </span>
          <span *ngIf="locationId == 2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.7152950109976!2d-79.96360028444201!3d40.54787875557631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88348d1dbeac6833%3A0x96666d804a43a62!2sShaler+Self+Storage!5e0!3m2!1sen!2sus!4v1547509488961" width="100%" height="100%" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
          </span>
          <span *ngIf="locationId == 3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.9616822568664!2d-79.71200568443953!3d40.65277504917323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834bd311bf9caf3%3A0xb3ba833bf0e8b8f0!2sNatrona+Heights+Self+Storage!5e0!3m2!1sen!2sus!4v1547510624473" width="100%" height="100%" frameborder="0" style="border:2px #fff solid;" allowfullscreen></iframe>
          </span>
      </div>
      <div class="col-md-4  pl-4 pt-3">
        <h2>{{heading}}</h2>
        <p> 
          <span *ngFor="let contact of contactDetails">
            <b>{{contact.label}}</b> {{contact.data}}<br>
          </span>
        </p>
        <a class="btn btn-outline-primary p-2 ml-0" (click)="navigateToStorageUnit()" role="button">View Rates</a>            
        <a class="btn btn-primary p-2 ml-0" (click)="navigateToReserveUnit()" role="button">Reserve Unit</a>                        
      </div>
      <div class="col-md-3 contact-hours pt-3">
          <h2>Hours:</h2>
          <p>
            <span *ngFor="let hour of hoursDetails">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>  
</div>
<!--Contact Details Ends Here-->

<!--Service-->
<div class="service">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 pt-2">
          <h1  class="pb-4">Convenient, Customer Service Focused, Self Storage</h1>
          <div *ngFor="let para of serviceOffered">
            <p>{{ para.p }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Victor_Images/SlideShow/victor-self-storage-gate.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
<!--Service Ends Here-->


<!--Testimonial-->
  <div class="testimonial py-5">
    <h1 class="text-center pt-3"> Testimonials </h1>
<!--Carousel Wrapper-->
  <div id="carousel-test" class="carousel slide carousel-fade" data-ride="carousel(stop)">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-test" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-test" data-slide-to="1"></li>
        <li data-target="#carousel-test" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="container">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item  pb-5 active">
            <p class="text-center mx-auto pt-4 pb-2">"I wanted a storage facility that was secure, accessible, reasonably priced, and in the right location. I've used other storage facilities in the past that really didn't make me feel like my "stuff" was safe, and there wasn't anyone around to help out if I had an issue. Victor Self Storage is an extremely good facility, yes, I'll say great. I've been extremely happy with Victor Self Storage for well over two years now in ALL aspects, and I do recommend them every chance I get!"</p>
            <p class="text-center mx-auto"> - Mary (Victor, New York) </p>
          </div>
          <div class="carousel-item pb-5">
            <p class="text-center mx-auto pt-4 pb-2">"In my line of work, a quality storage facility is essential. I was looking for a clean, climate controlled area. I need the very best in regards to customer service, safety, and surroundings. Victor Self Storage provides all of that and more. The staff is FABULOUS and it is by far the best storage facility in the greater Rochester area!"</p>
            <p class="text-center mx-auto"> - Mel (Victor, New York) </p>
          </div>
          <div class="carousel-item pb-5">
            <p class="text-center mx-auto pt-4 pb-2">"I was looking for a secure climate controlled storage facility with 24/7 accessibility. I travel the New York Thruway every day, so location was important. Victor Self Storage is conveniently located and is by far one of the nicest storage facilities I have visited and used. I have run my business out of there for two years now and I have nothing but great things to say! Victor Self Storage is safe, secure, clean and accessible. Not much more you could ask for!"</p>
            <p class="text-center mx-auto"> - Tom (Victor, New York) </p>
            </div>
        </div>
      </div>
      <!--/.Slides-->
  </div>
  <!--/.Carousel Wrapper-->
</div>  
<!--Testimonials Ends Here-->

