@import "../../../styles.scss";

.modal-header {
  display: block;
}

.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
}


.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid $secondary;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 15%;
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
