  
<div class="">
  <div class="jumbotron-container">
    <div class="jumbotron-top">
      <div class="jumbotron jumbotorn-image px-0 m-0">
          <div class="special-row text-center p-1">
            
              <strong>
                <p>Specials:</p>
                <p>Pre-pay 6 months and get the 7th month free!</p>
                <p>Pre-pay 12 months and get 2 months free!</p>
              </strong>
            </div>
        <!-- <video class="video text-center" preload="auto" playsinline autoplay muted loop>
          <source src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Storage_World_Images/storage-world-video.mp4" type="video/mp4">
        </video> -->
        <div class="bg-translucent  jumbotorn-skew-style">
          </div>
        <div class="container">
          <div class="jumbotorn-skew-text">
            <div class="disp">
              <h2  class="my-4"> {{blurbHeading}}</h2>
              <p class="text-justify"> {{blurbText}} </p>
            </div>
            <div class="jumbotorn-button">
              <a class="btn btn-lg btn-outline-primary" (click)="navigate('/view-rates')" role="button">View Rates</a>
              <a class="btn btn-lg btn-primary" (click)="navigate('/contact')" role="button">Contact Us</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron-bottom">
        <div class="container">
          <div class="feature row">
            <div class="col-md-3 col-3 feature-icon-style" *ngFor="let feature of feature">
              <img [src]="feature?.path" [alt]="feature?.alt" />
              <h6 class="feature-text">{{feature.label}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="bg-light">
      <div class="container py-4">
        <div class="section py-4 m-0">
          <div class="row">
            <div class="col-lg-6 py-3 home-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9719.865876690783!2d-93.23870973658902!3d45.27875715432782!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe58c808ef0e650bb!2sStorage+World!5e0!3m2!1sen!2sus!4v1548100485818" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6 py-3">
              <div class="mb-4">
                <p>
                  <span *ngFor="let contact of contactDetails">
                    <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                    <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
                  </span>
                </p>
                <b>Hours:</b>
                <p>
                  <span *ngFor="let hour of hours">
                    <b>{{hour.label}}</b>&nbsp;{{hour.data}}<br>
                  </span>
                </p>
              </div>
            <div>
              <app-tables [tBody]="featuresList"></app-tables>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-lg-6 py-3">
          <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Storage_World_Images/storage-world-aerial-photo.jpg" width="100%" height="100%" alt="Storage World Aerial" class="sectionImage">
        </div>
        <div class="col-lg-6 py-3">
          <h1 class="heading pb-4">Affordable Self Storage Units in Ham Lake, MN</h1>
          <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="getStarted bg-light">
    <div class="container">
      <div class="section py-5 m-0">
        <div class="row">
          <div class="col-md-12 py-3">
            <h2 class="heading pb-4">Getting Started</h2>
            <p class="pb-4">{{gettingStarted}}</p>
            <a class="btn btn-lg btn-primary" (click)="navigate('/view-rates')" role="button">View Available Units Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> 

