@import "../../styles.scss";


.special-row {
  background-color: $secondary;
  width: 100%;
  font-size: 1.125rem;
  color: black;
  position: absolute;
  bottom: 0;
  z-index: 1;

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.jumbotorn-image {
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Storage_World_Images/indoor-self-storage-indoor-units.jpg");
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 80vh;
  color: $white;
  overflow: hidden;
  border-radius: 0;
  position: relative;
}

h1 {
  font-size: 2.25rem;
}

.home-map {
  iframe {
    border: 2px solid white;
  }
}

.feature-icon-style {
  padding: 24px;
  text-align: center;

  img {
    padding: 10px;
    height: 80px;
  }
}

.contact-links {
  a {
    color: black;
  }
}

.content-align {
  text-align: right;
}

.getStarted {
  color: $dark;
  text-align: center;

  h2 {
    font-size: 2.25rem;
  }
}

.disp {
  text-align: left;
  color: $white;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.jumbotron-top {
  height: 80vh;
}

.jumbotron-bottom {
  height: 20vh;
  display: flex;
  align-items: center;
  z-index: 1;
}

.jumbotorn-skew-style {
  width: 75%;
  float: left;
  left: -25%;
  // position: relative;
  transform: skew(15deg);
  // z-index: 1;
  position: absolute;
  top: 0;
  height: inherit;

  a {
    margin-top: 20px;
  }
}

.jumbotorn-skew-text {
  transform: skew(0deg);
  width: 24%;
  position: absolute;
  top: 30%;

  .btn-outline-primary {
    margin-right: 10px;
  }
}


@media only screen and (min-width: 1200px) and (max-height: 750px) and (min-height: 671px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 670px) and (min-height: 480px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 120px;
  }

  .jumbotorn-skew-text {
    .disp {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 0.94rem;
      }
    }
  }

  .jumbotorn-button {
    .btn {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 479px) {
  .jumbotron {
    height: 100vh;
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 120px;
  }

  .jumbotorn-skew-text {
    .disp {
      p {
        display: none;
      }
    }
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotorn-skew-text {
    width: 450px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .jumbotorn-skew-text {
    width: 410px;
    top: 28%;

    .disp {
      h2 {
        font-size: 2.3rem;
      }

      p {
        font-size: 0.98rem;
      }
    }

    a {
      min-width: 160px;
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 750px) and (min-height: 641px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 640px) and (min-height: 480px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 130px;
  }

  .jumbotorn-skew-text {
    top: 24%;

    .disp {
      p {
        font-size: 0.92rem;
      }
    }
  }

  .btn {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 479px) {
  .jumbotron {
    height: 100vh;
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 120px;
  }

  .jumbotorn-skew-text {
    .disp {
      p {
        display: none;
      }
    }
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .jumbotorn-skew-style {
    width: 85%;
  }

  .jumbotorn-skew-text {
    width: 40%;
    top: 28%;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.9rem;
      }

      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 830px) and (min-height: 701px) {
  .feature-icon-style {
    padding: 12px 24px;

    img {
      height: 60px;
    }

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 700px) and (min-height: 480px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 160px;
  }

  .jumbotorn-skew-text {
    top: 24%;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 1.8rem;
        margin-top: 12px !important;
        margin-bottom: 12px !important;
      }
    }
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 479px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }


  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 89px;
    position: absolute;
    top: auto;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 99px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 200px;
  }

  .jumbotorn-skew-style {
    width: 90%;
  }

  .jumbotorn-skew-text {
    top: 30%;
    width: 294px;

    a {
      min-width: 140px;
      font-size: 0.8rem;
    }

    .disp {
      p {
        font-size: 0.9rem;
      }

      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 600px) and (min-height: 480px) {
  .jumbotorn-skew-text {
    top: 16%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 479px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 0;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 89px;
    top: auto;
    position: absolute;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 99px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 420px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 90px;
    bottom: 89px;
    position: absolute;
    top: auto;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 99px;
  }

  .jumbotorn-button {
    padding: 10px;
  }

  .video {
    display: none;
  }
}

@media only screen and (max-width: 429px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;
    height: 100vh;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-style {
    transform: skew(0deg);
    width: 100%;
    left: auto;
    height: 150px;
    bottom: 89px;
    position: absolute;
    top: auto;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 91px;

    .btn-outline-primary {
      margin-right: 0;
      margin-bottom: 8px;
    }

    .btn-primary {
      margin-top: 8px;
    }

    .jumbotorn-button {
      padding: 15px;
    }
  }

  .video {
    display: none;
  }
}

@media only screen and (max-width: 372px) and (min-width: 344px) {
  .jumbotorn-skew-style {
    bottom: 116px;
  }

  .jumbotorn-skew-text {
    bottom: 118px;
  }
}

@media only screen and (max-width: 343px) {
  .jumbotorn-skew-style {
    bottom: 143px;
  }

  .jumbotorn-skew-text {
    bottom: 145px;
  }
}
