<div class="rent-holder">
    <div class="container px-0">
      <div class="rent-heading pb-5">
        <h1 class="text-center pt-5 px-2">Self Storage Serving Fort Drum</h1>
      </div>
      
      <div class="rent-sub-holder">
        <div class="row padding bg-light">
          <div class="col-md-6 p-4 ">
              <table class="table-bordered table-striped">
                  <tHead >
                      <tr >
                        <th colspan="2" class="px-4 py-1" >Size</th>
                        <th colspan="2" class="px-4 py-1" >Military Rate</th>
                      </tr>
                    </tHead>
                <tbody>
                  <tr *ngFor="let militaryData of militaryData">
                    <td  colspan="2" class="px-4 py-1"   >
                      {{militaryData.td1}}
                    </td>
                    <td colspan="2" class="px-4 py-1" >
                      {{militaryData.td2}}
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
  
          <div class="col-md-6 ">
            <img class="p-4" src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Store_House/fort-drum-soldiers.jpg" width="100%"
             alt="Photograph of soldiers at Fort Drum walking across a tarmac to board a plane" />
            <p class="p-4 text-justify">{{military}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  