@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../styles.scss";

a {
  cursor: pointer;
  color: white;
}

.contact-header {
  display: inline;

  .contact-details {
    color: $white;
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    clear: none;
  }
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  button {
    color: #000;
    border-color: #000;
  }

  button:focus {
    outline: 5px auto $primary;
  }
}

.nav-link {
  color: $fontColor;
  font-weight: 600;
  padding: 30px;
}

.nav-link:hover {
  color: $secondary;
}

.router-link-active {
  color: $primary;
  border-bottom: 5px solid $primary;
}

.nav-link-active {
  color: $secondary;
  border-bottom: 5px solid $secondary;
}

.display {
  display: block;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border: 1px solid $primary;
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    align-items: center;

    li {
      width: fit-content;
    }
  }
  .display {
    display: none
  }
  .navbar {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media only screen and (max-width:991px) {
  .nav-link {
    padding: 20px !important;
  }
}

@media only screen and (max-width: 991px) and (max-height: 480px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
  
}
