/* You can add global styles to this file, and also import other style files */

//Basic color and font styles
$primary: #e2dbc6;
$primaryDark: rgb(51, 161, 128);

// $primary: #FF9800;
// $primaryDark: #EF6C00;
$secondary: #165e4b;  //top-most

$dark: #29856c;    //header
$light: #efefef;
$white: #ffffff;

$border: #707070;
$shadow: #000000;

$fontColor: #707070;
// $primaryFont: 'Roboto';
$primaryFont: 'Lato', sans-serif;

* {
    // font: $primaryFont;
    font-family: $primaryFont;
}

.justify {  
    text-align: justify;
}

// Different Background colors
.bg-secondary {
    background: $secondary !important;
}

.bg-dark {
    background: $dark !important;
}

.bg-light {
    background: $light !important;
}

.bg-translucent{
    background: rgba(0, 0, 0, 0.6);
    width: auto !important;
}


// Content Holder Styles
.contentHolder {
    min-height: 94vh;
}

.btn-primary{
    background-color: $primaryDark;
    border: 1px solid $dark;
    border-radius: 20px;
    min-width: 200px;
    color: $white !important;
    font-size: 1em;
}

.btn-primary:active{
    background-color: $primaryDark!important;
    border: 1px solid $dark!important;
    border-radius: 20px;
    min-width: 200px;
    color: $white !important;
    font-size: 1em;
}

// .btn-primary:hover {
//     background-color: $primaryDark;
//     border-color: $primaryDark;
// }

// .btn-outline-primary {
//     background-color: $primaryDark;
//     border: 1px solid $dark;
//     border-radius: 20px;
//     min-width: 200px;
//     color: $white !important;
//     font-size: 1em;
// }


// .btn-outline-primary:active {
//     background-color: $primaryDark !important;
//     border: 1px solid $dark !important;
//     border-radius: 20px;
//     min-width: 200px;
//     color: $white !important;
//     font-size: 1em;
// }

.section-headings{
  font-weight: 200;
}

.contact-map{
  width: 100%;
}

.heading {
    font-weight: 400;
}

.sectionImage{
    width: 100%;
}

body {
    background-image: url("/./assets/images/bg.jpg");
    background-position: fixed;
  }