/* You can add global styles to this file, and also import other style files */

//Basic color and font styles
$primary: #256784;
$primaryDark: rgb(51, 161, 128);

// $primary: #FF9800;
// $primaryDark: #EF6C00;
$secondary: #ffffff;

$dark: #ffffff;
$light: #efefef;
$white: #a2a2a2;

$border: #707070;
$shadow: #000000;

$fontColor: #707070;
// $primaryFont: 'Roboto';
$primaryFont: 'Lato', sans-serif;

* {
    // font: $primaryFont;
    font-family: $primaryFont;
}

.justify {
    text-align: justify;
}

// Different Background colors
.bg-secondary {
    background: $secondary !important;
}

.bg-dark {
    background: $dark !important;
}

.bg-light {
    background: $light !important;
}

.bg-translucent{
    background: white;
    width: 25%;
    float: right;
    text-align: right;
    right: 0px;
    position: absolute;
    height: 100%;
    // transform-origin: top left;
    // transform: skew(-20deg, 0deg);
    // width: auto !important;
}


// Content Holder Styles
.contentHolder {
    min-height: 94vh;
}

.btn-primary{
    background-color: $primary;
    border-color: $primary; 
    color: $secondary !important;
    min-width: 200px;
    border-radius: 0px !important;
}

// .btn-primary:hover {
//     background-color: $primaryDark;
//     border-color: $primaryDark;
// }

.btn-outline-primary {
    background-color: transparent;
    border-color: $primary;
    border: 2px solid $primary;
    min-width: 200px;
    color: $primary !important;
    border-radius: 0px !important;
}

// .btn-outline-primary:hover {
//     background-color: $primaryDark;
//     border-color: $primaryDark;
// }

.section-headings{
  font-weight: 200;
}

.contact-map{
  width: 100%;
}

.heading {
    font-weight: 400;
}

.sectionImage{
    width: 100%;
}
