<section class="contact-details">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8 py-0 px-0 header-background">
        <div class="social-content px-3 py-4">
          <h1> {{name}}</h1>
          <div class="row">
            <div class="col-lg-12 px-0 contact-data">
              <span *ngFor="let contact of contacts" class="py-2 each-contact">
                <span class="pl-3"><i class="{{contact.class}}"></i></span><span *ngIf="contact?.id === 2 || contact?.id === 3 || contact?.id === 4 else other_content"><a [href]="contact?.redirect">{{contact.data}}</a></span>
                <ng-template #other_content >&nbsp;<a [href]="contact?.redirect" target="_blank" rel="noopener">{{contact.data}}</a></ng-template>
              </span>
            </div>
          </div>
        </div>
        <div class="contact-img">
            <span *ngIf="locationId == 1" title="Aerial Photograph of self storage units surrounded by a fence."> 
              <div class="img-box-1" [ngClass]="imagetype === 'jpg' ? 'img-box-1-jpg' : 'img-box-1-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 2" title="a row of self storage units under a blue sky with wide parking spaces around the units"> 
              <div class="img-box-2" [ngClass]="imagetype === 'jpg' ? 'img-box-2-jpg' : 'img-box-2-webp'">
              </div>
              
            </span>
            <span *ngIf="locationId == 3" title="a row of single story self storage buildings behind a security fence and electronically controlled gate"> 
              <div class="img-box-3" [ngClass]="imagetype === 'jpg' ? 'img-box-3-jpg' : 'img-box-3-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 4" title="aerial photograph of a self storage building and recreational vehicles parked in a large lot"> 
              <div class="img-box-4" [ngClass]="imagetype === 'jpg' ? 'img-box-4-jpg' : 'img-box-4-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 5" title="a row of self storage unit doors in a single story metal storage building"> 
              <div class="img-box-5" [ngClass]="imagetype === 'jpg' ? 'img-box-5-jpg' : 'img-box-5-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 6" title="single story self storage unit buildings with green metal roll up doors"> 
              <div class="img-box-6" [ngClass]="imagetype === 'jpg' ? 'img-box-6-jpg' : 'img-box-6-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 7" title="single story self storage unit buildings with green metal roll up doors"> 
              <div class="img-box-7" [ngClass]="imagetype === 'jpg' ? 'img-box-7-jpg' : 'img-box-7-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 8" title="single story self storage unit buildings with green metal roll up doors"> 
              <div class="img-box-8" [ngClass]="imagetype === 'jpg' ? 'img-box-8-jpg' : 'img-box-8-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 9" title="single story self storage unit buildings with green metal roll up doors"> 
              <div class="img-box-9" [ngClass]="imagetype === 'jpg' ? 'img-box-9-jpg' : 'img-box-9-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 10" title="single story self storage unit buildings with green metal roll up doors"> 
              <div class="img-box-10" [ngClass]="imagetype === 'jpg' ? 'img-box-10-jpg' : 'img-box-10-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 11" title="single story self storage unit buildings with green metal roll up doors"> 
              <div class="img-box-11" [ngClass]="imagetype === 'jpg' ? 'img-box-11-jpg' : 'img-box-11-webp'">
              </div>
            </span>
            <span *ngIf="locationId == 12" title="self storage unit buildings in rows on the left behind an electronic gate with moving trucks parked on the right"> 
              <div class="img-box-12" [ngClass]="imagetype === 'jpg' ? 'img-box-12-jpg' : 'img-box-12-webp'">
              </div>
            </span>
        </div>
      </div>
      <div class="col-lg-4 pt-3 tab-background" >
        <div class="map-responsive">
            <span *ngIf="locationId == 1">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.9096476792383!2d-90.21139708479863!3d33.52973468075128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x862a6dd397060b2b%3A0x58ee61c15c060c68!2sGreenwood%20Mini%20Storage!5e0!3m2!1sen!2sus!4v1628025492317!5m2!1sen!2sus" width="100%" height="220" frameborder="0"  allowfullscreen></iframe>
            </span>
            <span *ngIf="locationId == 2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.5581269715253!2d-90.20633958479905!3d33.51287178075607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x862a6c3dbbc75b61%3A0xadbf284f2a3ed6cf!2s707%20US-82%2C%20Greenwood%2C%20MS%2038930!5e0!3m2!1sen!2sus!4v1628043722612!5m2!1sen!2sus" width="100%" height="220" frameborder="0" allowfullscreen loading="lazy"></iframe>
            </span>
            <span *ngIf="locationId == 3">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2987.1647530556957!2d-90.21300241693712!3d33.5280771145385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x862a6ea7599a0667%3A0x98d55cd32deb064e!2s1604%20Chickasaw%20St%2C%20Greenwood%2C%20MS%2038930!5e0!3m2!1sen!2sus!4v1628044526883!5m2!1sen!2sus" width="100%" height="220" frameborder="0" allowfullscreen loading="lazy"></iframe>
            </span>            
        </div>
        <div class="hours-data w-100">
          <div class="row">
            <div class="col-lg-8">
              <h4 class="pt-3">Access Hours</h4><app-tables [tBody]="access" ></app-tables>
              <span><h4 class="pt-3" >Office Hours</h4><app-tables [tBody]="hours" ></app-tables></span>
            </div>
            <div class="col-lg-4 btn-area text-center">
              <a class="btn btn-outline-primary p-2"(click)="navigateToContact()" role="button">Contact Us</a> 
              <a class="btn btn-primary-light p-2" (click)="navigateToPayment()" role="button">Pay Rent</a> 
              <a class="btn btn-primary p-2" (click)='navigateToReserve(target)' role="button">Reserve Unit</a>                                       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sub-components">
  <div class="container feature-block mt-3">
    <div class="row">
      <div class="col-md-3 col-6 p-3" *ngFor= "let feature of features">
        <p class="text-center f-block-img"> 
          <img src="{{feature.data}}" class="f-img" alt="{{feature.alt}}" >
        </p>
        <h2 class="text-center f-text">
          {{feature.label}}
        </h2>
      </div>
    </div>
  </div>
  <div  class="container px-0 pt-2 mt-3"  #target>
      <app-tabs [tabs]='tabs' [name]='name' class="sub-component-background" [currentActiveTab]='currentTab' ></app-tabs>
  </div>
</section>

<!-- Data preloading Starts-->
<div hidden>
  <app-unit-sizer></app-unit-sizer>
  <app-about-us></app-about-us>
  <app-directions></app-directions>
</div>
<!-- Data preloading Ends-->