
<div class="payment-top">
  <div class="bg-translucent">
    <div class="container jumbotorn-top text-center" *ngFor="let payRent of payRent">
        <h1 class="pb-4">{{payRent.heading}}</h1>
        <p>{{payRent.blurb}}</p>
    </div>
  </div>
</div>
<div class="horizontal-row">
  <p class= "textbottom">
    We will no longer be sending out a monthly paper billing. Billing can be received by text or email after providing the information on the website, or by giving us a call to get your email and/or phone number in our records. Please provide current phone numbers, email address, and storage unit numbers on future checks & mail in payments.If there are any questions about your billing please give us a call or email us.</p>
  </div>


<div class="content-Holder bg-dark-background payment-bottom">
  <div class="container py-5">
    <h2 class="pb-3 text-center">{{payRentHeading}}</h2>
    <div class="row content-margin-top"  *ngIf="showPaymentPageType === 0">
      <div class="col-md-12 py-3 payment-map scroll-wrapper">
          <router-outlet></router-outlet>
      </div>
    </div>

      <div class="row" *ngIf="showPaymentPageType === 1">
        <div class="col-md-12 mx-0"  >
          <app-tabs [tabs]='tabs' ></app-tabs>
      </div>
  </div>
</div>
</div>