<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <img src="../../assets/images/southern-storage-logo.png" width="160px" height="" alt="Southern Storage" class="py-1">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars" style="color: #efefef;"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto nav-scroll">
        <li class="nav-item mx-2" *ngFor="let nav of navLinks">
          <a class="nav-link text-center" [routerLinkActive]="'nav-link-active'" [routerLink]="nav?.path" (click)="onClick(menu)">{{nav.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
