<div class="contentHolder" >
  <div class="container pb-5 my-3">
    <h1 class="py-5 text-center">{{viewRatesHeading}}</h1>
    <div class="row bg-light background-padding">
      <div class=" col-lg-12 col-md-12 coming p-3" >
        <p>Notice: Indoor storage is available at $6.05 per foot. Indoor heated storage is available at $11.00 per foot.</p>
        <router-outlet></router-outlet>
      </div>
      <div class="row">
      <div class="col-lg-6 col-md-6 p-4" [class.col-lg-12]="openComponent">
        <!-- <h3 class="view-rate-heading">Amenities</h3>
        <img src="{{imageBaseUrl}}/.{{imagetype}}"
        alt="{{viewRatesAltText}}" class="sectionImage" /> -->
        <table>
          <tHead>
              <tr>
                <th colspan="2" class="px-4 py-1 text-center" *ngFor="let th of gridHeader">
                  {{th.data}}
                </th>
              </tr>
          </tHead>
          <tbody>
            <tr *ngFor="let gridData of gridData" >
              <td colspan="2" class="px-4 py-1 border text-center">
                  {{gridData.length}}
              </td>
              <td colspan="2" class="px-4 border py-1 text-center">
                  {{gridData.rate}}
              </td>
            </tr>
          </tbody>
      </table>
      </div>
        <div class="col-lg-6 col-md-6 p-3">
          <p class="view-rate-text text-justify mb-1" *ngFor="let viewRates of viewRates">
            {{viewRates.p}}
          </p>
          <!-- <a class="btn btn-lg btn-primary mt-4" (click)="navigate('/storage-tips')" role="button">Storage tips</a> -->
        </div>
    </div>
    </div>
  </div>
</div>