<div class="storageUnitHolder">
  <div class="container px-0">
    <h2 class="text-center">{{heading}}</h2>
    <div class="row pt-2">
      <div class="col-12 px-0">
        <router-outlet></router-outlet>
        <!-- <span *ngIf="id === 1">
            <iframe id="advanced_iframe" name="advanced_iframe" src="https://br-fohl-st.sim.syrasoft.com/UnitAvailability" width="100%"
            height="850px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
        </span>
        <span *ngIf="id === 2">
          <iframe id="advanced_iframe" name="advanced_iframe" src="https://louisvilleselfstorage.sim.syrasoft.com/unitavailability" width="100%"
            height="850px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
        </span>
        <span *ngIf="id === 3">
          <div class="row">
            <div class="col-lg-8">
              <div class="p-3">
                <iframe id="advanced_iframe" name="advanced_iframe" src="https://lincolnstreetstorage.sim.syrasoft.com/unitavailability" width="100%"
                height="850px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" style="max-width:100%;"></iframe>
              </div>  
            </div>
            <div class="col-lg-4">
              <div class="p-3">
                <h2>Discounted Rates</h2>
                <p>Lincoln Street Storage currently offers discounted rates! The discount will be applied at move-in.</p>
                <app-tables [tBody]="rates"></app-tables>
              </div>
            </div>
          </div>    
        </span> -->
      </div>
    </div>
  </div>
</div>
