<div class="unit-sizer-container">
  <div class="container px-0">
      <span *ngIf="id === 0">
          <h2 class="text-center">Need help selecting a unit size?</h2>
          <p class="text-center">Not sure what size unit you need? Use our handy unit sizer below to determine which units will suit your needs!</p>
      </span>
      <span *ngIf="id === 1">
          <h2 class="text-center">Picking The Right Unit Size</h2>
          <p class="text-center">Not sure what sized unit you'll need? Use our self storage unit sizer below to help you choose or call our friendly management staff for assistance!</p>
      </span>
      <span *ngIf="id === 2">
          <h2 class="text-center">Need help selecting a unit size?</h2>
          <p class="text-center">Not sure what size unit you need? Use our handy unit sizer below to determine which units will suit your needs!</p>
      </span>

    <div class="container py-3 px-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 single-block p-1" *ngFor="let unit of unitSizer">
            <div class="text-center">
              <img [src]="unit?.img" height="auto" width="100%" alt="Unit Sizer in Affordable Rate" class="p-4">
            </div>
            <div class="pl-4">
              <h3 class="pt-1"> {{unit.size}} </h3>
              <p class="pr-2" > {{unit.data}} </p>
              <ul>
                <li *ngFor="let amenity of unit?.amenities"> {{amenity.content}} </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
