@import "../../styles.scss";

.padding-top {
  padding-top: 90px;
}
.row{
  margin-left: 0;
    margin-right: 0;
}

iframe {
  max-width: 100%;
}

.background-padding {
  padding: 64px;
}

h1 {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .background-padding {
    padding: 24px 9px;
  }
}
