<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <img class="pb-2" src="{{imageBaseUrl}}/logo.{{imagetype}}" width="auto"  alt="logo artwork that spells out Affordable Secure Self Storage on a storage building drawing">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto nav-scroll">
        <li class="nav-item mx-2" *ngFor="let nav of navLinks">
          <span *ngIf="nav?.type === 'link'"> 
            <a class="nav-link text-center" [routerLink]="nav?.path" [routerLinkActive]="'nav-link-active'" *ngIf="nav?.path !== '/pay-rent'"
            [routerLinkActiveOptions]="{exact: true}" (click)="onClick(menu)">{{nav.label}}</a>
            <a class="nav-link text-center" [routerLink]="nav?.path" [routerLinkActive]="'nav-link-active'"  *ngIf="nav?.path === '/pay-rent'"
            [routerLinkActiveOptions]="{exact: false}" (click)="onClick(menu)">{{nav.label}}</a>

          </span>

          <span *ngIf="nav?.type === 'dropdown'">
              <div class="dropdown show">  
                <a class="dropdown-toggle nav-link text-center" role="button" id="dropdownMenuLink" [class.nav-link-active]="router.isActive('/location/affordable-secure-storage-floral-city')  || router.isActive('/location/beck-road-storage')" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{nav.label}}</a>
                <ul class="dropdown-menu location-list" aria-labelledby="dropdownMenuLink">
                  <li *ngFor="let sub of nav.sublinks text-center"><a class="dropdown-item" [routerLinkActive]="'location-active'" [routerLink]="sub?.path" (click)="onClick(menu)">{{sub.label}}</a></li>
                </ul>
              </div>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
