/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Catskill-primary: mat-palette($mat-indigo);
$Catskill-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Catskill-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Catskill-theme: mat-light-theme($Catskill-primary, $Catskill-accent, $Catskill-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Catskill-theme);

//Basic color and font styles
$primary: #4582c4;
$primaryDark: #265485;

// $primary: #FF9800;
// $primaryDark: #EF6C00;
$secondary: #c8b18b;

$dark: #333;
$light: #f0ebe2;
$white: #fff;
$black: #000;
$border: #707070;
$shadow: #000;

$fontColor: #707070;
// $primaryFont: 'Roboto';
$primaryFont: "Lato", sans-serif;

body {
  // font: $primaryFont;
  font-family: $primaryFont;
}

.justify {
  text-align: justify;
}

.bg-primary {
  background: $primary !important;
}

// Different Background colors
.bg-secondary {
  background: $secondary !important;
}

.bg-dark {
  background: $dark !important;
}

.bg-light {
  background: $light !important;
}

.bg-translucent {
  background: rgba(0, 0, 0, 0.6);
  // position: relative;
}

// Content Holder Styles
.contentHolder {
  min-height: 90vh;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white !important;
  min-width: 200px;
}

.btn-primary:hover {
  background-color: $primaryDark;
  border-color: $primaryDark;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: $primary;
  border: 2px solid $primary;
  min-width: 200px;
  color: $white !important;
}

.btn-outline-primary:hover {
  background-color: $primaryDark;
  border-color: $primaryDark;
}

.section-headings {
  font-weight: 200;
}

.contact-map {
  width: 100%;
}

.heading {
  font-weight: 400;
}

.sectionImage {
  width: 100%;
}

.background-padding {
  padding: 64px;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .contentHolder {
    padding-top: 56px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .contentHolder {
    padding-top: 56px;
  }
}

@media screen and (max-width: 600px) {
  .contentHolder {
    padding-top: 56px;
  }

  .background-padding {
    padding: 24px 0;
  }
}