<div class="rent-holder">
  <div class="container px-0">
    <div class="rent-heading pb-5">
      <h1 class="text-center pt-5">Pay Your Rent Online</h1>
    </div>
    
    <div class="rent-sub-holder">
      <div class="container px-0">
        <div class="row">
            <div class="col-md-8 p-4">
              <iframe id="advanced_iframe" name="advanced_iframe" src="https://state-storage-l.sim.syrasoft.com/PayNow" width="100%" height="300" scrolling="yes" frameborder="0" border="0" 
              allowtransparency="true" style="max-width:100%;"></iframe>
              <!-- <h2 style="height: 400px; display: flex; align-items: center; justify-content: center; font-size: 3rem">Coming Soon !</h2> -->
               <!-- <router-outlet></router-outlet> -->
            </div> 
            
            <div class="col-md-4 rent-example px-4" >
              <h2> How to Login </h2>
              <p class="pt-3"> <b>Username:</b> First initial + Last Name </p>
              <p> <b>Password:</b> Your Unit Number</p>
          
              <p class="py-3"> <b>Example</b> </p>
              <p class="pb-3">John Smith's unit number is 1234</p>
          
              <p> <b>John's Username:</b> Jsmith </p>
              <p class="pb-3"> <b>John's Password:</b> 1234 </p>
          
              <p> <b>Have question about your account?</b> </p>
              
              <span *ngFor="let contact of contact"><span class="contact-data" *ngIf="contact?.id == 1 || contact?.id == 2"><a [href]="contact?.redirect">{{contact.data}}</a></span><br>
            </span>
            </div>
        </div>
      </div>
      </div>
  </div>
</div>

<!-- <div class="contentHolder">
  <div class="container my-3 pb-5 padding-top">
    <h1 class="py-5 text-center">Pay Rent Online</h1>
    <div class="row bg-light background-padding">
      <div class="col-lg-8 col-md-7 scroll-wrapper small-screen-padding">
          <router-outlet></router-outlet>
      </div>
      <div class="col-lg-4 col-md-5 vertical-line">
        <h3>How to Login</h3>
        <p><b>Username:</b>&nbsp;Tenant's Last Name<br>
        <b>Password:</b>&nbsp;Tenant's gate access code</p>
        <p><b>Example:</b></p>
        <p>John Smith's code is 1234</p>
        <p>John's Username: smith<br>
        John's Password: 1234</p>
        <p><strong>Have questions about your account?</strong><br>
        <span *ngFor="let contact of contactDetails" class="contact-links" [class.display-none]="contact?.id == 0">
          <a  *ngIf="contact?.id == 1 || contact?.id == 2" [href]="contact?.redirect">
            {{contact.data}}
          </a>
        <br>
      </span>
      </p>
      </div>
    </div>
  </div>
</div> -->