<div class="footer bg-secondary sticky col-md-12 p-4">   
    <div class="container">
        <div class="row footer_all"> 
            <div class="col-lg-3 col-md-12 col-sm-12 my-auto pb-3" >© 2020 Access Self Storage</div>
            <div class="col-lg-3 col-md-12 col-sm-12 my-auto text-center chamber" >
                <a href="https://www.chamberinnewbraunfels.com/" target="_blank" rel="nofollow" rel="noreferrer">
                    <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Access_Self_Storage/JPG/new-braunfels-chamber.png"  alt="Syrasoft Powered by Image" width="114px" height="48px" > 
                </a>
                <p> Proud Member of the New Braunfels Chamber of Commerce</p>
            </div> 
            <div class="col-lg-3 col-md-12 col-sm-12 my-auto text-center texas" >
                <a href="https://www.txssa.org/" target="_blank" rel="nofollow" rel="noreferrer" >
                    <img src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Access_Self_Storage/JPG/txssa-logo.png"  alt="Syrasoft Powered by Image" width="48px" height="48px" > 
                </a>
                <p> Member of the Texas Self Storage Association</p>
            </div> 
            <div class="col-lg-3 col-md-12 col-sm-12 my-auto" >
                <a href="https://www.syrasoft.com/" target="_blank" rel="nofollow" rel="noreferrer" >
                    <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredDark.svg"  alt="Syrasoft Powered by Image" width="124px" height="48px" > 
                </a>
            </div>            
        </div>    
    </div>
</div>
