<div class="contentHolder" >
  <div class="container pb-5 my-3">
    <h1 class="py-5 text-center">{{viewRatesHeading}}</h1>
    <div class="row bg-light background-padding">
      <div class=" col-lg-12 col-md-12 coming p-3" >
        <router-outlet></router-outlet>
      </div>
      <div class="row">
      <div class="col-lg-6 col-md-6 p-4" [class.col-lg-12]="openComponent">
        <h3 class="view-rate-heading">Amenities</h3>
        <!-- <img src="{{imageBaseUrl}}/inside-self-storage-unit.{{imagetype}}" alt="{{viewRatesAltText}}" class="sectionImage" /> -->
        <app-photos></app-photos>
      </div>
        <div class="col-lg-6 col-md-6 p-3">
          <p class="view-rate-text text-justify" *ngFor="let viewRates of viewRates">
            {{viewRates.p}}
          </p>
          <p style="color: red;" class="text-justify"> *Rates for Boat/RV storage vary based on the total length of the Boat or RV being stored. The rate
            listed on this page is the minimum rate, please contact our office to receive a detailed quote based on your specific needs.</p>
        </div>
    </div>
    </div>
  </div>
</div>