<div class="fixed-top">
  <app-header [currentActive]="currentActive"></app-header>
</div>
  
<div class="">
  <div class="jumbotron">
    <div class="bg-translucent">
      <div class="container">
        <div class="py-5" >
          <!-- <div class="row"> -->
            <!-- <div class="col-md-6"> -->
              <div class="disp">
                <!-- <h1 class="display-5">
                  <span style="font-weight: 500;">Catskill Self Storage</span>
                </h1> -->
                
                <h1 style="font-weight: 600; font-size: 1em; ">
                  <span style="font-weight: 600; font-size: 1.5em">GREAT STORAGE OPTIONS</span><br> With affordable truck rentals, drive-up access, temperature-controlled storage units, and other amenities, storing with us couldn't be more convenient. Contact us today to get started!
                </h1>
              </div>
            </div>
            <div class="row align-self-center content-align">
              <a class="btn btn-lg btn-outline-primary m-2" (click)="navigate('/view-rates')" role="button">Contact Us</a>
              <a class="btn btn-lg btn-primary m-2" (click)="navigate('/reserve')" role="button">View Rates</a>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container ">

    <div class="row">
      <div class="col-md-3 p-4" style="text-align: center">
        <img  src="../../assets/images/location.png" alt=""/>
      </div>
      <div class="col-md-3 p-4" style="text-align: center">
        <img src="../../assets/images/temperature-control.png" alt=""/>
      </div>
      <div class="col-md-3 p-4" style="text-align: center">
        <img  src="../../assets/images/storage-spot-online-portal.png" alt=""/>
      </div>
      <div class="col-md-3 p-4" style="text-align: center">
        <img src="../../assets/images/storage-spot-payments.png" alt=""/>
      </div>
    </div>
  
    <div class="container affordable">
        <h2>Affordable Storage Space Starting From</h2>
        <div class="row">
        <div class="col-md-4 boder" *ngFor="let p of price">
          <h2>{{p.cost}}<span style="font-size: 0.5em">/month</span></h2>
          <p>{{p.label}}</p>
        </div>
      </div>
        <a class="btn btn-lg btn-primary m-2" role="button">View All Units</a>
    </div>
    

  <div class="bg-light">
    <div class="container py-5">
      <div class="section py-5 m-0">
        <div class="row">
          <div class="col-md-6 py-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d47251.23771165393!2d-73.906239!3d42.252851!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeb3c5b1992ccc62a!2sU-Haul+Neighborhood+Dealer!5e0!3m2!1sen!2sus!4v1466783726746"
              width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div>
          <div class="col-md-6 py-3">
            <h1 class="heading pb-4">QUALITY STORAGE RIGHT NEXT DOOR!</h1>
            <p>
                Fairground Storage is conveniently located on the north side of Menzo Haverly Road in Elma, WA. Our facility is just off US State Route 12, making us easy to reach from Montesano, Oakville, Satsop, Malone-Porter, and other surrounding communities. In fact, we’re just 8 miles away from the city of McCleary! Come and visit us – we’re happy to show you around.
            </p>
            <p>
              <span *ngFor="let hour of hours">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg-light">
    <div class="row" style="text-align: center">
      <div class="col-md-6" *ngFor="let data of aboutUs" >
          <img [src]="data?.path" alt=""/>
          <h1>{{data.h}}</h1>
          <p  >{{data.p}}</p>
      </div>
    </div>  
  </div>

</div>

<app-footer></app-footer>