<div class="fixed-top">
  <app-header [currentActive]="currentActive"></app-header>
</div>
  
<div class="">
  <!-- <div class="jumbotron px-0 m-0">
    <div class="bg-translucent">
      <div class="container">
        <div class="py-5">
          <div class="row">
            <div class="col-md-6">
              <div class="disp">
                <h1 style="font-weight: 200; font-size: 2.5em;">
                  <span style="font-weight: 500;">Catskill Self Storage</span><br> Convenient & Affordable
                </h1>
              </div>
            </div>
            <div class="col-md-6  align-self-center content-align">
              <a class="btn btn-lg btn-outline-primary m-2" (click)="navigate('/view-rates')" role="button">View Rates</a>
              <a class="btn btn-lg btn-primary m-2" (click)="navigate('/reserve')" role="button">Reserve Unit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="jumbotron-container"> 
    <div class="jumbotron-test-upper carousel slide display" data-ride="carousel">
      <!-- <ol class="carousel-indicators"> -->
        <div class="z-index">
          <a class="btn btn-lg btn-primary m-2" role="button" data-toggle="modal" data-target="#exampleModalCenter">Launch Our Tour</a>
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3  style="color:#707070">Launch Our Tour</h3>
                    <a role="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </a>
                  </div>
                  <div class="modal-body">
                    <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"> -->
                      <!-- <div class="carousel-inner" role="listbox"> -->
                        <div *ngFor="let launch of launchOurTour" >
                          <!-- <div class="carousel-item"> -->
                            <img [src]="launch?.path" [alt]="launch?.caption"/>
                            <div style="padding: 10px">
                              <div style="font-weight: 600; font-size: 1.5em; color:#707070">{{launch.caption}}</div>
                              <h5 style="color:#707070">Description</h5>
                              <div style="font-size: 1em; color:#707070">{{launch.description}}</div>
                              <div>
                                <a class ='btn' (click)="prev()"><i class="fas fa-arrow-alt-circle-left"></i></a>
                                <a class ='btn' (click)="next()"><i class="fas fa-arrow-alt-circle-right"></i></a>
                              </div>
                              {{count}}
                            </div>
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </div> -->
                      <!-- <a class="carousel-control-prev" href="#carouselExampleControls" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
          <!-- </ol> -->
        <div class="carousel-inner jumbotron-top-style">
            <div class="carousel-item active">
              <div class="jumbotron-top jumbotron-top-style"></div>
            </div>
            <div class="carousel-item">
                <div class="jumbotron-top1 jumbotron-top-style"></div>
            </div>
            <div class="carousel-item">
                <div class="jumbotron-top2 jumbotron-top-style"></div>
            </div>
        </div>
    </div>
  
    <div class="container jumbotron-bottom">
        <div class="feature row">
            <div class="col-md-3 p-4 mt-3" style="text-align: center" *ngFor="let feature of feature">
              <img [src]="feature?.path" style="padding: 10px" alt="" />
              <h6 class="feature-text">{{feature.label}}</h6>
            </div>
          </div>
    </div>
  </div>
  
  

  <div class="container pb-5">
    
    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-md-6 py-3">
          <h1 class="heading pb-4">Services We Offer</h1>
          <p class="justify" *ngFor="let data of serviceOffered">{{data.p}}</p>
        </div>
        <div class="col-md-6 py-3">
          <app-tables [tBody]="featuresList" [tHead]="featuresHead"></app-tables>
        </div>
      </div>
    </div>

    <div class="section py-5 m-0">
      <div class="row">
        <div class="col-md-6 py-3">
          <img src="../../assets/images/self-storage-units.jpg" alt="storage unit picture" class="sectionImage">
        </div>
        <div class="col-md-6 py-3">
          <h1 class="heading pb-4">Little About Us</h1>
          <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
        </div>
      </div>
    </div>
  
  </div>

  <div class="bg-light">
    <div class="container py-5">
      <div class="section py-5 m-0">
        <div class="row">
          <div class="col-md-6 py-3">
            <h1 class="heading pb-4">Location Information</h1>
            <p>
              <span *ngFor="let contact of contactDetails">
                <b>{{contact.label}}</b> {{contact.data}}<br>
              </span>
            </p>
            <b>Hours:</b>
            <p>
              <span *ngFor="let hour of hours">
                <b>{{hour.label}}</b>{{hour.data}}<br>
              </span>
            </p>
          </div>
          <div class="col-md-6 py-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d47251.23771165393!2d-73.906239!3d42.252851!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeb3c5b1992ccc62a!2sU-Haul+Neighborhood+Dealer!5e0!3m2!1sen!2sus!4v1466783726746"
              width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="getStarted">
      <div class="container py-5">
        <div class="section py-5 m-0">
          <div class="row">
            <div class="col-md-12">
              <h1 class="heading pb-4">Get Started</h1>
              <p class="pb-4">{{gettingStarted}}</p>
              <a class="btn btn-lg btn-primary" (click)="navigate('/reserve')" role="button">Reserve Unit Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<app-footer></app-footer>