@import '../../styles.scss';

.jumbotron{
  // text-align: right !important;
  background: url(../../assets/images/self-storage-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  height: 100vh;
  color: $white;
  padding-top: 70vh;
  border-radius: 0px;
  a{
    margin-top: 20px;
  }
}

.content-align{
  text-align: right;
}

.modal-body {
  padding: 0rem!important;
}

.modal-content {
  width: auto;
  border: none!important;
  border-radius: 0px !important;
}
// .getStarted{
//   background: url(../../assets/images/self-storage-photo.png);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: fixed;
//   background-position: center top !important;
//   color: $white;
//   text-align: center;
// }

.disp {
  display: block;
  color: $white;
  a{
    color: $white;
  }
}

.z-index {
  position: absolute;
  z-index: 1045;
  bottom: 50px;
}

.jumbotron-top-style {
  height: 80vh;
}

.jumbotron-top {
  background: url(../../assets/images/victor-self-storage-slider/victor-self-storage-slider-1.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-top1 {
  background: url(../../assets/images/victor-self-storage-slider/victor-self-storage-slider-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-top2 {
  background: url(../../assets/images/victor-self-storage-slider/victor-self-storage-slider-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bottom {
  height: 20vh;
}

.feature-text {
  font-size: 0.8em;
  font-weight: 600;
  color: $fontColor;
  line-height: 1.5em;
}


.jumbotron-container {
  height: 100vh;
}
.display {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


@media screen and (max-width: 1024px) {
  .jumbotron{
    padding-top: 64vh;
    background-attachment: unset !important;
    background-position: center top !important;
    h1 {
      font-size: 2.5em !important;
    }
  }

  .content-align{
    text-align: right;
  }

  .getStarted{
    background-attachment: unset !important;
    background-position: center top !important;
  }

  .jumbotron-top-style {
    height: 75vh !important;
  }
  .jumbotron-bottom {
    height: 25vh !important;
    img {
      width: 70px;
    }
  }
}

@media screen and (max-width: 800px) {
  .jumbotron{
    padding-top: 50vh;
    // text-align: center !important;
    background-attachment: unset !important;
    background-position: center top !important;
    h1 {
      font-size: 3em !important;
    }
  }

  .content-align{
    text-align: right;
  }

  .getStarted{
    background-attachment: unset !important;
    background-position: center top !important;
  }
  .jumbotron-top-style {
    height: 80vh !important;
  }
  .jumbotron-bottom {
    height: 20vh !important;
  }
}

@media screen and (max-width: 736px) {
  .jumbotron{
    padding-top: 100%;
    text-align: center !important;
    background-attachment: unset !important;
    background-position: center left !important;
    h1 {
      font-size: 2em !important;
    }
  }
  .z-index {
    bottom: 100px!important;
  }

  .content-align{
    text-align: center;
  }

  .getStarted{
    background-attachment: unset !important;
    background-position: center top !important;
  }

  .disp {
    display: none;
  }
  .jumbotron-top-style {
    height: 100vh !important;
  }
  .jumbotron-bottom {
    display: none;
  }
}



 