<div *ngIf="passwordChanged else other;">
    <div class="pb-4"><strong><i>Password succefully changed.</i></strong></div>
    <div class="row">
        <div class="form-group col-3">
            <button type="button" class="btn btn-primary" (click)="navigate('/')"
            >Go Back</button>
        </div>
        <div class="form-group col-3 ">
            <button type="submit" class="btn btn-primary" (click)="navigate('/pay-rent/login')"
            >Go to payment</button>
        </div>
</div>
</div>
<div [class.loader]="showLoader"></div>

<ng-template #other>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <h2 >Change Your Password</h2>
  <div *ngIf="incorrectPassword" class="pt-4"><strong><i>Please enter correct password.</i></strong></div>
    <div class="row pt-4">
        <div class="form-group col-8" >
            <label>Please Enter Old Password</label> &nbsp;
            <input type="password" formControlName="strOldPassword"  
            class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.strOldPassword.errors }"
            />
            <div *ngIf="submitted && f.strOldPassword.errors" class="invalid-feedback">
                <div *ngIf="f.strOldPassword.errors.required">Old Password is required</div>
            </div>
        </div>
        <div class="form-group col-8" >
          <label>Please Enter New Password</label> &nbsp;
          <input type="password" formControlName="strNewPassword"  
          class="form-control" [ngClass]="{ 'is-invalid': submitted && f.strNewPassword.errors }"
          />
          <div *ngIf="submitted && f.strNewPassword.errors" class="invalid-feedback">
            <div *ngIf="f.strNewPassword.errors.required">New Password is required</div>
        </div>
        </div>
        <div class="form-group col-8" >
            <label>Re-enter New Password</label> &nbsp;
            <input type="password" formControlName="confirmPassword"  
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
            />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
    </div>
    <div class="row change-password">
            <div class="form-group col-lg-3 col-md-4 col-sm-5 col-12">
                <button type="button" class="btn btn-primary" (click)="goBack()"
                >Go Back</button>
            </div>
            <div class="form-group col-lg-3 col-md-4 col-sm-5 col-12 ">
                <button type="submit" class="btn btn-primary"
                >Change</button>
            </div>
    </div>
</form>
</ng-template>