<div class="contentHolder bg-custom">
  <div class="container pb-5 my-3 padding-top">
    <h1 class="py-5 text-center">{{unitSizerHeading}}</h1>
    <div class="row background-padding bg-light align-items-center justify-content-center">
      <div class="unit-sizer-holder">
          <div class="container">
            <div class="content-Holder">
              <div class="container">   
                <!-- <app-unit-sizes></app-unit-sizes> -->
                <h3>Coming Soon</h3>
                </div>
                <!--Container Ends Here-->
            </div>
            <!--Unit Sizer Container Ends Here-->
          </div>
        </div>
    </div>
  </div>
</div>