@import "../../styles.scss";

.carousel-caption {
  bottom: 40px;

  img {
    height: 120px;
  }
}

.btn-outline-primary {
  color: $white;
}
.JumbotronGuardianButton,
.JumbotronAccessMiniButton {
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  white-space: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.service {
  color: $dark;
  text-align: left;

  h1 {
    line-height: 2.5rem;
    font-size: 2rem;
  }

  img {
    width: 100%;
  }

  p {
    text-align: justify;
  }
}

.jumbotorn-button {
  display: block;
  text-align: center;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: $secondary !important;
  border-color: $secondary !important;
  color: $primary !important;
}

.btn-primary {
  background-color: white !important;
  border-color: $primaryDark !important;
  color: $primary !important;
  border-radius: 20px;
  width: 300px;
}
.jumbotorn-skew-style {
  width: 67%;
  float: left;
  left: -25%;
  position: relative;
  transform: skew(25deg);
  height: 100%;
  
  a {
    margin-top: 20px;
  }
}

.jumbotorn-skew-text {
  transform: skew(0deg);
  width: 100%;
  position: absolute;
  top: 21%; //changed from 16%
  left: 9%;
  color: $secondary;
  font-size: 1.5rem;
  .btn-outline-primary {
    margin-right: 10px;
  }
}

.jumbotron-home {
  .for-mobile-view {
    display: none; 
    
  }

  .for-desktop-view {
    display: block;

    .jumbotron-desktop {
      padding-top: 55px;
      height: 80vh;
    }
  }

  .feature-block {     
    padding-top: 0.5rem;
    height: 20vh; // changed from 35vh

    .sub_container{
      display: flex;
      flex-wrap: nowrap;
      // flex-direction: row;
      // justify-content: space-between;
      // align-items: flex-start;
      justify-content: flex-start; 
      width:70%; 
      // margin:auto;
    }
  
   .icon_container{
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center; 
      width:40px; 
   }
  
    h2 {
      line-height: 1rem; 
    }
    img {
      height: 60px;
      
    }

    .f-text {
      color: $dark;
      font-weight: 600;
      // font-size: 1rem; 
      font-size: 0.8rem; 
      
    }
    
  }
}


.jumbotron-background-jpg {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Edmonton_Storage/jpg/guardian-self-stoage-169.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.jumbotron-background-webp {
  background: url("https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Edmonton_Storage/webp/guardian-self-stoage-169.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.jumbotron-top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

// .jumbotron-top1 {
//   background: url("");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: calc(80vh - 64px);}

// .jumbotron-top2 {
//   background: url("");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: calc(80vh - 64px);
// }

// .jumbotron-top3 {
//   background: url("");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: calc(80vh - 64px);
// }

.contact-links {
  a {
    color: black !important;
  }
}

.map-responsive {
  iframe {
    border: 2px solid white;
  }
}

.content-align {
  text-align: right;
}

.contact-hours {
  border-left: 2px solid $border;
  padding-left: 5%;
}

.for-location {
  padding: 35px 0 64px 0;

  .locaion-selection {
    padding-bottom: 35px;
  }

  .btn-outline-primary {
    margin-right: 10px;
  }
}

.content-left {
  text-align: left;
}

.disp {
  display: block;
  
}

.testimonial {
  background: $light;
  height: auto;

  h1 {
    font-size: 2rem;
  }

  .carousel-indicators {
    li {
      width: 0.8rem;
      height: 0.8rem;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px $primary solid;
      position: relative;
      flex: 0 1 auto;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
    }

    .active {
      background-color: $primary;
    }
  }

  .carousel-item {
    max-width: 100%;

    .active {
      background-position: center center;
    }

    p {
      text-align: center;
      font-size: 1rem;
    }
  }
}

// @media screen and (max-height: 700px) and (min-width: 600px) {
//   .carousel-caption {
//     bottom: 40px;

//     img {
//       height: 60px;
//     }
//   }

//   .jumbotron-home {
//     // height: auto;

//     // .feature-block {
//     //   height: 160px;
//     // }
//   }
// }
@media screen and (max-height: 870px) {
  .jumbotorn-skew-text {
    font-size: 14px;
    
    

  }
  .disp {
    h2 {
      font-size: 16px;
      margin-bottom: 0px;
    }
  }
}
@media screen and (max-height: 548px) {
  .disp {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .jumbotorn-skew-text {
    width: 300px;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 750px) and (min-height: 641px) {
  
  .jumbotorn-skew-text {

    top:20%;
    .jumbotorn-button {
      a{
      font-size: 15px;
    }
  }
  }
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-height: 640px) and (min-height: 451px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .feature-block {
    height: 120px !important;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 450px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .jumbotorn-button {
    padding: 10px;
    width: fit-content;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 0;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .jumbotorn-skew-style { //added this block
    width: 80%;
    
  }
  .jumbotorn-skew-text {
    width: 400px;
    top: 22%; //it was 36%
    left: 6%;
    
    a {
      min-width: 160px;
      font-size: 1.4rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .jumbotorn-button {
    text-align: center;
    .btn {
      min-width: 160px !important;
    }

    .btn-outline-primary {
      color: $white !important;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 750px) and (min-height: 641px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 640px) and (min-height: 451px) {
  .jumbotron {
    height: 100vh;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .feature-block {
    height: 120px !important;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) and (max-height: 450px) {
  
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
    }
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .jumbotorn-skew-text {
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px;

    a {
      font-size: 1.25rem;
      min-width: 200px;
    }
  }

  .jumbotorn-button {
    padding: 10px;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }

  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 0;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .jumbotorn-skew-style {
    width: 91%;
    
  }

  .jumbotorn-button {
    .btn {
      min-width: 160px !important;
    }
  }

  .jumbotorn-skew-text {
    width: 400px;
    
    a {
      min-width: 140px;
      font-size: 1.4rem;
    }

    .disp {
      p {
        font-size: 1rem;
      }

      h2 {
        font-size: 1.4rem;
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 830px) and (min-height: 701px) {
  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 700px) and (min-height: 481px) {
  .jumbotron-top {
    height: 100vh;
    .jumbotorn-skew-style { //added this block
      width: 95%;
      
    }
  }

  .jumbotron {
    height: 100vh;
  }

  .feature-block {
    height: 20rem !important;
  }

  .jumbotorn-skew-text {
    a {
      min-width: 140px;
      font-size: 1.4rem;
    }

    .disp {
      p {
        font-size: 1rem;
      }

      h2 {
        font-size: 1.4rem;
      }
    }
  }
  .f-text {
    color: $dark;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
  }

  .feature-icon-style {
    padding: 12px 24px;

    h6 {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (max-height: 480px) {
  
  .jumbotron-top {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    
    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
      
    }
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .button-width {
    max-width: 200px;
    margin: auto;
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .jumbotorn-skew-text {
    display: none;
  }

  .jumbotron-bottom {
    height: 0;
  }

  .jumbotorn-button {
    padding: 2px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  
  .jumbotron-top {
    height: 100vh;
  }

  .jumbotron {
    height: 100vh;
  }

  .feature-block {
    height: 20rem !important;
    min-width:100%; //added this line
    
  }

  .jumbotorn-skew-style {
    width: 98%;
    left: -39%;
  }

  .jumbotorn-button {
    .btn {
      min-width: 160px !important;
    }
  }

  .jumbotorn-skew-text {
    top: 48%;
    width: 350px;

    a {
      min-width: 140px;
      font-size: 1.4rem;
    }

    .disp {
      p {
        font-size: 1rem;
      }

      h2 {
        font-size: 1.8rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 500px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;

    h1 {
      font-size: 2em;
    }

    .container {
      height: 100%;
      display: flex;
      
    }
  }

  .jumbotron-top {
    height: 100vh;
    
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotron-bottom {
    height: 0;
  }

  .jumbotorn-skew-style {
    display: none;
  }

  .jumbotorn-skew-text {
    display: none;
  }

  .jumbotorn-button {
    padding: 2px;
  }
}

@media only screen and (max-width: 600px) {
  .jumbotorn-skew-style {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) and (min-width: 420px) {
  // .jumbotron-home{
  //   border:2px solid orangered;
  //   padding-left:15px;
  //   .jumbotron-background-webp{
  //     width:100%;
  //   }
  //   .feature-block{
  //     border: 2px solid black;
      
  //   }
   
  // }
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
   
  }
  

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotron-bottom {
    height: 0;
    
  }

  // .jumbotorn-skew-style {
  //   transform: skew(0deg);
  //   width: 100%;
  //   left: auto;
  //   height: 90px;
  //   bottom: 0;
  //   position: absolute;
  // }

  .jumbotorn-skew-text {
    width: 100%;
    top: 25%;
    left: auto;
    // left: 9%;
    // top: 0;
    // bottom: 10px;
  }

  // .jumbotorn-button {
  //   padding: 2px;
  // }
}

@media only screen and (max-width: 429px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center left;
    height: 100vh;
  }

  .jumbotron-bottom {
    height: 0;
  }

  .feature {
    display: none;
  }

  .disp {
    display: none;
  }

  .jumbotorn-skew-text {
    width: 100%;
    top: 25%;
    left: 2px; //changed from auto
    
    // left: 9%;
    // top: 0;
    // bottom: 10px;
    
  }


  // .jumbotorn-skew-style {
  //   transform: skew(0deg);
  //   width: 100%;
  //   left: auto;
  //   height: 150px;
  //   bottom: 0;
  //   position: absolute;
  // }

  // .jumbotorn-skew-text {
  //   width: 100%;
  //   left: 0;
  //   top: auto;
  //   bottom: 2px;

  //   .btn-outline-primary {
  //     margin-right: 0;
  //     margin-bottom: 8px;
  //   }

  //   .btn-primary {
  //     margin-top: 8px;
  //   }

  //   .jumbotorn-button {
  //     padding: 15px;
  //   }
  // }
}
