@import "../../styles.scss";

.reserveUnitHolder {
  padding: 64px;
  margin-bottom: 50px;
  background-color: #f1f0ed;

  .coming-soon {
    font-size: 2rem;
    padding: 20%;
  }
}

.contact-links {
  a {
    color: black;
  }
}

textarea {
  width: 100%;
  height: 200px;
}

form {
  button {
    float: right;
  }
}

.contact-data {
  background-color: $light;

  label {
    padding-top: 0;
    margin-bottom: 0;
  }

  .btn {
    padding: 5px 140px;
    min-width: 160px;
  }
}

.btn-outline-primary {
  padding-top: .35rem;
  padding-bottom: .35rem;
}

@media only screen and (max-width: 600px) {
  .reserveUnitHolder {
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-bottom: 50px;

    .coming-soon {
      font-size: 1.8rem;
      padding: 40% 10%;
    }
  }

  .btn {
    width: 100%;
    margin: 5px 0;
  }
}
