<div class="footer bg-light py-4">
  <div class="container"> 
    <div class="row">
       <div class="col-6 my-auto footer-text-align privacy-policy">
          <!-- &copy; 2020 Linden Self Storage  -->
          <a  href="/privacy-policy" rel="nofollow"  target="_blank"> 
            Privacy Policy
        </a>
         <div class="col-7 pl-0 copyright-text">&copy; 2020 to 2022  {{facilityName}}</div> 
         <!-- // removed {{currentYear}} -->
        </div>
        <div class="col-6"> 
            <a class="syrasoft-logo-align" target="_blank" href="https://www.syrasoft.com/"  rel="nofollow"> <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredDark.svg" alt="" height="50px"> </a> 
        </div>
    </div>
   </div> 
 </div>