<div class="gallery-content">
  <div class="container px-0">
    <div class="row">
      <div class="col-lg-6">
        <div id="selectedImageM" class="text-center selectedImageM">
          <img *ngIf="selectedImage" src="{{selectedImage.url}}" alt="{{selectedImage.alt}}" height="100%" width="100%">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="data">
          <h3>Gallery</h3>
          <!-- <p class="text-justify" *ngFor='let data of galleryData'> {{data.p}} </p>          -->
          <div id="thumbnailsList" class="thumbnailsList">
            <span *ngFor="let image of galleryImages; let i = index" class="m-1">
             <img src="{{image.thumb}}" class="tn"  
              data-toggle="image.url" alt="{{image.alt}}" height="100%" width="100%"  data-target="#selectedImageM"
              (click)=setSelectedImage(image)>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
