<div class="footer bg-primary sticky col-md-12">   
    <div class="container">
        <div class="row py-3"> 
            <div class="col-6 my-auto text-left" >Copyright 2019 STORAGE WORLD</div>
            <div class="col-6 my-auto text-right" >
                <a href="https://www.syrasoft.com/" target="_blank" rel="nofollow" > 
                    <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredLight.svg" alt="Syrasoft_Poweredby image" width="auto" height="48px" > 
                </a>
            </div>            
        </div>    
    </div>
</div>
