@import "../../styles.scss";

.contact-button-data {
  background-color: #303030;
  width: 348px !important;
  padding: 20px 40px 20px 20px;
  right: 0;
  z-index: 1000;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.16);
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;

  .heading {
    h2 {
      color: $white;
      font-size: 1.5rem;
    }
  }

  .iconColor {
    color: $primary;
  }

  form {
    margin-bottom: 50px;
  }
}

.socialLink {
  a {
    color: $primary;
    font-size: 22px;
  }

  text-align: right;
}

label {
  color: #fff;
}

.contact-data {
  font-size: 0.8rem;

  a {
    color: $white;
  }
}

input {
  background-color: #707070;
  border: #707070;
  color: $white;
}

input:focus {
  background-color: #707070;
  border: #707070;
  color: $white;
}

textarea {
  background-color: #707070;
  border: #707070;
  color: $white;
}

textarea:focus {
  background-color: #707070;
  border: #707070;
  color: $white;
}


input::placeholder {
  color: #c7c7c7;
}

textarea::placeholder {
  color: #c7c7c7;
}

.form-control:focus {
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .contact-button-data {
    overflow: auto;
    overflow-y: scroll;
    height: 70vh;
    width: 300px !important;
  }
}

@media screen and (max-height: 750px) {
  .contact-button-data {
    overflow: auto;
    overflow-y: scroll;
    height: 70vh;
    width: 300px !important;
  }
}
