@import "../../styles.scss";

.payment-top {
  height: 60vh;
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Fortress_Images/backImg/pay-rent.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .jumbotron-top {
    padding: 0% 8%;
  }
}

.bg-translucent {
  height: 60vh;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.content-Holder {
  text-align: center;
  color: $fontColor;

  h2 {
    color: $white;
    border-bottom: 1px solid $primary;
    margin: auto;
    font-size: 1.7rem;
    width: 200px;
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .content-Holder {
    h2 {
      display: block;
    }
  }

  .jumbotorn-top {
    display: none;
  }

  .p-sec-block {
    padding-top: 50px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .payment-top {
    height: 40vh;
  }
}
