@import "../../styles.scss";

.padding-top {
  padding-top: 158px;
}

iframe {
  max-width: 100%;
}


.background-padding {
  padding: 64px;
}

@media only screen and (max-width: 600px) {
  .background-padding {
    padding: 24px 0;
  }
}

@media only screen and (max-width: 991px) {
  .padding-top {
    padding-top: 80px;
  }
}