<div class="footer bg-secondary col-md-12 py-3">   
  <div class="container">
    <div class="row"> 
      <div class="col-6 my-auto copright-text">&copy; 2018 FORTRESS MINI STORAGE</div>
      <div class="col-6 my-auto syrasoft-img"><a href="https://www.syrasoft.com/" target="_blank" rel="nofollow"> <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Syrasoft_Poweredby/syrasoftPoweredLight.svg" alt="" width="auto" height="48px" > </a></div>            
    </div>    
  </div>
</div>
