
<div class="container px-0">
  <div class="grid text-center mx-0 horizontal-scroll-wrapper tab">
    <span *ngFor="let tab of tabData" class="grid-item" >
        <!-- [ngClass]="{'active-tab': selectedTab == tab?.name}" -->
      <span>
          <a [routerLink]="tab?.path"  class="px-3 py-2 btn" [routerLinkActive]="'tab-active'" [routerLinkActiveOptions]="{exact:true}" [ngClass]="{'active-tab': selectedTab == tab?.name}">{{tab.name}}</a>
        
        <!-- [routerLinkActive]="'tab-active'" [routerLinkActiveOptions]="{exact: true}" -->

        <!-- [queryParams]="{ currentTab: tab?.name }" -->
      </span>
    </span>
  </div>
</div>

<router-outlet></router-outlet>
  