<div class="contentHolder">
    <div class="container pb-5 padding-top">
        <h1 class="py-5 text-center">Reserve a Unit</h1>
      <div class="row bg-light background-padding">
        <div class="col-md-12">
          <iframe id="advanced_iframe" name="advanced_iframe" src="https://sauquoitss.sim.syrasoft.com/unitavailability" width="100%"
            height="700" scrolling="no" frameborder="0" border="0" allowtransparency="true"  onload=";aiResizeIframe(this, 'true','1');"></iframe>
        </div>
      </div>
    </div>
  </div>