@import "../../styles.scss";

.footer {
  color: $white;
  text-align: center;
  font-size: 1em;
  bottom: 0;
  left: 0;
  right: 0;
  position: static;

  .copyright-text {
    text-align: left;
  }

  .copyright-image {
    text-align: right;
  }

  a {
    color: white;
  }
}
