<div class="footer bg-light sticky p-3">
  <div class="container">
    <div class="row"> 
      <div class="col-6 my-auto text-left privacy-policy"> 
        <a  href="/privacy-policy" > 
            Privacy Policy
        </a>
        <div class="col-7 pl-0 copyright-text"> &copy; 2021 Self Storage of York</div>
      </div>
      <div class="col-5 my-auto copyright-image"><a href="https://www.syrasoft.com/" target="_blank" rel="noopener noreferrer">
        <img src="https://syrasoft-tenant-facing-websites.s3.us-east-1.amazonaws.com/Syrasoft_Poweredby/syrasoftPoweredDark.svg" alt="" width="120" > </a></div>                
    </div>    
  </div>
</div>
