.contentHolder {
  .container {
    padding-top: 50px;
    background-color: #f1f0ed;
  }
}

.coming-soon {
  font-size: 2rem;
  padding: 20% 0;
  line-height: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .contentHolder {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-bottom: 50px;
  }
}
