<div class="contentHolder">
  <div class="container pb-5 my-3">
    <div class="py-5 text-center">
      <h1 class="pb-2 text-center">{{ storageTipsHeading }}</h1>
      <img
        src="https://syrasoft-tenant-facing-websites.s3.amazonaws.com/Store_QC/jpg/store-qc-logo.png"
        alt=" badge artwork with an illustrated crossroads, a line art city skyline, and the words 61-280 Storage 563-381-8017 at the bottom"
      />
    </div>
    <div class="row accordion-background bg-light background-padding">
      <div class="px-4 col-md-5">
        <ul>
          <li
            class="storage-left text-justify"
            *ngFor="let store of storageTip"
          >
            {{ store.data }}
          </li>
        </ul>
      </div>
      <div class="col-md-7 px-4" id="accordion">
        <app-accordion></app-accordion>
      </div>
    </div>
  </div>
</div>
