<div class="">
  <div class="jumbotron p-0 m-0">
    <div class="bg-translucent  text-align">
      <div class="container display">
        <div class="row justify-content-center width margin-bottom">
          <div class="col-md-12">
            <div class="disp">
              <h1>SAFE & SECURE<br>SELF STORAGE</h1><br>
              <p>Family owned & operated since 1989! Fortress Mini Storage is proud to provide Orchards and Sifton with prompt, friendly customer service and high quality storage units and RV parking at very affordable prices!</p>
            </div>
            <div class="jumbotron-buttons" >
              <a class="btn btn-lg btn-outline-primary m-2" (click)="navigate('/contact')" role="button">Contact Us</a>
              <a class="btn btn-lg btn-primary m-2" (click)="navigate('/view-rates')" role="button">View Rates</a>
            </div>
          </div>
        </div>
      </div>
      <div class="arrow" >
        <img (click)="scroll(target)" src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Fortress_Images/down.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="about-us bg-dark-background"  #target>
    <div class="container py-5">
      <div class="section py-5 m-0">
        <h2 class="heading pb-3">Family Owned & Operated Self Storage Since 1989</h2>
        <div class="row content-margin-top">
          <div class="col-md-6 py-3">
            <p class="justify" *ngFor="let data of aboutUs">{{data.p}}</p>
          </div>
          <div class="col-md-6 py-3" >
            <img src="https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Fortress_Images/fortress-mini-storage-outdoor.jpeg" height="300" width="auto" alt="storage unit picture" class="sectionImage">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="we-provide">
    <div class="we-provide-background py-5">
      <div class="container py-5">
        <div class="section  m-0">
          <div class="row">
            <div class="col-md-12">
              <h2 class="heading pb-3">We Provide</h2>
              <div class="row primary-margin">
                <div class="col-md-3 col-6 p-4 text-center" *ngFor="let feature of feature">
                  <img [src]="feature?.path" class="p-1" height="75px" alt="Fortress features" />
                  <h6 class="feature-text">{{feature.label}}</h6>
                </div>
              </div>
              <div>
                <ul class="row mx-0" > 
                  <li class="col-md-6 col-lg-4 py-2" *ngFor="let featuresList of featuresList">{{featuresList.li}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="locate-us bg-dark-background">
    <div class="container py-5">
      <div class="section py-5 m-0">
          <h2 class="heading pb-3">Locate Us</h2>
        <div class="row content-margin-top">
            <div class="col-md-6 py-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2788.0843187961736!2d-122.54605088487533!3d45.66920757910392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495b010baaefa99%3A0xe8b2d78098464d72!2sFortress+Mini+Storage!5e0!3m2!1sen!2sus!4v1543891884614" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen></iframe>
              </div>
          <div class="col-md-6 py-3 locate-us-style">
            <table>
              <tr valign="top" *ngFor="let contact of contactDetails">
                <td> <strong> {{contact.label}} </strong></td><td class="contact-data" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect"> {{contact.data}}</a></td>
                <ng-template #other_content><td >{{contact.data}}</td></ng-template>
              </tr>
            </table>
  
            <h4 class="pt-4">Office Hours:</h4>
              <table>
              <tr valign="top" *ngFor="let hour of hours">
                <td> <strong> {{hour.label}} </strong> </td><td> {{hour.data}}</td>
              </tr>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>