@import "../../styles.scss";

.jumbotron {
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Fortress_Images/fortress-mini-storage-units.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  color: $white;
  border-radius: 0;

  a {
    margin-top: 20px;
  }
}

.jumbotron-buttons {
  .btn {
    margin: auto 10px;
  }
}

.feature-text {
  text-transform: uppercase;
}

.content-align {
  text-align: right;
}

.primary-margin {
  margin: 64px 0;
}

.content-margin-top {
  margin-top: 64px;
}

.feature-list {
  position: relative;
  margin: auto;

  li {
    display: flex;
    align-items: baseline;
  }
}

.we-provide {
  background: url("https://s3.amazonaws.com/syrasoft-tenant-facing-websites/Fortress_Images/jumbotorn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  color: $white;
  text-align: center;
}

.we-provide-background {
  background: rgba(0, 0, 0, 0.8);

  h2 {
    text-align: center;
    border-bottom: 1px solid #ffde03;
    width: 300px;
    margin: auto;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
    width: 80%;
    margin: auto;
  }

  li::before {
    content: "• ";
    color: $primary; /* or whatever color you prefer */
    padding: 10px;
  }
}


.contact-data {
  a {
    color: $white;
  }
}

.locate-us {
  h2 {
    text-align: center;
    border-bottom: 1px solid #ffde03;
    width: 300px;
    margin: auto;
  }
}

.about-us {
  h2 {
    text-align: center;
    border-bottom: 1px solid #ffde03;
    width: 70%;
    margin: auto;
  }
}

.locate-us-style {
  tr {
    font-weight: 300;

    td {
      padding: 2px 15px 2px 0;
    }
  }
}

.bg-dark-background {
  color: $white;
}

.disp {
  padding: 0% 15%;
  color: $white;

  a {
    color: $white;
  }

  p {
    font-size: 1.2rem;
    padding-bottom: 20px;
    line-height: 1.5;
  }

  h1 {
    font-size: 3.5rem;
  }
}


.display {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-top {
  margin-top: 15%;
}

.text-align {
  text-align: center;
}

.arrow {
  position: relative;
  bottom: 100px;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  -webkit-animation-name: example;
  animation-name: example;
  cursor: pointer;
}

@keyframes example {
  0% { bottom: 100px; }
  50% { bottom: 120px; }
  100% { bottom: 100px; }
}

@media only screen and (min-width: 992px) and (max-height: 600px) and (min-height: 481px) {
  .jumbotron {
    .arrow {
      display: none;
    }

    .margin-bottom {
      margin-bottom: 10vh;
    }

    .display {
      text-align: center;
      justify-content: center;
      align-items: flex-end;
    }

    .disp {
      p {
        font-size: 1rem;
      }

      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-height: 480px) {
  .jumbotron {
    .arrow {
      display: none;
    }

    .display {
      text-align: center;
      justify-content: center;
      align-items: flex-end;
    }

    .disp {
      padding: 0% 0%;

      p {
        display: none;
      }

      h1 {
        font-size: 3rem;
      }
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron {
    background-attachment: unset;
    background-position: center top;
  }

  .content-align {
    text-align: right;
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) and (min-height: 451px) and (max-height: 600px) {
  .jumbotron {
    background-attachment: unset;
    background-position: center top;

    .display {
      align-items: flex-end;
    }
  }

  .disp {
    p {
      font-size: 1rem;
    }

    h1 {
      font-size: 2rem;
    }
  }

  .content-align {
    text-align: right;
  }

  .arrow {
    display: none;
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (max-height: 450px) {
  .jumbotron {
    background-attachment: unset;
    background-position: center top;

    .display {
      align-items: flex-end;
      justify-content: center;

      .jumbotron-buttons {
        margin-top: 0;
      }
    }
  }

  .content-align {
    text-align: right;
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }

  .arrow {
    display: none;
  }

  .disp {
    p {
      display: none;
    }

    h1 {
      font-size: 2.5rem;
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .jumbotron {
    background-attachment: unset;
    background-position: right top;
  }

  .content-align {
    text-align: right;
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }

  .disp {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (min-height: 500px) and (max-height: 600px) {
  .jumbotron {
    background-attachment: unset;
    background-position: center top;

    .display {
      align-items: flex-end;
      justify-content: center;

      .jumbotron-buttons {
        margin-top: 0;
      }
    }
  }

  .arrow {
    display: none;
  }

  .content-align {
    text-align: right;
  }

  .disp {
    padding: 0%;

    p {
      display: 0.8rem;
    }
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 500px) and (min-height: 381px) {
  .jumbotron {
    background-attachment: unset;
    background-position: center top;

    .display {
      align-items: flex-end;
      justify-content: center;

      .jumbotron-buttons {
        margin-top: 0;
      }
    }
  }

  .arrow {
    display: none;
  }

  .content-align {
    text-align: right;
  }

  .disp {
    padding: 0%;

    // .margin-bottom {
    //   margin-top: auto;
    //   margin-bottom: auto;
    // }

    p {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 2.5rem;
    }
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) and (max-height: 380px) {
  .jumbotron {
    background-attachment: unset;
    background-position: center top;

    .display {
      align-items: flex-end;
      justify-content: center;

      .jumbotron-buttons {
        margin-top: 0;
      }
    }
  }

  .arrow {
    display: none;
  }

  .content-align {
    text-align: right;
  }

  .disp {
    padding: 0%;

    // .margin-bottom {
    //   margin-top: auto;
    //   margin-bottom: auto;
    // }

    p {
      display: none;
    }

    h1 {
      font-size: 2.5rem;
    }
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }
}

@media only screen and (max-width: 600px) {
  .about-us {
    h2 {
      width: auto;
    }
  }

  .we-provide-background {
    h2 {
      width: auto;
    }
  }

  .locate-us {
    h2 {
      width: auto;
    }
  }
}

@media only screen and (max-width: 600px) and (min-width: 481px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: right;

    .display {
      justify-content: center;

      .jumbotron-buttons {
        margin-top: 0;
      }
    }
  }

  .content-align {
    text-align: center;
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }

  .content-margin-top {
    margin-top: 36px;
  }

  .disp {
    padding: 0%;

    p {
      font-size: 1rem;
    }
  }

  .we-provide-background {
    li {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 600px) and (min-width: 481px) and (max-height: 580px) and (min-height: 381px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;

    .display {
      align-items: flex-end;
      justify-content: center;

      .jumbotron-buttons {
        margin-top: 0;
      }
    }
  }

  .content-align {
    text-align: center;
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }

  .content-margin-top {
    margin-top: 36px;
  }


  .disp {
    p {
      font-size: 0.9rem;
    }

    h1 {
      font-size: 2.5rem;
    }

    padding: 0%;
  }

  .arrow {
    display: none;
  }

  .we-provide-background {
    li {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 600px) and (min-width: 481px) and (max-height: 380px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;

    .display {
      align-items: flex-end;
      justify-content: center;

      .jumbotron-buttons {
        margin-top: 0;
      }
    }
  }

  .content-align {
    text-align: center;
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }

  .content-margin-top {
    margin-top: 36px;
  }


  .disp {
    p {
      display: none;
    }

    h1 {
      font-size: 2.5rem;
    }

    padding: 0%;
  }

  .arrow {
    display: none;
  }

  .we-provide-background {
    li {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 480px) and (min-height: 801px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;

    h1 {
      font-size: 2em;
    }
  }

  .content-align {
    text-align: center;
  }

  .jumbotron-buttons {
    .btn {
      margin: 10px auto;
    }
  }

  .btn-primary {
    min-width: 100%;
    // margin: auto 10px;
  }

  .btn-outline-primary {
    min-width: 100%;
    // margin: auto 10px;
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }

  .content-margin-top {
    margin-top: 36px;
  }

  .disp {
    margin-top: 150px;
    padding: 0%;

    p {
      font-size: 1rem;
    }
  }

  .we-provide-background {
    li {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 480px) and (max-height: 800px) and (min-height: 569px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;

    h1 {
      font-size: 2em;
    }

    .btn-primary {
      min-width: 100%;
      margin: 10px 0;
    }

    .btn-outline-primary {
      min-width: 100%;
      margin: 10px 0;
    }
  }

  .content-align {
    text-align: center;
  }

  .we-provide {
    background-attachment: unset;
    background-position: center top;
  }

  .content-margin-top {
    margin-top: 36px;
  }

  .disp {
    margin-top: 150px;
    padding: 0%;

    p {
      font-size: 1rem;
    }
  }

  .arrow {
    display: none;
  }

  .we-provide-background {
    li {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 480px) and (max-height: 568px) and (min-height: 420px) {
  .jumbotron {
    text-align: center;
    background-attachment: unset;
    background-position: center;

    .width {
      width: 100%;
    }

    .btn-primary {
      min-width: 100%;
      margin: 10px 0;
    }

    .btn-outline-primary {
      min-width: 100%;
      margin: 10px 0;
    }

    .display {
      align-items: flex-end;
      justify-content: center;

      .jumbotron-buttons {
        margin-top: 0;
      }
    }
  }

  .margin-bottom {
    margin-top: auto;
    margin-bottom: auto;
  }

  .disp {
    padding: 0;

    p {
      display: none;
    }

    h1 {
      font-size: 2.35rem;
    }
  }

  .arrow {
    display: none;
  }
}

@media only screen and (max-width: 480px) and (max-height: 419px) {
  .jumbotron {
    .display {
      align-items: flex-end;
      justify-content: center;


      .jumbotron-buttons {
        margin-top: 0;
      }
    }

    .disp {
      p {
        display: none;
      }

      h1 {
        font-size: 1.5rem;
      }

      padding: 0;
    }
  }

  .arrow {
    display: none;
  }
}


@media only screen and (max-width: 369px) {
  .jumbotron {
    .btn-primary {
      min-width: 100%;
    }

    .btn-outline-primary {
      min-width: 100%;
    }
  }

  .jumbotron-buttons {
    .btn {
      margin: 5px auto;
    }
  }
}
