<div class="storageUnitHolder">
  <div class="container px-0">
    <h2 class="text-center">{{heading}}</h2>
    <div class="row pt-2">
      <div class="col-12 px-0">
        <span *ngIf="id === 1">
            <iframe id="advanced_iframe" name="advanced_iframe" src="" width="100%"
            height="850px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" ></iframe>
            <!-- <div style="display: flex; align-items: center; justify-content: center; align-content: center; height: 600px;">
                <h6 style="font-size: 2rem;"> Coming Soon</h6>
              </div> -->
        </span>
        <span *ngIf="id === 2">
          <iframe id="advanced_iframe" name="advanced_iframe" src="" width="100%"
            height="850px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" ></iframe>
        </span>
        <span *ngIf="id === 3">
          <iframe id="advanced_iframe" name="advanced_iframe" src="" width="100%"
          height="850px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" ></iframe>
      </span>
      <span *ngIf="id === 4">
        <iframe id="advanced_iframe" name="advanced_iframe" src="" width="100%"
        height="850px" scrolling="yes" frameborder="0" border="0" allowtransparency="true" ></iframe>
    </span>
      </div>
    </div>
  </div>
</div>
