<div class="storage-tips-top">
  <div class="bg-translucent">
      <div class="container" style="text-align: center; padding: 0% 8%">
        <h1 class="pb-4">Helping you In Every Step</h1>
        <p>We are Scotia's premiere self storage facility, with a wide variety of self storage unit sizes, and stellar customer service, all at an affordable price!</p>
      </div>
  </div>
</div>

<div class="contentHolder bg-dark-background">
  <div class="container py-5">
    <h1 class="py-4">Scotia Self Storage Tips</h1>
    <div class="row accordion-background py-5">
      <div class="col-md-6">
        <ol style="text-align: left"><li class="storage-left" *ngFor="let store of storageTip" >{{store.data}}</li></ol>
      </div>
      <div class="col-md-6" id="accordion">
         <div class="card" style="text-align: left"  *ngFor="let storage of storageTipAccordion">
            <div class="card-header noselect">
              <div class="card-header-before-collapse collapsed p-3" style="cursor: pointer" data-toggle="collapse" [attr.data-target]="'#collapseOne'+storage?.id" aria-expanded="true">
                {{storage.label}}                 
              </div>
            </div>
          
            <div [id]="'collapseOne'+storage?.id"  aria-labelledby="collapseOne" data-parent="#accordion" class="collapse" [ngClass]="storage?.id == 0 && 'show'">
              <ul class="card-body">
                <li *ngFor="let data of storage.data">
                {{data.p}}
              </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

