
<div class="contentHolder">
  <div class="container">
      <div class="heading pb-5">
        <h1 class="text-center pt-5 disp">Contact Us</h1>
      </div>
      <div class="contact-data">
        <div class="row">
          <div class="col-md-7">
            <form>
                <div [hidden]="valid" class="alert alert-danger">
                    Please fill out all the required fields!
                 </div>
                 <div [hidden]="submited" class="alert alert-success">
                   Thank You for contacting us, We will get back to you soon.
                 </div>
                 <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="Name">Name</label>
                          
                          <input  type="text" 
                                  name="Name" 
                                  class="form-control" 
                                  id="Name" 
                                  placeholder="Enter Name*"
                                  [(ngModel)]="name" 
                                  required>
                          
                          <small id="nameHelp" class="form-text text-muted"></small>
                        </div>
                  </div>


                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="Phone">Phone number</label>
                          
                          <input  type="tel" 
                                  name="Phone" 
                                  class="form-control" 
                                  id="Phone"
                                  aria-describedby="telHelp" 
                                  placeholder="Enter Phone Number*" 
                                  [(ngModel)]="phone" 
                                  required>
                          
                          <small id="telHelp" class="form-text text-muted"></small>
                      </div>
                  </div>
                 </div>

                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Email">Email Address</label>
                            <input 
                                  type="email" 
                                  name="Email" 
                                  class="form-control" 
                                  id="Email"
                                  aria-describedby="emailHelp" 
                                  placeholder="Enter Email*" 
                                  [(ngModel)]="email" 
                                  required>

                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                   </div>

                   <div class="form-group">
                      <label for="Message">Message</label>
                      <textarea class="form-control" 
                                name="message" 
                                id="Message" 
                                placeholder="Enter Message*" 
                                [(ngModel)]="message" 
                                required></textarea>
                      <small id="messageHelp" class="form-text text-muted"></small>
                   </div>
                   <button type="submit" class="btn btn-primary px-4 mx-1" (click)="formSubmit()" style="float: right;">Send</button>
                   <button type="button" class="btn btn-outline-primary mx-1 px-4" (click)="formClear()" style="float: right;">Clear</button>

            </form>
          </div>
          
          <div class="col-md-5">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4146.257235889596!2d-97.29052734279435!3d29.088764897349915!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5fa42437a761f42!2sSecurity+Storage!5e0!3m2!1sen!2sus!4v1543607082908" width="100%" height="400px" frameborder="0" style="border:2px solid #fff;"  allowfullscreen></iframe>
              </div>
              <div class="contact-details pt-3">
                <h2 class="py-1">Security Storage</h2>
                <span *ngFor="let contact of contactInfo; let i = index">
                  <span>
                   <b>{{contact.label}}</b> {{contact.data}}<br>
                  </span>
                </span>
                <h3 class="py-1">Office:</h3>
                <span *ngFor="let hour of hours">
                  <b>{{hour.label}}</b> {{hour.data}}<br>
                </span>
              </div>
          </div>
      </div>
  </div>


</div>
  
</div>
