@import "../../styles.scss";

.contentHolder {
  padding-top: 90px;
  margin-bottom: 50px;
  min-height: 86vh;

  .padding {
    padding: 48px;
  }

  .font-xs-device {
    margin-bottom: 8px;
  }

  .row{
    margin-left: 0;
    margin-right: 0;
  }
  a {
    color: $fontColor;
  }

  .form-control {
    font-size: 0.8em;
  }

  label {
    font-size: 0.875rem;
  }

  .contact-data {
    label {
      padding-top: 0;
      margin-bottom: 0;
    }

    .btn {
      padding: 5px 140px;
      min-width: 160px;
      float: right;
    }
  }

  textarea {
    width: 100%;
    height: 200px;
  }

  h3 {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 45%;
  border: 2px solid #fff;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.hour-links {
  display: block;
  margin-bottom: 8px;
}

small {
  font-size: 0.8rem;
}
@media only screen and (max-width:991px){
  .contentHolder{
    padding-top:60px;
  }
}

@media only screen and (max-width: 600px) {
  .contentHolder {
    .padding {
      padding: 0;
    }

    .contact-data {
      //padding: 16px 16px 90px 16px;

      .btn {
        width: 100%;
        margin: 5px 0 10px 5px;
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  .font-xs-device {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
