
<div class="contentHolder">
  <div class="container">
      <div class="heading pb-5">
        <h1 class="text-center pt-5 disp">Contact Sto and Go</h1>
      </div>
      <div class="contact-data">
        <div class="row bg-secondary padding">
          <div class="col-lg-7 p-4">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div [hidden]="" *ngIf="submitted && !this.contactForm.valid" class="alert alert-danger alert-dismissible fade show">
                        Please fill out all the required fields!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <div [hidden]="" *ngIf="mailSent" class="alert alert-success alert-dismissible fade show">
                        Thank You for contacting us, We will get back to you soon.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name*</label>
                            <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter Name"/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.name.errors.required">Please fill out this field</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone">Phone Number*</label>
                            <input id="phone" type="tel" formControlName="phone" placeholder="Enter Phone Number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.phone.errors.required">Please fill out this field</small>
                            </div>
                            <div *ngIf="f.phone.errors" >
                                <small class="form-text text-muted" *ngIf="f.phone.errors.pattern">Please enter valid number</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email Address*</label>
                            <input id="email" type="text" formControlName="email" placeholder="Enter Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.email.errors.required">Please fill out this field</small>                                  
                            </div>
                            <div *ngIf="f.email.errors" >
                                <small class="form-text text-muted" *ngIf="f.email.errors.email">Please enter a valid email</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input id="subject" type="text" formControlName="subject" placeholder="Enter subject" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="message">Message*</label>
                            <textarea id="message" type="text" formControlName="message" placeholder="Enter Message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" ></textarea>
                            <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                <small class="form-text text-muted" *ngIf="f.message.errors.required">Please fill out this field</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary px-4 mx-1">Submit</button>
                    <button type="button" class="btn btn-outline-primary mx-1 px-4" (click)="contactForm.reset()">Clear</button>
 
                </div>
            </form>
          </div>
          
          <div class="col-lg-5 p-4">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.0123981509983!2d-78.6936463854879!3d33.889334533746315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89007d4e9d2705b9%3A0x85d993fdf6981ac3!2sSto%20and%20Go%20LLC!5e0!3m2!1sen!2sus!4v1568590571640!5m2!1sen!2sus" width="100%" height="400px" frameborder="0"  allowfullscreen></iframe>
              </div>
              <div class="contact-details pt-4">
                <h3 class="py-1">Sto and Go</h3>
                <!-- <span class="font-xs-device" *ngFor="let contact of contactInfo">
                    <b>{{contact.label}}</b><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                    <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
                </span>
                <h3 class="py-1"><strong>Office:</strong></h3>
                <span class="font-xs-device" *ngFor="let hour of hours">
                  <b>{{hour.label}}</b> {{hour.data}}<br>
                </span> -->
                <div>
                        <div class="font-xs-device" *ngFor="let contact of contactInfo">
                          <b>{{contact.label}}</b><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                          <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
                        </div>
                        <div class=" font-xs-device">
                          <h3 class="py-1"><strong>Access Hours: </strong></h3>
                            <div *ngFor="let hour of hours">
                                <span class="hour-links" *ngIf="hour?.id === 0  else elseblock">{{hour.data}}</span>
                              </div>
                              <h3 class="py-1"><strong>Office Hours: </strong></h3>
                              <div *ngFor="let hour of hours">
                                <span class="hour-links" *ngIf="hour?.id === 1 || hour?.id === 2 || hour?.id === 3 "><b>{{hour.label}}</b>&nbsp;{{hour.data}}</span>
                                <!-- <span  *ngIf="hour?.id !== 0 || hour?.id !== 1 "><b>{{hour.label}}</b>&nbsp;{{hour.data}}</span> -->
                              </div>      
                        </div>
                        </div>
              </div>
          </div>
      </div>
  </div>


</div>
  
</div>
