<app-script-hack type="application/ld+json">
  {{script | json}}
 </app-script-hack>
<div>

  <div class="jumbotron-home">
    <div class="jumbotron-top">
    <div class="jumbotron px-0 m-0" [ngClass]="imagetype === 'jpg' ? 'jumbotron-background-jpg' : 'jumbotron-background-webp'">
      <div class=" jumbotorn-skew-style bg-translucent" >
      </div>
      <div class="container">
        <div class="jumbotorn-skew-text">
          <div *ngFor="let jumbotron of jumbotron">
            <h2  class="my-4">
              {{jumbotron.h2}}
            </h2>
          <p class="text-justify">{{jumbotron.blurb}}</p>
          </div>
        </div>
      </div>
.
    </div>
  </div>
  </div>

    <!--Feature Box-->
  <div class="feature-home jumbotron-bottom">
    <div class="container feature-block disp">
      <div class="row h-100">
        <div class="col-3 my-auto" *ngFor= "let feature of features">
          <p class="text-center f-block-img">
            <img src="{{feature.data}}" class="f-img">
          </p>
          <h3 class="text-center f-text">
            {{feature.label}}
          </h3>
        </div>
      </div>
    </div>
  </div>
  <!--Feature Box Ends Here-->

  <!--location information-->
<div class="bg-light">
  <div class="container py-4">
    <div class="section py-4 m-0">
      <div class="row">
        <div class="col-lg-6 py-3 home-map"> 
            <!-- <iframe class="border" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3361.5203147470475!2d-82.95076898450606!3d32.592314600686606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f120df15ed6977%3A0xd634e4f1d8ec55a1!2s653%20Old%20Toomsboro%20Rd%2C%20Dublin%2C%20GA%2031021%2C%20USA!5e0!3m2!1sen!2sin!4v1595433343961!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>  -->
            <table  class="viewrates-desktop">
              <tHead >
                  <tr>
                    <th colspan="2" class="px-4 py-4 text-center" ><b>Description</b></th>
                    <th colspan="2" class="px-4 py-4 text-center" ><b>Rate</b></th>
                  </tr>
              </tHead>
              <tbody>
                <tr *ngFor="let unitType of unitTypes">
                  <td colspan="2" class="px-4  py-1 text-center">
                      {{unitType.description}}
                  </td>
                  <td colspan="2" class="px-4 py-1 text-center">
                      <span >$</span>{{unitType.rate}}
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
        

        <div class="col-lg-6 py-3">
          <div class="mb-4">
            <h2>Visit the Garner's U Store's locations</h2>
            <p>
              <span *ngFor="let contact of contactDetails">
                <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content">
                  <a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
                <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
              </span>
            </p>
            <b>Hours:</b>
            <p>
              <span *ngFor="let hour of hoursDetails">
                <b>{{hour.label}}</b>&nbsp;{{hour.data}}<br>
              </span>
            </p>
          </div>
          <div>
            <app-tables [showBorder]="true" [tBody]="featuresList"></app-tables>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--location information end-->


<!--Contact Details-->
<div class="pb-5 pt-5 ">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26896.642800987927!2d-82.95022751534773!3d32.57738113607626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f1207d06388d65%3A0x108b26526707fa1c!2sGarner&#39;s%20U%20Store!5e0!3m2!1sen!2sus!4v1584812930701!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen title="homepage map"></iframe>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-8  pl-4 pt-3 mt-lg-0 mt-md-3">
        <h2>Garner's U Store - 1321 North Jefferson St</h2>
        <p>
          <span *ngFor="let contact of contactsLocation1">
            <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
            <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
          </span>
        </p>
        <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/1321-north-jefferson-st-location/storage-units']"
        role="button">View Rates</a>
         <!-- <a class="btn btn-primary-light p-2 ml-0" [routerLink]="['/location/1321-north-jefferson-st-location/moveIn']" 
         role="button">Move In</a> -->
        <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/1321-north-jefferson-st-location/reserve-unit']" 
         role="button">Reserve Unit</a>
      </div>
      <div class="col-xl-3 col-lg-2 col-md-4 mt-lg-0 mt-md-3 contact-hours pt-3 ">
          <h2>Hours:</h2>
          <p>
            <span class="hourdata" *ngFor="let hour of hoursLocation1">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>
</div>
<!--Contact Details Ends Here-->

<!-- Second Location-->
<div class="pb-5 pt-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12">
        <iframe class="border" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1681.0046739657514!2d-82.93508390805478!3d32.57927476204928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f120ee764adca1%3A0x3ecc7a5325fc6968!2sGarner&#39;s%20U%20Store!5e0!3m2!1sen!2sus!4v1584815156642!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen title="homepage map"></iframe>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-8  pl-4 pt-3 mt-lg-0 mt-md-3">
        <h2>Garner's U Store - 1687 US-441</h2>
        <p>
          <span *ngFor="let contact of contactsLocation2">
            <span><b>{{contact.label}}</b></span><span class="contact-links" *ngIf="contact?.id === 1 || contact?.id === 2 else other_content"><a [href]="contact?.redirect">&nbsp;{{contact.data}}</a></span>
            <ng-template #other_content>&nbsp;{{contact.data}}</ng-template><br>
          </span>
        </p>
        <a class="btn btn-outline-primary p-2 ml-0" [routerLink]="['/location/1321-north-jefferson-st-location/storage-units']"
        role="button">View Rates</a>
         <!-- <a class="btn btn-primary-light p-2 ml-0" [routerLink]="['/location/1321-north-jefferson-st-location/moveIn']" 
         role="button">Move In</a> -->
        <a class="btn btn-primary p-2 ml-0" [routerLink]="['/location/1321-north-jefferson-st-location/reserve-unit']" 
         role="button">Reserve Unit</a>
      </div>
      <div class="col-xl-3 col-lg-2 col-md-4 mt-lg-0 mt-md-3 contact-hours pt-3 ">
          <h2>Hours:</h2>
          <p>
            <span class="hourdata" *ngFor="let hour of hoursLocation2">
              <b>{{hour.label}}</b>{{hour.data}}<br>
            </span>
          </p>
      </div>
    </div>
  </div>
</div>
<!-- Second Location ends here-->
<!--Service-->
  <div class="service ">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-6 pt-2">
            <h1  class="pb-4">Affordable Self Storage Units in Dublin</h1>
            <div *ngFor="let para of serviceOffered">
              <p>{{ para.p }}</p>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <img src="{{imageBaseUrl}}/self-storage-facility-fencing-buildings.{{imagetype}}" alt="two storage unit buildings behind a fence with a sign in the foreground" width="100%" />
            <!-- <app-aboutus-photos></app-aboutus-photos> -->
          </div>
      </div>
      </div>
    </div>
<!--Service Ends Here-->


<!--Get Started Secion-->
<div class="getStarted text-center" [ngClass]="imagetype === 'jpg' ? 'getStarted-jpg' : 'getStarted-webp'">
    <div class="get-started bg-translucent">
     <div class="container py-5">
       <div class=" m-0">
         <div class="row">
           <div class="col-md-12">
             <h4 class="pb-4">Getting Started</h4>
             <p class="mb-0">{{gettingStarted}}</p>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
<!--Get Started Secion Ends Here-->


</div>
