@import "../../styles.scss";
@import "../../general.scss";

.payment-top {
  height: 60vh;
  background: url("../../assets/images/pay-rent.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.jumbotorn-top {
  padding: 0 8%;
}

.content-Holder {
  text-align: center;
  color: $fontColor;

  h2 {
    color: $white;
    border-bottom: 1px solid $primary;
    margin: auto;
    font-size: 2.25rem;
    width: 200px;
  }
}

.payment-link {
  a {
    color: $white;
  }
}

.payment-map {
  iframe {
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .payment-top {
    height: 40vh;
  }
}
