<div class="contentHolder">
  <div class="container">
    <div>
      <h1 class="py-5 text-center">View Rates</h1>
    </div>
    <div class="container px-0"> 
      <div class="row view-rates">
        <div class="col-lg-12 col-md-12 scroll-wrapper">
          <router-outlet></router-outlet>
        </div>
        <div class="col-lg-12 col-md-12 view-rates-padding">
          <div class="row">
            <div class="col-md-6 py-4">
              <app-photos></app-photos>
            </div>
            <div class="col-md-6">
              <p class="my-4 text-justify" *ngFor='let para of viewrates'>
                {{para.p}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>