@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "../../styles.scss";

a {
  cursor: pointer;
  color: #000;
}
.navbar-brand {
  b {
    color: #fff;
  }
}

// .iconColor {
//   color: $primary;
// }

.btn-primary {
  font-size: 1rem;
}

.contact-header {
  display: inline;

  .contact-details {
    color: #000;
    font-size: 1em;
    font-weight: 500;
    width: 100%;
  }
}

.social {
  a {
    color: #000;
    text-decoration: none;
  }

  i {
    font-size: 1.2rem;
  }
}

.social :hover {
  color: $primary;
}

.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);

  .nav-link {
    color: #000;
    font-weight: 600;
    padding: 10px;
  }

  .nav-link:hover {
    color: $secondary;
  }

  .nav-link-active {
    color: $secondary;
    border-bottom: 5px solid $secondary;
  }

  button {
    border-color: #000;

    .iconColor {
      color: #000;
    }
  }

  button:focus {
    outline: 5px auto $secondary;
  }
}

.display {
  display: block;
}

.contact-links {
  a {
    color: white;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .nav-item {
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;

    .nav-link {
      font-size: 0.8rem;
      padding: 6px;
    }
  }
}

@media screen and (max-width: 991px) {
  // .display {
  //   display: none;
  // }

  .nav-link {
    text-align: center;
    padding: 15px !important;
  }

  .navbar {
    .navbar-nav {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      align-items: center;

      li {
        width: fit-content;
      }
    }

    .navbar-brand {
      img {
        height: 80px;
      }
    }
  }

  // .navbar-nav {
  //   align-items: center;

  //   li {
  //     width: fit-content;
  //   }
  // }
}

@media only screen and (max-width: 991px) and (max-height: 500px) {
  .navbar-nav-scroll {
    height: 200px;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 601px) {
  .mobile-button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .btn-primary {
    font-size: 0.9rem;
    min-width: 142px;
  }
  .desktop-button {
    display: none;
  }
  .navbar-brand {
    margin-right: 0px;
  }

  .safety-container {
    width: 100%;
    height: auto;
  }

  #site-header {
    position: relative;
    height: auto;
    background: red;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.3s ease;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  }
  #site-header.hide {
    top: -64px;
  }

  #nav-header {
    // position: fixed;
    transition: all 0.3s ease;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  }

  #nav-header.customClass {
    top: -64px;
  }
}

@media screen and (max-width: 468px) {
  .safety-container {
    width: 100%;
    height: auto;
    font-size: 0.7rem;
  }

  .contact-header {
    display: inline;

    .contact-details {
      color: #000;
      font-size: 0.7em;
      font-weight: 500;
      width: 100%;
    }
  }
  .btn-primary {
    font-size: 0.8rem;
    min-width: 130px;
  }
  .img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
  }

  .container {
    // display: flex;
    // flex-wrap: nowrap;
    // justify-content: space-around;
    margin-top: 9px;
  }

  #site-header {
    position: relative;
    height: auto;
    background: red;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.3s ease;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  }
  #site-header.hide {
    top: -80px;
  }

  #nav-header {
    // position: fixed;
    transition: all 0.3s ease;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  }

  #nav-header.customClass {
    top: -80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 467px) {
  .safety-container {
    width: 100%;
    height: auto;
    font-size: 0.7rem;
  }

  .contact-header {
    display: inline;

    .contact-details {
      color: #000;
      font-size: 0.7em;
      font-weight: 500;
      width: 100%;
    }
  }
  .btn-primary {
    font-size: 0.8rem;
    min-width: 120px;
  }
  .img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
  }

  .container {
    margin-top: 20px;
  }

  #site-header {
    position: relative;
    height: auto;
    background: red;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.3s ease;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  }
  #site-header.hide {
    top: -101px;
  }

  #nav-header {
    // position: fixed;
    transition: all 0.3s ease;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  }

  #nav-header.customClass {
    top: -101px;
  }
}

@media screen and (max-width: 320px) {
  .safety-container {
    width: 100%;
    height: auto;
    font-size: 0.7rem;
  }

  .contact-header {
    display: inline;

    .contact-details {
      color: #000;
      font-size: 0.7em;
      font-weight: 500;
      width: 100%;
    }
  }
  .btn-primary {
    font-size: 0.7rem;
    min-width: 110px;
  }
  .img {
    vertical-align: middle;
    border-style: none;
    width: 70%;
  }

  .container {
    // display: flex;
    // flex-wrap: nowrap;
    // justify-content: space-around;
    margin-top: 9px;
  }

  #site-header {
    position: relative;
    height: auto;
    background: red;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.3s ease;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  }
  #site-header.hide {
    top: -101px;
  }

  #nav-header {
    // position: fixed;
    transition: all 0.3s ease;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  }

  #nav-header.customClass {
    top: -101px;
  }
}
